<div class="searchBar" [ngClass]="isEditMode? 'col-md-8 col-sm-8' : 'col-md-10 col-sm-10' " id="searchBar">
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default search-btn" type="button">
        <i [ngClass]="status ? 'pi-times' : 'pi-search'" class="pi"
          (click)="status ? resetSerach(searchBar): ''"></i>
      </button>
        </div>
        <input type="text" class="form-control" #searchBar placeholder="{{'SHARED.NAVIGATION.Top.searchPlaceholder' | translate}}" (keyup)="toggleIcon($event)" (keyup.enter)="search(searchBar.value)" id="quote-search-input" name="quote-search-input">
    </div>
</div>
<div class="col-md-1 col-md-1">
    <span class="advance-filter" type="button" data-toggle="modal" data-target=".advanced-filter"></span>
</div>