.mz-cms-image {
    height: 100%;
    width: 100%;
}

/* Modifying ColorBox close button's style and moving position to top right*/

#cboxClose {
	top: 0;
	right: 0;
	position: absolute;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 3px solid white;
	background-color: black;
	color: white;
	font-weight: bold;
	margin-top: -11px;
	margin-right: -15px;
}

#cboxClose::selection {
	background-color: black;
}

#colorbox {
	z-index: 3;
	outline: none;
	border:1px solid black;
}

#cboxOverlay {
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	background-color: black;
	position: absolute;
	z-index: 2;
}