<?xml version="1.0"?>
<configuration>
  <appSettings file="appSettings.config">
    <add key="ResourceUriList" value="[{Name:'Category',Uri:'http://deviis03.adsdev.volusion.com:9090/Volusion.ProductServices.API/admin/categories'},        {Name:'ContentLocale',Uri:'http://deviis03.adsdev.volusion.com:9090/Volusion.SiteService.API/admin/refrences/locales'},        {Name:'StoreFront',Uri:'http://deviis03.adsdev.volusion.com:9090/Volusion.SiteService.API/admin/storefronts'},        {Name:'Catalog',Uri:'http://deviis03.adsdev.volusion.com:9090/Volusion.SiteService.API/admin/Catalogs'}]"/>
    
    <!-- Test Settings: These exist for testing, they should be abstracted into an interface where they can be stubbed -->
    <add key="cms-feature-versions" value="{'cms':'1.0.4','Blog':'1.0.3','Ecommerce':'1.0.8'}"/>
    <!-- / end Test Settings -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
