[bB]in/
[oO]bj/
_ReSharper.*
packages/
*.suo
*.user
.sass-cache/
.DS_Store
node_modules/
*.sublime-project
*.sublime-workspace
seismic-audio/

Scripts/ext/
Scripts/docs/

# Mozu SDK
Scripts/SDK/bower_components/
Scripts/SDK/lib/
Scripts/SDK/node_modules/

# damn compass
Scripts/resources/css/taco.css
Scripts/resources/images/icons-*
Scripts/resources/images/picker-*
Scripts/resources/images/align-*
Scripts/resources/images/card-*

# DAMNIT SENCHA
ext-*/
Scripts/build/
Scripts/.sencha/workspace/
Scripts/bootstrap.css
Scripts/bootstrap.js
Scripts/sass/example/


# UNIT TESTS
Tests/AllUnitTests.js

# ignore any of Chet's ideas
.paket/