<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="authCookieDomain" value="mozu-dev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="authCookieName" value="sbAdminAuthDEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
     </system.web>
</configuration>