<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
  </configSections>
  <appSettings file="appSettings.config">
    <add key="log4net.Config" value="Log4Net.Releaseconfig" />
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="clientCacheHeaderLength:default" value="0" />
    <add key="UseMockRepos" value="false" />
    <add key="service-url-CategoryWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/categories/" />
    <add key="service-url-ProductRuntimeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/products/" />
    <add key="service-url-AttributeService" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/Attributes/" />
    <add key="service-url-AttributeSetService" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/AttributeSets/" />
    <add key="service-url-ProductAttributeService" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/Products/" />
    <add key="service-url-ProductVariationService" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/Variations/" />
    <add key="service-url-TenantsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.PlatformService.WebApi/tenants/" />
    <add key="service-url-UserAuthTicketWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.API/userauthtickets/" />
    <add key="service-url-CustomerAccountWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Customer.WebApi/customerAccounts/" />
    <add key="service-url-UsersWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.API/Users/" />
    <add key="service-url-ProvisioningService" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/provisioning/" />
    <add key="service-url-DocumentWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/documents/" />
    <add key="service-url-FolderService" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/folders/" />
    <add key="service-url-ContentCollectionWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/collections/" />
    <add key="service-url-DocumentTypeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/documenttypes/" />
    <add key="service-url-PropertyTypeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/propertytypes/" />
    <add key="service-url-FolderWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/folders/" />
    <add key="service-url-ProvisioningWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/Provisioning/" />
    <add key="service-url-FacetsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/facets/" />
    <add key="service-url-UspsShippingInstanceWebApi" value=" http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/instance/" />
    <add key="service-url-DiscountWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/discounts/" />
    <add key="service-url-SiteShippingSettingsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/shippingsettings/" />
    <add key="service-url-ShippingRateWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/shippingrates/" />
    <add key="service-url-ShippingClassWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/shippingclasses/" />
    <add key="service-url-UspsShippingSharedWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/global/" />
    <add key="service-url-UspsShippingInstanceWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/instance/" />
    <add key="service-url-ProductWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductAdmin.WebApi/admin/products/" />

    <add key="AppId" value="applesauce" />
    <add key="default-tenant" value="9044" />
    <add key="default-site" value="186" />
    <add key="default-siteName" value="Gossamer Test Site 9001" />
    <add key="default-theme" value="core2" />
    <add key="cms-feature-versions" value="{'cms':'1.0.4','Blog':'1.0.3','Ecommerce':'1.0.8'}" />
  </appSettings>
  <system.net>
    <!--<defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>-->
  </system.net>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="sitebuilder" type="Mozu.SiteBuilder.Mvc.Modules.SiteContextModule, Mozu.SiteBuilder.Mvc" />
      <add name="siteAuth" type="Mozu.SiteBuilder.Mvc.Security.SbAuthenticationModule, Mozu.SiteBuilder.Mvc" />
    </httpModules>
    <!--<profile defaultProvider="bs" inherits="Mozu.SiteBuilder.Mvc.Providers.SiteBuilderProfile, Mozu.SiteBuilder.Mvc">
      <providers>
        <clear />
        <add name="bs" type="Mozu.SiteBuilder.Mvc.Providers.BSProfileProvider, Mozu.SiteBuilder.Mvc" />
      </providers>
    </profile>
    <membership defaultProvider="bs">
      <providers>
        <clear />
        <add name="bs" type="Mozu.SiteBuilder.Mvc.Providers.BSMembershipProvider, Mozu.SiteBuilder.Mvc" />
      </providers>
    </membership>-->
    <httpRuntime requestValidationMode="2.0" />
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="sitebuilder" />
      <remove name="siteAuth" />
      <add name="sitebuilder" type="Mozu.SiteBuilder.Mvc.Modules.SiteContextModule, Mozu.SiteBuilder.Mvc" />
      <add name="siteAuth" type="Mozu.SiteBuilder.Mvc.Security.SbAuthenticationModule, Mozu.SiteBuilder.Mvc" />
    </modules>
    <handlers>
      <remove name="dotless" />
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
    </handlers>
    <staticContent>
      <remove fileExtension=".less" />
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.267.0" newVersion="2.1.267.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Configuration" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.Mvc" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.1.841" newVersion="2.6.1.841" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <!--<diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>-->
  </system.serviceModel>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Projects\Volusion\SiteBuilder\Development\DevBranch\Source\Volusion.SiteBuilder\Volusion.SiteBuilder.UX.Admin\logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
  <dotless minifyCss="false" cache="true" web="false" />
</configuration>
