<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings file="Configs/appsettings.demo.config" xdt:Transform="SetAttributes(file)">
    <add key="useSiteDomainNames" value="true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="use_compiled_taco" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="admin.cdn" value="http://deviis01.adsdev.volusion.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="dnszone" value="vnextdemo.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>