<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <add key="mozu_core_settings_path" 
         value="d:\Configs\"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(key)"/>
    
    <add key="use_compiled_taco" 
         value="true"
         xdt:Transform="SetAttributes" 
         xdt:Locator="Match(key)"/>
    
    <add key="coretheme_directory" 
         value="D:\mozu\sites\SiteBuilder\Mozu.SiteBuilder.UX.Themes\themes"
         xdt:Transform="Insert" />
    
  </appSettings>

</configuration>