<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add key="useSiteDomainNames" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  <add key="use_compiled_taco" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  <appSettings>
  </appSettings>
  <system.web>

  </system.web>
</configuration>