<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Environment" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>



    <add key="ReverseProxy"  value="false" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="useTenantDomainNames"  value="false" xdt:Transform="SetAttributes"  xdt:Locator="Match(key)"/>
    <add key="useGoogleAnalytics" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    
    <add key="disableCDN"  value="true" xdt:Transform="Insert"  xdt:Locator="Match(key)"/>
    <add key="SSLValidationEnabled" value="false" xdt:Transform="Insert"  xdt:Locator="Match(key)"/>
 



  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
     </system.web>
</configuration>