<appSettings>

  <!--custom section -->
  <add key="SolrCore" value="1" />
  <add key="AuthenticateRequests" value="false" />
  <add key="AuthorizeRequests" value="false" />
  <add key="ForceSystemUserIfNonExistentClaim" value="true" />
  <add key="ReturnedDetailedExceptionInfo" value="true" />
  <add key="DeveloperAdminRole" value="385" />

  <!--generated section-->
  <add key="Environment" value="dev" />
  <add key="service-url-AdminUserWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AdminUser.WebApi/platform/adminuser/accounts/" />
  <add key="service-url-AuthTicketWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AdminUser.WebApi/platform/adminuser/userauthtickets/" />
  <add key="service-url-CartOrderProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Order.WebApi/commerce/orders/orderprovisioning/" />
  <add key="service-url-CustomerProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Customer.WebApi/commerce/customer/provisioning/" />
  <add key="service-url-GeneralSettingsProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.SiteSettings.WebApi/commerce/settings/provisioning/" />
  <add key="service-url-GeneralSettingsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.SiteSettings.WebApi/commerce/settings/general/" />
  <add key="service-url-ProductAdminProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/productprovisioning/" />
  <add key="service-url-ReferenceDataWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.reference.WebApi/platform/reference/" />
  <add key="service-url-RoleWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AdminUser.WebAPI/platform/adminuser/roles/" />
  <add key="service-url-SitesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Tenant.WebApi/platform/sites/" />
  <add key="service-url-SystemZonesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Tenant.WebApi/platform/systemzones/" />
  <add key="service-url-TenantsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Tenant.WebApi/platform/tenants/" />
  <add key="service-url-UserWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.User.WebApi/platform/user/accounts/" />
  <add key="service-url-ZonesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.DNS.WebApi/platform/dns/zones/" />
  <add key="service-url-ProductCategoryRuntimeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductRuntime.WebApi/commerce/catalog/storefront/categories/" />
  <add key="service-url-ProductRuntimeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductRuntime.WebApi/commerce/catalog/storefront/products/" />
  <add key="service-url-ProductSearchWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductRuntime.WebApi/commerce/catalog/storefront/productsearch/" />
  <add key="service-url-ApiWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Meta.WebApi/platform/meta/apiversions/" />
  <add key="service-url-ApplicationInstanceWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/appinstances/" />
  <add key="service-url-ApplicationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/applications/" />
  <add key="service-url-AppSettingTemplateWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/appsettingtemplates/" />
  <add key="service-url-AppSettingWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/appsettings/" />
  <add key="service-url-ComponentInstanceWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/componentinstances/" />
  <add key="service-url-ComponentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/components/" />
  <add key="service-url-ConnectionStringTemplateWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/connectionstringtemplates/" />
  <add key="service-url-ConnectionStringWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/connectionstrings/" />
  <add key="service-url-CustomContentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Meta.WebApi/platform/meta/customcontent/" />
  <add key="service-url-DatabaseServerWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/dbservers/" />
  <add key="service-url-DbServerWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/dbservers/" />
  <add key="service-url-DeployedApplicationVersionWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/deployedapplicationversions/" />
  <add key="service-url-DeploySettingWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/deploysettings/" />
  <add key="service-url-EnvironmentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/environments/" />
  <add key="service-url-ReplicaSetsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.MongoAdmin.WebApi/platform/data/mongo/replicasets/" />
  <add key="service-url-ScaleUnitEnvironmentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/scaleunitenvironments/" />
  <add key="service-url-ScaleUnitWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/scaleunits/" />
  <add key="service-url-ServerWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/servers/" />
  <add key="service-url-SiteSettingsProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.SiteSettings.WebApi/commerce/settings/provisioning/" />
  <add key="service-url-WebServerWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Asset.WebApi/infrastructure/webservers/" />
  <add key="service-url-AttributeService" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/Attributes/" />
  <add key="service-url-AttributeSetService" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/AttributeSets/" />
  <add key="service-url-AttributeSetWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/attributesets/" />
  <add key="service-url-AttributeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/attributes/" />
  <add key="service-url-CategoryWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/categories/" />
  <add key="service-url-DiscountWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/discounts/" />
  <add key="service-url-ProductReservationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/productreservations/" />
  <add key="service-url-ProductWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/products/" />
  <add key="service-url-ShippingClassWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/shipping/shippingclasses/" />
  <add key="service-url-SqlDataMigrationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.MongoAdmin.WebApi/platform/data/sql/datamigration" />
  <add key="service-url-TaxRateWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.ProductAdmin.WebApi/commerce/catalog/admin/taxrates/" />
  <add key="service-url-CmsProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/cmsProvisioning/" />
  <add key="service-url-DocumentListWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/lists/" />
  <add key="service-url-DocumentTypeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/documenttypes/" />
  <add key="service-url-DocumentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/documents/" />
  <add key="service-url-FacetsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/facets/" />
  <add key="service-url-FolderService" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/folders/" />
  <add key="service-url-FolderWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/folders/" />
  <add key="service-url-PropertyTypeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/propertytypes/" />
  <add key="service-url-ProvisioningService" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Content.WebApi/content/cmsprovisioning/" />
  <add key="service-url-OrderWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Order.WebApi/commerce/orders/" />
  <add key="service-url-CartWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Cart.WebApi/commerce/carts/" />
  <add key="service-url-CheckoutSettingsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.SiteSettings.WebApi/commerce/settings/checkout/" />
  <add key="CentralCertificateUrl" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Certificate.WebApi/" />
  <add key="service-url-CardsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.paymentservice.webapi/Mozu/cards/" />
  <add key="service-url-MerchantAccountWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.paymentservice.webapi/Mozu/merchants/" />
  <add key="service-url-PaymentProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.PaymentService.WebApi/Mozu/paymentprovisioning/" />
  <add key="service-url-PaymentWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.paymentservice.webapi/Mozu/payments/" />
  <add key="service-url-ProvisioningWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.Provisioning.WebApi/platform/provisioning/" />
  <add key="service-url-DevInvitationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.AdminUser.WebApi/platform/adminuser/devinvitations/" />
  <add key="service-url-InvitationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.User.WebAPI/platform/user/invitations/" />
  <add key="service-url-CustomerAccountWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Customer.WebApi/commerce/customer/accounts/" />
  <add key="service-url-CustomerGroupWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Customer.WebApi/commerce/customer/groups/" />
  <add key="service-url-ShippingComponentSettingsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.SiteComponentSettings.WebApi/ComponentSettings/shipping/" />
  <add key="service-url-ShippingSettingsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.SiteSettings.WebApi/commerce/settings/shipping/" />
  <add key="service-url-PricingRuntimeWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.PricingRuntime.WebApi/commerce/storefront/pricing/" />
  <add key="service-url-SiteAppDBWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.MZDB.WebApi/platform/sitedata/" />
  <add key="service-url-SiteDataWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.MZDB.WebApi/platform/sitedata/" />
  <add key="service-url-DataOperationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.MongoAdmin.WebApi/platform/data/mongo/datatransformation/" />
  <add key="SearchUrl" value="http://aus01ndsolr002:8080/solr" />
  <add key="service-url-AppEventsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/appevents/" />
  <add key="service-url-AppInstallWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/appinstall/" />
  <add key="service-url-AppLicensingWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/applicensing/" />
  <add key="service-url-AppsWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/apps/" />
  <add key="service-url-AppTemplatesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/apptemplates/" />
  <add key="service-url-AssetFileWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/assetFiles/" />
  <add key="service-url-DeveloperAccountWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/devAccounts/" />
  <add key="service-url-DeveloperWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.AppDev.WebApi/developers/" />
  <add key="service-url-MozuCustomerAccountWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/mozu.Customer.WebApi/commerce/customer/accounts/" />
  <add key="service-url-ShippingRuntimeCustomRatesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingRuntime.WebApi/commerce/catalog/storefront/shipping/providers/mozu/customtablebased/rates/" />
  <add key="service-url-ShippingRuntimeFedExRatesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingRuntime.WebApi/commerce/catalog/storefront/shipping/providers/mozu/fedex/rates/" />
  <add key="service-url-ShippingRuntimeUspsRatesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingRuntime.WebApi/commerce/catalog/storefront/shipping/providers/mozu/usps/rates/" />
  <add key="service-url-CarrierConfigurationGlobalWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingAdmin.WebApi/commerce/catalog/admin/shipping/global/carriers/" />
  <add key="service-url-CarrierConfigurationWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingAdmin.WebApi/commerce/catalog/admin/shipping/instance/carriers/" />
  <add key="service-url-CustomTableBasedRatesWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingAdmin.WebApi/commerce/catalog/admin/shipping/customrates/" />
  <add key="service-url-UspsShippingInstanceWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingAdmin.WebApi/commerce/catalog/admin/shipping/usps/instance/" />
  <add key="service-url-UspsShippingSharedWebApi" value="http://AUS01PDWEB002.ads.volusion.com:8080/Mozu.ShippingAdmin.WebApi/commerce/catalog/admin/shipping/usps/global/" />
</appSettings>