<?xml version="1.0"?>
<appSettings >
  <add key="service-url-CategoryWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/categories/" />

  <add key="service-url-AttributeService" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/Attributes/" />
  <add key="service-url-AttributeSetService" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/AttributeSets/" />

  <add key="service-url-ProductVariationService" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/Variations/" />
  <add key="service-url-TenantsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.PlatformService.WebApi/tenants/" />
  <add key="service-url-ReferenceDataWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.PlatformService.WebApi/reference/"/>
  <add key="service-url-GeneralSettingsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.SiteSettings.WebApi/settings/general/"/>
  <add key="service-url-ProvisioningWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.SiteSettings.WebApi/settings/provisioning/"/>
       
  <add key="service-url-CustomerAccountWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Customer.WebApi/customerAccounts/"/>
  <add key="service-url-CustomerGroupWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Customer.WebApi/customerGroups/"/>
  <add key="service-url-InvitationWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.WebAPI/invitations/"/>
  <add key="service-url-AdminUserWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.WebAPI/adminusers/"/>

  <add key="service-url-AuthTicketWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.WebAPI/userauthtickets/" />
  <add key="service-url-UserWebApi"          value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.WebAPI/Users/" />
  <add key="service-url-RoleWebApi"    value="http://deviis03.adsdev.volusion.com:9090/Volusion.UserService.WebAPI/roles/" /> 
  <add key="service-url-SitesWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.PlatformService.WebApi/sites/"/>
  <add key="service-url-MerchantSignUpWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.PlatformService.WebApi/merchants/"/>
  
  
  <add key="service-url-CheckoutSettingsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.SiteSettings.WebApi/settings/checkout/"/>

  <add key="service-url-ProvisioningService" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/provisioning/" />
  <add key="service-url-DocumentWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/documents/" />
  <add key="service-url-FolderService" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/folders/" />
  <add key="service-url-ContentCollectionWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/collections/" />
  <add key="service-url-DocumentTypeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/documenttypes/" />
  <add key="service-url-PropertyTypeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/propertytypes/" />
  <add key="service-url-FolderWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/folders/" />
  <add key="service-url-CmsProvisioningWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/Provisioning/" />
  <add key="service-url-FacetsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Mozu.Content.WebApi/facets/" />
  <add key="service-url-UspsShippingInstanceWebApi" value=" http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/instance/" />
  <add key="service-url-DiscountWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/discounts/" />

  <add key="service-url-ShippingSettingsWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.SiteSettings.WebApi/settings/shipping/" />
  <add key="service-url-ShippingRateWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/shippingrates/" />
  <add key="service-url-ShippingClassWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/shipping/shippingclasses/" />
  <add key="service-url-UspsShippingSharedWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/global/" />
  <add key="service-url-UspsShippingInstanceWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.UspsShippingAdmin.WebApi/admin/usps/instance/" />
  <add key="service-url-ProductWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/products/" />
  <add key="service-url-ProductTypeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/producttypes/" />
  <add key="service-url-TaxRateWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/taxrates/"/>
  <add key="service-url-ProductCategoryRuntimeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductRuntime.WebApi/categories/" />
  <add key="service-url-CartWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.CartService.WebApi/commerce/carts/" />
  <add key="service-url-OrderWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.OrderService.WebApi/orders/" />
  <add key="service-url-ProductRuntimeWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductRuntime.WebApi/products/"/>
  <add key="service-url-AttributeWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributedefinition/Attributes/"/>
  <add key="service-url-AttributeSetWebApi" value="http://deviis03.adsdev.volusion.com:9090/mozu.ProductAdmin.WebApi/commerce/catalog/admin/attributesets/"/>
  <add key="service-url-ProductSearchWebApi" value="http://deviis03.adsdev.volusion.com:9090/Volusion.ProductRuntime.WebApi/productsearch/"/>

  <add key="default-tenant" value="9044" />
  <add key="default-site" value="186" />

  <add key="pciPaymentApi" value="http://deviis03.adsdev.volusion.com:9090/paymentsCI/" />
  
  
</appSettings>

