<?xml version="1.0"?>
<appSettings >
  <add key="service-url-AdminUserWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.AdminUser.WebApi/adminusers/" />
  <add key="service-url-AuthTicketWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.AdminUser.WebApi/userauthtickets/" />
  <add key="service-url-CartOrderProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Order.WebApi/provisioning/" />
  <add key="service-url-CustomerProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Customer.WebApi/provisioning/" />
  <add key="service-url-GeneralSettingsProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.SiteSettings.WebApi/settings/provisioning/" />
  <add key="service-url-GeneralSettingsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.SiteSettings.WebApi/settings/general/" />
  <add key="service-url-MerchantSignUpWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Provisioning.WebApi/merchants/" />
  <add key="service-url-ProductAdminProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/provisioning/" />
  <add key="service-url-ReferenceDataWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Reference.WebApi/reference/" />
  <add key="service-url-RoleWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.AdminUser.WebAPI/roles/" />
  <add key="service-url-SitesWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Tenant.WebApi/sites/" />
  <add key="service-url-SystemZonesWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Tenant.WebApi/systemzones/" />
  <add key="service-url-TenantsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Tenant.WebApi/tenants/" />
  <add key="service-url-UserWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.User.WebApi/users/" />
  <add key="service-url-ZonesWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.DNS.WebApi/zones/" />
  <add key="service-url-BehaviorWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.AdminUser.WebAPI/behaviors/" />
  <add key="service-url-ApiWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Meta.WebApi/apiversions/" />
  <add key="service-url-AppInstanceWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/appinstances/instances/" />
  <add key="service-url-ApplicationWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/applications/" />
  <add key="service-url-AppSettingTemplateWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/appsettingtemplates/" />
  <add key="service-url-AppSettingWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/appsettings/" />
  <add key="service-url-ComponentInstanceWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/componentinstances/" />
  <add key="service-url-ComponentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/components/" />
  <add key="service-url-ConnectionStringTemplateWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/connectionstringtemplates/" />
  <add key="service-url-ConnectionStringWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/connectionstrings/" />
  <add key="service-url-CustomContentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Meta.WebApi/customcontent/" />
  <add key="service-url-DatabaseServerWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/dbservers/" />
  <add key="service-url-DbServerWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/dbservers/" />
  <add key="service-url-DeployedApplicationVersionWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/deployedapplicationversions/" />
  <add key="service-url-DeploySettingWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/deploysettings/" />
  <add key="service-url-EnvironmentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/environments/" />
  <add key="service-url-ReplicaSetsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.MongoAdmin.WebApi/replicasets/" />
  <add key="service-url-ScaleUnitEnvironmentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/scaleunitenvironments/" />
  <add key="service-url-ScaleUnitWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/scaleunits/" />
  <add key="service-url-ServerWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/servers/" />
  <add key="service-url-SiteSettingsProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.SiteSettings.WebApi/settings/provisioning" />
  <add key="service-url-WebServerWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.Asset.WebApi/webservers/" />
  <add key="service-url-AttributeService" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/Attributes/" />
  <add key="service-url-AttributeSetService" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/AttributeSets/" />
  <add key="service-url-AttributeSetWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/attributesets/" />
  <add key="service-url-AttributeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/attributes/" />
  <add key="service-url-CategoryWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/categories/" />
  <add key="service-url-DiscountWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/discounts/" />
  <add key="service-url-ProductReservationWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/productreservations/" />
  <add key="service-url-ProductVariationService" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/Variations/" />
  <add key="service-url-ProductWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/products/" />
  <add key="service-url-ProductTypeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/producttypes/" />
  <add key="service-url-TaxRateWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/taxrates/" />
  <add key="service-url-CmsProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/Provisioning/" />
  <add key="service-url-DocumentListWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/lists/" />
  <add key="service-url-DocumentTypeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/documenttypes/" />
  <add key="service-url-DocumentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/documents/" />
  <add key="service-url-FacetsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/facets/" />
  <add key="service-url-FolderService" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/folders/" />
  <add key="service-url-FolderWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/folders/" />
  <add key="service-url-PropertyTypeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/propertytypes/" />
  <add key="service-url-ProvisioningService" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Content.WebApi/provisioning/" />
  <add key="service-url-OrderWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Order.WebApi/commerce/orders/" />
  <add key="service-url-ProductCategoryRuntimeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductRuntime.WebApi/categories/" />
  <add key="service-url-ProductRuntimeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductRuntime.WebApi/products/" />
  <add key="service-url-ProductSearchWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductRuntime.WebApi/productsearch/" />
  <add key="service-url-CartWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Cart.WebApi/commerce/carts/" />
  <add key="service-url-CheckoutSettingsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.SiteSettings.WebApi/settings/checkout/" />
  <add key="CentralCertificateUrl" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Certificate.WebApi/" />
  <add key="service-url-CardsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.paymentservice.webapi/Mozu/cards/" />
  <add key="service-url-MerchantAccountWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.paymentservice.webapi/Mozu/merchants/" />
  <add key="service-url-PaymentProvisioningWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/Mozu.PaymentService.WebApi/Mozu/provisioning/" />
  <add key="service-url-PaymentWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.paymentservice.webapi/Mozu/payments/" />

  <add key="service-url-InvitationWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.AdminUser.WebAPI/invitations/" />
  <add key="service-url-CustomerAccountWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Customer.WebApi/customeraccounts/" />
  <add key="service-url-CustomerGroupWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.Customer.WebApi/customerGroups/" />
  <add key="service-url-SiteAppDBWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.MZDB.WebApi/sitedata/" />
  <add key="service-url-SiteDataWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.MZDB.WebApi/sitedata/" />
  <add key="service-url-ShippingClassWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/shippingclasses/" />
  <add key="service-url-ShippingComponentSettingsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.SiteComponentSettings.WebApi/ComponentSettings/shipping/" />
  <add key="service-url-ShippingRateWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.ProductAdmin.WebApi/admin/shippingrates/" />
  <add key="service-url-ShippingRuntimeCustomRatesWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.CustomShippingRatesRuntime.WebApi/ratecalculator/" />
  <add key="service-url-ShippingSettingsWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.SiteSettings.WebApi/settings/shipping/" />
  <add key="service-url-ShippingRuntimeUspsRatesWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.UspsShippingRatesRuntime.WebApi/ratecalculator/" />
  <add key="service-url-UspsShippingInstanceWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.UspsShippingAdmin.WebApi/admin/usps/instance/" />
  <add key="service-url-UspsShippingSharedWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.UspsShippingAdmin.WebApi/admin/usps/global/" />
  <add key="service-url-PricingRuntimeWebApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.PricingRuntime.WebApi/pricing/" />
  <add key="SearchUrl" value="http://aus01ncdbs002.adsdev.volusion.com:8080/solr" />
  <add key="SolrCore" value="1" />

  <add key="pciPaymentApi" value="http://aus01pdweb001.ads.volusion.com:9090/mozu.paymentservice.webapi/Mozu/" />

  <add key="default-tenant" value="20139" />
  <add key="default-site" value="1140" />
</appSettings>

