<?xml version="1.0" encoding="utf-8" ?>
<!--
  Log level values are: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF
-->
<log4net>
  <!-- Add debug="true" attribute to turn on debug messages for log4net configuration. -->

  <!--  All loggers inherit their settings from the root logger -->
  <root>
    <level value="DEBUG" />
    <!-- Set this value to WARN for production environment -->
    <appender-ref ref="TimerBufferingAsyncForwardingAppender" />
    <appender-ref ref="EventLogAppender" />
    <appender-ref ref="OutputDebugStringAppender" />
  </root>
  
  <appender name="TimerBufferingAsyncForwardingAppender" type="Mozu.Core.Logging.TimerBufferingAsyncForwardingAppender, Mozu.Core">
    <asyncThreads value="2" />
    <!--set to zero if synchronous logging-->
    <bufferSize value="100"/>
    <!--num messages before flushing to underlying appenders-->
    <timerInterval value="1000" />
    <!--time interval before flushing to underlying appenders regardless of # of messages in buffer-->
    <appender-ref ref="MongoAppender" />
  </appender>

  <appender name="MongoAppender" type="Mozu.Core.Mongo.Logging.MongoDbBatchAppender, Mozu.Core.Mongo">
    <maxMongoBatchSize value="30" />
    <ConnectionString value="mongodb://AUS01NIDBS002.adsdev.volusion.com:7070/?safe=false" />
    <DatabaseName value="logevents" />
    <CollectionName value="LogEvents" />
    <TimerInterval>1</TimerInterval>
<!--
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
-->
  </appender>

  <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender, log4net" >
    <!--<applicationName value="MyApp" />-->
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %P{ServerName} %P{ActivityId} %-5level %logger [%P{ApiContext}] %exception %property %message%newline" />
    </layout>
  </appender>

  <appender name="OutputDebugStringAppender" type="log4net.Appender.TraceAppender" >
    <layout type="Mozu.SiteBuilder.Mvc.Logging.BestLog4NetLayoutInTheWorld, Mozu.SiteBuilder.Mvc" />
  </appender>

</log4net>