<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />   <!-- Set this value to WARN for production environment -->
   <!-- <appender-ref ref="RollingLogFileAppender" />-->
    <!--<appender-ref ref="MongoAppender" />-->
    <!--<appender-ref ref="AdoNetAppender" />-->
  </root>
 <!-- <appender name="MongoAppender" type="Volusion.Profile.Service.Logging.MongoDbAppender, Volusion.Profile.Service">
    <ConnectionString value="mongodb://txwks3106:27017/logevents" />
    <CollectionName value="LogEvents" /> 
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="SiteBuilderUXLogfile.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %P{ServerName} %P{SessionId} [%P{ProfileUserName}] %-5level %logger %message%newline%exception" />
    </layout>
  </appender> -->
</log4net>