.x-grid-row .x-grid-cell-selected, .x-grid-row-selected .x-grid-td {
	background-color: $dark-bg;
}

.x-grid-row .x-grid-cell {
    font-size: 13px;
}

.x-grid-row-selected {
	border-color: $nav-element-active-border;
}