
.mz-orderlist {
	.mz-order-listing-footer {
		padding-top: @gutter;
    	padding-bottom: @gutter;
    	text-align: right;
	}
	.mz-itemlisting-bunldedProducts {
		    list-style: none;
		    padding-left: 12px;	
		    .mz-itemlisting {
		    	margin: 0px;
	    	    padding-top: 0px;
		    }
	}
	.order-history-listing, .order-history-listing-return, .mz-orderlisting{
		.mz-orderlisting-heading{
			display: inline-block;
			margin: 20px 0 0 0;
			padding: 0px;
		}
		.mz-orderlisting-return{
			float: left;
			left: 70%;
			position: absolute;
			margin-top: 25px;
			width: 20%;
			.mz-button{
				width: 100%;
			}
		}
		.mz-orderlisting-footer {

		}
		.mz-l-formfieldgroup-cell { 
			vertical-align: middle;
		}
	}

	.order-history-listing-return {
		.mz-orderlisting-heading{
			display: block;
			padding: @gutter/4;
			margin: 0 -@gutter/2;
		}
	}

	.mz-shipment-items{
		
	}

	.mz-itemlisting-rmaitem{
		.mz-l-formfieldgroup-cell { 
			vertical-align: middle;
		}
		.mz-itemlisting-thumb {
			text-align: center;
		    float: left;
		}
	}

	.mz-itemlisting-return {
		.mz-l-formfieldgroup {
			width: 100%;
		}
		.mz-itemlisting-prompt {
			max-width: 100%;
			float: none;
		}
		
		.mz-returnform {
			label, .mz-returnform-label {
				text-align: left;
			}
			.mz-returnform-field {
				text-align: left;
			}
			.mz-returnform-optionalcommentsfield{
				width: 100%;
			}
			.mz-returnform-returntype .mz-returnform-field label {
				display: inline-block;
			}
		}
		.mz-returnform > div {
			padding-bttom: 12px
		}
	}
}
