body.mz-confirmation {
    .mz-propertylist {
        dt {
            min-width: 120px;
            margin-bottom: @gutter/2;
        }

        dd {
            margin-bottom: @gutter/2;
        }
    }
}
