.mz-accountsettings {
    .mz-accountsettings-displayname,
    .mz-accountsettings-displayemail,
    .mz-accountsettings-displayphone {
        display: inline-block;
        margin-right: @gutter/4;
    }
    .mz-accountsettings-namedone,
    .mz-accountsettings-namecancel,
    .mz-accountsettings-emaildone,
    .mz-accountsettings-emailcancel,
    .mz-accountsettings-phonedone,
    .mz-accountsettings-phonecancel {
        vertical-align: top;
    }
}