[bB]in/
[oO]bj/
_ReSharper.*
packages/
*.suo
*.user
user.app.config
.sass-cache/
.DS_Store
node_modules/
*.sublime-project
*.sublime-workspace
seismic-audio/
lib/
*.orig
user.app.config
core-kibo-theme
mozu.config.json

*ncrunch*
*.ide
.vs
TestResults/
docs/

# Mozu SDK
Mozu.SiteBuilder.UX/BuiltinScripts/SDK/bower_components/
Mozu.SiteBuilder.UX/BuiltinScripts/SDK/lib/
Mozu.SiteBuilder.UX/BuiltinScripts/SDK/node_modules/
Mozu.SiteBuilder.UX/BuiltinScripts/RequireJS/node_modules/
Mozu.SiteBuilder.UX/BuiltinScripts/HyprLive/node_modules/

# thanks greg
TestResult.xml
Mozu.SiteBuilder.UX.Themes/Themes/*/compiled/*
Mozu.SiteBuilder.UX.Themes/Themes/reptar
Mozu.SiteBuilder.UX.Themes/Themes/core-theme-preview
*.log
Mozu.SiteBuilder.UX/BuiltinScripts/SDK/tests/sdk.js

# ignore any of Greg's ideas
.idea/*
*/.idea/*

# ignore any of Chet's ideas
.fake
ext/
/Mozu.SiteBuilder.sdf
/Mozu.SiteBuilder.VC.opendb
/Mozu.SiteBuilder.UX/Assets
/Mozu.SiteBuilder.UX.Admin/adminng
/Mozu.SiteBuilder.UX.Admin/assets
UpgradeLog.htm
UpgradeLog2.htm

# Claude local settings
.claude/settings.local.json
