# Mac Crap
.DS*

# Zip files
*.zip

# Merge originals
*.orig

# Node-specific
node_modules/

/npm-debug.log

/compiled/
.yo-rc.json
mozu.config.json


*.sln
*.csproj
packages.config
Mozu.CoreTheme.nuspec
delete_node_modules.js