# Mac Crap
.DS*

# Zip files
*.zip

# Merge originals
*.orig

# Node-specific
node_modules/

/npm-debug.log

/compiled/
.yo-rc.json
mozu.config.json

# WebStorm project files
.idea/

# Visual Studio Code
/.vs
