#adding content none to top to stop pre deploy edits from being overwritten by paket install.
content: none
framework: net45, net451
redirects: on
source http://ng-repo.dev.kibocommerce.com:8081/repository/nuget-ng-internal/
source http://ng-repo.dev.kibocommerce.com:8081/repository/nuget-external/

nuget 51Degrees.mobi 3.2.8.1 content: none
nuget JWT 1.3.4

nuget Microsoft.AspNet.WebApi.Core 5.2.3
nuget Microsoft.AspNet.WebApi.Tracing
nuget Microsoft.AspNet.WebPages 3.2.2
nuget Microsoft.AspNet.Mvc 5.2.2


nuget Mozu.Core.Prime >= 1.1827
nuget Mozu.ScheduledEvent.Contracts
nuget Mozu.VS.PowerShell
nuget OctoPack 2.1.3
nuget RabbitMQ.Client 3.3.5
nuget Burrows.Autofac 0.3.3.0
nuget Burrows.Log4Net 0.3.3.0
nuget dotless 1.4.0.0
nuget JsonValue 0.6.0
nuget Microsoft.AspNet.Razor 3.2.2
nuget Microsoft.Owin 3.0.0
nuget Microsoft.Owin.SelfHost 2.1.0
nuget Microsoft.Owin.StaticFiles 2.1.0
nuget morelinq 1.0.16006
nuget Mozu.AdminUser.Contracts < 1.20
nuget Mozu.AppDev.Contracts
nuget Mozu.BuildSupport.GetAssemblyFileVersionTask 1.0.0
nuget Mozu.CommerceRuntime.Contracts 1.1816.4
nuget mozu.Content.Contracts < 1.20
nuget Mozu.Core.Messaging
nuget Mozu.Core.Messaging.Contracts
nuget Mozu.Core.Test >= 1.1731
nuget Mozu.Customer.Contracts 1.1804.1
nuget Mozu.DeployWeb
nuget Mozu.Hypr.NDjango 1.1731.1
nuget Mozu.InstalledApps.Contracts < 1.20
nuget Mozu.Location.Contracts >= 1.1806.1
nuget Mozu.MZDB.Contracts < 1.20
nuget Mozu.PaymentService.Contracts 1.1819.0-NGDEVC-120-clrf-31
nuget Mozu.ProductAdmin.Contracts 1.1828.1
nuget Mozu.ProductRuntime.Contracts 1.1815.1
nuget Mozu.Provisioning.Contracts < 1.20
nuget Mozu.Reference.Contracts < 1.20
nuget Mozu.ShippingAdmin.Contracts >= 1.1643
nuget Mozu.PricingRuntime.Contracts >= 1.1816.1
nuget Mozu.SiteSettings.General.Contracts 1.1743.4
nuget Mozu.SiteSettings.Order.Contracts 1.1819.0-giftcard-22
nuget protobuf-net 2.0.0.668
nuget FAKE
nuget mozu.tenant.contracts > 1.1703
nuget Mozu.Log4net.Gelf
nuget MongoDB.Driver.GridFS  2.4.4
nuget Mozu.Event.Contracts
