// .#{$prefix}trigger-cell {
//     background-color: transparent;
// }

// .#{$prefix}form-trigger {
//     background: none transparent;
//     border-width: $form-trigger-border-width;
//     font-size: 16px;
//     height: 16px;
//     line-height: 1.0;
//     width: 16px;
// }

// .#{$prefix}form-arrow-trigger {
//     @include icon-font($glyph-arrowdown);

//     &::after {
//         height: 22px;
//         padding-top: 6px;
//         width: 21px;
//     }
// }

// .#{$prefix}form-date-trigger {
//     @include icon-font($glyph-calendar);
// }

// .#{$prefix}form-date-trigger-over {
//     &::after {
//         color: $color-neutral-40;
//     }
// }

// .#{$prefix}pickerfield-open {
//     .#{$prefix}form-date-trigger {
//         &::after {
//             color: $color-neutral-20;
//         }
//     }
// }

.#{$prefix}form-trigger-wrap {
    background-color: $color-neutral-white;
    border: 1px solid $color-neutral-75;
    @include border-radius(2px);
    @include single-transition(border-color);

    .#{$prefix}form-text {
        border-width: 0px;
        height: 28px;
    }

    &:hover {
      border-color: $color-neutral-70;
    }
}

.#{$prefix}form-trigger-wrap-focus {
    .#{$prefix}form-trigger-wrap {
        border-color: $form-field-focus-border-color;
    }
}

.#{$prefix}form-invalid {
    .#{$prefix}form-trigger-wrap {
        border-color: $form-field-invalid-border-color;
    }
}

.#{$prefix}form-trigger {
    background: none no-repeat scroll 0 0 transparent;
    @include icon-font($glyph-arrowdown);
    height: 28px;
    width: 30px;

    &::after {
        height: 22px;
        padding-top: 6px;
        text-align: center;
        width: 30px;
    }

    &:focus {
        background-color: $color-selected;
    }
}

.#{$prefix}form-clear-trigger {
    &::after {
        content: $glyph-close;
    }
}

.#{$prefix}form-search-trigger {
    &::after {
        content: $glyph-search;
    }
}

.#{$prefix}form-date-trigger {
    &::after {
        content: $glyph-calendar;
    }
}



// this is a custom addon to combo that can be used to disable an extra trigger;
.x-form-trigger-disabled {
    filter: alpha(opacity=30);
    opacity: .3;
    cursor: default;

    &:focus {
        background-color: $color-neutral-white;
    }
}

div.#{$prefix}form-spinner-up, div.#{$prefix}form-spinner-down {
    background-image: none;

    &::after {
        height: 15px;
        padding-top: 0;
        content: "\E033";
    }
}

div.#{$prefix}form-spinner-down::after {
    content: "\E036";
}
