.input-group .form-control {
    display: inline-block !important;
    font-family: "proxima-nova", sans-serif !important;
    color: #3f3f3f !important;
    font-weight: 300 !important;
    box-shadow: none !important;
    background: transparent !important;
    padding-left: 5px;
}

.datepicker-control {
    width: 200px !important;
}

.datepicker .input-group {
    display: inline-block !important;
}

.datepicker-footer {
    text-align: center;
}

.datepicker-footer a {
    cursor: pointer;
    color: #3f3f3f;
    font-family: "proxima-nova", sans-serif;
    font-size: 13px;
}

.form-control {
    border: 0;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0;
    box-shadow: none;
    padding: 0px;
    height: 30px;
}

.form-control:focus {
    border-color: #2ea195;
    border-width: 2px;
}

.input-group-addon {
    display: inline-block !important;
    background-color: transparent !important;
    border: 0px !important;
    font-size: 20px;
    color: #3f3f3f;
    width: auto !important;
}

.input-group-addon::after {
    color: #d5d5d5;
}

.input-group {
    display: inline-block !important;
}

.form-group:focus-within label {
    color: #2ea195;
}

input:focus {
    border-color: #2ea195;
}