<div class="main-container">
	<div class="row subform">
		<h4>Location Group</h4>
		<form>
			<div class="form-row">
				<div class="col-md-6">
					<label for="locationName" class="subform-label">Name</label>
					<input class="form-control subform-text" id="locationName" type="text" />
				</div>
			</div>
		</form>
	</div>
	<div class="row subform">
		<h4>Add Location(s)</h4>
		<physical-locations class="col-md-4" (onPhysicalLocationSelect)="onPhysicalLocationSelect($event)"></physical-locations>
		<locations-list class="col-md-4" [physicalLocation]="physicalLocation"></locations-list>
		<!-- <selected-locations-list class="col-md-4"></selected-locations-list> -->
	</div>
</div>