.#{$vprefix}boundlist-item-customer {
    .name {
        float: left;
    }
    .account {
        position: absolute; // Allows account pill to overlay name
        right: 12px;        // Match boundlist item padding
        float: right;
        margin-top: 4px;
        font-size: 11px;
        line-height: 11px;
        &.x-column-content-pill-true {
            color: $color-neutral-white;
        }
    }
    .email {
        clear: both;
    }
}
