.#{$vprefix}tooltip-help { 
    padding-left: 10px; 
    font-family:mozicons;
    font-size:16px;
    font-weight:normal!important;
    line-height:1.0; 
    
    .#{$vprefix}icon-tooltip-help:after { 
        content: $glyph-tooltip-help;
    }
}

