/* BOUNDLISTS */

$boundlist-background-color: $color-neutral-transparent;
$boundlist-border-color: border-for($color-neutral-95);
$boundlist-border-style: none;

$boundlist-item-border-color: border-for($color-neutral-95);
$boundlist-item-border-style: solid;
$boundlist-item-padding: 5px 29px 5px 9px;

$boundlist-item-over-border-color: border-for($color-neutral-95);
$boundlist-item-selected-border-color: border-for($color-neutral-95);

$boundlist-item-over-background-color: $color-neutral-90;
$boundlist-item-selected-background-color: $color-selected !important;