/* BOUNDLISTS */

$boundlist-background-color: $color-neutral-transparent;
$boundlist-border-color: $color-neutral-80;
$boundlist-border-style: none;

$boundlist-item-height: 40px;
$boundlist-item-border-color: $color-neutral-80;
$boundlist-item-border-style: solid;
$boundlist-item-border-width: 1px 1px 0px;
$boundlist-item-padding: 13px 29px 10px 9px;

$boundlist-item-over-border-color: $color-neutral-75;
$boundlist-item-selected-border-color: $color-theme-blue-bright;

$boundlist-item-over-background-color: $color-neutral-90;
$boundlist-item-selected-background-color: $color-selected !important;
