.mz-productlist-carousel {
    overflow-x: scroll;
}
.mz-l-carousel {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 250px;
    width: auto;
    //debugging
    border: 1px;
    border-style: solid;
    //
    overflow:hidden;
    overflow-x: scroll;
    display: inline-flex;
    li {
        float: left;
        padding-top: 32px;
        width: @tileWidth;

        .mz-productlisting-shortdesc, .mz-productlisting-productcode {
            display:none;
        }
    }
}
