.mz-l-stack {
    .mz-l-stack-section {
        margin: 0 0 @gutter;
        overflow: auto;
        .mz-l-stack-sectiontitle {
            margin: 0 0 @gutter/4;
            padding: 0 0 @gutter/8;
            font-size: @fontSizeLarger;
            border-bottom: 1px solid #eee;
        }
    }
}

.mz-l-stack-large {
    .mz-l-stack-section {
        min-height: 400px; // TODO: remove
        .mz-l-stack-sectiontitle {
            font-size: @fontSizeLarge;
        }
    }
}
