html {
     height:100%;
}
body
{
    font: 12px MyriadWebProRegular, Helvetica, Arial, Verdana, sans-serif;
    color: #252525;
    background-color: #DFDFDF;
    margin:0; 
    padding:0; 
    height:100%; /* this is the key! */ 

}

a {
    color: #d2463c;
}
a:hover {
    color: #d2463c;
}

a.nextgen {
    /*color: #33BFCB; /* Actual nextgen anchor color */
    color: #d2463c; /* Lightened for visibility against a gray background */
    text-decoration: none;
}
a.nextgen:hover {
    text-decoration: underline;
}

input[type=text], input[type=password], input[type=email] { 
    width: 400px; 
}


#mozu-header {
    border-top: 5px solid #d2463c;
    background: #252525;
    padding: 2pc 0;
    text-align: center;
}


.registerContainer {
    width: 450px;
    margin: auto;
    padding-top: 40px;
}

.loginContainer {
    margin:auto;
    padding:20px;
    width:450px;
    
    /*border-radius: 10px; 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border: 2px solid #17083B;
    background-color:#E8E8E8";*/
}

.containerWrapper {
    background: #FFF;
}

.actionContainer {
    text-align: right;
    margin-top: 20px;
}

.actionContainer a {
    margin: 0 20px;
}

.ajaxFailure, .ajaxSuccess {
    display: none;
    padding: 5px;
    border: 4px solid #474;
    background-color: #696;
}

.ajaxFailure {
    border-color: #744;
    background-color: #966;
}

.rolesContainer {
    margin: 0 auto 0;
    padding: 20px;
    width: 450px;
    height:80%;
    overflow: hidden;
    color:#333;
}

.rolesContainer h2 {
    margin-top: 0;
}

.rolesWrapper {
    height: 92%;
    overflow: auto;
}
                                    
 .rolesContainer .roleTitle .nextgen {
     color: #25B0BC;
     text-shadow: 0 0 10px white;
 }
 
 
.rolesContainer .role {
    position: relative;
    padding: 15px;
    background-color: #ccc;
    border: 2px solid #aaa;
    margin-bottom: 12px;
    margin-right: 12px;
    border-right: 1px solid #bfbfbf;
}

.rolesContainer .role div {
    text-align: center;
}

.rolesContainer .role .roleType {
    margin-top: 8px;
}

.rolesContainer .role code {
    color: #ccc;
    position: absolute;
    top: 5px;
    left: 5px;
}

.rolesContainer .role code + code {
    top: 1.5em;
}

.rolesContainer .role code + code +code{
    top: 2.5em;
}

.rolesContainer .role .deleteRole {
    position: absolute;
    right: 18px;
    top: 30%;
}

.rolesContainer .role .deleteRole a {
    font-size: 24px;
    font-weight: bold;
    padding: 0 2px;
    text-decoration: none;
    color: #c0c0c0;
}

.rolesContainer .role .deleteRole a:hover {
    color: #d99;
}
 
.prtyButton {
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
    border: 1px solid rgb(145, 49, 42);
	display:inline-block;
    background-color: #d2463c;
    color: rgb(255, 255, 255);
    cursor: pointer;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}.prtyButton:hover {
    color: #fff;
    background-color: rgb(196, 66, 57);
}.prtyButton:active {
}

.instruction {
    margin: 20px 0;
}


header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:.7em 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
