<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="51Degrees.mobi" version="2.1.15.1" targetFramework="net45" />
  <package id="Autofac" version="3.4.0" targetFramework="net451" />
  <package id="Autofac.WebApi2" version="3.3.0" targetFramework="net451" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net451" />
  <package id="Burrows" version="0.3.3.0" targetFramework="net451" />
  <package id="Burrows.Autofac" version="0.3.3.0" targetFramework="net451" />
  <package id="Burrows.Log4Net" version="0.3.3.0" targetFramework="net451" />
  <package id="FluentValidation" version="5.1.0.0" targetFramework="net451" />
  <package id="FSharp.Core" version="3.1.2.1" targetFramework="net451" />
  <package id="FSharpx.Collections" version="1.9.4" targetFramework="net451" />
  <package id="Jolt" version="1.0.0" targetFramework="net451" />
  <package id="JsonValue" version="0.6.0" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Magnum" version="2.1.3" targetFramework="net451" />
  <package id="Microsoft.AspNet.Mvc" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.Razor" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebPages" version="3.1.2" targetFramework="net451" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net451" />
  <package id="Mozu.AdminUser.Contracts" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.BuildSupport.GetAssemblyFileVersionTask" version="1.0.0" targetFramework="net45" />
  <package id="Mozu.CommerceRuntime.Contracts" version="1.15.8" targetFramework="net451" />
  <package id="Mozu.Content.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.Core" version="1.14.1" targetFramework="net451" />
  <package id="Mozu.Core.Api" version="1.13.3" targetFramework="net451" />
  <package id="Mozu.Core.Api.Client" version="1.13.3" targetFramework="net451" />
  <package id="Mozu.Core.Api.Contracts" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.Core.Caching" version="1.13.4" targetFramework="net451" />
  <package id="Mozu.Core.Extensible.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.Core.Messaging" version="1.14.1" targetFramework="net451" />
  <package id="Mozu.Core.Messaging.Contracts" version="1.14.12" targetFramework="net451" />
  <package id="Mozu.Core.Mongo" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.Core.ThirdParty" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.Core.ThirdParty.Contracts" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.Customer.Contracts" version="1.15.2" targetFramework="net451" />
  <package id="Mozu.Hypr.NDjango" version="1.15.6" targetFramework="net451" />
  <package id="Mozu.InstalledApps.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.Location.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.MZDB.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.PaymentService.Contracts" version="1.8.0.1" targetFramework="net451" />
  <package id="Mozu.PricingRuntime.Contracts" version="1.13.2" targetFramework="net451" />
  <package id="Mozu.ProductAdmin.Contracts" version="1.16.1-dev1502112326-s" targetFramework="net451" />
  <package id="Mozu.ProductRuntime.Contracts" version="1.14.2" targetFramework="net451" />
  <package id="Mozu.Provisioning.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.Reference.Contracts" version="1.14.3" targetFramework="net451" />
  <package id="Mozu.ShippingAdmin.Contracts" version="1.14.4" targetFramework="net451" />
  <package id="Mozu.ShippingRuntime.Contracts" version="1.14.1" targetFramework="net451" />
  <package id="Mozu.SiteSettings.General.Contracts" version="1.13.4" targetFramework="net451" />
  <package id="Mozu.SiteSettings.Order.Contracts" version="1.13.1" targetFramework="net451" />
  <package id="Mozu.Tenant.Contracts" version="1.13.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.3.5" targetFramework="net451" />
  <package id="Stact" version="1.1.2" targetFramework="net45" />
</packages>