.#{$vprefix}image-dropzone {
    background-color: $color-neutral-95;
    border: 1px dashed $color-neutral-75;
    color: $color-neutral-80;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 10px;
    text-align: center;
    @include border-radius(2px);
    @include icon-font($glyph-dropimage, 80px, $color-neutral-80);
    @include transition-duration(0.3s);
    @include transition-property(background, border, box-shadow, color, text-shadow, transform);
    @include transition-timing-function(ease-in-out);

    .cover {
        background-color: $color-neutral-white;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 2;
    }

    .thumb {
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
        height: 140px;
        left: 50%;
        margin-left: -70px;
        overflow: hidden;
        padding: 140px 0px 0px 140px;
        position: absolute;
        top: 9px;
        width: 140px;
        z-index: 3;
        @include border-radius(2px);

        &:hover {
            .controls {
                display: block;
            }
        }
    }

    .controls {
        background-color: transparentize($color-neutral-black, 0.25);
        display: none;
        height: 22px;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
        @include border-radius(2px 2px 0px 0px);
    }

    .remove {
        cursor: pointer;
        display: block;
        right: 3px;
        top: 3px;
        @include icon-font($glyph-close, 16px, $color-neutral-white);
        position: absolute;
    }

    &::after {
        left: 50%;
        margin-left: -40px;
        top: 60px;
        @include transition-duration(0.3s);
        @include transition-property(background, border, box-shadow, color, text-shadow, transform);
        @include transition-timing-function(ease-in-out);
    }

    &.drag-over {
        background-color: $color-selected;
        border-color: $color-selected-border;
    }

    &.drag-and-drop-active {
        background-color: $color-selected;
        border-color: $color-selected-border;
    }

    &:hover {
        background-color: $color-neutral-90;
        border-color: $color-neutral-70;
        color: $color-neutral-70;

        &::after {
            color: $color-neutral-70;
        }
    }
}
