@mixin taco-content {

  /* GENERIC */

  a {
    text-decoration: none;
    color: $color-action-link;
    
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  /* CONTENT CONTAINER */

  .#{$vprefix}content-container {
    @include flexbox;

    .#{$vprefix}content-sidebar {
      @include order(2);
    }

    .#{$vprefix}content-main {
      min-width: 0px;
      position: relative;
      z-index: 2;
      width: 100%;
      @include flex($grow: 1);
    }

    .#{$vprefix}content-header {
      border-bottom: 1px solid border-for($color-neutral-95);
      margin: 0px;
      min-height: 65px;
      padding: 17px 30px;
      position: relative;
      width: 100%;
      z-index: 200;
      // @include box-shadow(rgba(0,0,0,0) 0 -5px 10px 0px);
      @include box-shadow(inset 0px 1px border-for($color-neutral-95));
      @include flexbox($justify: space-between);
      //@include transition(box-shadow 1s ease);
      
      h1 {
        font-size: px-to-rem(24);
        font-weight: normal;
        line-height: px-to-rem(30);
      }

      p {
        font: $font-message;
        // padding-top: 7px;
      }
      
      .#{$vprefix}actions {
        @include flexbox;
      }
      .#{$vprefix}action {
        float: none;
        margin-left: 1em;
      }
    }
    
    .#{$vprefix}content-body {
      margin: 0px 30px;
      padding: 20px 0px 10px;

      .#{$prefix}table-layout-cell {
        vertical-align: top;
      }
    }
  }

  .#{$vprefix}shell-scrolled {
    .#{$vprefix}content-header {
      background-color: $color-neutral-90;
      //border-right: 5px solid $color-neutral-transparent;
      left: 0px;
      position: fixed;
      top: 0px;
    }

    .#{$vprefix}content-sidebar {
      &~ .#{$vprefix}content-main {
        .#{$vprefix}content-header {
          border-right: 325px solid $color-neutral-95;
        }
      }
    }

    .#{$vprefix}content-body {
      margin-top: 65px !important;
    }
  }

  .#{$vprefix}content-sidebar,
  .#{$vprefix}sidebar-modal {
  height:687px;
    background-color: $color-neutral-white;
    border-color: border-for($color-neutral-95);
    border-style: solid none none solid;
    border-width: 0px 0px 0px 1px;
    position: relative;
    z-index: 3;

	.#{$prefix}panel-body-taco{
	  max-height: 602px;
	  overflow-y: scroll;
	}
    @include box-shadow(inset 0px 1px border-for($color-neutral-95));
    @include flexbox;
    @include flex(0, 0, 320px);

    .#{$vprefix}sidebarlist {
      margin: 0 30px;

      h1 {
        padding: 0 0 15px;
        margin: 0 0 15px;
        font-size: px-to-rem(20);
        font-weight: normal;
        border-bottom: 1px dashed #999;
      }
      .#{$vprefix}sidebarlist-list-item {
        font-size: px-to-rem(12);
        margin: 6px 0px;

        &.#{$prefix}item-selected {
          font-weight: bold;
        }
      }
    }

	hr{
		width: 100%;
		border: 0 none;
		border-bottom: 1px solid #999;
	}
  }

  .#{$vprefix}sidebar-modal{
      &.sliding {
          @include transition-property(left, right);
          @include transition-duration(0.5s, 0.5s);
          @include transition-timing-function(ease-out, ease-out);
      }

	  .#{$prefix}toolbar{
		min-height: 65px;
	  }

	  .#{$prefix}panel-taco{
		top: 35px;
	  }

	  .#{$prefix}docked-top {
	  .#{$prefix}box-inner{
		margin-top: 20px;
	  }
	  .#{$prefix}toolbar-text {
		font-size: 2rem;
	  }}

	  .#{$vprefix}action{
		text-decoration: none;
	  }
	  .#{$prefix}docked-bottom{
	  height: 65px;
	  top: 624px !important;
		.#{$prefix}box-inner{
			margin-top:20px;
			}
	  }
  }

  .#{$vprefix}sidebar-submenue{
	.#{$prefix}panel-header-body{
		//i feel really bad about this css, but i couldn't config the expand to the left; BF
		.#{$prefix}box-inner{
			margin-top:0px;
		}
		.#{$prefix}component{
			left: 20px !important;
		}
		.#{$prefix}tool{
			left: 0px !important;
			top: 2px !important;
		}
	}
	.#{$prefix}panel-body{
		background: lightgray;
		padding-left: .5rem;
	}
	.#{$prefix}tool-collapse-top{
		@include icons-sprite(icon-sortcolumn-desc);
	}
	.#{$prefix}tool-expand-bottom{
		@include icons-sprite(icon-panel-collapse);
	}
  }

  /* SITE EDITOR */

  .#{$vprefix}content-inline-editor {
    .#{$vprefix}content-body {
      margin: 0px;
      padding: 0px;
    }

    .#{$vprefix}site-editor {
      &> .#{$prefix}panel-body {
        overflow-y: hidden !important;
      }
    }
  }

  .#{$vprefix}widget-accordion-view {
    .heading {
      font-size: px-to-rem(20);
      font-weight: bold;
      line-height: px-to-rem(20);
      padding: 12px 20px 8px 29px;
      text-transform: capitalize;
    }
    .items {
      border-bottom: 1px solid border-for($color-neutral-95);
      overflow: hidden;
      padding-left: 19px;
      @include flexbox($wrap: wrap);
    }
    .collapsed {
      @include box-shadow(inset 0px -1px border-for($color-neutral-95));

      .items {
        display: none;
      }
    }

    .widget-source {
      margin: 0px 10px 10px 0px;
      width: 80px;

      .icon {
        background: none no-repeat scroll 50% 50% $color-neutral-white;
        background-size: cover;
        border: 1px solid border-for($color-neutral-95);
        height: 75px;
        padding: 3px;
        width: 75px;
        @include border-radius(2px);
      }
      .label {
        font-size: px-to-rem(12);
        line-height: px-to-rem(14);
        padding: 9px 1px;
        text-align: center;
      }
    }
  }

  .dropzone-shim {
    @include transition;
  }
  .dropzone-shim-hover {
    background-color: #CFC;
  }
  .#{$vprefix}reorderable-widget {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }

  .#{$vprefix}reorderable-placeholder {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }
  
}