@mixin taco-content {

  /* GENERIC */

  a {
    text-decoration: none;
    color: $color-action-link;
    
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  /* CONTENT CONTAINER */

  .#{$vprefix}content-container {
    .#{$vprefix}content-header {
      border-bottom: 1px solid border-for($color-neutral-95);
      padding: 17px 30px;
      @include flexbox($justify: space-between);
      
      h1 {
        font-size: px-to-rem(24);
        font-weight: normal;
        line-height: px-to-rem(30);
      }

      p {
        font: $font-message;
      }
      
      .#{$vprefix}actions {
        @include flexbox($alignItems: center);

        .#{$vprefix}action {
          float: none;
          margin-left: $font-size;
        }

        .#{$prefix}form-item {
          margin: 0px;
        }
      }
    }

    .#{$vprefix}content-body {
      padding: 20px 30px 10px;

      .#{$prefix}table-layout-cell {
        vertical-align: top;
      }
    }
  }

  .#{$vprefix}content-sidebar,
  .#{$vprefix}sidebar-modal {
    background-color: $color-neutral-white;
    border-color: border-for($color-neutral-95);
    border-style: solid none none solid;
    border-width: 0px 0px 0px 1px;
    position: relative;
    z-index: 3;
    @include flexbox;
  }

  .#{$vprefix}sidebar-modal {
    &.sliding {
      @include transition-property(left, right);
      @include transition-duration(0.5s, 0.5s);
      @include transition-timing-function(ease-out, ease-out);
    }

    hr {
      border-color: border-for($color-neutral-95);
      border-style: solid;
      border-width: 1px 1px 0px 1px;
      width: 100%;
    }
  }
	
  .#{$vprefix}sidebarlist {
    margin: 0px 20px;

    h2 {
      border-bottom: 1px solid border-for($color-neutral-95);
      font-size: px-to-rem(24);
      font-weight: normal;
      line-height: px-to-rem(30);
      margin-bottom: 15px;
      padding: 17px 10px;
    }
    .#{$vprefix}sidebarlist-list-item {
      font-size: px-to-rem(14);
      line-height: px-to-rem(21);
      margin: px-to-rem(7) 10px;

      &.#{$prefix}item-selected {
        font-weight: bold;
      }
    }
  }

 //  .#{$vprefix}sidebar-modal{
 //      &.sliding {
 //          @include transition-property(left, right);
 //          @include transition-duration(0.5s, 0.5s);
 //          @include transition-timing-function(ease-out, ease-out);
 //      }

	//   .#{$prefix}toolbar{
	// 	min-height: 65px;
	//   }

	//   .#{$prefix}panel-taco{
	// 	top: 35px;
	//   }

	//   .#{$prefix}docked-top {
	//   .#{$prefix}box-inner{
	// 	margin-top: 20px;
	//   }
	//   .#{$prefix}toolbar-text {
	// 	font-size: 2rem;
	//   }}

	//   .#{$vprefix}action{
	// 	text-decoration: none;
	//   }
	//   .#{$prefix}docked-bottom{
	//   height: 65px;
	//   top: 624px !important;
	// 	.#{$prefix}box-inner{
	// 		margin-top:20px;
	// 		}
	//   }
 //  }

  // .#{$vprefix}sidebar-submenu {
  //   .#{$prefix}panel-header-body { //i feel really bad about this css, but i couldn't config the expand to the left; BF
  //     .#{$prefix}box-inner {
  //       margin-top:0px;
  //     }
  //     .#{$prefix}component {
  //       left: 20px !important;
  //     }
  //     .#{$prefix}tool {
  //       left: 0px !important;
  //       top: 2px !important;
  //     }
  //   }
  //   .#{$prefix}panel-body {
  //     background: lightgray;
  //     padding-left: px-to-rem(5);
  //   }
  //   .#{$prefix}tool-collapse-top {
  //     // @include icons-sprite(icon-sortcolumn-desc);
  //   }
  //   .#{$prefix}tool-expand-bottom {
  //     // @include icons-sprite(icon-panel-collapse);
  //   }
  // }

  /* SITE EDITOR */

  .#{$vprefix}content-inline-editor {
    .#{$vprefix}content-body {
      margin: 0px;
      padding: 0px;
    }

    .#{$vprefix}site-editor {
      &> .#{$prefix}panel-body {
        overflow-y: hidden !important;
      }
    }
  }

  .#{$vprefix}widget-accordion-view {
    .heading {
      font-size: px-to-rem(20);
      font-weight: bold;
      line-height: px-to-rem(20);
      padding: 12px 20px 8px 29px;
      text-transform: capitalize;
    }
    .items {
      border-bottom: 1px solid border-for($color-neutral-95);
      overflow: hidden;
      padding-left: 19px;
      @include flexbox($wrap: wrap);
    }
    .collapsed {
      @include box-shadow(inset 0px -1px border-for($color-neutral-95));

      .items {
        display: none;
      }
    }

    .widget-source {
      margin: 0px 10px 10px 0px;
      width: 80px;

      .icon {
        background: none no-repeat scroll 50% 50% $color-neutral-white;
        background-size: cover;
        border: 1px solid border-for($color-neutral-95);
        height: 75px;
        padding: 3px;
        width: 75px;
        @include border-radius(2px);
      }
      .label {
        font-size: px-to-rem(12);
        line-height: px-to-rem(14);
        padding: 9px 1px;
        text-align: center;
      }
    }
  }

  .dropzone-shim {
    @include transition;
  }
  .dropzone-shim-hover {
    background-color: #CFC;
  }
  .#{$vprefix}reorderable-widget {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }

  .#{$vprefix}reorderable-placeholder {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }
  
}