@mixin taco-header {

  .#{$vprefix}masthead {
    background: url('/admin/Scripts/resources/images/fabric-2.png');
    color: $color-neutral-white;
    font-size: 14px;
    line-height: 1.5em;
    @include background(
      linear-gradient(top, rgba(0,0,0,0) 9%, rgba(0,0,0,0.3) 100%),
      image-url('/admin/Scripts/resources/images/fabric-2.png')
    );

    .#{$vprefix}action {
      color: $color-neutral-lightest;
    }

    .#{$vprefix}mozulogo {
      font-size: 0px;
      height: 50px;
      line-height: 0px;
      overflow: hidden;
      text-indent: -10000px;
      width: 150px;
      @include icons-sprite(icon-mozulogo-full);
    }
  }
}