@mixin taco-navmenu {

  .#{$vprefix}viewport-nav {
    background-color: $color-neutral-white;
    bottom: 0px;
    left: 0px;
    position: absolute;
    @include flexbox($alignItems: center);

    .#{$vprefix}primary-menu-trigger {
      border-right: 1px solid border-for($color-neutral-95);
      font-size: 0px;
      line-height: 0px;
      overflow: hidden;
      text-indent: -10000px;
      @include box-shadow(1px 0px $color-neutral-white);
      @include icons-sprite(icon-primarymenu);
      @include single-transition(background-color, 0.4s);

      &.expanded {
        background-color: $color-neutral-20;
        @include icons-sprite(icon-primarymenu-selected);
      }
    }

    .#{$vprefix}breadcrumb {
      @include flex($grow: 1);

      .#{$vprefix}icon {
        border-right: 1px solid border-for($color-neutral-95);
        color: $color;
        display: inline-block;
        height: 51px;
        padding: 18px 15px 0px 50px;
        position: relative;
        vertical-align: top;

        &::before {
          content: "";
          display: block;
          height: 40px;
          left: 5px;
          position: absolute;
          top: 5px;
          width: 40px;
        }
        &.#{$vprefix}icon-nav-dashboard::before {
          @include icons-sprite(icon-nav-dashboard);
        }
        &.#{$vprefix}icon-nav-customers::before {
          @include icons-sprite(icon-nav-customers);
        }
        &.#{$vprefix}icon-nav-catalog::before {
          @include icons-sprite(icon-nav-catalog);
        }
        &.#{$vprefix}icon-nav-orders::before {
          @include icons-sprite(icon-nav-orders);
        }
        &.#{$vprefix}icon-nav-marketing::before {
          @include icons-sprite(icon-nav-marketing);
        }
        &.#{$vprefix}icon-nav-sites::before {
          @include icons-sprite(icon-nav-sites);
        }
        &.#{$vprefix}icon-nav-publishing::before {
          @include icons-sprite(icon-nav-publishing);
        }
        &.#{$vprefix}icon-nav-files::before {
          @include icons-sprite(icon-nav-files);
        }
      }

      ul {
        display: inline-block;
        height: 51px;
        margin-left: 10px;
        vertical-align: top;

        li {
          display: inline-block;
          padding: 0px 8px;
          position: relative;
          vertical-align: top;

          a {
            color: $color;
            display: inline-block;
            font-size: px-to-rem(14);
            height: 51px;
            line-height: 1.5em;
            padding: 18px 2px 12px;
          }

          &.#{$vprefix}breadcrumb-item-selected {
            a {
              border-bottom: 2px solid $color-theme-base;
              color: $color-theme-base;
            }
          }

          &::after {
            background-color: border-for($color-neutral-70);
            content: "";
            display: block;
            height: 14px;
            position: absolute;
            right: 0px;
            top: 20px;
            width: 1px;
          }

          &:nth-last-of-type(1) {
            &::after {
              content: none;
            }
          }
        }
      }
    }
  }

  .#{$vprefix}primary-menu-ct {
    background-color: $color-neutral-20;
    margin-top: 51px;
    opacity: 1;
    visibility: visible !important;
    @include outer-shadow(0.4, 2px, 3px, 3px);
    @include transition(margin 0.15s linear, opacity 0.15s linear, top 0s linear, left 0s linear);

    &.#{$prefix}hide-offsets {
      margin-top: 0px;
      opacity: 0;
      @include transition(margin 0.15s linear, opacity 0.15s linear, top 0s linear 0.15s, left 0s linear 0.15s);
    }
  }
  .#{$vprefix}primary-menu {
    font-size: px-to-rem(18);
    line-height: px-to-rem(24);
    
    li.#{$vprefix}menu-item {
      cursor: pointer;
      padding: px-to-rem(18) 0px px-to-rem(18) 70px;
      position: relative;
      width: 325px;

      a {
        color: $color-neutral-75;
        display: inline-block;

        &:hover {
          color: $color-neutral-white;
        }
        &.#{$vprefix}menu-item-link {
          font-weight: bold;
        }
        &.#{$vprefix}icon::before {
          content: "";
          display: block;
          height: 40px;
          left: 10px;
          position: absolute;
          top: 10px;
          width: 40px;
        }
        &.#{$vprefix}icon-nav-dashboard::before {
          @include icons-sprite(icon-nav-dashboard-med);
        }
        &.#{$vprefix}icon-nav-customers::before {
          @include icons-sprite(icon-nav-customers-med);
        }
        &.#{$vprefix}icon-nav-catalog::before {
          @include icons-sprite(icon-nav-catalog-med);
        }
        &.#{$vprefix}icon-nav-orders::before {
          @include icons-sprite(icon-nav-orders-med);
        }
        &.#{$vprefix}icon-nav-marketing::before {
          @include icons-sprite(icon-nav-marketing-med);
        }
        &.#{$vprefix}icon-nav-sites::before {
          @include icons-sprite(icon-nav-sites-med);
        }
        &.#{$vprefix}icon-nav-publishing::before {
          @include icons-sprite(icon-nav-publishing-med);
        }
        &.#{$vprefix}icon-nav-files::before {
          @include icons-sprite(icon-nav-files-med);
        }
      }

      &.#{$vprefix}menu-item-hover {
        background-color: $color-neutral-30;

        a {
          &.#{$vprefix}icon-nav-dashboard::before {
            @include icons-sprite(icon-nav-dashboard-light);
          }
          &.#{$vprefix}icon-nav-customers::before {
            @include icons-sprite(icon-nav-customers-light);
          }
          &.#{$vprefix}icon-nav-catalog::before {
            @include icons-sprite(icon-nav-catalog-light);
          }
          &.#{$vprefix}icon-nav-orders::before {
            @include icons-sprite(icon-nav-orders-light);
          }
          &.#{$vprefix}icon-nav-marketing::before {
            @include icons-sprite(icon-nav-marketing-light);
          }
          &.#{$vprefix}icon-nav-sites::before {
            @include icons-sprite(icon-nav-sites-light);
          }
          &.#{$vprefix}icon-nav-publishing::before {
            @include icons-sprite(icon-nav-publishing-light);
          }
          &.#{$vprefix}icon-nav-files::before {
            @include icons-sprite(icon-nav-files-light);
          }
        }
      }

      &.#{$vprefix}menu-item-active {
        a.#{$vprefix}menu-item-link {
          border-bottom: 2px solid $color-theme-base;
          color: $color-neutral-white;
        }
      }

      ul {
        font-size: 13px;
        line-height: 1.2308em;
        margin-left: -5px;

        li {
          display: inline-block;
          margin: 4px 0px 1px;
          padding: 0px 7px 0px 5px;
          @include box-shadow(inset -1px 0px rgba(255, 255, 255, 0.4));

          &.#{$vprefix}submenu-item-active {
            a {
              border-bottom: 2px solid $color-theme-base;
              color: $color-neutral-white;
            }
          }
        }
      }
      
      // &> div {
      //   overflow: hidden;

      //   &> a {
      //     width: 50px;
      //     height: 50px;
      //     padding: 2px;
      //     margin: 2px;
      //     padding-top: 16px;
      //     display: block;
      //     color: white;
      //     white-space: nowrap;
          
      //     text-indent: 55px;
      //     text-decoration: none;
      //     @include border-radius;
      //     @include outer-shadow(0);
      //     @include single-transition(box-shadow);
          
      //     &.active {
      //       // @include outer-shadow;
      //     }
          
      //     &.selected {
      //       // background-color: $color-neutral-dark !important;
      //       // @include outer-shadow(0.3, 10px, 0, 1px);
      //     }

      //     &.#{$vprefix}icon-mozulogo {
      //       @include icons-sprite(icon-mozulogo-mini);
      //     }
      //   }

      //   &.collapsed .#{$vprefix}icon-collapse {
      //     text-indent: -5000px;
      //     @include icons-sprite(icon-expand);
      //     @include transition(all 0.5s);
      //   }

      //   &.expanded .#{$vprefix}icon-collapse {
      //     text-indent: -5000px;
      //     margin-left: 95px;
      //     @include transform(rotate(180deg));

      //   }

      //   & > a.selected, & > a.active {
      //     color: $color-action-link;
      //   }

      //   &#menu-Collapse {
      //     background-color: red;
      //   }
      // }


      // ul {
      //   position: fixed;
      //   background: rgba(255,255,255,1);
      //   top: -5000px;
      //   left: -5000px;
      //   padding: 0;
      //   margin: 0;
      //   z-index: 90;
      //   width: 170px;
      //   overflow: visible;
      //   @include outer-shadow;
      //   @include border-radius;
        
      //   li {
      //     padding: 0;
      //     margin: 0;
          
      //     a {
      //       //border: 5px solid transparent;
      //       margin: 5px;
      //       padding: 7px 11px;
      //       display: block;
      //       //width: 100%;
      //       text-decoration: none;
      //       color: $color-neutral-darker;
      //       font-size: 0.8em;
      //       font-weight: bold;
      //       @include border-radius;
            
            
      //       &:hover {
      //         color: $color-highlighted-foreground;
      //         text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      //         background-color: $color-highlighted-background;
      //       }
      //     }
      //   }

      //   &:before, &:after {
      //     border-top: 7px solid transparent;
      //     border-bottom: 7px solid transparent;
      //     border-right: 8px solid $color-neutral-dark;
      //     border-left: 0;
      //     height: 0;
      //     width: 0;
      //     top: 13px;
      //     left: -8px;
      //     content: "";
      //     position: absolute;
      //   }

      //   &:after {
      //     border-right: 8px solid white;
      //     left: -7px;
      //   }
      // }
    }

    // &.expanded {
    //   li.#{$vprefix}menu-item > div > a {
    //     &.#{$vprefix}icon-mozulogo {
    //       font-size: 0px;
    //       line-height: 0px;
    //       text-indent: -10000px;
    //       width: 150px;
    //       @include icons-sprite(icon-mozulogo-full);
    //     }
    //   }
    // }
  }
}
