@mixin taco-product {
  .#{$vprefix}product-admin-form {

    .#{$vprefix}formeditor .x-panel-header {
      margin-top: 24px;
    }
  }

  .#{$vprefix}product-admin-subform {
    padding: 0 14px;

    label {
      margin-top: 16px;
    }

    .#{$vprefix}flex-field-spacing {
      margin-left: 20px;
    }
  }

  .#{$vprefix}override-container {
    display: -webkit-flex;
    -webkit-justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    position: relative;
    margin-top: 25px;
    // background-color: #E2CCA3;

    border: 1px dashed orange;
    padding: 10px 20px;
    // margin-left: -20px;
    // width: 100%;

    &.active {
      padding: 10px 20px;
      margin-left: -20px;
      border: 1px dashed orange;
    }

    .#{$vprefix}override-checkbox {
      background-color: white;
      outline: 5px solid white;
      //padding: 0 12px;
      position: absolute;
      top: -14px;
      right: 100px;
    }
  }
}