<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <appSettings file="Configs/appsettings.demo.config" xdt:Transform="SetAttributes(file)" >
    <add key="clientCacheHeaderLength:default" value="86400" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>