<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings  xdt:Transform="RemoveAttributes(file)">
    <add key="mozu_core_settings_path" value="d:\Configs\_v2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="coretheme_directory" value="/Themes/Themes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ReverseProxy" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

   
    <add key="disableCDN"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="SSLValidationEnabled"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="YSOD_ERRORS"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>


    
  </appSettings>
  <system.net  xdt:Transform="Remove">
    
  </system.net>


</configuration>