<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings  xdt:Transform="RemoveAttributes(file)">
    <add key="mozu_core_settings_path" value="d:\Configs\_v2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="CoreLegacyTheme_directory" value="~/Mozu.CoreLegacyTheme" xdt:Transform="Insert" />
    <add key="CoreTheme_directory" value="~/Mozu.CoreTheme"  xdt:Transform="Insert" />

    <add key="ReverseProxy" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

   
    <add key="disableCDN"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="SSLValidationEnabled"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="YSOD_ERRORS"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>




    <add key="sitebuilder.Default.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.CatalogIndependent.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.PartialOutput.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.ProductSearch.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.Default.staging.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.CatalogIndependent.staging.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.PartialOutput.staging.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.ProductSearch.staging.clientCacheSettings"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>

    
    
    <add key="sitebuilder.Default.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=0&amp;EnableLocalCache=true&amp;SlidingExpirationSeconds=300&amp;AbsoluteExpirationSeconds=900&amp;EnableDirtyCacheBackgroundValidation=false"  xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.CatalogIndependent.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=0&amp;EnableLocalCache=true&amp;SlidingExpirationSeconds=300&amp;AbsoluteExpirationSeconds=900&amp;EnableDirtyCacheBackgroundValidation=false"  xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.PartialOutput.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=500&amp;EnableLocalCache=true&amp;SlidingExpirationSeconds=300&amp;AbsoluteExpirationSeconds=900&amp;EnableDirtyCacheBackgroundValidation=false" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.ProductSearch.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=1024&amp;EnableLocalCache=true&amp;SlidingExpirationSeconds=300&amp;AbsoluteExpirationSeconds=900&amp;EnableDirtyCacheBackgroundValidation=false"  xdt:Transform="Insert" xdt:Locator="Match(key)"/>

    <add key="sitebuilder.Default.staging.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=100&amp;EnableLocalCache=true&amp;AbsoluteExpirationSeconds=100&amp;EnableDirtyCacheBackgroundValidation=false" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.CatalogIndependent.staging.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=100&amp;EnableLocalCache=true&amp;AbsoluteExpirationSeconds=100&amp;EnableDirtyCacheBackgroundValidation=false" xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.PartialOutput.staging.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=100&amp;EnableLocalCache=true&amp;AbsoluteExpirationSeconds=100&amp;EnableDirtyCacheBackgroundValidation=false"  xdt:Transform="Insert" xdt:Locator="Match(key)"/>
    <add key="sitebuilder.ProductSearch.staging.clientCacheSettings" value="LocalCacheMemoryLimitMegabytes=100&amp;EnableLocalCache=true&amp;AbsoluteExpirationSeconds=100&amp;EnableDirtyCacheBackgroundValidation=false"  xdt:Transform="Insert" xdt:Locator="Match(key)"/>



  </appSettings>
  <system.net  xdt:Transform="Remove">
    
  </system.net>


</configuration>