<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings  >
   
     <add key="Environment" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    


    <add key="ReverseProxy" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="disableCDN"  value="true" xdt:Transform="Insert"  xdt:Locator="Match(key)"/>
    <add key="SSLValidationEnabled" value="false" xdt:Transform="Insert"  xdt:Locator="Match(key)"/>
    <add key="YSOD_ERRORS" value="true" xdt:Transform="Insert"  xdt:Locator="Match(key)"/>
    
  </appSettings>

</configuration>