<?xml version="1.0" encoding="utf-8"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    
    <add key="Environment" value="CI" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="coretheme_directory" value="/Themes/Themes" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  
  </appSettings>

</configuration>