.padding-none{
    padding: 0px !important;
}
.summary-heading{
    font-size: 15px !important;
    padding: 20px 0px 4px 0px;
    color: #3f3f3f;
    font-family: "proxima-nova",sans-serif;
}
.summary-heading p{
    margin: 0px;
}