.mz-l-paginatedlist {
    overflow: auto;
    position: relative;
    .mz-sortby {
        display: inline-block;
        text-align: left;
        margin-right: @gutter*2;
    }
    .mz-pagingcontrols {
        display: inline-block;
        text-align: right;
        margin-right: @gutter*2;
    } 
    .mz-pagenumbers {
        display: inline-block;
        text-align: right;
        float: right;
    }
    .mz-l-tiles {
        clear: both;
    }
    .mz-l-paginatedlist-header {
        .clearfix();
        margin-bottom: @gutter/2;
        position: relative;
    }
    .mz-l-paginatedlist-footer {
        .clearfix();
        .mz-pagenumbers {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .mz-l-paginatedlist-list {
        clear: both;
    }
}