/** 
 * Masthead
 * The dark first bar
 */

.#{$vprefix}viewport-header {
    background-color: $kibo-black;
    color: $kibo-light-gray;
}

.#{$vprefix}masthead {
    border-bottom: 1px solid $card-button-press-bg;
    font-size: px-to-rem(12);
    font-weight: 400;
    left: 0px;
    line-height: 1.0;
    position: absolute;
    .#{$vprefix}kibo-text {
        color: $kibo-light-gray;
        font-size: 20px;
        margin-left: -42px;
        position: relative;
        text-decoration: none;
    }
    .#{$vprefix}mozulogo {
        background-image: url("images/kibo-icon.png");
        background-position: 50% 38%;
        background-repeat: no-repeat;
        display: block;
        overflow: hidden;
        width: 33px !important;
        height: 33px;
        top: 0px !important;
        left: -6px !important;
        position: relative;
    }
    @media (min-resolution: 2dppx) {
        .#{$vprefix}mozulogo {
            background-image: url('./../resources/images/kibo-icon-retina.png');
            background-size: 21px 21px;
        }
    }
    .#{$prefix}btn-link-medium {
        .#{$prefix}btn-inner {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
        }
        .#{$prefix}btn-glyph {
            -webkit-font-smoothing: antialiased;
        }
    }
    .tenant-name-container {
        font-size: 12px;
        font-weight: 400;
        right: -12px;
        position: relative;
    }
    .user-initials-container {
        display: inline-block;
        width: 23px;
        height: 23px;
        padding-top: 2px;
        border: 1px solid #e9e9e9;
        border-radius: 100px;
        background-color: #e9e9e9;
        color: #3f3f3f;
        font-size: 11px;
        line-height: 18px;
        font-weight: 600;
        text-align: center;
    }
    .username-button {
        padding-left: 0;
    }
}

.help-button.x-btn {
    background-color: $kibo-black !important;
    .#{$prefix}btn-inner-center {
        color: $kibo-light-gray;
    }
}

.#{$vprefix}secondary-nav {
    .#{$vprefix}action {
        margin-right: 21px;
    }
}

.#{$vprefix}primary-menu-trigger {
    //border-right: 1px solid $nav-element-active-border;
    display: block;
    overflow: hidden;
    //@include box-shadow(1px 0px $color-neutral-white);
    @include icon-font($glyph-menu,
    22px,
    $glyph-icon-color);
    @include single-transition(background-color,
    0.4s);
    &::after {
        color: $white-color;
        line-height: 60px;
        width: 100%;
        text-align: center;
    }
    &.expanded {
        background-color: $color-neutral-20;
        &::after {
            color: $color-neutral-70;
        }
    }
    &:active {
        background-color: #633095;
    }
}

.#{$vprefix}navheader {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif !important;
    .#{$vprefix}breadcrumb {
        .#{$vprefix}icon {
            border-right: 1px solid $color-standard-border;
            color: $color;
            display: inline-block;
            margin-right: 10px;
            padding: 14px 20px 0px 40px;
            @include icon-font($glyph-dashboard,
            20px);
            height: 40px;
            vertical-align: top;
            width: auto;
            &::after {
                left: 10px;
                top: 10px;
            }
        }
        .#{$vprefix}icon-nav-customers::after {
            content: $glyph-customers;
        }
        .#{$vprefix}icon-nav-catalog::after {
            content: $glyph-catalog;
        }
        .#{$vprefix}icon-nav-orders::after {
            content: $glyph-orders;
        }
        .#{$vprefix}icon-nav-marketing::after {
            content: $glyph-marketing;
        }
        .#{$vprefix}icon-nav-sites::after {
            content: $glyph-sitebuilder;
        }
        .#{$vprefix}icon-nav-publishing::after {
            content: $glyph-publishing;
        }
        .#{$vprefix}icon-nav-locations::after {
            content: $glyph-locations;
        }
        .#{$vprefix}icon-nav-settings::after {
            content: $glyph-settings;
        }
        ul {
            display: inline-block;
            height: 40px;
            margin-left: 10px;
            vertical-align: top;
            li {
                display: inline-block;
                padding: 0px 10px;
                position: relative;
                vertical-align: top;
                a {
                    color: $color;
                    display: inline-block;
                    font-size: px-to-rem(14);
                    height: 40px;
                    line-height: 1.0;
                    padding: 16px 2px 0px;
                    &:focus {
                        color: $color-button-border;
                        text-decoration: underline;
                    }
                }
                [data-nav-id='viewLive']:focus,
                [data-nav-id='viewStaged']:focus {
                    color: $color;
                    text-decoration: none;
                }
                [data-nav-id='viewLive']:hover,
                [data-nav-id='viewStaged']:hover {
                    text-decoration: underline;
                }
                &.#{$vprefix}breadcrumb-item-selected {
                    a {
                        border-bottom: 2px solid $color-theme-base;
                        color: $color-theme-base;
                    }
                }
                &::after {
                    background-color: $color-neutral-20;
                    content: "";
                    display: block;
                    height: 14px;
                    position: absolute;
                    right: 0px;
                    top: 15px;
                    width: 1px;
                }
                &:nth-last-of-type(1) {
                    &::after {
                        content: none;
                    }
                }
            }
        }
        .#{$vprefix}breadcrumb-menubutton {
            padding-right: 20px !important;
            background-image: none;
            @include icon-font($glyph-arrowdown,
            16px,
            $color-action-foreground);
            height: auto;
            width: auto;
            &::after {
                left: auto;
                top: 15px;
                right: 0px;
            }
        }
    }
}

.taco-navheader .taco-navheader-toolbar .taco-content-header-title-container .taco-content-header-title .x-column-content-pill {
    top: -30px !important;
}

.taco-filtercontainer .taco-quickfilter .x-form-item-body input,
.taco-quickfilter-bar .taco-quickfilter .x-form-item-body input {
    height: 40px;
    padding: 10px;
    color: $white-color !important;
    background: #260845;
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

.taco-draft-toolbar .taco-filtercontainer .taco-quickfilter .x-form-item-body input {
    height: 40px;
    background: #f3f3f3 !important;
    color: #7c7c7c !important;
    left: -40px;
    overflow: hidden;
    padding-right: 40px;
    text-overflow: ellipsis;
}

.taco-draft-toolbar .taco-filtercontainer .advanced-search-button .x-btn-wrap::after {
    color: #3f3f3f !important;
    opacity: .35;
}

.taco-draft-toolbar .x-panel-body .x-box-inner {
    padding: 0 !important;
}

.taco-draft-toolbar .placeholderSearch .x-form-trigger-input-cell {
    top: -1px !important;
    input.x-form-field {
        left: -25px !important;
    }
}

.taco-draft-toolbar .taco-filtercontainer .advanced-search-button,
.taco-quickfilter-bar .advanced-search-button {
    border-right: 1px solid #f3f3f3 !important;
    background-color: #f3f3f3 !important;
}

.taco-draft-toolbar .x-form-clear-trigger::after {
    color: #7c7c7c !important;
}

.taco-navheader .taco-navheader-toolbar .navheader-action-toolbar .taco-more-action-button {
    opacity: 1 !important;
    .x-btn-arrow-right::after {
        color: $white-color !important;
    }
}

.taco-navheader .taco-navheader-toolbar .navheader-action-toolbar .taco-more-action-button {
    .x-btn-arrow-right::after {
        color: $white-color !important;
    }
    /*&:hover {
        background: #633095 !important;

        .x-btn-arrow-right::after {
            color: #fff !important; //#330066 !important;
        }
    }*/
}

.taco-navheader .taco-navheader-toolbar .taco-content-header-title-container .taco-content-header-title .taco-light-tag {
    top: -29px !important;
    color: $white-color !important;
}

.taco-navheader .taco-navheader-toolbar {
    .taco-filtercontainer .advanced-search-button .x-btn-wrap::after {
        color: $white-color !important;
    }

    .placeholderSearch.taco-quickfilter .x-form-item-body input input {
        padding: 10px 23px !important;
    }

    .placeholderSearch .x-form-trigger-input-cell {
        top: 0px !important;
        text-indent: 29px !important;

        & input.x-form-field {
            left: -30px !important;
            padding: 10px 13px;
            text-indent: 17px;
            color: $white-color;
        }
    }

    .placeholderSearch .x-form-trigger::after {
        top: -4px !important;
        left: 4px !important
    }

    .placeholderSearch .x-form-item-body .x-form-trigger-wrap {
        top: 0 !important;
    }

    .placeholderSearch input::placeholder {
        color: $white-color;
        font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    }

    .x-form-clear-trigger {
        left: 26px !important;
    }

    .x-form-search-trigger,
    x-form-clear-trigger {
        margin-left: 25px;
        margin-top: 7px;
    }

    a.x-btn-action-primary-toolbar-medium,
    a.x-btn-action-primary-toolbar-medium {
        background-color: $new-theme-button-bgcolor !important;
        border-bottom: 1px solid $new-theme-button-bgcolor !important;
        padding: 5px 16px !important;

        &:hover {
            background-color: $new-theme-button-bgcolor-hover !important;

            .x-btn-split-right::after {
                background-color: $new-theme-button-bgcolor-hover !important;
            }
        }

        .x-btn-inner-center {
            color: $new-theme-button-color !important;
            font-weight: 600 !important;
            font-size: 1.5rem !important;
            font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
        }

        .x-btn-arrow-right::after {
            color: $new-theme-button-color !important;
            font-weight: 600px !important
        }
    }

    .taco-filtercontainer .advanced-search-button,
    .taco-quickfilter-bar .advanced-search-button {
        border-right: 1px solid #330066 !important;
        background-color: #260845 !important;
    }

    .x-dropdown-trigger:after {
        color: $white-color;
    }

    .x-btn-action-primary-toolbar-medium .x-btn-split-right::after {
        color: #000;
    }

    .navheader-action-toolbar .x-form-item-label {
        color: $white-color;
        padding-top: 7px;
    }

    .navheader-action-toolbar .x-form-trigger::after {
        color: $white-color !important;
        padding-top: 10px !important;
    }

    .x-form-clear-trigger::after {
        color: $white-color !important;
        padding-top: 11px !important;
    }
    /*a.x-btn-action-primary-medium:not(.x-btn-disabled) .x-btn-split-right::after,
    a.x-btn-action-primary-toolbar-medium:not(.x-btn-disabled) .x-btn-split-right::after,
    a.x-btn-action-primary-toolbar-medium:not(.x-btn-disabled) .x-btn-split-right::after {
        background-color: rgba(43, 43, 43, 0.8) !important;


        .x-btn-action-primary-toolbar-medium .x-btn-split-right::after {
            color: #fff;
        }
    }*/
    .taco-subnavlink .subnavlink-container {
        color: $white-color !important;
        padding: 0 !important;
        margin-top: 0 !important;
        opacity: 1;

        .text-only {
            padding: 2px 0px !important;
            color: $white-color !important;
            border: 1px solid #ffffff !important;
            margin-top: 0 !important;
        }
    }

    .x-btn-action-toolbar-medium .taco-animated-circle,
    .x-btn-action-medium .taco-animated-circle,
    .x-btn-action-toolbar-medium .taco-animated-circle,
    .x-btn-action-primary-medium .taco-animated-circle,
    .x-btn-action-primary-toolbar-medium .taco-animated-circle,
    .x-btn-action-toggle-medium .taco-animated-circle {
        background-color: $new-theme-button-bgcolor !important;
    }

    .taco-filtercontainer .advanced-search-button .x-btn-wrap,
    .taco-quickfilter-bar .advanced-search-button .x-btn-wrap {
        opacity: 1 !important;
    }

    .x-btn-action-toolbar-medium,
    .x-btn-action-medium,
    .x-btn-action-toolbar-medium,
    .x-btn-action-primary-medium,
    .x-btn-action-primary-toolbar-medium,
    .x-btn-action-toggle-medium {
        color: $white-color !important;
    }

    .x-btn-link-toolbar-medium {
        &:active,
        &:hover {
            background-color: #633095 !important;

            .x-btn-inner {
                color: #ffffff !important;
                text-decoration: underline;
            }
        }

        .x-btn-inner {
            color: $white-color !important;
        }

        &.x-menu-active {
            background-color: #633095 !important;
        }
    }

    a.x-btn-action-primary-medium .x-btn-arrow-right .x-btn-button,
    a.x-btn-action-primary-toolbar-medium .x-btn-arrow-right .x-btn-button,
    a.x-btn-action-primary-medium .x-btn-split-right .x-btn-button,
    a.x-btn-action-primary-toolbar-medium .x-btn-split-right .x-btn-button,
    a.x-btn-action-primary-toolbar-medium .x-btn-arrow-right .x-btn-button,
    a.x-btn-action-primary-toolbar-medium .x-btn-split-right .x-btn-button {
        padding-right: 7px !important;
    }

    .x-btn-action-toolbar-medium.x-btn-disabled,
    .x-btn-action-medium.x-btn-disabled,
    .x-btn-disabled.x-btn-action-toolbar-medium,
    .x-btn-disabled.x-btn-action-primary-medium,
    .x-btn-disabled.x-btn-action-primary-toolbar-medium,
    .x-btn-disabled.x-btn-action-toggle-medium {
        background-color: rgba(43, 43, 43, 0.8) !important;
        color: #e5e6e7 !important;
        border-bottom: 1px solid rgba(43, 43, 43, 0.8) !important;

        .x-btn-inner-center {
            color: #e5e6e7 !important;
            font-weight: normal !important;
        }

        .x-btn-split-right::after {
            color: #fff;
        }

        &:hover, &:focus {
            background-color: rgba(43, 43, 43, 0.8) !important;
            color: #e5e6e7 !important;

            .taco-check-save.taco-button-overlay {
                background-color: rgba(43, 43, 43, 0.8) !important;
            }

            .taco-button-overlay {
                background-color: rgba(43, 43, 43, 0.8) !important;
            }
        }

        .taco-button-overlay {
            background-color: transparent !important;
        }
    }

    a .x-btn-action-primary-medium:not(.x-btn-disabled) .x-btn-split-right::after,
    a.x-btn-action-primary-toolbar-medium:not(.x-btn-disabled) .x-btn-split-right::after,
    a.x-btn-action-primary-toolbar-medium:not(.x-btn-disabled) .x-btn-split-right::after {
        background-color: $new-theme-button-bgcolor !important;
        color: #000000 !important;
    }
}

.taco-navheader .taco-navheader-toolbar .x-btn-link-toolbar-medium .x-btn-inner {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif !important;
}

.taco-navheader .taco-navheader-toolbar .navheader-action-toolbar .taco-more-action-button.x-btn.x-menu-active .x-btn-arrow-right::after {
    color: $new-theme-button-color !important;
}

.x-btn-link-toolbar-medium .x-btn-arrow-right::after {
    color: $white-color !important;
}

.x-panel.button-menu .x-menu-body .x-menu-item .x-menu-item-text {
    color: $new-theme-button-color;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 20px;
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    padding: 6px !important;
}

.x-panel.button-menu .x-menu-body {
    border: 1px solid #FFCE01 !important;
    background-color: #fbf1c8 !important;

    .x-menu-item {
        //border: 1px solid #FFCE01 !important;
        border-color: #FBF1C8 !important;
        background-color: #FBF1C8 !important;
        padding: 6px !important;

        &:hover {
            background-color: #FFCE01 !important;

            .x-menu-item-link .x-menu-item-text {
                text-decoration: underline;
            }
        }

        .x-menu-item-link .x-menu-item-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
}

    .sort-definitions-grid-category-page {
        /*.taco-navheader-toolbar {
        background-color: #fff;
        color: #333;
    }

    .taco-filtercontainer .taco-quickfilter .x-form-item-body input, .taco-quickfilter-bar .taco-quickfilter .x-form-item-body input {
        height: auto;
        padding: 10px 13px;
        color: #3f3f3f;
        background: #260845;
        font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    }
        */
    }

    .product-ranking-rules-category-page {
    }

.taco-selector-flyout.taco-header-split-button {
    //border: 0px !important;
    border: 1px solid $new-theme-button-bgcolor !important;

    .x-component-default {
        border-color: $new-theme-button-bgcolor !important;
        //background-color: $new-theme-button-bgcolor !important;
        background-color: #FBF1C8 !important;
    }

    .call-to-action,
    .x-component-default li:hover {
        background-color: #FFCE01 !important;
    }

    .call-to-action,
    .selector {
        color: $new-theme-button-color !important;
        border-bottom: 0px !important;
    }
}

//three dot button
.x-panel.taco-ellipsis-split-button {
    //border: 1px solid #BDBDBD !important;
    border: 0px !important;

    .x-panel-body .x-vertical-box-overflow-body .x-menu-item-active {
        .x-menu-item-link.x-menu-item-indent-right-arrow {
            .x-menu-item-text {
                color: #FFFFFF !important;
            }

            .x-menu-item-arrow:after {
                color: #FFFFFF !important;
            }
        }
    }

    .x-panel-body .x-vertical-box-overflow-body {
        border-color: $new-theme-button-bgcolor !important;
        //background-color: $new-theme-button-bgcolor !important;
        background-color: #FAFAFA !important;

            .x-menu-item {
                .x-menu-item-arrow:after {
                    top: 9px;
                }
            }

            .x-menu-item:hover {
                text-decoration: underline;

                .x-menu-item-text, .x-menu-item-arrow:after {
                    color: #FFFFFF !important;
                }

                &.x-menu-item-disabled {
                    .x-menu-item-text {
                        color: #2B2B2B !important;
                    }
                }
            }

            .x-menu-item-active,
            .call-to-action,
            .x-panel.button-menu .x-menu-body .x-vertical-box-overflow-body .x-menu-item:hover {
                background-color: #656868 !important;
                color: #FFFFFF !important;

                .x-menu-item-link:hover, .x-menu-item-text:hover {
                    color: #FFFFFF !important;
                    text-decoration: underline;
                }
            }

            .x-menu-item-link .x-menu-item-text,
            .x-menu-item-link .x-menu-item-text::after {
                color: $new-theme-button-color !important;
            }
        }
    }

    .x-panel.taco-header-split-button {
        //border: 1px solid $new-theme-button-bgcolor !important;
        border: 0px !important;

        .x-panel-body .x-vertical-box-overflow-body {
            border-color: $new-theme-button-bgcolor !important;
            //background-color: $new-theme-button-bgcolor !important;
            background-color: #FBF1C8 !important;

            .x-menu-item {
                border-bottom: 0px !important;
            }

            .x-menu-item-active,
            .call-to-action,
            .x-panel.button-menu .x-menu-body .x-vertical-box-overflow-body .x-menu-item:hover {
                background-color: #FFCE01 !important;

                .x-menu-item-link:hover, .x-menu-item-text:hover {
                    text-decoration: underline;
                }
            }

            .x-menu-item-link .x-menu-item-text,
            .x-menu-item-link .x-menu-item-text::after {
                color: $new-theme-button-color !important;
            }
        }
    }

    .taco-navheader .taco-navheader-toolbar {
        a.x-btn-action-primary-toolbar-medium,
        a.x-btn-action-primary-toolbar-medium {
            background-color: $new-theme-button-bgcolor !important;
            border-bottom: 1px solid $new-theme-button-bgcolor !important;
            padding: 5px 16px !important;

            .x-btn-inner-center {
                color: $new-theme-button-color !important;
                font-weight: 600 !important;
                font-size: 1.5rem !important;
                font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
            }

            .x-btn-arrow-right::after {
                color: $new-theme-button-color !important;
                font-weight: 600px !important
            }

            &:hover {
                background-color: $new-theme-button-bgcolor-hover !important;

                .x-btn-inner-center {
                    color: #3f3f3f !important;
                }

                .x-btn-split-right::after,
                .x-btn-split-right span::after,
                .x-btn-split-right {
                    background-color: $new-theme-button-bgcolor-hover !important;
                    color: #3f3f3f !important;
                }

                .taco-button-overlay {
                    background-color: transparent !important;
                }
            }
        }
    }

    .taco-navheader-toolbar {
        background-color: $brand-color !important;
        color: $white-color;

        .product-ranking-rules-category-page &,
        .sort-definitions-grid-category-page &,
        .pricelist-entries-header &,
        .b2b-page & {
            background-color: white !important;
            color: inherit;

            .x-form-clear-trigger:after {
                color: #818181 !important;
                left: 0 !important;
            }

            .x-form-clear-trigger,
            .x-form-search-trigger {
                margin-left: 0 !important;
                left: 0 !important;
            }

            .placeholderSearch .x-form-trigger-input-cell input.x-form-field {
                padding: 10px 6px !important;
                text-indent: 0 !important;
            }

            .taco-filtercontainer .taco-quickfilter .x-form-item-body .x-trigger-cell .x-form-trigger::after,
            .taco-quickfilter-bar .taco-quickfilter .x-form-item-body .x-trigger-cell .x-form-trigger::after {
                color: #d5d5d5;
                left: 0 !important;
            }

            .taco-content-header-title-container .taco-content-header-title .title:first-child {
                border-right: 1px solid #f3f3f3;
            }

            .taco-filtercontainer .advanced-search-button {
                background-color: transparent !important;
                border-right: 1px solid whitesmoke !important;
                /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;*/
                padding: 5px 19px !important;
            }

            a.x-btn-action-primary-toolbar-medium {
                background-color: #2ea195;

                .x-btn-inner-center {
                    color: #fff;
                    font-weight: normal !important;
                    font-family: inherit !important;
                }

                &:hover {
                    background-color: #299086 !important;

                    .x-btn-inner-center {
                        color: #fff !important;
                        font-weight: normal !important;
                        font-family: inherit !important;
                    }
                }
            }

            a.x-btn-action-primary-medium.x-btn-disabled,
            a.x-btn-disabled.x-btn-action-primary-toolbar-medium,
            a.x-btn-action-primary-toolbar-medium.x-btn-disabled {
                background-color: #eaeaea !important;

                .x-btn-inner-center {
                    color: #fff !important;
                    font-weight: normal !important;
                    font-family: inherit !important;
                }

                &:hover {
                    background-color: #eaeaea !important;

                    .x-btn-inner-center {
                        color: #fff !important;
                        font-weight: normal !important;
                        font-family: inherit !important;
                    }
                }
            }

            .taco-filtercontainer .advanced-search-button .x-btn-wrap {
                right: 5px;
                top: 5px;
            }

            .taco-filtercontainer .advanced-search-button .x-btn-wrap::after {
                color: #7c7c7c !important;
                line-height: inherit;
                text-align: center;
                width: auto;
                height: auto;
            }

            input[type="text"] {
                background: none !important;
                color: inherit !important;

                &:hover,
                &:focus {
                    color: inherit !important;
                }
            }

            .x-btn,
            a.x-btn-action-primary-toolbar-medium {
                background-color: #2ea195 !important;
                border: 0 !important;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) !important;
                padding: 5px 19px !important;

                .x-btn-inner {
                    color: white !important;
                }
            }

            .advanced-search-button {
                background-color: white !important;

                .x-btn-wrap::after {
                    color: #7c7c7c !important;
                }
            }
        }
    }

.taco-navheader .taco-navheader-toolbar .x-btn-action-primary-toolbar-medium .taco-animated-circle {
    background-image: url(images/icons/greycircle.gif) !important;
    //url(../../build/resources/images/icons/greycircle.gif) !important;
}