.container-margin{
    margin: 20px 0 10px;
    padding: 0px 20px;
}

.content-pill{
    background-color: #f3f3f3;
    color: #7c7c7c;
    border-radius: 9px;
    cursor: default;
    padding: 3px 5px;
    font-size: 11px;
}

.content-pill-blue{
    background-color: #2ea195;
    color: white;
}
