
<div class="col-md-12 container-margin">

<p-table [value]="model.items" [responsive]="true" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <!-- <th *ngFor="let col of columns">
                  {{col.header}}
              </th> -->
            <th>{{'QUOTES.QUOTES.b2bAccountName' | translate }}</th>
            <th>{{'QUOTES.QUOTES.quoteName' | translate }}</th>
            <th>{{'QUOTES.QUOTES.buyerName' | translate }}</th>
            <th>{{'QUOTES.QUOTES.status' | translate }}</th>
            <th>{{'QUOTES.QUOTES.lastModifiedDate' | translate }}</th>
            <th>{{'QUOTES.QUOTES.quoteTotal' | translate }}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-quote>
        <tr>
            <td>
              <p-tableCheckbox></p-tableCheckbox>
            </td>
            <td><span>{{quote.tenantId}}</span></td>
            <td><span>{{quote.name}}</span></td>
            <td><span>{{quote.customerInteractionType}}</span></td>
            <td><span class="content-pill">{{quote.currencyCode}}</span></td>
            <td><span>{{quote.auditInfo.createDate}}</span></td>
            <td><span>{{quote.feeTotal}}</span></td>

            <!-- <td><span>{{quote.b2bAccountName}}</span></td>
            <td><span>{{quote.quoteName}}</span></td>
            <td><span>{{quote.buyerName}}</span></td>
            <td><span class="content-pill">{{quote.status}}</span></td>
            <td><span>{{quote.lastModifiedDate}}</span></td>
            <td><span>{{quote.quoteTotal}}</span></td> -->
        </tr>
    </ng-template>
</p-table>
</div>