@mixin icons-sprite ($icon) {
  background-image: url("images/icons/#{$icon}.png");
  background-position: 0px 0px;
  background-repeat: no-repeat;
};

// @import "compass/utilities/sprites/base";

// // General Sprite Defaults
// // You can override them before you import this file.
// $icons-sprite-base-class: ".icons-sprite" !default;
// $icons-sprite-dimensions: false !default;
// $icons-position: 0% !default;
// $icons-spacing: 0 !default;
// $icons-repeat: no-repeat !default;
// $icons-prefix: '' !default;
// $icons-clean-up: true !default;
// $icons-layout:vertical !default;
// $icons-inline: false !default;

  
//  // These variables control the generated sprite output
//  // You can override them selectively before you import this file.
 
//    $icons-icon-barcode-position: $icons-position !default;
//    $icons-icon-barcode-spacing:  $icons-spacing !default;
//    $icons-icon-barcode-repeat:   $icons-repeat !default;
 
//    $icons-icon-cart-position: $icons-position !default;
//    $icons-icon-cart-spacing:  $icons-spacing !default;
//    $icons-icon-cart-repeat:   $icons-repeat !default;
 
//    $icons-icon-checkbox-selected-position: $icons-position !default;
//    $icons-icon-checkbox-selected-spacing:  $icons-spacing !default;
//    $icons-icon-checkbox-selected-repeat:   $icons-repeat !default;
 
//    $icons-icon-checkbox-position: $icons-position !default;
//    $icons-icon-checkbox-spacing:  $icons-spacing !default;
//    $icons-icon-checkbox-repeat:   $icons-repeat !default;
 
//    $icons-icon-cloud-position: $icons-position !default;
//    $icons-icon-cloud-spacing:  $icons-spacing !default;
//    $icons-icon-cloud-repeat:   $icons-repeat !default;
 
//    $icons-icon-dashboard-position: $icons-position !default;
//    $icons-icon-dashboard-spacing:  $icons-spacing !default;
//    $icons-icon-dashboard-repeat:   $icons-repeat !default;
 
//    $icons-icon-folder-position: $icons-position !default;
//    $icons-icon-folder-spacing:  $icons-spacing !default;
//    $icons-icon-folder-repeat:   $icons-repeat !default;
 
//    $icons-icon-map-position: $icons-position !default;
//    $icons-icon-map-spacing:  $icons-spacing !default;
//    $icons-icon-map-repeat:   $icons-repeat !default;
 
//    $icons-icon-mozulogo-wallis-position: $icons-position !default;
//    $icons-icon-mozulogo-wallis-spacing:  $icons-spacing !default;
//    $icons-icon-mozulogo-wallis-repeat:   $icons-repeat !default;
 
//    $icons-icon-people-position: $icons-position !default;
//    $icons-icon-people-spacing:  $icons-spacing !default;
//    $icons-icon-people-repeat:   $icons-repeat !default;
 
//    $icons-icon-radio-selected-position: $icons-position !default;
//    $icons-icon-radio-selected-spacing:  $icons-spacing !default;
//    $icons-icon-radio-selected-repeat:   $icons-repeat !default;
 
//    $icons-icon-radio-position: $icons-position !default;
//    $icons-icon-radio-spacing:  $icons-spacing !default;
//    $icons-icon-radio-repeat:   $icons-repeat !default;
 
//    $icons-icon-remove-position: $icons-position !default;
//    $icons-icon-remove-spacing:  $icons-spacing !default;
//    $icons-icon-remove-repeat:   $icons-repeat !default;
 
//    $icons-icon-rowactions-position: $icons-position !default;
//    $icons-icon-rowactions-spacing:  $icons-spacing !default;
//    $icons-icon-rowactions-repeat:   $icons-repeat !default;
 
//    $icons-icon-target-position: $icons-position !default;
//    $icons-icon-target-spacing:  $icons-spacing !default;
//    $icons-icon-target-repeat:   $icons-repeat !default;
 
//    $icons-icon-theme-desktop-position: $icons-position !default;
//    $icons-icon-theme-desktop-spacing:  $icons-spacing !default;
//    $icons-icon-theme-desktop-repeat:   $icons-repeat !default;
 
//    $icons-icon-theme-mobile-position: $icons-position !default;
//    $icons-icon-theme-mobile-spacing:  $icons-spacing !default;
//    $icons-icon-theme-mobile-repeat:   $icons-repeat !default;
 
//    $icons-icon-toolbox-nav-product-position: $icons-position !default;
//    $icons-icon-toolbox-nav-product-spacing:  $icons-spacing !default;
//    $icons-icon-toolbox-nav-product-repeat:   $icons-repeat !default;
 
//    $icons-icon-tools-position: $icons-position !default;
//    $icons-icon-tools-spacing:  $icons-spacing !default;
//    $icons-icon-tools-repeat:   $icons-repeat !default;
 
//    $icons-icon-vee-position: $icons-position !default;
//    $icons-icon-vee-spacing:  $icons-spacing !default;
//    $icons-icon-vee-repeat:   $icons-repeat !default;
 
//    $icons-icon-x-position: $icons-position !default;
//    $icons-icon-x-spacing:  $icons-spacing !default;
//    $icons-icon-x-repeat:   $icons-repeat !default;
 

//  $icons-sprites: sprite-map("icons/*.png",
 
//    $icons-icon-barcode-position: $icons-icon-barcode-position, 
//    $icons-icon-barcode-spacing:  $icons-icon-barcode-spacing, 
//    $icons-icon-barcode-repeat:   $icons-icon-barcode-repeat,
 
//    $icons-icon-cart-position: $icons-icon-cart-position, 
//    $icons-icon-cart-spacing:  $icons-icon-cart-spacing, 
//    $icons-icon-cart-repeat:   $icons-icon-cart-repeat,
 
//    $icons-icon-checkbox-selected-position: $icons-icon-checkbox-selected-position, 
//    $icons-icon-checkbox-selected-spacing:  $icons-icon-checkbox-selected-spacing, 
//    $icons-icon-checkbox-selected-repeat:   $icons-icon-checkbox-selected-repeat,
 
//    $icons-icon-checkbox-position: $icons-icon-checkbox-position, 
//    $icons-icon-checkbox-spacing:  $icons-icon-checkbox-spacing, 
//    $icons-icon-checkbox-repeat:   $icons-icon-checkbox-repeat,
 
//    $icons-icon-cloud-position: $icons-icon-cloud-position, 
//    $icons-icon-cloud-spacing:  $icons-icon-cloud-spacing, 
//    $icons-icon-cloud-repeat:   $icons-icon-cloud-repeat,
 
//    $icons-icon-dashboard-position: $icons-icon-dashboard-position, 
//    $icons-icon-dashboard-spacing:  $icons-icon-dashboard-spacing, 
//    $icons-icon-dashboard-repeat:   $icons-icon-dashboard-repeat,
 
//    $icons-icon-folder-position: $icons-icon-folder-position, 
//    $icons-icon-folder-spacing:  $icons-icon-folder-spacing, 
//    $icons-icon-folder-repeat:   $icons-icon-folder-repeat,
 
//    $icons-icon-map-position: $icons-icon-map-position, 
//    $icons-icon-map-spacing:  $icons-icon-map-spacing, 
//    $icons-icon-map-repeat:   $icons-icon-map-repeat,
 
//    $icons-icon-mozulogo-wallis-position: $icons-icon-mozulogo-wallis-position, 
//    $icons-icon-mozulogo-wallis-spacing:  $icons-icon-mozulogo-wallis-spacing, 
//    $icons-icon-mozulogo-wallis-repeat:   $icons-icon-mozulogo-wallis-repeat,
 
//    $icons-icon-people-position: $icons-icon-people-position, 
//    $icons-icon-people-spacing:  $icons-icon-people-spacing, 
//    $icons-icon-people-repeat:   $icons-icon-people-repeat,
 
//    $icons-icon-radio-selected-position: $icons-icon-radio-selected-position, 
//    $icons-icon-radio-selected-spacing:  $icons-icon-radio-selected-spacing, 
//    $icons-icon-radio-selected-repeat:   $icons-icon-radio-selected-repeat,
 
//    $icons-icon-radio-position: $icons-icon-radio-position, 
//    $icons-icon-radio-spacing:  $icons-icon-radio-spacing, 
//    $icons-icon-radio-repeat:   $icons-icon-radio-repeat,
 
//    $icons-icon-remove-position: $icons-icon-remove-position, 
//    $icons-icon-remove-spacing:  $icons-icon-remove-spacing, 
//    $icons-icon-remove-repeat:   $icons-icon-remove-repeat,
 
//    $icons-icon-rowactions-position: $icons-icon-rowactions-position, 
//    $icons-icon-rowactions-spacing:  $icons-icon-rowactions-spacing, 
//    $icons-icon-rowactions-repeat:   $icons-icon-rowactions-repeat,
 
//    $icons-icon-target-position: $icons-icon-target-position, 
//    $icons-icon-target-spacing:  $icons-icon-target-spacing, 
//    $icons-icon-target-repeat:   $icons-icon-target-repeat,
 
//    $icons-icon-theme-desktop-position: $icons-icon-theme-desktop-position, 
//    $icons-icon-theme-desktop-spacing:  $icons-icon-theme-desktop-spacing, 
//    $icons-icon-theme-desktop-repeat:   $icons-icon-theme-desktop-repeat,
 
//    $icons-icon-theme-mobile-position: $icons-icon-theme-mobile-position, 
//    $icons-icon-theme-mobile-spacing:  $icons-icon-theme-mobile-spacing, 
//    $icons-icon-theme-mobile-repeat:   $icons-icon-theme-mobile-repeat,
 
//    $icons-icon-toolbox-nav-product-position: $icons-icon-toolbox-nav-product-position, 
//    $icons-icon-toolbox-nav-product-spacing:  $icons-icon-toolbox-nav-product-spacing, 
//    $icons-icon-toolbox-nav-product-repeat:   $icons-icon-toolbox-nav-product-repeat,
 
//    $icons-icon-tools-position: $icons-icon-tools-position, 
//    $icons-icon-tools-spacing:  $icons-icon-tools-spacing, 
//    $icons-icon-tools-repeat:   $icons-icon-tools-repeat,
 
//    $icons-icon-vee-position: $icons-icon-vee-position, 
//    $icons-icon-vee-spacing:  $icons-icon-vee-spacing, 
//    $icons-icon-vee-repeat:   $icons-icon-vee-repeat,
 
//    $icons-icon-x-position: $icons-icon-x-position, 
//    $icons-icon-x-spacing:  $icons-icon-x-spacing, 
//    $icons-icon-x-repeat:   $icons-icon-x-repeat,
 
//  $layout: $icons-layout,
//  $cleanup: $icons-clean-up
//  );


// // All sprites should extend this class
// // The icons-sprite mixin will do so for you.
// @if $icons-inline {
//   #{$icons-sprite-base-class} {
//     background-image: inline-sprite($icons-sprites);
//   } 
// } @else {
//   #{$icons-sprite-base-class} {
//     background: $icons-sprites no-repeat;
//   }
// }
// //sass functions to return the dimensions of a sprite image as units

//   @function icons-sprite-width($name) {
//     $file: sprite_file($icons-sprites, $name);
//     @return image-width($file);
//   }

//   @function icons-sprite-height($name) {
//     $file: sprite_file($icons-sprites, $name);
//     @return image-height($file);
//   }


// // Use this to set the dimensions of an element
// // based on the size of the original image.
// @mixin icons-sprite-dimensions($name) {
//   @include sprite-dimensions($icons-sprites, $name)
// }

// // Move the background position to display the sprite.
// @mixin icons-sprite-position($name, $offset-x: 0, $offset-y: 0) {
//   @include sprite-background-position($icons-sprites, $name, $offset-x, $offset-y)
// }

// // Extends the sprite base class and set the background position for the desired sprite.
// // It will also apply the image dimensions if $dimensions is true.
// @mixin icons-sprite($name, $dimensions: $icons-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
//   @extend #{$icons-sprite-base-class};
//   @include sprite($icons-sprites, $name, $dimensions, $offset-x, $offset-y)
// }

// @mixin icons-sprites($sprite-names, $dimensions: $icons-sprite-dimensions, $prefix: sprite-map-name($icons-sprites), $offset-x: 0, $offset-y: 0) {
//   @include sprites($icons-sprites, $sprite-names, $icons-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y)
// }

// // Generates a class for each sprited image.
// @mixin all-icons-sprites($dimensions: $icons-sprite-dimensions, $prefix: sprite-map-name($icons-sprites), $offset-x: 0, $offset-y: 0) {
//   @include icons-sprites(icon-barcode icon-cart icon-checkbox-selected icon-checkbox icon-cloud icon-dashboard icon-folder icon-map icon-mozulogo-wallis icon-people icon-radio-selected icon-radio icon-remove icon-rowactions icon-target icon-theme-desktop icon-theme-mobile icon-toolbox-nav-product icon-tools icon-vee icon-x, $dimensions, $prefix, $offset-x, $offset-y);
// }