.#{$vprefix}context-switcher {
    .#{$prefix}trigger-cell, .#{$prefix}form-text {
        background-color: $color-action-background;
        @include facade-transitions;
    }

    &:hover {
        .#{$prefix}form-text:not(:disabled) {
            background-color: $color-action-background-hover;
            @include box-shadow(inset 0px -1px $color-action-outline-hover);
        }
        .#{$prefix}trigger-cell {
            background-color: $color-action-background-hover;
        }
    }

    &.#{$prefix}item-disabled {
        .#{$prefix}trigger-cell {
            @include opacity(0.3);
        }
    }
}

/* OLD CONTEXT SWITCHER */

// .#{$vprefix}context-switcher-menu {
//   ul {
//     .#{$prefix}boundlist-item {
//       &.context-type-t {
//         font-weight: bold;
//       }
//       &.context-type-c {
//         border-top-width: 5px;
//         font-weight: bold;
//         margin-top: 7px;
//         @include box-shadow(0px -1px border-for($color-neutral-white));
//         // padding-left: 28px;
//       }
//       &.context-type-s {
//         // padding-left: 42px;
//       }
//     }
//   }
// }
