.#{$vprefix}context-switcher {

    .#{$prefix}trigger-cell, .#{$prefix}form-text {
        background-color: $color-action-background;
        @include facade-transitions;
    }

    &:hover {
        .#{$prefix}form-text:not(:disabled) {
            background-color: $color-action-background-hover;
            @include box-shadow(inset 0px -1px $color-action-outline-hover);
        }
        .#{$prefix}trigger-cell {
            background-color: $color-action-background-hover;
        }
    }

    &.#{$prefix}item-disabled {
        .#{$prefix}trigger-cell {
            @include opacity(0.3);
        }
    }
}

/* OLD CONTEXT SWITCHER */

.#{$vprefix}site-context-switchermenu {
    position: relative;
    display: block;
    padding: 20px 18px;
    border-right: 1px solid #f3f3f3;
    font-weight: 400;

    .#{$prefix}form-trigger-wrap input {
        font-size: 18px;
        color: $dark-color;
        border: none;
    }

    .#{$prefix}form-item-body {

        &.#{$prefix}pickerfield-open {

            .#{$prefix}form-trigger {
                border-radius: 3px;
                background-color: $more-menu-active-background;
                box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
                opacity: 1;
            }
        }
    }

    .#{$prefix}form-trigger {
        @include icon-font($glyph-arrow-down, 11px, $nav-element-text);
        @include border-radius(3px);
        height: 20px;
        position: relative;
        width: 20px;
        left: 10px;
        top: 9px;

        &::after {
            font-size: 11px;
            left: -5px;
            top: -1px;
        }

        &:hover {
            &::after {
                color: $dark-color;
            }
        }

    }
}

.#{$vprefix}site-selector-flyout {
    .#{$prefix}menu-item {
        border-bottom: 1px solid whitesmoke !important;
    }
}
.taco-picker-selector.taco-context-switcher-selector .title {
    color : #fff !important;
}
