.#{$vprefix}primary-menu-ct {
    background-color: $color-neutral-white;
    margin-top: 0px;
    opacity: 1;
    visibility: visible !important;
    @include outer-shadow(0.4, 2px, 3px, 3px);
    @include transition(margin 0.15s linear, opacity 0.15s linear, top 0s linear, left 0s linear);

    &.#{$prefix}hide-offsets {
        margin-top: 0px;
        opacity: 0;
        @include transition(margin 0.15s linear, opacity 0.15s linear, top 0s linear 0.15s, left 0s linear 0.15s);
    }
}

.#{$vprefix}primary-menu-logo {
    display: block;
    @include icon-font($glyph-mozulogo, 18px, $color-theme-base);
    width: 68px;

    &::after {
        left: auto;
        right: 10px;
        text-align: right;
        top: 1px;
        width: 100%;
    }
}

.#{$vprefix}primary-menu-heading {
    margin-left: 0px;
    float: left;
    color: $color-framework-gray;
    font-size: 11px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: none;
    cursor: pointer;
    &:hover {
        background-color: $color-framework-gray-lighter;
    }

    &.#{$vprefix}collapsed-icon::after {
        @include icon-font($glyph-plus);
        margin-left: 5px;
        content: $glyph-plus;
    }
}

.#{$vprefix}primary-menu-divider {
    padding-top: 7px;
    padding-bottom: 2px;
    border-bottom: 1px solid $color-framework-gray-light;
}

.#{$vprefix}primary-menu {
    font-size: 14px;
    line-height: 20px;

    ul {
        padding-bottom: 20px;
    }

    li.#{$vprefix}menu-item {
        //border-left: 5px solid $color-neutral-20;
        cursor: pointer;
        //padding: 13px 0px 13px 20px;
        //position: relative;
        //width: 259px;

        &:hover {
            background-color: $color-framework-gray-lighter;
        }

        a {
            //color: $color-neutral-75;
            display: inline-block;

            //&:hover {
            //    color: $color-neutral-white;
            //}
            &.#{$vprefix}menu-item-link {
                // font-weight: bold;
            }
        }

        //a {
        //    color: $color-neutral-75;
        //    display: inline-block;
        //
        //    //&:hover {
        //    //    color: $color-neutral-white;
        //    //}
        //    &.#{$vprefix}menu-item-link {
        //        // font-weight: bold;
        //    }
        //    //&.#{$vprefix}icon {
        //    //    @include icon-font($glyph-dashboard, 24px, $color-neutral-75);
        //    //    height: auto;
        //    //    width: auto;
        //    //
        //    //    &::after {
        //    //        left: -51px;
        //    //        top: -1px;
        //    //    }
        //    //}
        //    //&.#{$vprefix}icon-nav-customers::after {
        //    //    content: $glyph-customers;
        //    //}
        //    //&.#{$vprefix}icon-nav-catalog::after {
        //    //    content: $glyph-catalog;
        //    //}
        //    //&.#{$vprefix}icon-nav-orders::after {
        //    //    content: $glyph-orders;
        //    //}
        //    //&.#{$vprefix}icon-nav-marketing::after {
        //    //    content: $glyph-marketing;
        //    //}
        //    //&.#{$vprefix}icon-nav-sites::after {
        //    //    content: $glyph-sitebuilder;
        //    //}
        //    //&.#{$vprefix}icon-nav-publishing::after {
        //    //    content: $glyph-publishing;
        //    //}
        //    //&.#{$vprefix}icon-nav-locations::after {
        //    //    content: $glyph-locations;
        //    //    top: 4px;
        //    //}
        //}

        //&.#{$vprefix}menu-item-hover {
        //    background-color: $color-neutral-white;
        //    border-left-color: $color-framework-red;
        //
        //    .#{$vprefix}icon {
        //        color: $color-neutral-white;
        //
        //        &::after {
        //            color: $color-neutral-white;
        //        }
        //    }
        //}

        //&.#{$vprefix}menu-item-active {
        //    a.#{$vprefix}menu-item-link {
        //        border-bottom: 2px solid $color-theme-base;
        //        color: $color-neutral-white;
        //    }
        //}
        //
        //&.#{$vprefix}menu-item-nav-next {
        //    border-top: 1px solid $color-standard-border;
        //    border-bottom: 1px solid $color-standard-border;
        //}
        //
        //&.#{$vprefix}menu-item-nav-prev {
        //    border-bottom: 1px solid $color-standard-border;
        //}

        //ul {
        //    font-size: px-to-rem(14);
        //    line-height: px-to-rem(18);
        //    margin-left: -5px;
        //
        //    li {
        //        display: block;
        //        margin: 4px 0px 1px;
        //        padding: 0px 7px 0px 5px;
        //
        //        &:hover {
        //            background-color: $color-framework-gray-lighter;
        //        }
        //
        //
        //        //&.#{$vprefix}submenu-item-active {
        //        //    a {
        //        //        border-bottom: 2px solid $color-theme-base;
        //        //        color: $color-neutral-white;
        //        //        text-decoration: none;
        //        //    }
        //        //}
        //    }
        //}
    }
}
