.#{$vprefix}primary-menu-ct, .#{$vprefix}content-view {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    background-color: $color-neutral-white;
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 6px 0px;
    left: 0;
    opacity: 1;
    @include transition(transform 300ms ease-in-out, opacity 300ms ease-in-out);

    &.hidden {
        opacity: 0;
        transform-style: preserve-3d;
        transform: translateX(-300px);
        @include transition(transform 150ms ease-in-out, opacity 150ms ease-in-out);
    }

    .#{$vprefix}dashboard-body {
        background-color: $light-bg-gray !important;

        .#{$prefix}docked-noborder-top {
            overflow: auto;
        }
    }

    .#{$prefix}panel {
        box-shadow: none !important;
    }

    .#{$vprefix}expand-icon {

        @include icon-font($glyph-plus-circle);



        &:after {
            color: $dialog-border-color;
            display: inline;
            font-size: 13px;
            top: 2px;
            right: 0;
            left: auto;
            content: "\E904";
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }

    .#{$vprefix}collapsed-icon {

        @include icon-font($glyph-plus-circle);

        &:after {
            color: $dialog-border-color;
            display: inline;
            font-size: 13px;
            top: 2px;
            right: 0;
            left: auto;
            content: "\E904";
        }
    }

    .#{$vprefix}nav-sites::before {
        color: #333;
        content: "\E900" !important;
        display: block;
        font-family: mozicons !important;
        font-size: 16px;
        font-weight: normal !important;
        left: 0;
        line-height: 1.0;
        position: absolute;
        top: 0;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    .#{$vprefix}primary-menu-toolbar {
        background-color: $white-color;
        display: flex;
        justify-content: center;
        align-items: center;

        .tab {
            line-height: normal;
            text-transform: uppercase;
            font-size: 16px !important;
            font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
            letter-spacing: 1.25px;
            //color: rgba(0,0,0,.6);
            color: #656868;
            font-weight: 500;
            vertical-align: middle;
            cursor: pointer;
            padding: .96em 1em !important;
            height: 48px;

            &:active {
                background-color: $gray-border-color;
            }

            .fa-search:before {
                font-size: 18px !important;
                font-weight: 500;
            }
        }

        > .#{$prefix}box-inner {
            border-bottom: 1px solid $light-border-gray;
            overflow: visible;
        }

        & + .#{$prefix}panel-body-default {
            > .#{$prefix}box-layout-ct {
                padding-top: 13px;
            }

            .#{$prefix}box-item {
                &:last-child {
                    > span {
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }

    .#{$prefix}tab-bar-default-horizontal {
        background-color: $light-bg-gray;
        border: 0px;
        font-size: 13px;
        height: auto;
        padding: 10px;

        .#{$prefix}tab-bar-strip {
            border-color: $light-gray-border-color;
        }

        a.#{$prefix}tab {
            border: 1px solid $light-gray-border-color;
            box-shadow: none;
            text-shadow: none;

            &:nth-of-type(1) {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:nth-last-of-type(1) {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .#{$prefix}tab-wrap {
                border: 0px;
                padding: 0px;
            }

            .#{$prefix}tab-inner {
                color: $nav-element-text;
                font-size: 14px;
                line-height: 26px;
            }

            &.#{$prefix}tab-active {
                background-color: $valid-green;
                border-color: $valid-green;

                .#{$prefix}tab-inner {
                    color: $white-color;
                }
            }

            &:not(.#{$prefix}tab-active):hover {
                background-color: $white-color;

                .#{$prefix}tab-inner {
                    color: $nav-element-active;
                }
            }

            &:hover {
                background-color: inital;

                &:not(.#{$prefix}tab-active) {
                    color: $nav-element-active;
                }
            }
        }

        .#{$prefix}box-inner {
        }
    }
}

.#{$vprefix}primary-menu-mask {
    background-color: $light-bg;
    opacity: 0.9;
    @include transition(opacity 300ms ease-in-out);

    &.hidden {
        opacity: 0;
        @include transition(opacity 150ms ease-in-out);
    }
}

.#{$vprefix}primary-menu-logo {
    display: block;
    @include icon-font($glyph-mozulogo, 18px, $color-theme-base);
    width: 68px;

    &::after {
        left: auto;
        right: 10px;
        text-align: right;
        top: 1px;
        width: 100%;
    }
}

.#{$vprefix}primary-menu-heading {
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    margin-left: 0px; // override ext padding-left on higher div
    //padding-left: 20px;
    width: 316px !important;
    display: flex;
    align-items: center;
    color: $color-neutral-20;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    //letter-spacing: 0.5px;
    text-transform: none;
    cursor: pointer;
    padding: 12px 0;

    &:hover {

        span {
            text-decoration: underline;
        }
    }

    &.for-border-bottom {
        border-bottom: 1px solid #ccc;
    }

    &.main-menu-active {
        font-weight: bold;
        border-left: 4px solid;

        &.color-kibo-orange {
            border-color: $color-kibo-orange !important;

            i.color-kibo-orange {
                margin-left: 12px;
            }
        }

        &.color-kibo-purple {
            border-color: $color-kibo-purple !important;

            i.color-kibo-purple {
                margin-left: 12px;
            }
        }

        &.color-kibo-green {
            border-color: $color-kibo-green !important;

            i.color-kibo-green {
                margin-left: 12px;
            }
        }

        &.color-kibo-blue {
            border-color: $color-kibo-blue !important;

            i.color-kibo-blue {
                margin-left: 12px;
            }
        }
    }

    & + hr {
        border: none;
        background-color: #f5f5f5;
        color: #f5f5f5;
        height: 1px;
        margin-top: 0;
    }

    i.chevronicon {
        right: 20px !important;
        font-size: 14px;
        color: #656868;
    }

    i.chevronicon.fa-chevron-up {
        font-weight: bold;
    }

    i.menuicon {
        margin: 0 16px;
        font-size: 18px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        height: 24px;
        width: 24px;
        display: inline-block;

        &.color-kibo-lightpurple {
            color: #633095;
            font-weight: 900;
            margin: 0 11.36px 0 15px;
        }

        + span.color-kibo-lightpurple {
            color: #633095;
            font-weight: 500;
        }
    }

    i.chevronicon {
        position: absolute;
        right: 30px;
    }

    &.tenant-wrapper {
        display: flex;
        padding: 0 !important;
        align-items: center;
        height: 48px;

        span {
            letter-spacing: .5px;
            margin-left: 24px;
        }

        i.menuicon {
            display: none;
        }
    }
}

ul {
    padding-bottom: 20px;

    &:first-child {
    }

    &:last-child {
        //padding-bottom: 40px;
    }
}

li.#{$vprefix}menu-item {
    border-left: 4px solid transparent;
    cursor: pointer;
    //line-height: 20px;
    text-indent: -3px;
    padding: 6px 33px 7px 33px;

    &:hover, &.active {
        background-color: $nav-hover-bg;

        a {
            text-decoration: none;
        }
    }

    &:active {
        background-color: $dark-bg;
    }

    &.active {
        //border-left-color: $brand-active-color;
    }

    a {
        color: $dark-color;
        display: inline-block;
        padding-left: 25px;
        width: 100%;
        font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
        font-size: 16px;
        letter-spacing: 0.25px;
    }

    &.tenant-name-container {
        position: fixed;
        background: white;
        top: 160px;
        padding: 6px 33px 7px 22px;
        width: 320px;
        -webkit-box-shadow: 2px 6px 8px -8px rgba(0,0,0,0.35);
        -moz-box-shadow: 2px 6px 8px -8px rgba(0,0,0,0.35);
        box-shadow: 2px 6px 8px -8px rgba(0,0,0,0.35);


        a {
            font-weight: 600;
            padding-left: 4px;
        }
    }
}

.sidebarlogo {
    background: $brand-color;
    text-align: center;
    //background-image: url(Scripts/resources/images/kibo-icon.png);
    padding: 22px;

    .logoimg {
        min-height: 20px;
        background-image: url(images/kibo-logo-sidebar.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 107px 20px;
        /*img {
            height: 20px;
            width: 107px;
        }*/
    }
}

.close {
    color: white;
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    font-weight: 400;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
        color: white;
        position: absolute;
        left: 0;
        font-size: 1.5rem;
        font-weight: 400;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



ul.taco-primary-menu li.color-kibo-purple.active + .x-panel > label.taco-primary-menu-heading.color-kibo-purple {
    border-color: $color-kibo-purple;
    border-left: 3px solid;
}


/*.taco-primary-menu-heading + .color-kibo-green li.active {
    background: $color-kibo-green;
    border-color: $color-kibo-green;
}*/

.taco-primary-menu-ct .primary-nav-group > .x-box-inner {
    scrollbar-color: linear-gradient(left, #22ADD4, #1E98BA);
    scrollbar-width: thin;
}

.x-panel-body .x-box-inner::-webkit-scrollbar {
    width: 4px;
    margin-right:6px;
}

.x-panel-body .x-box-inner::-webkit-scrollbar-thumb:active {
    background: linear-gradient(left, #22ADD4, #1E98BA);
}

.x-panel-body .x-box-inner::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
}

.x-panel-body .x-box-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.38);
    margin-right: 6px;
}

.taco-primary-menu-ct .primary-nav-group .x-box-inner {
    overflow-y: scroll;
    padding: 0 6px 0 0;
    margin-top: 2px;
    width: 312px !important;
}
.taco-underline-tab-bar .tab.active {
    border-bottom-color: $brand-color !important;
    border-width: 0 0 2px !important;
    color: #306 !important;

    &:hover {
        color: #306 !important;
    }
}
.taco-primary-menu-ct .taco-primary-menu-toolbar .tab:active, .taco-content-view .taco-primary-menu-toolbar .tab:active {
    background-color: transparent !important;
}
.taco-underline-tab-bar .tab:hover {
    color:inherit !important;
}
.tenant-name-container {

    label.heading {
        margin-left: 0;
        width: 265px;
        display: block;
        color: #333;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        text-transform: none;
        cursor: pointer;
        padding: 12px 24px;

        i {
            position: absolute;
            right: 20px;
        }
    }

    span {
        border-left: 4px solid transparent;
        cursor: pointer;
        line-height: 24px;
        text-indent: -3px;
        padding: 4px 33px;
    }

    & + hr {
        border: none;
        background-color: #e9e9e9;
        height: 1px;
    }
}
.global-search-box {
    width: 90% !important;

    tr td.x-form-item-body {
        top: 0 !important;
    }

    .x-form-trigger-wrap {
        width: 100% !important;
    }

    .x-form-trigger-wrap-focus .x-form-trigger-wrap {
        width: 100% !important;
    }

    input {
        width: 270px !important;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: #f6f6f6;
        padding: .429em;

        &:focus {
            border-color: #007ad9 !important;
        }
    }

    .x-field-form-focus {
        box-shadow: none !important;
    }
    
    .x-panel input.x-form-text {
        left: -4px;
        border-radius: 4px;
    }
}
.taco-primary-menu-heading span {
    letter-spacing: .25px;
    font-weight: normal;
}
i.usericon {
    font-weight: 600;
    width: 18px !important;
    height: 18px !important;
    border-radius: 50%;
    background: #2B2B2B;
    text-align: center !important;
    color: #FAFAFA;
    align-items: center;
    justify-content: center;
    padding: 3px 0 0 0 !important;
    font-size: 13px !important;
    margin: 0 17px !important;
}
.search-container {

    .x-box-target {
        top: 8px;
    }

    .x-box-inner {
        height:45px !important;
    }

}
.main-menu-switchToClassic {
    height: 36px;
    line-height: 24px;
    align-items: flex-start;
    padding: 0;
    background: #fafafa;

    span {
        font-weight: bold !important;
    }
}

.action-panel-wrapper {
    max-height: 80px !important;
    overflow: visible;
    background: #fafafa;

    a.taco-primary-menu-item-link {
        padding-left: 23px;
        font-weight: bold;
    }
}