.#{$vprefix}secondary-nav {
    .#{$prefix}btn {
        border: none;
        background-color: $white-color;
    }

    .tenant-name {
        top: 10px !important;
        margin-right: 10px;
        z-index: 1
    }

    .x-btn .x-btn-inner-center {
        color: white;
        font-size: 12px;
    }


    .switch-button-primary {
        background-color: #bb6e9c;
        background-image: none;

        &:hover {
            text-decoration: none !important;
        }
    }

    .switch-button-secondary {
        background-color: #2ea195;
        background-image: none;

        &:hover {
            text-decoration: none !important;
        }
    }
    .help-button {
        padding: 10px 11px 8px;
        top: -2px !important; //override EXT JS positioning
        .#{$prefix}btn-inner {
            color: $kibo-light-gray;
            padding-right: 0;
            position: relative;
            left: 1px;
        }
    }

    .global-search-box .x-form-field {
        border: 0px !important;
    }

    .search-button {
        background-color: $kibo-black;
        top: 1px !important;
        height: 30px;
        width: 30px;

        &:active {
            background-color: $kibo-black;
        }

        &.is-active {
            background-color: $white-color;
            border-radius: 0px;
            margin-left: 5px !important;

            .#{$prefix}btn-wrap::after {
                color: $kibo-black;
                left: -1px;
            }
        }

        .#{$prefix}btn-wrap {
            @include icon-font($glyph-magnifying-glass, 16px, $kibo-light-gray);

            &::after {
                left: -6px;
                top: 0px;
            }
        }
    }
}
