.#{$vprefix}secondary-nav {
    .#{$prefix}btn {
        border: none;
        background-color: $white-color;
    }

    .tenant-name {
        top: 10px !important;
        margin-right: 10px;
        z-index: 1
    }



    .help-button {
        padding: 10px 11px 8px;
        top: -2px !important; //override EXT JS positioning
        .#{$prefix}btn-inner {
            color: $kibo-light-gray;
            padding-right: 0;
            position: relative;
            left: 1px;
        }
    }

    .global-search-box .x-form-field {
        border: 0px !important;
    }

    .search-button {
        background-color: $kibo-black;
        top: 1px !important;
        height: 30px;
        width: 30px;

        &:active {
            background-color: $kibo-black;
        }

        &.is-active {
            background-color: $white-color;
            border-radius: 0px;
            margin-left: 5px !important;

            .#{$prefix}btn-wrap::after {
                color: $kibo-black;
                left: -1px;
            }
        }

        .#{$prefix}btn-wrap {
            @include icon-font($glyph-magnifying-glass, 16px, $kibo-light-gray);

            &::after {
                left: -6px;
                top: 0px;
            }
        }
    }
}

.taco-primary-menu-heading.color-kibo-purple:hover, li.color-kibo-purple:hover {
    &.main-menu-switchToClassic:hover {
        background-color: transparent !important;
        span {
            text-decoration:none;
        }
    }
    
    background-color: $color-kibo-purple-light ;

    a {
        text-decoration: underline;
    }
}

.taco-primary-menu-heading.color-kibo-green:hover, li.color-kibo-green:hover {
    background-color: $color-kibo-green-light !important;

    a {
        text-decoration: underline;
    }
}

.taco-primary-menu-heading.color-kibo-blue:hover, li.color-kibo-blue:hover {
    background-color: $color-kibo-blue-light !important;

    a {
        text-decoration: underline;
    }
}

.taco-primary-menu-heading.color-kibo-orange:hover, li.color-kibo-orange:hover {
    background-color: $color-kibo-orange-light !important;

    a {
        text-decoration: underline;
    }
}

li.color-kibo-purple.active {
    &:hover {
        background-color: $color-kibo-purple-light !important;
    }

    background-color: transparent !important;
    border-color: $color-kibo-purple !important;

    a {
        font-weight: bold;
        //text-decoration: underline;
    }
}

li.color-kibo-green.active {
    &:hover {
        background-color: $color-kibo-green-light !important;
    }

    background-color: transparent !important;
    border-color: $color-kibo-green !important;

    a {
        font-weight: bold;
        //text-decoration: underline;
    }
}

li.color-kibo-blue.active {
    &:hover {
        background-color: $color-kibo-blue-light !important;
    }

    background-color: transparent !important;
    border-color: $color-kibo-blue !important;

    a {
        font-weight: bold;
        //text-decoration: underline;
    }
}

li.color-kibo-orange.active {
    &:hover {
        background-color: $color-kibo-orange-light !important;
    }

    border-color: $color-kibo-orange !important;
    //background-color: $color-kibo-orange-light !important;
    background-color: transparent !important;

    a {
        font-weight: bold;
        //text-decoration: underline;
    }
}

li[class ^= 'color-kibo'] {
    &:hover {
        a {
            text-decoration: underline;
        }
    }

    &.active {
        a {
            text-decoration: underline;
        }
    }

    a {
        font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
        font-size: 16px;
    }
}
