<div class="col-md-12 sidebar quote-location-sub-header">
    <div class="row">
        <div class=" heading col-md-2 col-xs-2 col-sm-2">
            <a [routerLink]="" (click)="gotoLocationGroupList()">
                <h4 class="forlineheight">{{'SHARED.HEADER.pageTitle.locationGroups' | translate }}</h4>
            </a>
        </div>
        <div class=" heading col-md-2 col-xs-2 col-sm-2" *ngIf="model.isConfigTabVisible" [class.tab-active]="model.isShowLocationGroupTabActive">
            <a [routerLink]="" (click)="gotoLocationGroupEdit()">
                <h4 class="forlineheight">{{model.locationGroupName}}</h4>
            </a>
        </div>
        <div class=" heading col-md-2 col-xs-2 col-sm-2" *ngIf="model.isConfigTabVisible" [class.tab-active]="!model.isShowLocationGroupTabActive">
            <a [routerLink]="" (click)="gotoLocationGroupConfig()">
                <h4 class="forlineheight">{{'SHARED.HEADER.pageTitle.locationConfigs' | translate }}</h4>
            </a>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-8" *ngIf="!model.isEditMode && !model.isConfigTabVisible">
            <button type="button" class="sbbtn btn btn-success pull-right" (click)="showCreateLG()">{{'SHARED.HEADER.actionButtons.locationGroups.create' | translate}}</button>
        </div>
        <div [ngClass]="{
            'col-md-10 col-sm-9 col-xs-9 pull-right':!model.isConfigTabVisible,
            'col-md-6 col-sm-4 col-xs-4 pull-right':model.isConfigTabVisible
            }">
            <div class="pull-right">
                <button type="button" class="btn cancelbtn" (click)="cancelCreateLG()" *ngIf="model.isEditMode">{{'SHARED.HEADER.actionButtons.locationGroups.cancel' | translate}}</button>
                <progress-button (buttonClick)="saveCreateLG()" *ngIf="model.isEditMode" label="{{'SHARED.HEADER.actionButtons.locationGroups.save' | translate}}" class="location-save-btn">jfk</progress-button>
            </div>
        </div>
    </div>
</div>