.heading{
    display: inline-block;
    height: 100%;
    border-right: 1px solid #f5f5f5;
    padding-right: 15px;
    
}
.searchBar{
    display: inline-block;
    width: 90%;
    padding: 0px 15px;
    
}

.cancelbtn{
    margin-right: 10px; 
}

@media screen and (max-width: 480px) {
    .heading {
        border-right: 0px solid transparent;
    }
}
.sbbtn{background:#2ea195}
.sbbtn:visited{ border-color:#2ea195;border-color:#299086;}
.sbbtn:focus,.sbbtn:active{
    background-color: #299086;
    opacity: 1;border-color:#299086;
    outline: none !important;
}
.sbbtn:hover{ border-color:#2ea195; opacity: .8;}
@media screen and (min-width: 768px) {
.forlineheight{ line-height: 2.3}
.sbbtn{margin-right:35px }
}