.#{$vprefix}window.advanced-filter {
    border: 1px solid $dialog-border-color;
    border-radius: 4px;
    padding-bottom: 15px;

    @include outer-shadow(0.34, 14px, 0, 1px);
    .#{$prefix}window-header-dialog {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 8px;
        .#{$prefix}window-header-text-container-dialog {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            color: $dark-color;
            padding-top: 2px;
        }
        .#{$prefix}tool {
            opacity: 0.35;
            .#{$prefix}tool-close {
                @include icon-font($glyph-close, 20px);
                width: 32px;
                height: 33px;
                &:active {
                    background-color: $advanced-filter-icon-active;
                    border-radius: 4px;
                }
                &::after {
                    line-height: 33px;
                    width: 32px;
                    text-align: center;
                }
            }
            &.#{$prefix}tool-over {
                opacity: 1;
            }
        }
    }

    .#{$prefix}window-body-dialog {
        border-color: $advanced-filter-inside-border;
    }

    .#{$vprefix}window-action-toolbar {
        padding-top: 15px;
        .#{$prefix}btn-action-primary-toolbar-medium {
            border: none;
            background-color: $valid-green;
            .#{$prefix}btn-inner-center {
                font-size: 16px;
                color: $white-color;
            }
            &:hover {
                background-color: $valid-green-active;
            }
        }
        .#{$vprefix}link-button {
            background-color: transparent;
            padding: 0 8px;
            line-height: 40px;
            border-bottom: none;
            .#{$prefix}btn-inner {
                padding: 0;
            }
        }
    }
}

.#{$vprefix}quickfilter-bar.website {
    //background-color: $card-button-bg;
    height: 34px;


    .#{$prefix}trigger-cell {
        background-color: $card-button-bg;
        left: 0px;
        width: 21px;
    }

    .#{$prefix}form-trigger-input-cell {

        .#{$prefix}form-field {
            background-color: $card-button-bg;
            border: none;
            box-shadow: none;
            font-size: 12px;
            font-weight: 300;
            text-indent: 14px;
            height: 28px;
            left: -60px;
            margin-top: 1px;
        }
    }

    .#{$prefix}form-search-trigger {
        &::after {
            font-size: 13px;
            top: 6px;
        }
    }
}

.#{$vprefix}filtercontainer, .#{$vprefix}quickfilter-bar {
    height: 40px;
    top: 10px;
    padding-left: 10px;

    .#{$prefix}trigger-cell {
        position: absolute;
        top: 5px;
        left: 10px;
    }

    .#{$prefix}form-trigger-input-cell {
        position: absolute;
        left: 40px;
        text-indent: 40px;
        top: 4px;

        .#{$prefix}form-field {
            font-size: 18px;
            font-weight: 300;
            border: none;
            box-shadow: none;
        }

        input {
            &.#{$prefix}form-field {
                left: -40px;
                overflow: hidden;
                padding-right: 40px;
                text-overflow: ellipsis;
            }
        }
    }

    .advanced-search-button {
        border: none;
        border-right: 1px solid $advanced-filter-icon-active;
        border-radius: 0;
        background-color: inherit;
        padding: 0;
        &:hover {
            border-right-color: $advanced-filter-icon-active;
        }
        &:active {
            background-color: $advanced-filter-icon-active;
            border-radius: 4px;
        }
        .#{$prefix}btn-wrap {
            opacity: 0.35;
            &:hover {
                opacity: 1;
            }
            @include icon-font($glyph-filter-list, 22px, $dark-color);
            &::after {
                line-height: 40px;
                text-align: center;
                width: 48px;
                height: 40px;
            }
        }
    }

    // text: #DDDDDD not hovered, #B3B3B3 hovered, #999999 focused placeholder, #3F3F3F focused text
    // icon: #D6D6D6 not hovered, #A3A3A3 hovered, #838383 focused placeholder, #838383 focused text
    .#{$vprefix}quickfilter {
        .#{$prefix}form-item-body {
            input {
                color: $filter-text-focus;
                @include placeholder-color($filter-text-inactive);
            }

            .#{$prefix}form-trigger-wrap {
                position: relative;
                top: 3px;
            }

            .#{$prefix}trigger-cell {
                .#{$prefix}form-trigger::after {
                    color: $filter-icon-inactive;
                }
            }
            &.#{$prefix}form-trigger-wrap-focus {
                input {
                    color: $filter-text-focus;
                    @include placeholder-color($filter-text-focus-placeholder);
                }
                .#{$prefix}trigger-cell {
                    .#{$prefix}form-trigger::after {
                        color: $filter-icon-focus;
                    }
                }
            }
        }
    }
    .#{$vprefix}quickfilter-over {
        .#{$prefix}form-item-body {
            input {
                color: $filter-text-hover;
                @include placeholder-color($filter-text-hover);
            }
            .#{$prefix}trigger-cell {
                .#{$prefix}form-trigger::after {
                    color: $filter-icon-hover;
                }
            }
        }
    }
}

.#{$vprefix}draft-toolbar {
    .#{$vprefix}filtercontainer {
                
        .#{$prefix}form-trigger-input-cell {
            top: 3px;

            .#{$prefix}form-field {
                font-size: 16px;
            }
        }
        .#{$prefix}trigger-cell {
            top: 3px;
        }
        .#{$vprefix}quickfilter {
            .#{$prefix}form-item-body {
                top: 2px;
                
                .#{$prefix}form-trigger-wrap {
                    position: relative;
                    top: 0px;
                }
            }


            .#{$prefix}form-trigger {
                height: 30px;
                background-color: $white-color;
                &::after {
                    padding-top: 4px;
                }
                &.#{$prefix}form-clear-trigger::after {
                    top: 3px;
                }
            }
        }
    }
}