.#{$vprefix}window.advanced-filter {
    border: 1px solid $dialog-border-color;
    border-radius: 4px;
    @include outer-shadow(0.34, 14px, 0, 1px);
    .#{$prefix}window-header-text-container-dialog {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: $dark-color;
    }
}

.#{$vprefix}filtercontainer {
    .#{$vprefix}quickfilter {
        .#{$prefix}form-item-body {
            opacity: 0.33;
            &.#{$prefix}form-trigger-wrap-focus {
                opacity: 1.0;
            }
        }
    }
}

.#{$vprefix}filtercontainer-over {
    .#{$vprefix}quickfilter {
        .#{$prefix}form-item-body {
            opacity: 0.74;
            &.#{$prefix}form-trigger-wrap-focus {
                opacity: 1.0;
            }
        }
    }
}
