// form navigation

.#{$vprefix}form-nav {
    background-color: $color-framework-gray-lighter;
    border-bottom: 1px solid $light-border-gray;
    border-bottom-width: 1px !important;
    outline: 0px none;
    //padding: 19px 39px;
    //width: 180px;
    z-index: 99;

    &.#{$vprefix}fixed-navForm2 {
        position: fixed !important;
        padding: 0 20px;
        min-width: 100%;
        @include color-blur-outer-shadow ($black-color, 0.09, 0, 1px, 3px, 0);
        border-bottom: 1px solid $sticky-nav-border-color !important;
    }

    &.#{$vprefix}fixed-navForm2-no-padding {
        position: fixed !important;
    }

    li {
        border-bottom: 2px solid transparent;
        cursor: pointer;
        line-height: px-to-rem(20);
        padding: 8px 15px;
        float: left;
        @include transition(color 0.2s, border-color 0.2s);

    }
}