// form navigation

  .#{$vprefix}form-nav {
    background-color: $color-framework-gray-lighter;
    border: 1px solid $color-standard-border;
    outline: 0px none;
    //padding: 19px 39px;
    //width: 180px;
    z-index: 500;

    &.taco-relative-navForm2 {
      position: relative !important;
      overflow: auto;
    }
    &.taco-fixed-navForm2 {
      position: fixed !important;
      width: 100% !important;
      padding: 0 20px;
    }

    li {
      border-bottom: 2px solid transparent;
      cursor: pointer;
      line-height: px-to-rem(20);
      padding: 8px 15px;
      float: left;
      @include transition(color 0.2s, border-color 0.2s);

    }
  }  

