.mz-breadcrumb-wrap {
	color:{{themeSettings.breadcrumbColor}};
	padding-bottom: 10px;
	width: 660px;
	font-size: 11px;
    .mz-breadcrumb {
	color:{{themeSettings.breadcrumbColor}};
	&:visited {
		color:{{themeSettings.breadcrumbColor}};
	}
	&:hover {
		text-decoration: none;
	}
    &.mz-breadcrumb-active {
        font-weight: bold;
    }
   } 
}