.mz-breadcrumb-wrap {
	color:{{themeSettings.breadcrumbColor|settingtype:"color"|default:"#555555"|description:'Breadcrumb Color'}};
	font-size: 11px;
	padding-bottom: 10px;
	width: 660px;}
.mz-breadcrumbs {
	font-size: 11px;
	color:{{themeSettings.breadcrumbColor}};
	&:visited {
		color:{{themeSettings.breadcrumbColor}};
	}
	&:hover {
		text-decoration: none;
	}
}