@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);
@errorIcon:				  "/resources/images/error-exclamation.png";
@columnWidth-2col:			  435px;

@gutter:				  {{themeSettings.gutterWidth}};
@inputBorder:			  #a7a7a7;