// define variables before the ext base theme defines them

// Import all the image sprites first
@import 'taco/sprites';

// Import all the colors 
@import 'taco/colors';
$color: $color-neutral-20;

// set some variables to limit IE compilation
$supports-gradients: true;

// Fonts

$font-family: "MyriadWebProRegular",helvetica,arial,verdana,sans-serif;

$font-page-title: bold 30px $font-family;
$font-section-title: bold 24px $font-family;
$font-main-instructions: bold 18px $font-family;
$font-navigation-labels: bold 16px $font-family;
$font-message: italic 14px $font-family;
$font-control-label: bold 14px $font-family;
$font-body-copy: normal 14px $font-family;
$font-body-copy-small: normal 12px $font-family;

// Panels

$panel-frame-padding: 0px !default;