// define variables before the ext base theme defines them

/* IMPORTS */

@import 'taco/sprites';
@import 'taco/colors';

/* FUNCTIONS */

@function px-to-rem ($px) {
  @return $px/($px * 0 + 1) * 0.1rem;
}
@function border-for ($color) {
  @return adjust-color($color, $red: -51, $green: -51, $blue: -51);
}

/* VARIABLES */

// limit IE compilation
$supports-gradients: true;

// colors and fonts
$color: $color-neutral-20;
$font-size: px-to-rem(16);

//$font-family: "SourceSansProRegular", "MyriadWebProRegular", helvetica, arial, verdana, sans-serif;
$font-family: "MyriadWebProRegular", helvetica, arial, verdana, sans-serif;

$font-page-title: bold 30px $font-family;
$font-section-title: bold 24px $font-family;
$font-main-instructions: bold 18px $font-family;
$font-navigation-labels: bold 16px $font-family;
$font-message: italic 14px $font-family;
$font-control-label: bold 14px $font-family;
$font-body-copy: normal 14px $font-family;
$font-body-copy-small: normal 12px $font-family;

// panels
$panel-frame-padding: 0px !default;