/* BUTTON UI DEFINITIONS */

$ui-link:
    'link',                         // 1. name
    $color-action-foreground,       // 2. text color
    $color-neutral-transparent,     // 3. background color, normal state
    $color-neutral-transparent,     // 4. background color, hover state
    $color-neutral-transparent,     // 5. background color, active state
    $color-action-outline,          // 6. border color, normal state
    $color-action-outline-hover,    // 7. border color, hover state
    $color-action-outline-active,   // 8. border color, active state
    0px,                            // 9. border width
    10px,                           // 10. left padding
    26px                            // 11. arrow width
;

$ui-action:
    'action',
    $color-action-foreground,
    $color-action-background,
    $color-action-background-hover,
    $color-action-background-active,
    $color-action-outline,
    $color-action-outline-hover,
    $color-action-outline-active,
    1px,
    19px,
    38px
;

$ui-action-primary:
    'action-primary',
    $color-action-primary-foreground,
    $color-action-primary-background,
    $color-action-primary-background-hover, 
    $color-action-primary-background-active,
    $color-action-primary-outline,
    $color-action-primary-outline-hover,
    $color-action-primary-outline-active,
    1px,
    19px,
    38px
;

$ui-action-toggle:
    'action-toggle',
    $color-action-primary-foreground,
    green,
    $color-action-primary-background-hover,
    red,
    $color-action-primary-outline,
    $color-action-primary-outline-hover,
    $color-action-primary-outline-active,
    1px,
    19px,
    38px
;

$uis: $ui-link, $ui-action, $ui-action-primary, $ui-action-toggle;

@each $ui-name in $uis {
    @each $ui-name-variant in nth($ui-name, 1), nth($ui-name, 1) + '-toolbar' {
        @include extjs-button-ui(
            $ui: '#{$ui-name-variant}-medium',

            $border-radius: 0px,

            $border-width: nth($ui-name, 9),

            $border-color: nth($ui-name, 6),
            $border-color-over: nth($ui-name, 7),
            $border-color-focus: nth($ui-name, 7),
            $border-color-pressed: nth($ui-name, 8),
            $border-color-disabled: nth($ui-name, 6),

            $padding: 7px 1px 5px nth($ui-name, 10),
            $text-padding: 19px 0px 0px,

            $background-color: nth($ui-name, 3),
            $background-color-over: nth($ui-name, 4),
            $background-color-focus: nth($ui-name, 4),
            $background-color-pressed: nth($ui-name, 5),
            $background-color-disabled: nth($ui-name, 3),

            $background-gradient: null,
            $background-gradient-over: null,
            $background-gradient-focus: null,
            $background-gradient-pressed: null,
            $background-gradient-disabled: null,

            $color: nth($ui-name, 2),
            $color-over: nth($ui-name, 2),
            $color-focus: nth($ui-name, 2),
            $color-pressed: nth($ui-name, 2),
            $color-disabled: nth($ui-name, 2),

            $font-size: 16px,
            $font-size-over: 16px,
            $font-size-focus: 16px,
            $font-size-pressed: 16px,
            $font-size-disabled: 16px,

            $font-weight: normal,
            $font-weight-over: normal,
            $font-weight-focus: normal,
            $font-weight-pressed: normal,
            $font-weight-disabled: normal,

            $font-family: $font-family,
            $font-family-over: $font-family,
            $font-family-focus: $font-family,
            $font-family-pressed: $font-family,
            $font-family-disabled: $font-family,

            $icon-size: 16px,
            $glyph-color: nth($ui-name, 2),
            $glyph-opacity: 1,
            $arrow-width: nth($ui-name, 11),
            $arrow-height: 16px,
            $split-width: 28px,
            $split-height: 16px,
            $include-ui-menu-arrows: $button-include-ui-menu-arrows,
            $include-ui-split-arrows: $button-include-ui-split-arrows,
            $include-split-noline-arrows: false,
            $include-split-over-arrows: $button-include-split-over-arrows,
            $opacity-disabled: 0.4,
            $inner-opacity-disabled: 1
        );
    }
}

/* BUTTON UI RULES */

// ui: link

.#{$prefix}btn-link-medium {
    text-decoration: none !important;
    @include box-shadow(inset 0px -1px transparent);
    @include transition-duration(0.3s);
    @include transition-property(background, border, box-shadow, color, text-shadow, transform);
    @include transition-timing-function(ease-in-out);

    .#{$prefix}btn-arrow-right,
    .#{$prefix}btn-split-right {
        background-image: none;
        @include icon-font($glyph-arrowdown, 16px, $color-action-foreground);
        height: auto;
        width: auto;
    }

    .#{$prefix}btn-arrow-right {
        &::after {
            left: auto;
            right: 5px;
        }
    }

    .#{$prefix}btn-split-right {
        &::after {
            height: 21px;
            left: auto;
            padding-top: 7px;
            right: -1px;
            text-align: center;
            top: -7px;
            width: 28px;
        }
    }
}

// ui: link-toolbar

.#{$prefix}btn-link-toolbar-medium {
    @extend .#{$prefix}btn-link-medium;
}

// ui: action

.#{$prefix}btn-action-medium {
    @extend .#{$prefix}btn-link-medium;

    @include border-radius(2px);

    .#{$prefix}btn-split-right {
        &::after {
            border-left: 1px solid $color-action-outline;
            width: 27px;
        }
    }
}

.#{$prefix}btn-action-medium-over {
    @include box-shadow(inset 0px -1px $color-action-outline-hover);
}

// ui: action-toolbar

.#{$prefix}btn-action-toolbar-medium {
    @extend .#{$prefix}btn-action-medium;
}

.#{$prefix}btn-action-toolbar-medium-over {
    @extend .#{$prefix}btn-action-medium-over;
}

// ui: action-primary

.#{$prefix}btn-action-primary-medium {
    @extend .#{$prefix}btn-action-medium;

    .#{$prefix}btn-arrow-right,
    .#{$prefix}btn-split-right {
        &::after {
            color: $color-action-primary-foreground;
        }
    }

    .#{$prefix}btn-split-right {
        &::after {
            border-left-color: $color-action-primary-outline;
        }
    }

    .#{$prefix}btn-inner {
        text-shadow: 1px 1px transparentize($color-neutral-black, 0.75);
    }
}

.#{$prefix}btn-action-primary-medium-over {
    @include box-shadow(inset 0px -1px $color-action-primary-outline-hover);
}

// ui: action-primary-toolbar

.#{$prefix}btn-action-primary-toolbar-medium {
    @extend .#{$prefix}btn-action-primary-medium;
}

.#{$prefix}btn-action-primary-toolbar-medium-over {
    @extend .#{$prefix}btn-action-primary-medium-over;
}

// ui: action-toggle
.#{$prefix}btn-action-toggle-medium-over, 
.#{$prefix}btn-action-toggle-medium-focus {
    border-color: green;
    background-color: green;
}

.#{$prefix}btn-action-toggle-medium-pressed{
    &.#{$prefix}btn-action-toggle-medium-focus{
        background: red;
    }
    &.#{$prefix}btn-action-toggle-medium-over{
        background: red; 
    }
}