.#{$vprefix}splitcontainer {
    .#{$vprefix}splitcontainer-splitter {
        overflow: visible;
        z-index: 2;

        .#{$prefix}layout-split-left {
            display: none;
        }

        @include icon-font($glyph-splitter, 22px, $splitter-text);
        &::after {
            @include facade-transitions;
            top: 50%;
            margin-top: 1px;
            width: 4px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            left: 0;
            background-color: $splitter-background;
            opacity: 0.5;
        }

        &:hover {
            &::after {
                color: $splitter-hover;
            }
        }

        &.#{$vprefix}split-hover {
            &::after {
                opacity: 1;
            }
        }
    }

    .#{$vprefix}splitcontainer-panel {
        overflow: visible;

        .#{$vprefix}splitcontainer-collapsetool {
            overflow: visible;

            @include icon-font($glyph-arrow-left, 12px, $splitter-text);

            &::after {
                @include facade-transitions;
                width: 22px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                top: 50%;
                border: 1px solid $splitter-border;
                background-color: $splitter-background;
                cursor: pointer;
                opacity: 0.5;
            }

            &:hover {
                &::after {
                    color: $splitter-hover;
                }
            }

            &.#{$vprefix}split-hover {
                &::after {
                    opacity: 1;
                }
            }

            &.#{$prefix}component-docked-right {
                &::after {
                    border-right-style: none;
                    border-top-left-radius: 100px;
                    border-bottom-left-radius: 100px;
                    left: -6px;
                }
            }

            &.#{$prefix}component-docked-left {
                &::after {
                    content: $glyph-arrow-right;
                    border-left-style: none;
                    border-top-right-radius: 100px;
                    border-bottom-right-radius: 100px;
                    left: -4px;
                }
            }

            .no-background-splitter & {
                background-color: transparent;
            }
        }
    }
}
