.#{$vprefix}splitcontainer {
    .#{$vprefix}splitcontainer-splitter {
        overflow: visible;
        z-index: 2;
        background-color: $light-bg;

        .#{$prefix}layout-split-left {
            display: none;
        }

        @include icon-font($glyph-splitter, 22px, $splitter-text);
        &::after {
            @include facade-transitions;
            top: 50%;
            width: 8px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            left: 0;
            border: 1px solid $splitter-border;
            border-right-width: 0;
            border-left-width: 0;
            background-color: $splitter-background;
            opacity: 0.5;
        }

        &:hover {
            &::after {
                color: $splitter-hover;
            }
        }

        &.#{$vprefix}split-hover {
            &::after {
                opacity: 1;
            }
        }

        &.#{$vprefix}split-drag {
            &::after {
                opacity: 0;
            }
        }
    }

    .#{$vprefix}splitcontainer-panel {
        overflow: visible;

        .#{$vprefix}splitcontainer-collapsetool {
            overflow: visible;
            background-color: $light-bg;

            @include icon-font($glyph-arrow-left, 12px, $splitter-text);

            &::after {
                @include facade-transitions;
                width: 18px;
                height: 36px;
                line-height: 36px;
                text-align: center;
                top: 50%;
                border: 1px solid $splitter-border;
                background-color: $splitter-background;
                cursor: pointer;
                opacity: 0.5;
            }

            &:hover {
                &::after {
                    color: $splitter-hover;
                }
            }

            &.#{$vprefix}split-hover {
                &::after {
                    opacity: 1;
                }
            }

            &.#{$vprefix}split-drag {
                &::after {
                    opacity: 1;
                    width: 22px;
                }
                &.#{$prefix}component-docked-right,
                &.#{$prefix}component-docked-left {
                    &::after {
                        text-align: left;
                        text-indent: 4.5px;
                    }
                }
                &.#{$prefix}component-docked-left {
                    &::after {
                        text-indent: 8.5px;
                        left: -4px;
                    }
                }
            }

            &.#{$prefix}component-docked-right {
                &::after {
                    border-right-style: none;
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                    left: -15px;
                }
            }

            &.#{$prefix}component-docked-left {
                &::after {
                    content: $glyph-arrow-right;
                    border-left-style: none;
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                }
            }

            .no-background-splitter & {
                background-color: transparent;
            }
        }
    }
}
