<div class="col-md-12 comments-container">
  <p>
    <strong> {{'QUOTES.Quote.Negotiation.TabContent.Comments.createdDate' | translate }} </strong>
  </p>
  <p>
    {{'QUOTES.Quote.Negotiation.TabContent.Comments.message' | translate }}
  </p>
  <div class="separator"></div>

  <div class="form-group">
    <label for="comment">{{'QUOTES.Quote.Negotiation.TabContent.Comments.addCommentLabel' | translate }}</label>
    <textarea class="form-control" rows="4" id="comment"></textarea>
  </div>

</div>