@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 400;
  src: url('/resources/fonts/rambla-regular-webfont.eot');
  src: url('/resources/fonts/rambla-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/rambla-regular-webfont.woff') format('woff'),
       url('/resources/fonts/rambla-regular-webfont.ttf') format('truetype'),
       url('/resources/fonts/rambla-regular-webfont.svg') format('svg');
}
@font-face {
  font-family: 'Rambla';
  font-style: normal;
  font-weight: 700;
  src: url('/resources/fonts/rambla-bold-webfont.eot');
  src: url('/resources/fonts/rambla-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/rambla-bold-webfont.woff') format('woff'),
       url('/resources/fonts/rambla-bold-webfont.ttf') format('truetype'),
       url('/resources/fonts/rambla-bold-webfont.svg') format('svg');
}
@font-face {
  font-family: 'Rambla';
  font-style: italic;
  font-weight: 400;
  src: url('/resources/fonts/rambla-italic-webfont.eot');
  src: url('/resources/fonts/rambla-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/rambla-italic-webfont.woff') format('woff'),
       url('/resources/fonts/rambla-italic-webfont.ttf') format('truetype'),
       url('/resources/fonts/rambla-italic-webfont.svg') format('svg');
}
@font-face {
  font-family: 'Rambla';
  font-style: italic;
  font-weight: 700;
  src: url('/resources/fonts/rambla-bolditalic-webfont.eot');
  src: url('/resources/fonts/rambla-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/resources/fonts/rambla-bolditalic-webfont.woff') format('woff'),
       url('/resources/fonts/rambla-bolditalic-webfont.ttf') format('truetype'),
       url('/resources/fonts/rambla-bolditalic-webfont.svg') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'Rambla';
      font-style: normal;
      font-weight: 400;
      src: url('/resources/fonts/rambla-regular-webfont.svg') format('svg');
    }
    @font-face {
      font-family: 'Rambla';
      font-style: normal;
      font-weight: 700;
      src: url('/resources/fonts/rambla-bold-webfont.svg') format('svg');
    }
    @font-face {
      font-family: 'Rambla';
      font-style: italic;
      font-weight: 400;
      src: url('/resources/fonts/rambla-italic-webfont.svg') format('svg');
    }
    @font-face {
      font-family: 'Rambla';
      font-style: italic;
      font-weight: 700;
      src: url('/resources/fonts/rambla-bolditalic-webfont.svg') format('svg');
    }
}