
.mz-content-section {
	min-height: 400px;
	background: white;
	overflow: hidden;
	padding: 20px 30px;
	position: relative;

}
.homepagetext {
	margin: 20px 0;
	.box-column(2, 30px);
	line-height: 150%;
	&>p {
		margin-top: 0;
	}
}

.mz-image-wrap img {
	max-width: 100%;
	height: auto;
}