

/* Canopy Site Nav ------------------------------- */
.mz-utility-nav-wrap {
	float: right;
	clear: both;
	padding: 10px 20px;

}
.mz-utility-nav {	
	color: white;
	font-size: 11px;
}
.mz-utility-nav-item {
	float: left;
	margin: 0;
	padding: 0 10px;
	text-align: right;
}
.mz-utility-nav-item:last-child {
	padding-right: 0;
	text-align:right;
}

/* Main Site Nav ------------------------------- */
.mz-site-nav-wrapper {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0px;
	overflow: hidden;
	text-align: center;

	.mz-site-nav-item {
		display:inline-block;
		border-right: 1px solid #333;
		&:last-child {
			border-right: 0;
		}
	}
	.mz-site-nav-link {
		color: {{themeSettings.siteNavColorLevel1}};
		text-decoration: none;
		font: {{themeSettings.siteNavFontLevel1}};
		display: inline-block;
		padding: 5px 15px;
		position: relative;
		&:visited {
			color: {{themeSettings.siteNavVisitedColorLevel1}};
		}
		&:hover {
			
			color: {{themeSettings.siteNavHoverColorLevel1}};
			text-decoration: underline;
		}
	}

	.no-cssanimations .mz-site-nav-a:hover {
		text-decoration: underline;
	}

	.mz-site-nav-slideout {
		display:none
	}

	.mz-site-nav-sub {
		// TODO: complete nav
	}
}

.mz-site-nav-wrapper {
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index:3;

	.mz-site-nav-ul {
		display: table;
		margin: 0 auto;
		height: 24px;
	}
	.mz-site-nav-li {
		display: table-cell;
		border-right: 1px solid #333;
		vertical-align: middle;

	}
	.mz-site-nav-li:last-child {
		border-right: 0;
	}
	.mz-site-nav-a {
		color: {{themeSettings.siteNavColorLevel1}};
		text-decoration: none;
		font: {{themeSettings.siteNavFontLevel1}};
		display: inline-block;
		top: -3px;
		padding: 0 15px;
		position: relative;
		&:visited {
			color: {{themeSettings.siteNavVisitedColorLevel1}};
		}
	}
	.mz-site-nav-a:hover {
		color: {{themeSettings.siteNavHoverColorLevel1}};
		-webkit-animation: glowThrob 1s infinite;
		-moz-animation: glowThrob 1s infinite;
		-o-animation: glowThrob 1s infinite;
		animation: glowThrob 1s infinite;
	}
	.no-cssanimations .mz-site-nav-a:hover {
		text-decoration: underline;
	}
}


/* SubCategory List -------------- */
.mz-left-nav-wrap {
	background-color: #eee;
	padding: 10px;
}
.mz-left-nav-wrap {
}
.mz-category-subhead {
	margin-top: 0px;
}
.mz-category-list {
	overflow: hidden;
}
.mz-category-list-li {
	float: left;
	margin-right: 10px;
}
.mz-category-list-link {
	background: url(/Resources/Images/Bullet_SubCategory.gif) no-repeat !important;
	padding-left: 24px;
	color: #666666;
	font-weight: 700;
	&:visited {
		color: #666666;
	}
	&:hover {
		color: #333;
	}
}
.mz-category-list-sub {
	display: none;
}
.mz-category-list-sub {
	padding-left: 16px;
	margin-top: 5px;
}