.mz-sitefooter-wrap {
	background: black;
	font: {{themeSettings.siteFooterLinkFont}};
	padding: 10px;
	overflow: hidden;
	color: {{themeSettings.siteFooterColor}};
	font-size: 11px;
}
.mz-site-footer-li {
	float: left;
	margin-right: 30px;
}
.mz-site-footer-li:first-child{
	width: 200px;
}
.mz-site-footer-li:last-child{
	margin-right: 0;
}
.mz-site-footer-a, .mz-site-footer-a-L2, .mz-site-footer-a-L3 {
	color: {{themeSettings.siteFooterLinkColor}};
	text-decoration: none;
	font: {{themeSettings.siteFooterLinkFont}};
	&:visited {
		color: {{themeSettings.siteFooterVisitedLinkColor}};
		font: {{themeSettings.siteFooterLinkFont}};
	}
	&:hover {
		text-decoration: underline;
		color: {{themeSettings.siteFooterHoverLinkColor}};
		font:  {{themeSettings.siteFooterHoverLinkFont}};
	}
}
.mz-site-footer-a {
	display: block;
	text-transform: uppercase;
}
	.mz-site-footer-ul-L3 {
	padding-left: 15px;
	display: none;
}
.mz-content-section{
}
.mz-copyright-wrap {
	padding: 15px 0;
	text-align: center;
}
.mz-copyright-wrap {
	color: white;
	line-height: 130%;
}

