.mz-ordersummary {
    background: #eee;
    th {
        text-align: right;
        padding: @gutter/2;
        border-bottom: 1px solid #fff;
        &.mz-ordersummary-header-product {
            text-align: left;
        }
    }
    td {
        text-align: right;
        padding: @gutter/2;
        &.mz-ordersummary-item-product {
            text-align: left;
        }
    }
    .mz-ordersummary-totals{
        float: right;
    }
}
