// custom override of the date picker to add support for time 
.taco-datetime-picker-wrapper {

    .taco-datepicker-timerow {
        background-color:#fff;
        font-size:13px;
        padding-top:19px;
        text-align:right;

        input {			
            font-size:13px;
            padding-top: 4px;
            text-align:center;
            width:60px;			
        }

        .taco-label {
            font-weight:bold;
            padding-right:10px;
        }       
		
        // square up the left toggle button where it meets the right toggle button
        .taco-togglebtn-left {
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;			
            -moz-border-radius-bottomright: 0px;
            -moz-border-radius-topright: 0px;			
            -webkit-border-bottom-right-radius: 0px;
            -webkit-border-top-right-radius: 0px;
        }

        // square up the right toggle button where it meets the left toggle button
        .taco-togglebtn-right {
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;			
            -moz-border-radius-bottomleft: 0px;
            -moz-border-radius-topleft: 0px;			
            -webkit-border-bottom-left-radius: 0px;
            -webkit-border-top-left-radius: 0px;			
        }
		
		// squeezing out the extra padding from our standard buttons;
        .x-btn {
            padding: 7px 1px 5px 7px;

            .x-btn-inner {
                font-size:13px;
                padding: 0 7px 0px 0px;				
            }
        }						
    }

    .taco-datepicker-time {
        padding:10px 0px 10px 0px;
    }	
}



// this reworks the css for the standard calendar and the calendar with time row.
.x-datepicker {
    border:1px solid #b3b3b3 !important;
	border-width:1px !important;
	
	@include border-radius(2px);

	@include box-shadow(inset 0px -1px $color-action-outline-hover);

    padding: 9px 19px 9px 19px;	
    // adding the horizontal padding to the hard coded width defined in the theme;
    width: 215px; 
    
    .x-datepicker-footer {
        background:#ffffff;
        border-width:0px;
        padding-bottom:0px;		
        padding-top:10px;

        .x-btn {
            background:#fff;
            border:0px;			
        }

        .x-btn-inner {
            color:#3C86D2; // blue
            font-size:13px;
            font-weight:normal;
        }
    }	

    .x-datepicker-header {
        background:#fff;
        color:#000;
        padding-bottom:10px;

        .x-datepicker-prev {
            // todo: need to replace these images with ones that match the style guide
            //background-image: url(images/shared/left-btn.gif);
        }

        .x-datepicker-next {
            // todo: need to replace these images with ones that match the style guide
            //background-image: url(images/shared/right-btn.gif);
        }
    }	

    .x-datepicker-inner {
        border-collapse:collapse;
        border-style: hidden;
        
        .x-datepicker-cell {
            border-color:#e6e6e6;		
            text-align:center;

            .x-datepicker-date {
                font-size:13px;
                margin:0px;
                padding: 5px 4px 3px 4px;				
            }
        }

        .x-datepicker-column-header {
            background:#F2F2F2;
            border-color:#E6E6E6;
            border-width: 1px;
            font-size:13px;
            font-weight:bold;
            text-align:center;			

            .x-datepicker-column-header-inner {
                line-height:15px;
                margin:0px;
                padding: 7px 4px 4px 4px;
                
            }
        }
        
        .x-datepicker-selected .x-datepicker-date {
            background-color:#3C86D2; // blue
            color:#fff;
            font-weight:bold;
        }

        .x-datepicker-today {
            background-color:#ccc;
            color:#fff;
            font-weight:bold;
        }
    }	


    .x-datepicker-month {
        color:#000;
    
        .x-btn-inner {
            color: #000;
            font-size:13px;
        }
    }
}


// the month picker that displays when you click on the month and year in the title bar;
.x-monthpicker {    
    border-color:#ccc;
	border-width:1px;

    .x-monthpicker-body {}

    .x-monthpicker-buttons {
        background:#fff;
    }

    .x-monthpicker-months {
        border-color: #ccc;		
        margin-left:10px;		
        margin-top:9px;
        padding-right:10px;
        width: 97px;
    }

    .x-monthpicker-selected {}

    .x-monthpicker-years {		
        margin-top:9px;
        padding-left:10px;
        width: 98px;
    }	
}