.taco-ratelist{

	.rate-item{

		line-height:1.4em;

		.name{
		    font-size:1.2em;			
		}

		.amount{
			padding-left:10px;
			font-size:1.2em;
		    color: $color-theme-base-dark;
		}

		.type{}

		.countries{}

		.label{			
			padding-right:5px;
		}
	}
}