<div class="col-md-6 padding-none right-border">
  <div class="sub-heading">
    <span>{{'QUOTES.QuoteEdit.QuoteInformation.quoteInfoHeading' | translate }} {{quoteId}}</span>
  </div>
  <div class="section col-sm-12">
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.QuoteInformation.quoteName' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>Otto Thornton</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.QuoteInformation.status' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>Open</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.QuoteInformation.created' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>Apr 19, 2019, 9:40:43 AM</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.QuoteInformation.createdBy' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>Los Prince</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.QuoteInformation.expirationDate' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>May 19, 2019, 9:40:43 AM</span>
      </div>
    </div>
  </div>
</div>