
 

.#{$vprefix}customer-information {

    .#{$prefix}btn-link-medium {
        .#{$prefix}btn-inner {
            color: $color-standard-link;
        }
    }

    .#{$prefix}btn-action-medium {
        .#{$prefix}btn-inner {
            color: $color-framework-black;
        }
    }

    .customer-history td {
        text-align: center;

        h2 {
            margin: 10px;
        }
    }

    .no-field-padding .x-form-item-label-top {
        padding-top: 0 !important;
    }
}