$panel-body-background-color: $color-neutral-white;
$panel-body-border-color: border-for($panel-body-background-color);
$panel-body-font-size: inherit;
$panel-header-border-width: 0px;
$panel-header-inner-border: false;
$panel-header-padding: 0px;
$panel-frame-padding: 0px;