/* PANEL */
$panel-border-color: $color-neutral-75;
$panel-border-width: 1px;


/* PANEL HEADER */

$panel-header-background-color: $color-neutral-transparent;
$panel-header-background-gradient: null;

$panel-header-border-color: $panel-border-color;
$panel-header-border-width: 0px;
$panel-header-inner-border-color: $panel-border-color;
$panel-header-inner-border-width: 0px;

$panel-header-font-size: 24px;
$panel-header-font-weight: bold;
$panel-header-line-height: 30px;

$panel-header-padding: 0px;


/* PANEL BODY */
$panel-body-background-color: $color-neutral-transparent;
$panel-body-border-color: $panel-border-color;
$panel-body-border-width: 0px;


/* PANEL FRAME */
$panel-frame-padding: 0px;


/* UNUSED VARIABLES */

// $border-width-threshold
// $include-panel-default-framed-ui
// $include-panel-default-ui
// $panel-background-stretch-bottom
// $panel-background-stretch-left
// $panel-background-stretch-right
// $panel-background-stretch-top
// $panel-base-color
// $panel-body-background-color
// $panel-body-border-color
// $panel-body-border-style
// $panel-body-border-width
// $panel-body-color
// $panel-body-font-family
// $panel-body-font-size
// $panel-body-font-weight
// $panel-border-color
// $panel-border-width
// $panel-frame-background-color
// $panel-frame-base-color
// $panel-frame-body-border-width
// $panel-frame-border-color
// $panel-frame-border-radius
// $panel-frame-border-style
// $panel-frame-border-width
// $panel-frame-header-border-width
// $panel-frame-header-inner-border-color
// $panel-frame-header-inner-border-width
// $panel-frame-header-padding
// $panel-frame-padding
// $panel-ghost-opacity
// $panel-header-background-color
// $panel-header-background-gradient
// $panel-header-border-color
// $panel-header-border-style
// $panel-header-border-width
// $panel-header-color
// $panel-header-font-family
// $panel-header-font-size
// $panel-header-font-weight
// $panel-header-glyph-color
// $panel-header-glyph-opacity
// $panel-header-icon-background-position
// $panel-header-icon-height
// $panel-header-icon-spacing
// $panel-header-icon-width
// $panel-header-inner-border-color
// $panel-header-inner-border-width
// $panel-header-line-height
// $panel-header-padding
// $panel-header-text-padding
// $panel-header-text-transform
// $panel-include-border-management-rules
// $panel-tool-background-image
// $panel-tool-spacing
// $panel-wrap-border-color
// $panel-wrap-border-width