/* GRID BODY */
$grid-body-background-color: $color-neutral-white;
$grid-body-border-color: $color-standard-border;
$grid-body-border-style: solid;
$grid-body-border-width: 0px 1px 1px;


/* GRID CELLS */

// background
$grid-row-cell-background-color: $color-neutral-white;
$grid-row-cell-alt-background-color: darken($grid-row-cell-background-color, 4%);
$grid-row-cell-over-background-color: $color-neutral-95;
$grid-row-cell-selected-background-color: $color-selected;
$grid-cell-selected-background-color: $color-selected;

// border
$grid-row-cell-border-color: $color-neutral-95;
$grid-row-cell-border-style: solid;
$grid-row-cell-border-width: 1px;
$grid-row-cell-focus-border-color: $color-selected-border;
$grid-row-cell-focus-border-style: $grid-row-cell-border-style;
$grid-row-cell-over-border-color: $color-neutral-75;
$grid-row-cell-over-border-style: $grid-row-cell-border-style;
$grid-row-cell-selected-border-color: $color-selected-border;
$grid-row-cell-selected-border-style: $grid-row-cell-border-style;

$grid-no-row-lines-show-focus-border: false;

// font
$grid-row-cell-font-family: $font-family;
$grid-row-cell-font-size: 14px;
$grid-row-cell-font-weight: normal;
$grid-row-cell-line-height: 16px;

// size and position
$grid-cell-inner-padding: 9px 5px 5px 5px;


/* GRID SPECIAL CELLS */
$grid-cell-special-background-color: $grid-row-cell-background-color;
$grid-cell-special-background-gradient: null;
$grid-cell-special-over-background-color: $grid-row-cell-over-background-color;
$grid-cell-special-selected-background-color: $grid-row-cell-selected-background-color;

$grid-cell-special-border-color: $grid-row-cell-border-color;
$grid-cell-special-border-style: $grid-row-cell-border-style;
$grid-cell-special-border-width: 0px;


/* UNUSED VARIABLES */

// $grid-body-background-color
// $grid-cell-inner-text-overflow
// $grid-cell-selected-color
// $grid-empty-background-color
// $grid-empty-color
// $grid-empty-font-family
// $grid-empty-font-size
// $grid-empty-font-weight
// $grid-empty-padding
// $grid-resize-marker-background-color
// $grid-row-cell-color
// $grid-row-cell-focus-color
// $grid-row-cell-over-color
// $grid-row-cell-selected-color
