  .#{$vprefix}toolbox {
    .#{$prefix}toolbar-default {
      // background-color: $color-neutral-white;
      // border: 0px none;

      // .#{$vprefix}tabs {
      //   padding: 0.8rem;

      //   a {
      //     //margin: 0.3rem 0;
      //     padding: px-to-rem(5) px-to-rem(10);
      //     border: 0.1rem solid $color-action-outline;
      //     border-right-width: 0;
      //     color: $color-action-foreground;
      //     background: $color-action-background;
      //     font-size: 1.2rem;

      //     &:first-child {
      //       border-radius: 0.5rem 0 0 0.5rem;
      //     }

      //     &:last-child {
      //       border-radius: 0 0.5rem 0.5rem 0;
      //       border-right-width: 0.1rem;
      //     }

      //     &.active {
      //       background: $color-action-background-active;
      //       @include inner-shadow;
      //     }
      //   }
      // }
    }

    .#{$vprefix}toolbox-search {
      margin-bottom: 0px;
    }

    .#{$vprefix}treelist {

      .#{$prefix}grid-row {

        .#{$prefix}grid-cell-inner {
            padding-top: 3px !important;
            padding-bottom: 3px !important;
        }

        .#{$prefix}tree-icon {
          display: none;

          &+span a {
            @include icon-font($glyph-category);
            display: inline-block;
            height: auto;
            min-height: 20px;
            padding-left: 20px;
            vertical-align: top;
            width: auto;
          }
        }

        .#{$prefix}tree-node-text {
            display: inline-block;
            margin-top: 3px;
        }

        .#{$prefix}tree-elbow-line,
        .#{$prefix}tree-elbow-empty {
          &:nth-of-type(1) {
            display: none;
          }
        }

        &.#{$vprefix}treelist-inline-header {
          .#{$prefix}grid-cell-draghandlecolumn * {
            display: none;
          }
          .#{$prefix}grid-cell-inner {
            padding-right: 20px;
            .#{$prefix}tree-node-text {
                display: inline-block;
                width: 100%;
            }
            a {
              float: right;
              font-size: px-to-rem(12);
              &::after {
                display: none;
              }
            }

            img {
              display: none;
            }
          }
        }

        .#{$vprefix}nav-node-group {
          display: none;
        }

        .#{$vprefix}nav-node-folder,
        .#{$vprefix}nav-node-category {
          &+span a::after {
            content: $glyph-category;
          }
        }

        .#{$vprefix}nav-node-blog {
          &+span a::after {
            content: $glyph-blog;
          }
        }

        .#{$vprefix}nav-node-page,
        .#{$vprefix}nav-node-systempage,
        .#{$vprefix}nav-node-product {
          &+span a::after {
            content: $glyph-pagesystem;
          }
        }

        .#{$vprefix}nav-node-link {
          &+span a::after {
            content: $glyph-externallink;
          }
        }

        .#{$vprefix}draghandle {
          opacity: 1;
          @include single-transition(opacity);
        }

        &:not(:hover) {
          .#{$vprefix}tree-knurling {
            opacity: 0;
          }
        }

        &:nth-of-type(3) {
          .#{$prefix}tree-icon {
            @include icon-font($glyph-home);
          }
        }
      }

      &> .#{$prefix}panel-body {
        border: 0px none;
      }
      &> .#{$prefix}grid-header-ct {
        border: 0px none;
      }
    }
  }

  .#{$vprefix}toolbox-tabpanel {
    &> .#{$prefix}tab-bar-plain {
      background-color: $tabbar-base-color !important;

      .#{$prefix}tab-bar-body {
        text-align: center;
      }
    }

    &> .#{$prefix}panel-body {
      border-top: 1px solid border-for($color-neutral-95);
    }
  }

