.#{$prefix}menu-body {
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);
}

.#{$prefix}menu-item {
    border-color: transparent;
    border-style: solid;
    border-width: $menu-item-border-width;
    padding: 0px;
}

.#{$prefix}menu-item-link {
    margin: 0px;
    text-decoration: none;
}

.#{$prefix}menu-item-text {
    font-size: 14px;
    display: inline-block;
    line-height: 1.0;
    padding-top: 2px;
    height: auto;
    position: static;
    width: auto;
}

.#{$prefix}menu-item-icon {
    top: 0px;
}

.#{$prefix}menu-item-arrow {
    background-image: none;
    @include icon-font($glyph-arrowright);
    left: auto;
    position: absolute;
    right: 0px;
}

.#{$prefix}menu-item-active {
    .#{$prefix}menu-item-link {
        background-image: none;
        border: 0px none;
        margin: 0px;
        @include border-radius(0px);
    }

    .#{$prefix}menu-item-text {
        &+ img {
            background-color: $menu-item-active-background-color;
        }
    }
}

.#{$prefix}menu-item-checked,
.#{$prefix}menu-item-unchecked {
    .#{$prefix}menu-item-link {
        padding-left: $menu-item-indent;
    }
}
