



	
	.taco-editable-display-field-inner {
        text-decoration:none;
        display:block;
		color: #333333;
		padding: 6px 11px 4px 11px;	
		background: white repeat-x 0 0;
		//border-width: 1px;
		//border-style: solid;
		//border-color: #bfbfbf;
		line-height:20px;
		min-height:$form-field-height;
		height:auto;
        cursor:pointer;
	}

    .taco-editable-display-field-inner-border{		
		padding: 5px 10px 3px 10px;	
		border-width: 1px;
		border-style: solid;
		border-color: #bfbfbf;
	}

    .taco-editable-display-field {

    
    }
    
    .taco-editable-display-field-over {
        .taco-editable-display-field-inner {
            background-color:$color-neutral-95;
            @include box-shadow(inset 0px -1px $color-action-outline-hover);
        }
    }


	.taco-editable-display-field-inner.x-form-invalid-field {
	    border-color:$color-theme-base;
	}

    .taco-editable-display-field-focus{
        border-color: $color-action-outline-focus;
        background-color:$color-neutral-95;        
		@include box-shadow(inset 0 0 4px 0px transparentize($color-action-outline-focus, .5));
    }

    .taco-readonly-display {
        font-weight: bold;
        font-style: italic;
        margin-left: 5px;
        font-size: 14px;
    }

    .taco-readonly-display-preview {
        vertical-align: middle;
        border: 1px solid lightgrey;
        text-align: center;
    }


    .x-item-disabled .taco-editable-display-field-inner{
        cursor:default;
        filter: alpha(opacity=30);
        opacity: .3;
    }


    .x-form-readonly{
    
    
    }
