



	
	.x-form-editable-display-field{
		color: #333333;
		padding: 5px 10px 3px 10px;	
		background: white repeat-x 0 0;
		border-width: 1px;
		border-style: solid;
		border-color: #bfbfbf;
		line-height:20px;
		min-height:30px;
		height:"auto";
	}

	.x-form-editable-display-field.x-form-invalid-field {
	    border-color:$color-theme-base;
	}