.#{$vprefix}order-package {
    .label {
        color: $label-color;
        font-size: $label-font;
        font-weight: normal;
        margin-right: 3px;
    }

    .package-details {
        height: 35px;
        top: 0;
        border: 1px solid $light-border-gray;

        &:hover {
            text-decoration: none;
        }

        .#{$prefix}btn-button {
            height: 35px;

            .#{$prefix}btn-icon-el {
                padding: 9px 0;
            }
        }
    }

    a.label-link {
        padding: 0;

        .#{$prefix}btn-inner {
            color: $light-link-color;
            font-size: $normal-font-link;
            font-weight: normal;
        }

        .#{$prefix}btn-arrow {
            &:after {
                content: $glyph-chevrondown;
                color: $light-link-color;
                font-size: $tag-font;
                right: 4px;
                top: 4px;
            }
        }
    }

    .collapsed {
        font-size: 14px;

        .collapsed-title {
            font-size: 16px;
            font-weight: bold;
        }
    }

    .#{$vprefix}order-package-details {
        font-size: 14px;
        line-height: 16px;
    }
}

.#{$vprefix}order-fulfillment {
    font-size: 14px;

    .fulfillment-status {
        font-size: 22px;
        font-weight: bold;
    }

    .label-large {
        color: $color-neutral-60;
        font-weight: normal;
        margin-right: 8px;
    }

    .section-header {
        font-size: $input-font;
        font-weight: normal;
    }

    .package-data {
        color: $dark-color;
        display: block;
        font-size: $normal-font;
        font-weight: normal;
        line-height: 19px;
    }

    table.section-summary {

        td {
            text-align: right;
        }

        tr td:first-child {
            font-size: $label-font;
            font-weight: normal;
            padding-right: 8px;
            color: $label-color;
        }
    }
}

.#{$vprefix}order-fulfillment-info-header {
    font-size: $normal-font;
    line-height: 20px;
    margin-top: 16px;

    .label {
        color: $label-color;
        font-size: $label-font;
        font-weight: normal;
        margin-right: 3px;
    }
}


.fulfillment-move-to,
.order-shipping-method {
    .#{$prefix}btn-arrow-right {
        &::after {
            border-left-color: $light-border-gray;
            content: $glyph-chevrondown;
            color: $card-btn-text-color;
            font-size: $tag-font;
            padding-top: 12px;
            right: -13px;
        }
    }
}

.taco-order-fulfillment {
    border-top-width: 0px;
}

.taco-order-fulfillment {
    border: none !important;
    padding: 0 0 0 0 !important;
    border-color: #e9e9e9 !important;
}

.taco-order-fulfillment-info-header {
    /*border-bottom: 20px solid #e9e9e9;*/
}

.taco-order-fulfillment-info-header .x-btn-arrow-right::after,
.taco-order-fulfillment-package-header .x-btn-arrow-right::after {
    top: 0;
}

.taco-order-fulfillment-package-header {
    @extend .taco-order-fulfillment-info-header;
    border-bottom: none !important;
}

.shipping-packages-grid {
    border: 1px solid #e9e9e9;
}

.shipping-packages-grid .x-grid-header-ct {
    background-color: #f7f7f7 !important;
}

.taco-order-fulfillment-shipments .label {
    color: #7c7c7c;
    font-size: 12px;
    font-weight: normal;
    margin-right: 3px;
}

.taco-shipmentform-packages {
    .taco-link-button {
        background-color: white;
        border: 1px solid #e9e9e9;
        padding: 8px 15px 9px 15px;
    }

    .taco-link-button-more {
        padding: 0 !important;
    }

    .x-component taco-form-nav, .taco-form-nav {
        background-color: white;
    }

    .taco-link-button.active, .taco-link-button.x-active, .taco-link-button.x-focus {
        border-color: #e9e9e9 !important;
        border-bottom: 2px solid #2ea195 !important;
    }

    .x-tool {
        left: 98% !important;
    }

    .x-panel-header-text-container-default {
        border-bottom-width: 0px !important;
    }

    .taco-splitbutton {
        border-color: #e9e9e9 !important;
        padding-top: 8px;
        padding-bottom: 7px;
        border: none !important;
        background-color: white;
    }

    .x-btn-split-right {
        padding-right: 25px;
    }

    .x-btn-split-right::after {
        border-left: none !important;
    }
}

.taco-order-fulfillment-shipments {
    border-top: 20px solid #e9e9e9;
}

.taco-order-fulfillment-ShipmentDetails {
    .x-tool {
        left: 98% !important;
    }
}
