.#{$vprefix}orderform-payment {
    &> .#{$prefix}panel-header {

        .label {
            color: rgb(153, 153, 153);
            font-weight: normal;
            margin-right: 5px;
        }
    }
}