.#{$vprefix}orderform-payment {

    .#{$vprefix}orderform-payment-amounts-summary-label,
    .orderform-payment-statusRow,
    .paymentDetailsHeader {
        font-size: $label-font;
        color: $label-color;
        display: inline-block;
        font-weight: normal;
        margin-right: 3px;
        padding-top: 10px;

        .statusField {
        	font-size: $label-font;
        	line-height: 17px;
        }

        & + .#{$vprefix}orderform-payment-amounts-summary-value {
        	color: $dark-color;
        	font-size: $normal-font;
        	font-weight: normal;
        	margin-right: 3px;
        }
    }

    .#{$vprefix}history-collapsable {
    	.title {
    		font-size: $label-font;
    		color: $label-color;
    	}

    	.details {
    		font-size: $normal-font;

    		.seperator {
    		}
    	}
    }

    .payments-actions {

        background-color: transparent;
        padding: 0;
        opacity: 0.27;
        border: none;

        &:hover {
            opacity: 1;
            background-color: transparent;
        }

        &.#{$prefix}menu-active {
            border-radius: 3px;
            background-color: $more-menu-active-background;
            box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
            opacity: 1;
        }

        .#{$prefix}btn-arrow-right {
            @include icon-font($glyph-more-vert, 20px, $glyph-icon-color);
            &::after {
                display: none;
            }
        }

        .#{$prefix}btn-icon-el {
            padding-left: 2px;
            padding-top: 5px;
        }

        .#{$prefix}btn-wrap {
            padding: 0;
            .#{$prefix}btn-inner {
                padding: 0;
            }
        }

        &.#{$prefix}btn.#{$prefix}menu-active {
            border-radius: 3px;
            background-color: $more-menu-active-background;
            box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
            opacity: 1;
        }

		// .#{$prefix}btn-button {
		// 	font-size: 20px;
		// 	height: 25px;
		// 	opacity: .27;
		// 	top: 2px;

		// 	&:hover {
		// 		opacity: 1;
		// 	}
		// }

		// .#{$prefix}btn-arrow-right {
		// 	&:after {
		// 		display: none;
		// 	}
		// }
    }

    .orderform-payment-transactionlist {
    	border-color: $light-border-gray;

    	.body {
    		border-color: $light-border-gray;

            .togglebtn {
                height: 35px;
                width: 28px;

                .transaction-toggle {
                    &.#{$prefix}btn-action-medium {
                        height: 35px;
                        max-width: 28px;

                        .#{$prefix}btn-icon-el {
                            left: -1px;
                            top: 2px;
                        }
                    }
                }
            }
    	}
    }

    .orderform-payment-paymentDetails {
        > div {
            > div {
                font-size: $normal-font;
                line-height: 17px;
            }

            > span {
                font-size: $normal-font;
            }
        }
    }

    &> .#{$prefix}panel-header {

        .label {
            color: rgb(153, 153, 153);
            font-weight: normal;
            margin-right: 5px;
        }
    }
}