
// Order Shipment 
  
// order shipping 
.#{$vprefix}orderform-shipping {  

	// need to force the actions column icons to become visible when the grid row is selected; currently only shows when the row is focused;
	.x-grid-row-selected .taco-grid-row-menu-trigger {
	  visibility: visible !important;
	}
	
	// used to contain multiple shipped and unshipped packages
	.package-container {
	    padding:0px;
		border:0px;
	}

	// seperates the various shipping properties in the header of each package
    .seperator{
        color:#cccccc;
        padding:0px 7px 0px 7px;    
    }

	// message that displays when the grid has no data;
    .empty-grid-message{
        padding:20px;
        color:#990000
    }
  
    .#{$vprefix}orderform-shipping-package{

        margin-bottom:40px;
		&:last-child{
			margin-bottom:0px;
		}

        .shipment-header{
            font-size: 1.5rem;
            line-height: 2.4rem;  
            padding-bottom:4px;

            .titleRow{
                font-size: 1.9rem;
                line-height: 2.9rem;    
            }


            .shipmentAction{        
                text-align:left;          
                color:blue;
                cursor:pointer;
             }
        }


        .#{$vprefix}orderform-shipping-orderItemGrid{     
    
            .x-toolbar{
                margin-bottom:0px;
                border-width:0px;
                .x-box-inner{
                    background-color:#ffff;
                    border-width:0px;
                    border-style:solid;
                    border-color:#cccccc;       
                }
            }
        }
    }
}