
  // Order Shipment 
  
// order shipping 
.#{$vprefix}orderform-shipping {  
    background-color:#fff;  
  border-color:#bfbfbf;
  border-style:solid;
  border-width:1px;
  margin-bottom: 20px;
  padding:7px 7px 0px 7px;


  .seperator{
    color:#cccccc;
    padding:0px 7px 0px 7px;    
  }

    .emptyGridMessage{
    padding:20px;
    color:#990000
  }


  
  .#{$vprefix}orderform-shipping-package{
    margin-bottom:40px;

    .shipment-header{
      font-size: 1.5rem;
      line-height: 2.4rem;  
      padding-bottom:10px;        

      .titleRow{
        font-size: 1.9rem;
        line-height: 2.9rem;    
      }

      .shipmentAction{        
        text-align:left;          
        color:blue;
        cursor:pointer;
      }
    } 


    .#{$vprefix}orderform-shipping-orderItemGrid{
      
    
      .x-toolbar{
        margin-bottom:0px;
        border-width:0px;
        .x-box-inner{
          background-color:#ffff;
          border-width:0px;
          border-style:solid;
          border-color:#cccccc;       

        }
      }     
    }

  }
} 
