.#{$vprefix}addresses {
    .address {
        border: 1px solid $color-neutral-80;
        cursor: default;
        display: inline-block;
        margin-right: 10px;
        padding: 12px 10px 10px 40px;
        vertical-align: top;
        @include icons-sprite(icon-radio);
        background-position: 12px 50%;
    }

    .ship-to-label {
        display: none;
        font-weight: bold;
    }

    .#{$prefix}item-selected {
        background-color: $color-selected;
        border-color: $color-selected-border;
        @include icons-sprite(icon-radio-selected);
        background-position: 12px 50%;
    }
}
