h4.physicalloc {
    margin-bottom: 10px;
}

body .ui-treetable .ui-treetable-tbody>tr>td {
    font-size: 12px;
    font-weight: 600;
    border-width: 0 0 0.5px 0;
    border-color: #9f9b9b21;
    border-style: solid;
}

body .ui-treetable .ui-treetable-tbody>tr>th {
    font-weight: 600
}

.ui-treetable-scrollable-body::-webkit-scrollbar-track {
    border-radius: 10px;
    /* background-color: #F5F5F5; */
}

.ui-treetable-scrollable-body::-webkit-scrollbar {
    width: 8px;
    /* background-color: #F5F5F5; */
}

.ui-treetable-scrollable-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #9f9b9b;
}

.pi-chevron-right:before {
    content: "\e905" !important;
}

.pi-chevron-down:before {
    content: "\e906" !important;
}

.pi-chevron-down:parent body .ui-treetable .ui-treetable-tbody>tr>td {
    font-weight: normal;
}

.ui-treetable-scrollable-body {
    overflow-x: hidden;
}


/* min-height: 350px; */