<h4>Physical Location</h4>
<h5>&nbsp;</h5>
<p-treeTable [value]="physicalLocations" [columns]="cols" selectionMode="single" 
    [(selection)]="selectedPhysicalLocNode" 
    dataKey="name" 
    [scrollable]="true" scrollHeight="210px"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
            <td *ngFor="let col of columns; let i = index">
                <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>        
            <td [attr.colspan]="cols.length">No data found.</td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
        <div style="text-align: left">
            Selected Node: <span style="font-weight: normal">{{selectedNode1 ? selectedNode1.data.name + ' - ' + selectedNode1.data.code : 'none'}}</span>
        </div>
    </ng-template> -->
</p-treeTable>