.mz-featured-products-widget-wrap {
	overflow: hidden;
}
.mz-featured-products-widget {
	width: 22%;
	margin-right: 2.5%;
	float: left;
}
.mz-featured-products-widget:last-child{
	margin-right: 0;
}