
html {
		background: url(/Resources/Images/body_bgg.jpg);
	
		height: 100%;

}
body {
	width: 920px;
	margin: 0 auto;
	padding: 20px;
	padding-top: 0px;
	background-color: rgba(0,0,0,.1);
	.box-shadow(0 0 10px rgba(0,0,0,.4));
}
body:before {
	content: "";
	height: 50px;
	width: 100%;
	background: black;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.mz-layout-right {
	float: right;
}

.mz-column {
	float: left;
	+ .mz-column {
		margin-left: @gutter;
	}
}

/*------ Media Queries ---------------------- */
/* Less than 960 ----------------- */
@media only screen and (max-width : 959px) {
	body {
		width: auto;
		margin: 0 10px 10px 10px;
		padding: 0;
	}
}
/* Smartphones (portrait and landscape) ----------- */
 
@media only screen and (min-width : 320px) and (max-width : 480px) {

}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 960px) {
	
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}