

/* Canopy Site Nav ------------------------------- */
.mz-utility-nav-wrap {
	position: absolute;
	right: 0;
	top: 20px;

}
.mz-utility-nav {	
	color: white;
	font-size: 11px;
}
.mz-utility-nav-item {
	float: left;
	margin: 0;
	padding: 0 10px;
	text-align: right;
}
.mz-utility-nav-item:last-child {
	padding-right: 0;
	text-align:right;
}

/* Main Site Nav ------------------------------- */
.mz-site-nav-wrapper {
	text-align: center;
	margin: 10px 0;
	.mz-site-nav {
		padding: 7px 0;
		border: 3px double #333;
		border-left: 0;
		border-right: 0;
	}
	.mz-site-nav-item {
		display:inline-block;
		&:last-child {
			border-right: 0;
		}
	}
	.mz-site-nav-link {
		color: #333;
		text-decoration: none;
		font-size: 18px;
		display: inline-block;
		padding: 5px 15px;
		position: relative;
		&:visited {
		color: #333;
		}
		&:hover {
			
			background-color: rgba(0,0,0,.4);
			color: #FFF;
			.border-radius(3px);
		}
	}

	.no-cssanimations .mz-site-nav-a:hover {
		text-decoration: underline;
	}

	.mz-site-nav-slideout {
		display:none
	}

	.mz-site-nav-sub {
		// TODO: complete nav
	}
}




/* SubCategory List -------------- */
.mz-left-nav-wrap {
	background-color: rgba(0,0,0,.1);
	padding: 10px;
}
.mz-left-nav-wrap {
}
.mz-category-subhead {
	margin-top: 0px;
}
.mz-category-list {
	overflow: hidden;
}
.mz-category-list-li {
	float: left;
	margin-right: 10px;
}
.mz-category-list-link {
	// background: url(/Resources/Images/Bullet_SubCategory.gif) no-repeat !important;
	padding-left: 24px;
	color: #666666;
	font-weight: 700;
	&:visited {
		color: #666666;
	}
	&:hover {
		color: #333;
	}
}
.mz-category-list-sub {
	display: none;
}
.mz-category-list-sub {
	padding-left: 16px;
	margin-top: 5px;
}