 .mz-product-image {
	max-width: 100%;
}
ul[data-items-per-row="2"] .mz-list-item {
	width: 47%;
	margin-right: 5%;
}
ul[data-items-per-row="3"] .mz-list-item {
	width: 27%;
	margin-right: 8%;
}
ul[data-items-per-row="4"] .mz-list-item {
	width: 22%;
	margin-right: 2%;
}
.mz-product-image-thumb-link {
	border: 1px solid #777;
	display: inline-block;
	margin-right: 10px;
}
.mz-list-control-wrap {
	overflow: hidden;
}
.mz-list-item {
	float: left;
}
.mz-list-control .mz-list-item:last-child {
	margin-right: 0;
}
.mz-list-spacer {
	clear: both;
	height: 30px;
}
/* Products -------------------- */
.mz-product-item-wrap {
	display: block;
}
.mz-product-image {
		.border-radius(4px);
	}
ul[data-items-per-row="3"] .mz-list-last {
	margin-right: 0;
}
.mz-list-control-wrap {

	.mz-product-image-link {
		margin: 0 auto 0 auto;
		display: block;
	}
	.mz-product-image {
		.border-radiuses(5px, 0, 0, 5px);
		.box-shadow(0 0 0);
	}
	.mz-product-title-link {
		display: block;
		padding: 5px 5px 10px 5px;
		color: white;
		background: rgba(0,0,0,.8);
		text-align: center;
		.border-radiuses(0, 5px, 5px, 0);
		text-decoration: none;
		position: relative;
		&:before, &:after {
			content: "";
			bottom: 15px;
			box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
			height: 20%;
			left: 10px;
			max-height: 100px;
			max-width: 300px;
			.transform(rotate(-3deg));
			width: 50%;
			position: absolute;
			z-index: -2;
			background: blue;
		}
		&:after {
			left: auto;
			right: 10px;
			.transform(rotate(3deg));
			background: green;
		}
	}

}
	
/* Pager --------------------------- */
.mz-pager {
	clear:both;
	display: block;
	margin-top: 10px;
}

/*------ Media Queries ---------------------- */
/* Less than 960 ----------------- */
@media only screen and (max-width : 959px) {

}
/* Smartphones (portrait and landscape) ----------- */
 
@media only screen and (max-width : 480px) {
	.mz-list-item {
		float: none !important;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.mz-list-spacer {
		display: none;
	}
	ul[data-items-per-row="3"] .mz-list-item {
		max-width: 300px;
		width: auto;
	}
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 960px) {
	
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}
 
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}