<div class="shipping-address">
  <h5>{{'SHARED.SHIPPING.Address.shippingAddress' | translate }} </h5>
  <div *ngIf="destinationContact">
    <div *ngIf="destinationContact.firstName && destinationContact.lastNameOrSurname">{{destinationContact.firstName}}
      {{destinationContact.lastNameOrSurname}}</div>
    <div *ngIf="destinationContact.email">{{destinationContact.email}}</div>
    <div *ngIf="destinationContact.companyOrOrganization">{{destinationContact.companyOrOrganization}}</div>
    <div *ngIf="destinationContact.address">
      <div>{{destinationContact.address.address1}}</div>
      <div>{{destinationContact.address.address2}}</div>
      <div>{{destinationContact.address.address3}}</div>
      <div>{{destinationContact.address.address4}}</div>
      <div>{{destinationContact.address.cityOrTown}}, {{destinationContact.address.stateOrProvince}}
        {{destinationContact.address.postalOrZipCode}} {{destinationContact.address.countryCode}}</div>
    </div>
    <div *ngIf="destinationContact.phoneNumbers">
      {{destinationContact.phoneNumbers.home | phone: phoneNumberFormat}}
    </div>
  </div>

  <div *ngIf="!destinationContact">{{'SHARED.SHIPPING.Address.noShippingAddressMessage' | translate }}</div>
</div>