<div class="oms-only-div">
  <div class="dropdown oms-only-dropdown">
      <button class="btn btn-primary dropdown-toggle menuHeaderAlign" type="button" data-toggle="dropdown">
          <span>{{'SHARED.HEADER.OMSClassic.omsclassicapp' | translate}}</span>
      </button>
      <ul class="dropdown-menu">
        <li><a [attr.href]="OMSOnlycustomerCareUrl">{{'SHARED.HEADER.OMSClassic.customercare' | translate}}</a></li>
        <li><a [attr.href]="OMSOnlyFulfillerUrl">{{'SHARED.HEADER.OMSClassic.fulfiller' | translate}}</a></li>
      </ul>
    </div>
</div>