.oms-only-dropdown .btn-primary {
    background-color: #330065;
    border-color: #ffffff;
    border-radius: unset;
    width:100%
}

.oms-only-dropdown .btn-primary:hover {
    background-color: #633095;
}

.oms-only-dropdown .btn-primary span:hover {
    text-decoration: underline;
}

.oms-only-dropdown .dropdown-menu {
    background-color: #330065;
    border-color: #ffffff;
    width: 100%;
}

.oms-only-dropdown .dropdown-menu>li>a {
    color: #ffffff;
}

.oms-only-dropdown .dropdown-menu>li>a:hover {
    background-color: #633095;
    text-decoration: underline;
}

.oms-only-div .open>.dropdown-toggle.btn-primary {
    border-bottom: unset;
}

.oms-only-div {
    position: absolute;
    right: 20px;
    top: 15px;
}

.oms-only-div .open>.dropdown-menu {
    border-top: unset;
    margin:0;
}

.oms-only-dropdown button:after {
    content: "\f078";
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    padding : 8px;
    line-height: 1;
    font-family: "Font Awesome 5 Pro";
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    text-decoration: none;
}