.#{$vprefix}customer-contacts {
    
    a .#{$prefix}btn-inner {
        color: $color-standard-link;
        font-size: 14px;
    }

    .address {
        background-color: transparent;
        font-size: 14px;
        line-height: 1.28;

        @include transition(background-color 0.3s);

        &:hover {
            background-color: transparentize($color-neutral-95, 0.5);
        }

        .#{$prefix}form-cb-label {
            font-size: 14px;
        }
    }

    .label {
        color: $color-neutral-60;
        font-size: 16px;
        font-weight: bold;
    }

    .name {
        font-weight: bold;
    }

    .phone-numbers {
        border-collapse: collapse;

        tr td:first-child {
            color: $color-neutral-60;
            padding-right: 8px;
        }

    }
}