<div class="menuHeaderAlign">
        <div *ngIf="isShowSearchComponent" class="ui-inputgroup navbar-search">
            <span (click)="clearInput()" class="navbar-search-addon"><i class="fa fa-times"></i></span>
            <p-autoComplete id="globalSearch" [(ngModel)]="selectedSearchedItem"
                [suggestions]="navigationSearchModel.searchResult.items" (completeMethod)="lookUpSuggestion($event)" field="name"
                minLength="3" (onSelect)="onSuggestionSelected($event)" inputId="globalSearchInput" autofocus>
                <ng-template let-selectedSearchedItem pTemplate="item">
                    <div [ngSwitch]="selectedSearchedItem.type">
                        <ng-template [ngSwitchCase]="'none'">
                            <div class="navbar-search-li navbar-search-tab">
                                {{'Header.SearchMessage.noMatchingItem' | translate }}
                            </div>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'orders'">
                            <div class="navbar-search-li navbar-search-tab" *ngIf="!selectedSearchedItem.isHeader">
                                {{ selectedSearchedItem.item.orderNumber }}-
                                {{ selectedSearchedItem.item.name }}
                            </div>
                            <div class="navbar-search-li-title" *ngIf="selectedSearchedItem.isHeader">
                                <b>{{selectedSearchedItem.item.name}}<i
                                        class="navbar-search-tab">{{'Header.Label.seeAll' | translate }}</i></b>
                            </div>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'customers'">
                            <div class="navbar-search-li navbar-search-tab" *ngIf="!selectedSearchedItem.isHeader">
                                {{ selectedSearchedItem.item.id }}- {{ selectedSearchedItem.item.firstName }}
                                {{ selectedSearchedItem.item.lastName }}
                            </div>
                            <div class="navbar-search-li-title" *ngIf="selectedSearchedItem.isHeader">
                                <b>{{selectedSearchedItem.item.name}}<i class="navbar-search-tab">
                                        {{'Header.Label.seeAll' | translate }}</i></b>
                            </div>
                        </ng-template>
                        <ng-template [ngSwitchCase]="'products'">
                            <div class="navbar-search-li navbar-search-tab" *ngIf="!selectedSearchedItem.isHeader">
                                {{ selectedSearchedItem.item.productCode }}-
                                {{ selectedSearchedItem.item.productName }}
                            </div>
                            <div class="navbar-search-li-title" *ngIf="selectedSearchedItem.isHeader">
                                <b>{{selectedSearchedItem.item.name}}<i
                                        class="navbar-search-tab">{{'Header.Label.seeAll' | translate }}</i></b>
                            </div>
                        </ng-template>
                    </div>
                </ng-template>
            </p-autoComplete>
        </div>
</div>