<div class="login-user-info">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="">
            <div class="rectangle"></div>
            <div class="" role="tab" id="headingOne" class="login-user">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" (click)="fetchRedirectionLink()">
                    <span id="userbutton-1032-userbutton-avatar" class="user-avatar">
                        <!-- {{ model.loggedInUserInitials }} -->
                        <i class="fa fa-user"></i>
                    </span>
                    <span id="userbutton-1032-userbutton-username" class="nav-username">{{ model.loggedInUserName }}</span>
                </a>
            </div>
            <ul id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <li *ngFor="let eachRedirectionLink of model.userRedirectionLinks">
                    <div>
                        <a [href]="eachRedirectionLink.url"> {{eachRedirectionLink.label}} </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="menuHeader menu-ends kibo-purple" *ngIf="model.showSwitchAdminButton">
        <a type="button active collapsed" href="javascript:void(0);" class="button" (click)="onClickSwitchAdminButton()">
            <span class="fa fa-undo"></span> <span>{{ model.switchToClassicUI }}</span>
        </a>
    </div>
</div>