@mixin taco-actions {

  $color-dirty-pulse: adjust-lightness($color-action-primary-background, -10);
  $button-padding: 20px;

  @-webkit-keyframes dirtyPulse {
    from {
      background-color: $color-action-primary-background;
      border-color: $color-action-primary-background;
      @include box-shadow(0px 0px 0px $color-dirty-pulse);
    }

    50% {
      background-color: $color-dirty-pulse;
      border-color: $color-dirty-pulse;
      @include box-shadow(0px 0px 3px $color-dirty-pulse);
    }

    to {
      background-color: $color-action-primary-background;
      border-color: $color-action-primary-background;
      @include box-shadow(0px 0px 0px $color-dirty-pulse);
    }
  }

  button.#{$vprefix}action {
    background-color: $color-action-background;
    border: 1px solid $color-action-outline;
    color: $color-action-foreground;
    font-size: px-to-rem(14);
    line-height: px-to-rem(14);
    margin: 0px;
    min-width: 86px;
    padding: 8px $button-padding 6px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    @include border-radius(2px);
    @include facade-transitions;
    @include no-select;
    @include text-shadow(1px 1px transparentize($color-neutral-white, 0.75));
    cursor: pointer; // overrides no-select
    
    &:hover:not(:disabled) {
      background-color: $color-action-background-hover;
      border-color: $color-action-outline-hover;
      @include box-shadow(inset 0px -1px $color-action-outline-hover);
    }
    
    &:active:not(:disabled) {
      background-color: $color-action-background-active;
      border-color: $color-action-outline-active;
      // @include box-shadow(inset 0px 1px 2px rgba(0, 0, 0, 0.4));
    }

    &:disabled {
      cursor: default;
      opacity: 0.4;
    };

    &.#{$vprefix}action-primary {
      background-color: $color-action-primary-background;
      border-color: $color-action-primary-outline;
      color: $color-action-primary-foreground;
      @include text-shadow(1px 1px transparentize($color-neutral-black, 0.75));

      &:hover:not(:disabled) {
        background-color: $color-action-primary-background-hover;
        border-color: $color-action-primary-outline-hover;
        @include box-shadow(inset 0px -1px $color-action-primary-outline-hover);
      }

      &:active:not(:disabled) {
        background-color: $color-action-primary-background-active;
        border-color: $color-action-primary-outline-active;
        // @include box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.4));
      }

      &:disabled {
        color: transparentize($color-action-primary-foreground, 0.2);
      }
    }

    // &.loading {
    //   -webkit-animation-name: dirtyPulse;
    //   -webkit-animation-duration: 2s;
    //   -webkit-animation-iteration-count: infinite;
    // }
  }

  button.#{$vprefix}splitbutton {
    position: relative;
    padding-right: $button-padding * 1.5;

    strong {
        position: absolute;
        right: 0;
        border-left: 1px solid darken($color-action-background, 8%);
        height: 100%;
        top: 0;
        width: $button-padding;
        line-height: 2em;
    }
  }

  // file button
  .#{$prefix}form-file-wrap {
    width: auto !important;

    .#{$prefix}form-trigger-wrap {
      width: auto !important;

      td {
        text-align: right;
        width: auto !important;
      }
    }
  }

  .#{$prefix}form-file-input {
    top: 0px !important;
  }

  .#{$prefix}form-file-btn {
    background: none transparent;
    border: 0px none;
    padding: 0px;

    em {
      display: block;
      min-height: 30px;
    }

    .#{$prefix}btn-center {
      background-color: $color-action-primary-background;
      border: 1px solid $color-action-primary-outline;
      color: $color-action-primary-foreground;
      font-size: px-to-rem(14);
      line-height: px-to-rem(14);
      margin: 0px;
      min-height: 30px;
      min-width: 86px;
      padding: 8px $button-padding 6px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      @include border-radius(2px);
      @include facade-transitions;
      @include no-select;
      @include text-shadow(1px 1px transparentize($color-neutral-black, 0.75));
      cursor: pointer; // overrides no-select
    }

    &.#{$prefix}over:not(.#{$prefix}disabled) {
      .#{$prefix}btn-center {
        background-color: $color-action-primary-background-hover;
        border-color: $color-action-primary-outline-hover;
        @include box-shadow(inset 0px -1px $color-action-primary-outline-hover);
      }
    }

    &.#{$prefix}pressed:not(.#{$prefix}disabled) {
      .#{$prefix}btn-center {
        background-color: $color-action-primary-background-active;
        border-color: $color-action-primary-outline-active;
      }
    }

    &.#{$prefix}disabled {
      .#{$prefix}btn-center {
        opacity: 0.4;
      }

      .#{$prefix}btn-inner {
        color: transparentize($color-action-primary-foreground, 0.2);
      }
    }

    .#{$prefix}btn-inner {
      color: $color-action-primary-foreground;
      font-size: px-to-rem(14);
      line-height: px-to-rem(14);
    }
  }
}
