@mixin taco-boundlist {

  /* IN-FLOW LISTS */

  .#{$prefix}boundlist {
    font-size: px-to-rem(16);
    font-weight: normal;
    line-height: px-to-rem(18);

    .#{$prefix}boundlist-item {
      background-color: $color-neutral-95;
      @include border-radius(2px);

      &.#{$prefix}boundlist-item-over {
        background-color: $color-neutral-90;
      }
      &:not(:nth-of-type(1)) {
        border-top-style: none;
        padding-top: 6px;
      }
    }
  }

  /* FLOATING LISTS */

  .#{$prefix}boundlist-floating {
    background-color: $color-neutral-white;
    border: 1px solid border-for($color-neutral-white);
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);

    ul {
      padding: 7px 0px;
      @include border-radius(2px);
    }

    .#{$prefix}boundlist-item {
      background-color: transparent;
      border-style: none;
      padding: 5px 14px 3px;
      @include border-radius(0px);

      &.#{$prefix}boundlist-item-over {
        background-color: $color-selected;
      }
      &:not(:nth-of-type(1)) {
        padding-top: 5px;
      }
    }
  }

  /* SPECIAL LISTS */

  .#{$prefix}boundlist-with-hidden-selections {
    .#{$prefix}boundlist-selected {
      display: none;
    }
  }

  .#{$prefix}boundlist-item-drag {
    cursor: move;
    display: block;
    font-size: 0px;
    height: 34px;
    left: 0px;
    line-height: 0px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999px;
    top: 0px;
    width: 16px;

    &::after {
      border-left: 4px double $color-grid-border;
      content: "";
      display: block;
      height: 28px;
      left: 5px;
      position: absolute;
      top: 3px;
      width: 4px;
    }
  }

  .#{$prefix}boundlist-item-close {
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 20px;
    line-height: 0px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    text-indent: -9999px;
    top: 7px;
    width: 20px;

    &::after {
      color: $color-neutral-20;
      content: "×";
      font-size: 14px;
      font-weight: bold;
      height: 16px;
      left: 0px;
      line-height: 1em;
      position: absolute;
      text-align: center;
      text-indent: 0px;
      top: 0px;
      width: 16px;
      @include border-radius(14px);
      @include flexbox(row, nowrap, center, center, center);
    }
  }

  /* MENUS */

  .#{$prefix}menu-body {
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);
  }

  .#{$prefix}menu-item-link {
    margin: 0px;
  }
  .#{$prefix}menu-item-active {
    .#{$prefix}menu-item-link {
        background-image: none;
        border: 0px none;
        margin: 0px;
        @include border-radius(0px);
    }
  }

  .#{$prefix}menu-item-checked,
  .#{$prefix}menu-item-unchecked {
    .#{$prefix}menu-item-link {
      padding-left: $menu-item-indent;
    }
  }

  .#{$prefix}menu-item-arrow {
    display: none;
  }

}