@mixin taco-boundlist {

  /* IN-FLOW LISTS */

  .#{$prefix}boundlist {
    font-size: px-to-rem(16);
    font-weight: normal;
    line-height: px-to-rem(18);

    .#{$prefix}boundlist-item {
      background-color: $color-neutral-95;
      @include border-radius(2px);

      &.#{$prefix}boundlist-item-over {
        background-color: $color-neutral-90;
      }
    }
  }

  /* FLOATING LISTS */

  .#{$prefix}boundlist-floating {
    background-color: $color-neutral-white;
    border: 1px solid border-for($color-neutral-white);
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);

    ul {
      padding: 7px 0px;
      @include border-radius(2px);
    }

    .#{$prefix}boundlist-item {
      background-color: transparent;
      border-style: none;
      padding: 5px 14px 3px;
      @include border-radius(0px);

      &.#{$prefix}boundlist-item-over {
        background-color: $color-selected;
      }
      &:not(:nth-of-type(1)) {
        padding-top: 5px;
      }
    }
  }

  /* SPECIAL LISTS */

  .#{$prefix}boundlist-with-hidden-selections {
    .#{$prefix}boundlist-selected {
      display: none;
    }
  }

  .#{$prefix}boundlist-draggable .#{$prefix}boundlist-item, .#{$prefix}boundlist-undraggable .#{$prefix}boundlist-item {
    padding: 0;
    margin: 0 0 3px;
    .#{$prefix}boundlist-item-contents {
        @include flexbox(row, nowrap, flex-start, center, center);

        padding: 3px 4px;

        > * {
            @include flex(0);
        }
        .#{$prefix}boundlist-item-content {
            @include flex(1);
        }
    }
  }

  

  .#{$prefix}boundlist-item-name {
    font-size: px-to-rem(12px);
    display: block;
  }

  .#{$prefix}boundlist-item-type {
    color: $color-neutral-70;
    text-transform: uppercase;
    display: block;
    font-size: px-to-rem(12px);
  }

  .#{$prefix}boundlist-item-drag {
    cursor: move;
    display: block;
    font-size: 0px;
    height: 20px;
    left: 0px;
    line-height: 0px;
    overflow: hidden;
    text-indent: -9999px;
    top: 0px;
    width: 16px;
    @include flexbox(row, nowrap, center, flex-start, center);
    @include icons-sprite(icon-tree-knurling);
    padding-right: 25px;
    margin-left: -8px;
    &::after {
        width: 8px;
        @include flexbox(row, nowrap, center, flex-start, center);
    }
  }

  .#{$prefix}boundlist-item-action {
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 20px;
    line-height: 0px;
    overflow: hidden;
    @include flexbox(row, nowrap, center, flex-end, stretch);
    right: 0px;
    text-indent: -9999px;
    top: 7px;
    width: 20px;

    &::after {
      color: $color-neutral-20;
      font-size: 14px;
      font-weight: bold;
      height: 16px;
      left: 0px;
      line-height: 1em;
      text-align: center;
      text-indent: 0px;
      top: 0px;
      width: 16px;
      @include border-radius(14px);
    @include flexbox(row, nowrap, center, flex-end, stretch);
   }
  }

  .#{$prefix}boundlist-item-close::after {
    content: "×";
  }

  .#{$prefix}boundlist-item-settings::after {
    content: "⚙";
  }

  /* MENUS */

  .#{$prefix}menu-body {
    font-size: px-to-rem(14);
    line-height: px-to-rem(16);
  }

  .#{$prefix}menu-item-link {
    margin: 0px;
  }
  .#{$prefix}menu-item-active {
    .#{$prefix}menu-item-link {
        background-image: none;
        border: 0px none;
        margin: 0px;
        @include border-radius(0px);
    }
  }

  .#{$prefix}menu-item-checked,
  .#{$prefix}menu-item-unchecked {
    .#{$prefix}menu-item-link {
      padding-left: $menu-item-indent;
    }
  }

  .#{$prefix}menu-item-arrow {
    display: none;
  }

}