@mixin taco-boxselect {

  .#{$prefix}boxselect {
    input {
      background: none transparent;
      border: 0px none;
      font-size: $font-size;
      line-height: 1.333em;
      height: 28px;
      width: 100%;
    }

    ul.#{$prefix}boxselect-list {
      padding: 2px 8px 1px;
    }

    &.#{$prefix}form-text {
      cursor: text;
      height: auto;
      overflow-y: auto;
      padding: 0px !important; // TODO: remove !important hack once generic field styling is fixed
    }
  }

  ul.#{$prefix}boxselect-list {
    &.#{$prefix}boxselect-singleselect {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .#{$prefix}boxselect-input {
    display: inline-block;
    position: relative;
  }

  .#{$prefix}boxselect-item {
    background-color: #fcc;
    cursor: default;
    display: inline-block;
    margin: 2px 8px 2px 0px;
    padding: 0px 1px 0px 5px !important;
    position: relative;
    @include border-radius(2px);
  }
  .#{$prefix}boxselect-stacked {
    .#{$prefix}boxselect-item {
      display: block;
    }
  }
  .#{$prefix}field:not(.#{$prefix}item-disabled) {
    .#{$prefix}boxselect-item {
      &:hover {
        background-color: #ccf;
      }
      &.selected {
        background-color: #cfc !important;
      }
    }
  }

  .#{$prefix}boxselect-item-text {
    font-size: $font-size;
    line-height: 1.5em;
    padding-right: 20px !important;
  }

  .#{$prefix}boxselect-item-close {
    cursor: pointer;
  }

  .#{$prefix}boxselect-hideselections {
    .#{$prefix}boundlist-selected {
      display: none;
    }
  }

}