@import "picker/*.png";
@mixin taco-form {
  
  input::-webkit-input-placeholder {
    font: $font-body-copy;
    color: $color-neutral-mid;
    line-height: 21px;
    font-style: normal !important;
    font-weight: normal !important;
  }

  input:-moz-placeholder {
    font: $font-body-copy;
    color: $color-neutral-mid;
    line-height: 21px;
    font-style: normal !important;
    font-weight: normal !important;
  }

  a {
    text-decoration: none;
    color: $color-action-link;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .#{$vprefix}formeditor-links {
    background-color: $color-neutral-lightest;

    ul {
      position: fixed;
      width: 180px;
      @include box-shadow(0px 3px 5px -3px rgba(0, 0, 0, 0.5));

      li {
        border-top: 1px solid #ddd;
        font-size: 15px;
        padding: 7px 14px;
        @include box-shadow(inset 0px 1px $color-neutral-white);
      }
    }
  }
  
  .#{$vprefix}tabs {
    
    .#{$vprefix}tab-actions {
      
      padding: 1em;
      
      .#{$vprefix}action {
        color: $color-neutral-darker;
        background: $color-action-background;
        font: $font-control-label;
        line-height: 21px;
        padding: 6px 30px;
        text-decoration: none;
        border: 1px solid $color-action-outline;
        text-shadow: 0 1px 0 white;
        @include box-shadow(0 1px 0 white inset);
        
        &:first-child {
          border-right: 0;
          @include border-radius(5px 0 0 5px);
        } 

        &:nth-last-child(2) {
          @include border-radius(0 5px 5px 0);
        }
        
        &.#{$vprefix}tab-active {
          background: $color-highlighted-background;
          color: $color-highlighted-foreground;
          text-shadow: 0 1px 0 rgba(0,0,0,0.5);
          @include box-shadow(0 1px 0 rgba(0,0,0,0.3) inset);
        }
        span {
          top: 3px;
          position: absolute;
          color: $color-neutral-dark;
          font: $font-body-copy-small;
          background-color: white;
          text-align: center;
          width: 21px;
          height: 21px;
          line-height: 21px;
          @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.6));
          @include border-radius(25px);
          @include transition(all 0.3s ease-out);
          
        }

        &:hover span {
          @include transform(scale(1.2));
        }
      }
      
      .#{$vprefix}tab-arrow{
        width: 0;
        height: 0;
        margin: 0.8em 0 0 0.8em;
        border-left: 0.8em solid transparent;
        border-right: 0.8em solid transparent;
        border-top: 0.8em solid $color-neutral-darker;
        position: absolute;
        opacity: 0;
        
        &.#{$vprefix}tab-active {
          opacity: 1;
        }
      }
    }
    
    .#{$vprefix}tab-panels {
      padding: 0 1em 1em;
    }
  }
  
  .#{$vprefix}associated-editor {
      margin: 1em;
      padding: 1em;
	  width: 300px;
      background: $color-neutral-mid-light;
      @include border-radius;

		h2 {
			text-transform: capitalize;
			margin-bottom: 1em;
		}
		a {
			color: #444;
			&:hover {
				color: #000;
			}
		}
  }

  .#{$prefix}panel {
    $tileSizes: (90px, 160px, 230px);
    @each $tileSize in $tileSizes {
      .#{$vprefix}tileview.tilesize-#{$tileSize} {

        .#{$vprefix}thumbnail-item {
          $tileGutter: ($tileSize * 0.5 + ($tileSize * 0.5 % 10)) * 0.1;

          .featured-container {
            padding: $tileGutter;
          }

          .container {
            height: $tileSize;
            width: $tileSize;

            img {
              max-height: $tileSize;
              max-width: $tileSize;
            }
          }

          .name {
            width: $tileSize - 4;

            @if ($tileSize < 160) {
              font-size: 0px;
              line-height: 0px;
            }
          }

          .actions {
            right: ($tileSize - 20) / 70 + 1;
            top: ($tileSize - 20) / 70 + 1;

            .action {
              @if ($tileSize < 100) {
                display: block !important;
              }
            }
          }

          .#{$vprefix}arrow {
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            bottom: 10px;
            cursor: pointer;
            height: 0px;
            margin: -4px 10px 0 10px;
            position: absolute;
            width: 0px;

            &.#{$vprefix}next {
              border-left: 10px solid $color-neutral-dark;
              border-right: 0;
              right: 0px;
            }

            &.#{$vprefix}previous {
              border-left: 0;
              border-right: 10px solid $color-neutral-dark;
              left: 0px;
            }
          }
        }

      }
    }

    .#{$vprefix}thumbnail-item {
      background-color: $color-neutral-white;
      display: inline-block;
      font-size: 0px;
      line-height: 0px;
      margin: 10px 0px 10px 10px;
      position: relative;
      vertical-align: top;
      @include box-shadow(0 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.02) inset);
      @include transition;

      * {
        @include transition;
      }

      &:before, &:after {
        bottom: 9px;
        content: '';
        height: 55%;
        left: 10px;
        max-height: 100px;
        max-width: 300px;
        position: absolute;
        width: 70%;
        z-index: -1;
        @include box-shadow(0 10px 7px -4px rgba(0, 0, 0, 0.3));
        @include transform(skew(-15deg) rotate(-6deg));
      }

      &:after {
        left: auto;
        right: 10px;
        @include transform(skew(15deg) rotate(6deg));
      }

      &.draggable {
        cursor: -moz-grab;
        cursor: -webkit-grab;
      }

      .featured-container {
        overflow: hidden;
        position: relative;
      }

      .featured {
        background-color: $color-action-primary-background;
        border-color: $color-action-primary-outline;
        color: $color-action-primary-foreground;
        display: none;
        font: $font-body-copy;
        left: -30px;
        padding: 2px 30px;
        position:absolute;
        top:15px;
        @include box-shadow(0 1px 0 rgba(255,255,255,0.5) inset);
        @include transform(rotate(-45deg));
      }

      .container {
        background-color: $color-neutral-lightest;
        overflow: hidden;
        @include flexbox(row, wrap, center, center);
      }

      .name, .#{$vprefix}count {
        cursor: text;
        font: $font-body-copy;
        margin-left: 2px;
        min-height: 16px;
        overflow: hidden;
        padding-top: 10px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .actions {
        position: absolute;
        visibility: hidden;
        @include transition(all 0s ease-in-out);

        .action {
          border: 0 none;
          cursor: pointer;
          display: inline-block;
          height: 24px;
          margin-top: 2px;
          width: 36px;
          @include border-radius(3px);
          @include transition(background-position 0s linear);

          &.download {
            @include icons-sprite(icon-jumpout);
          }
          &.delete {
            @include icons-sprite(icon-trash);
          }
          &.duplicate {
            @include icons-sprite(icon-newfile);
          }
          &.remove {
            @include icons-sprite(icon-remove);
          }
        }
      }
      
      &:hover {
        &.draggable .container {
          background-color: #FFF;
          opacity: 0.2;
        }
        .actions {
          visibility: visible;
        }
      }

      &.x-item-selected{
        background-color: $color-highlighted-background-light;
      }

      &:nth-of-type(1) {
        .featured {
          display: block;
        }
      }
    }
  }

  .#{$vprefix}datalist-item {
		background-color: transparent;
		text-align: center;
		background-image: -webkit-linear-gradient(left top, $color-neutral-mid-light, $color-neutral-dark);
		border: 2px solid #CCC;
		display: inline-block;
		position: relative;
		height: 140px;
		margin: 10px;
		overflow: hidden;
		vertical-align: top;
		width: 120px;
		@include border-radius;
		@include outer-shadow;
		@include single-transition("height,width");

		p {
			text-align: center;
			bottom: 16px;
			margin: 120px - (120px / (8)* 3) 16px 0;
			font-size: 120px / (8);
		}
		.name{
			font:$font-control-label;
			color:white;
		}
		.alt{
			border: 0;
			background-color: transparent;
			color:black;
		}
		
		.remove{
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: red;
			color: white;
			border-radius: 21px;
      border-width: 1px;
      border-style: solid;
			font: $font-control-label;
			border-color: black;
			padding: 2px;
			height: 21px;
      width: 21px;
			@include box-shadow(0 1px 3px rgba(0, 0, 0, 0.6));
			cursor:pointer;
		}
		.featured{
			display:none;
		}

		&:first-child {
		  .featured {
		    display: block;
			position:absolute;
			top:15px;
			left:-30px;
			padding:2px 30px 2px 30px;
			-webkit-transform: rotate(-45deg); 
			font:$font-body-copy;
			background-color: $color-action-primary-background;
			color: $color-action-primary-foreground;
			border-color: $color-action-primary-outline;
			@include box-shadow(0 1px 0 rgba(255,255,255,0.5) inset);
		  }
		}
	}
 .#{$vprefix}datalist-item.x-item-selected{
    //border-color:white
    background-image: -webkit-linear-gradient(left top, $color-neutral-mid-light, $color-neutral-lightest);
    .name{
      color:$color-neutral-darkest;
    }
 }
	@each $size in 80px, 120px, 155px {
		.#{$vprefix}datalist-size-#{$size} .#{$vprefix}datalist-item {
			height: $size;
			width: $size;
			p {
				@if $size / 8 > 18px {
					font-size: 18px;
					margin: $size - 60 16px 0;
				} @else if $size / 8 < 10px {
					font-size: 10px;
					margin: $size - 20 16px 0;
				} @else {
					font-size: $size / 8;
					margin: $size - (($size / 8) * 3) 16px 0;
				}
			}
		}
	}

	.#{$vprefix}datalist-selection .#{$vprefix}datalist-deselection {
			height: 26px;
			width: 26px;
			position: absolute;
			top: 5px;
			left: 5px;
		}

	.#{$prefix}item-selected {
		
		.#{$vprefix}datalist-selection {
			@include icons-sprite(icon-selectedoverlay);
		}

		.#{$vprefix}datalist-deselection {
			@include icons-sprite(icon-deselectedoverlay);
		}
	}


	.#{$vprefix}datalist-emptytext {
		color: $color-neutral-dark;
		text-align: center;
		font-size: 14pt;
		margin: 1em;
	}
  
  .#{$vprefix}form-field-float {
    float: left;
    margin-right: 2em;
  }
  
  .#{$vprefix}slug-prefix {
    width: auto;
    border: 1px solid $color-neutral-dark;
    color: $color-neutral-dark;
    height: auto;
    font-size: 0.9em;
    padding: 0.5em;
    float: left;
    position: absolute;
    overflow: hidden;
    @include border-radius(5px 0 0 5px);
    @include text-shadow(0 1px 0 #FFF);
    @include background(linear-gradient($color-neutral-light, $color-neutral-mid-light));
    @include no-select;
    
    span {
      line-height: 18px;
      font-size: 0.75em;
    }
  }
  
  
  .#{$vprefix}form-module {
    border: 1px solid $color-grid-border;
    font-size: 14px;
    margin: 1em 0 2em;
    min-height: 14px;
    overflow: hidden;
    @include border-radius;

    &.#{$vprefix}form-module-locked {
      border: 0px none;
    }
    &.#{$vprefix}form-module-inventorycontrol {
      border-bottom: 1px dashed $color-grid-border;
      margin-bottom: 0px;
      margin-top: -2em;
      padding-bottom: 0.5em;
      @include border-radius(0px);

      .#{$vprefix}form-flexbox {
        @include flexbox(row, none, flex-start);
      }
    }

    .#{$vprefix}form-module-header {
      padding: 14px;
      @include flexbox(row, none, space-between);

      .#{$vprefix}module-toggle {
        cursor: pointer;
      }
    }
    .#{$vprefix}form-module-footer {
      padding: 14px;
      @include flexbox(row, none, flex-end);
    }
    .#{$vprefix}form-module-summary {
      padding: 14px;
    }

    .#{$vprefix}form-module-disabled {
      background-color: $color-neutral-light;
      border: 1px dashed $color-neutral-darker;
      color: $color-neutral-darker;
      cursor: pointer;
      margin-left: 1em;
      margin-right: 1.5em;
      padding: 2em;
      
      @include border-radius;
      @include transition;
      @include text-shadow(0 1px 0 #FFF);
      
      div {
        text-align: center;
        
        &:first-child {
          font-size: 1.8em;
          margin: 0.5em;
        }
      }
      
      &.#{$vprefix}status-animating {
        @include transition(none);
      }
      
      &.#{$vprefix}status-disabled {
        position: fixed;
        top: -5000px;
        left: -5000px;
      }
    }

    .#{$vprefix}form-module-grid {
      border-left: 0px none;
      border-right: 0px none;

      .#{$prefix}grid-body, .#{$prefix}grid-header-ct {
        border-left: 0px none;
        border-right: 0px none;
      }
    }

    .#{$vprefix}form-module-inventory {
      border-bottom: 1px dashed $color-grid-border;
      padding-bottom: 10px;
      @include flexbox(row, wrap, flex-start, stretch);

      .#{$prefix}form-item-label-top {
        margin-top: 0.9em;
      }
    }
    
    .#{$vprefix}form {
      // padding: 0 1em 0.5em;
      overflow: hidden;
      @include transition(height 0.6s ease-in-out);
      
      &.#{$vprefix}status-animating {
        position: absolute;
      }
      
      &.#{$vprefix}status-disabled {
        position: fixed;
        top: -5000px;
        left: -5000px;
      }
    }
    
    .#{$vprefix}form-module-collapse {
      color: blue;
      float: right;
      margin: 1em 0 0;
      
      &+div {
        clear: both;
      }
    }
  }

  .#{$vprefix}bdt {
    border: 1px dashed $color-neutral-mid-light;
    color: $color-neutral-mid-light;
    padding: 2em;
	
	@include text-shadow(0 -1px 1px $color-neutral-mid-light);
  }
  
  .#{$vprefix}image-placeholder {
  	height: 60px;
  	margin: 0;
  	padding: 0;
  	width: 60px;
  }
  
  .#{$vprefix}upload-preview {
  	border: 1px dashed $color-neutral-dark;
  	overflow: auto;
  	height: 250px;

	  .#{$vprefix}uploading-images {
	
		  float: left;

		img {
		  margin: 5px;
		  width: 100px;
		  @include outer-shadow;
		  @include border-radius;
      
		  &.#{$vprefix}uploading {
			 opacity: 0.5;
		  }
      
		  &.#{$vprefix}complete {
  			@include box-shadow(0 0px 5px yellow);
          
  			&.#{$vprefix}complete-fade {
  			  @include transition(all 1s);
  			  @include outer-shadow;
  			}
		  }
		}
    
		.#{$prefix} progress-default {
		  border: 0;
		  padding: 2px;
		  height: 12px;
		  min-width: 12px;
		  overflow: hidden;
		  width: 90px;
		  margin: -26px 0 10px 10px;
		  @include border-radius(6px);
		  @include background(linear-gradient($color-neutral-darkest, $color-neutral-darkest));
		  @include box-shadow(0 1px 2px rgba(255,255,255,0.8));
      
      
		  .#{$prefix}progress-bar {
  			border: 0;
  			height: 8px;
  			max-width: 86px;
  			@include border-radius(4px);
  			@include background(linear-gradient(color-stops(#cedae2, #4a90c9 60%, #157fd6 60%, #0878d3)));
		  }
	  }
  }

  

	  }
  
  
  .#{$vprefix}preview-area {
    //background-color: rgba(255,255,255,0.9);
    padding: 20px;
    border: 2px solid $color-neutral-dark;
    @include border-radius;
    @include inner-shadow;
    @include background(linear-gradient(rgba(255,255,255,0.95), rgba(255,255,255,0.7)));
    
    label {
      display: block;
      width: 100%;
    }
  }
  
  .#{$vprefix}hint {
      background-color: $color-neutral-dark;
      color: $color-neutral-darkest;
      position: absolute;
      float: left;
      padding: 1.2em;
      font-size: 0.8em;
      opacity: 0.9;
      border: 2px solid $color-neutral-dark;
      z-index: 999;
      overflow: visible;
      @include text-shadow(0 1px 0 rgba(255,255,255,0.5));
      @include background-image(linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0)));
      @include border-radius(10px);
      @include box-shadow(0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset);
      
      h2 {
        font-weight: bold;
        font-size: 1.4em;
      }
      
      &:before, &:after {
        content: "";
        position: absolute;
        z-index: 1000;
        border-right: 10px solid $color-neutral-dark;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 0;
        left: -12px;
        top: 13px
      }
      
      &:before {
        border-right-color: $color-neutral-dark;
        top: 14px;
      }
    }
    
  .#{$vprefix}step-container {
    
    .#{$vprefix}form-step {
      margin: 0 0 0 10px;
      padding: 0 0 0 30px;
      
      label.#{$vprefix}label {
        
        font: $font-body-copy;
        display: block;
        padding-top: 1.8em;
        color: $color-neutral-darkest;
        @include text-shadow(0 1px 0 #FFF);
      }
      
      &:before {
        position: absolute;
        margin: 41px 0 0 -40px;
        border: 2px solid white;
        height: 24px;
        width: 24px;
        text-align: center;
        color: #FFF;
        font-size: 1.3em;
        line-height: 1.55em;
        opacity: 0.7;
        @include text-shadow(0 -1px 1px $color-neutral-dark);
        @include outer-shadow(0.8);
        @include border-radius(16px);
        @include background(linear-gradient($color-neutral-dark, $color-neutral-darkest));
      }
      
      &.#{$vprefix}active:before {
        opacity: 0.9;
      }
      
      &:nth-child(1):before {
          content: '1';
      }
      
      &:nth-child(2):before {
          content: '2';
      }
      
      &:nth-child(3):before {
          content: '3';
      }
      
      &:nth-child(4):before {
          content: '4';
      }
      
      &:nth-child(5):before {
          content: '5';
      }
      
      &:nth-child(6):before {
          content: '6';
      }
      
      &:nth-child(7):before {
          content: '7';
      }
    }
  }  
  
  
  .#{$vprefix}option-value-view {
    margin: 5px 0;
    
    .#{$vprefix}option-value-row {
      
      padding: 0 0 0 20px;
      font-size: 1.2em;
      background: white;
      border: 1px solid $color-neutral-mid-light;
      border-top-width: 0;
      
      input {
        padding: 7px 0 5px;
        width: 196px;
        font-weight: bold;
        border: 0;
        color: $color-neutral-darker;
        @inlude transition;
        
        &:focus {
          color: $color-neutral-darkest;
        }
        
        &::-webkit-input-placeholder {
          font-style: italic;
          font-weight: normal;
        }
        
        &:-moz-placeholder {
          font-style: italic;
          font-weight: normal;
        }
      }
      
      span.checkbox {
        float: right;
        position: absolute;
        display: block;
        right: 5px;
        margin-top: -22px;
        width: 20px;
        height: 20px;
      }
      
      span.remove {
        color: white;
        display: inline-block;
        background: blue;
        height: 20px;
        width: 20px;
        text-align:center;
        margin: 4px 0 0 6px;
        line-height: 1.3em;
        padding-left: 1px;
        opacity: 0;
        cursor: pointer;
        
        @include border-radius(26px);
        @include text-shadow(0 -1px 1px $color-neutral-dark);
        @include outer-shadow(0.1);
        @include background(linear-gradient($color-neutral-dark, $color-neutral-darkest));
        @include transition;
      }
      
      &:hover span.remove {
        opacity: 0.6;
      }
      
      
      
      &:before {
        content: "";
        height: 36px;
        width: 21px;
        position: absolute;
        display: block;
        margin: -4px 0 0 -29px;
        @include icons-sprite(icon-draghandle);
      }
      
      &:first-child {
        border-top-width: 1px;
      }
    }
  }
  
  
  .#{$vprefix}inlinefield {

  	border: 1px dashed #dfdfdf;

  	&.#{$vprefix}editing {
  		border: 2px dashed #afafaf;
  	}

  	.#{$vprefix}inlinefield-hint {
  		border: 1px solid #dfdfdf;
  		p {
  			background-color: #dddddd;
  			@include filter-gradient(#efefef, #cccccc, vertical);
  			@include background-image(linear-gradient(top, #efefef 0%,#cccccc 100%));
  			margin: 0;
  			padding: 2px 5px;
  			font-size: 10pt;
  			color: #444;
  		}
  		margin: 3px;
  	}

  	.#{$vprefix}inlinefield-editor {

  		textarea, input {
  			border-width: 0;
  			background: rgba(255,255,255,0.8);
  		}

  		> div {
  			border-width: 0;
  		}

  	}
  }
  


  .#{$vprefix}color-field {
    cursor: pointer;

    color: transparent !important;
    background-color: rgba(0,0,0,1);
    
    border: 0;
    @include border-radius(4px);
  }
  
  .#{$vprefix}background-image-field {
    cursor: pointer;
    display: inline-block;

    color: white;
    background-color: rgba(0,0,0,1);
    
    font: bold 31px/25px 'Courier New';
    text-align: center;

    border: 0;
    @include border-radius(4px);
    background-position: center center;
    background-size: cover;
  }

  .#{$vprefix}image-field {
    margin: 5px 5px 15px 5px;
    background-color: $color-neutral-white;
    
    @include box-shadow(0 1px 5px rgba(0, 0, 0, 0.25), 0 0 40px rgba(0, 0, 0, 0.02) inset);
    

    & > * {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      margin: 10px;
    }

    &:before, &:after {
      bottom: 22px;
      content: '';
      height: 55%;
      left: 15px;
      max-height: 100px;
      max-width: 300px;
      position: absolute;
      width: 70%;
      z-index: -1;
      @include box-shadow(0 10px 7px -4px rgba(0, 0, 0, 0.3));
      @include transform(skew(-15deg) rotate(-6deg));
    }



    &:after {
      left: auto;
      right: 5px;
      @include transform(skew(15deg) rotate(6deg));
    }

    // div:first-child {
    //   font: bold 75px Arial;
    // }

    // div:last-child {
    //   font-size: 12px;
    // }
  }


  .#{$vprefix}field-alignment {
    
    $align-map: sprite-map('align/*.png'); /* go home syntax highlighting, you're drunk */
    $gradient-selected: linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%);
    
    table:nth-child(-n+4) {
      .#{$prefix}form-radio {
        //cursor: pointer;
        border: 1px solid $color-neutral-darkest;
        width: 26px;
        height: 24px;
        opacity: 0.8;
        border-right: 0;

        @include background(sprite($align-map, align-center));
        @include box-shadow(0 1px 0 #FFF inset);
        background-color: $color-neutral-light;
      }
      
      &.#{$prefix}form-cb-checked {
        .#{$prefix}form-radio {
          @include background(
            sprite($align-map, align-center-selected),
            $gradient-selected
          );
          background-color: $color-highlighted-background;
          @include box-shadow(none);
        }
      }
    }

    table:first-child {
      .#{$prefix}form-radio {
        @include border-top-left-radius(3px);
        @include border-bottom-left-radius(3px);
        @include background(sprite($align-map, align-left));
        background-color: $color-neutral-light;
      }

      &.#{$prefix}form-cb-checked {
        .#{$prefix}form-radio {
          @include background(
            sprite($align-map, align-left-selected),
            $gradient-selected
          );
          background-color: $color-highlighted-background;
          @include box-shadow(none);
        }
      }
    }

    table:last-child {
      .#{$prefix}form-radio {
        border-right: 1px solid $color-neutral-darkest;
        @include border-top-right-radius(3px);
        @include border-bottom-right-radius(3px);
        @include background(sprite($align-map, align-right));
        background-color: $color-neutral-light;
      }

      &.#{$prefix}form-cb-checked {
        .#{$prefix}form-radio {
          @include background(
            sprite($align-map, align-right-selected),
            $gradient-selected
          );
          background-color: $color-highlighted-background;
          @include box-shadow(none);
        }
      }
    }
  }



























  
  
  
  // EXTJS overrides
  
  .#{$prefix}form-item-label-top {
    display: block;
    //font-size: 0.7em;
    margin-bottom: px-to-rem(4);
    margin-top: px-to-rem(20);
    //color: $color-neutral-darker;
    font: $font-body-copy;
    color: $color-neutral-darkest;
    @include text-shadow(0 1px 0 #FFF);

    &.#{$vprefix}first {
      margin-top: 0;
      padding-top: 0;
    }
  }
  
  .#{$prefix}form-field, .#{$prefix}form-display-field, textarea.#{$prefix}form-field {
    font-size: 0.9em;
    color: $color-neutral-darkest;
    
    &::-webkit-input-placeholder {
      font-style: italic;
    }
    
    &:-moz-placeholder {
      font-style: italic;
    }
  }
  
  .#{$prefix}form-text, textarea.#{$prefix}form-field {
    padding: 0.5em;
    background: white;
    border: 1px solid $color-neutral-mid-light;
    @include facade-transitions;
  }

  .#{$prefix}menu-item-text {
    font-size: 14px;
  }
  
  .#{$prefix}field .#{$prefix}form-checkbox, 
  .#{$prefix}field .#{$prefix}form-radio,
  .#{$prefix}grid-row-checker,
  .#{$prefix}column-header-checkbox .#{$prefix}column-header-text {
  	height: 16px;
  	width: 16px;
  }
  .#{$prefix}field .#{$prefix}form-checkbox,
  .#{$prefix}field .#{$prefix}form-radio {
    position: relative;
    top: -3px;
  }
  .#{$prefix}field .#{$prefix}form-checkbox,
  .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox,
  .#{$prefix}menu .#{$prefix}menu-item-unchecked .#{$prefix}menu-item-icon,
  .#{$prefix}grid-table .#{$prefix}grid-row-checker,
  .#{$prefix}grid-header-ct .#{$prefix}column-header-checkbox .#{$prefix}column-header-text {
    @include icons-sprite(icon-checkbox);
  }
  .#{$prefix}form-cb-checked .#{$prefix}form-checkbox,
  .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox-checked,
  .#{$prefix}menu .#{$prefix}menu-item-checked .#{$prefix}menu-item-icon,
  .#{$prefix}grid-table .#{$prefix}grid-row-selected .#{$prefix}grid-row-checker,
  .#{$prefix}grid-header-ct .#{$prefix}grid-hd-checker-on .#{$prefix}column-header-text {
    @include icons-sprite(icon-checkbox-selected);
  }
  .#{$prefix}field .#{$prefix}form-radio {
    @include icons-sprite(icon-radio);
  }
  .#{$prefix}form-cb-checked .#{$prefix}form-radio {
    @include icons-sprite(icon-radio-selected);
  }
  .#{$prefix}form-cb-label-after {
    font-size: 0.875em;
  }
  // .#{$prefix}grid-row .#{$prefix}grid-cell-special {
  //   background-image: none;
  //   border-right: 0 none;
  // }
  // .#{$prefix}column-header-checkbox {
  //   border-right: 0 none;
  // }

  .#{$prefix}border-box {
    .#{$prefix}form-text,
    .#{$prefix}field-default-toolbar .#{$prefix}form-text {
      font: $font-body-copy;
      color: $color-neutral-darkest;
      line-height: 20px;
      padding: 5px;
      height: 33px;
      border: 1px solid $color-neutral-mid;
      @include border-radius(5px);
      @include box-shadow(0 1px 0 0 #fff);

      &:hover {
        border-color: $color-neutral-darker;
      }

      &.#{$prefix}form-focus {
        border-color: $color-highlighted-background;
        @include box-shadow(0 0 2px $color-highlighted-background);
      }

      &.#{$vprefix}form-text-xlarge {
        font-size: 24px;
        line-height: 1.25em;
        height: 42px;
        padding: 7px 7px 5px;
      }
    }

    .#{$prefix}form-invalid {
      .#{$prefix}form-text,
      .#{$prefix}field-default-toolbar .#{$prefix}form-text {
        border-color: $color-action-primary-background;
        @include box-shadow(0 0 2px $color-action-primary-background);
      }
    }
  }
  
  .#{$prefix}form-invalid-under {
    font: $font-body-copy-small;
    color: $color-action-primary-background;
    background: none;
    padding: 0;
    padding-top: 7px;
  }

  .#{$vprefix}select-field {
    .#{$prefix}form-text {

      color: $color-action-foreground;
      background-color: $color-action-background;
      @include text-shadow(0 1px 1px rgba(255,255,255,1));
      @include box-shadow(0 1px 0 rgba(255,255,255,1) inset);
    }
  }

  .#{$vprefix}select-picker {
    font: $font-body-copy;
    color: $color-neutral-darker;

    border: 1px solid $color-neutral-mid;
    border-top: 0;

    .#{$prefix}boundlist-item {
      padding: 5px;

      &.#{$prefix}boundlist-selected {
        background: none;
        border-color: transparent;
      }

      &:hover {
        background: $color-highlighted-background-light;
        border-color: transparent;
      }

      &.#{$prefix}boundlist-item-unselectable {
        cursor: default;
        opacity: 0.4;
        
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  
  .#{$prefix}trigger-cell {
    margin-left: -2em;
    position: absolute;
  }
  
  .#{$prefix}form-trigger {
    font-size: 0.9em;
    background: none;
    width: 0;
    height: 0;
    margin: 1em 0 0 0.5em;
    position: absolute;
    border-bottom: 0;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    border-top: 0.5em solid $color-neutral-dark;
  }
  
  .#{$prefix}tip .#{$prefix}tip-header .#{$prefix}box-item {
	padding-top: 0px;
  }
  .#{$prefix}tip-header-body {
	padding-top: 3px;
  }
  
  .#{$vprefix}tabs {
    .#{$prefix}form-cb-wrap {
      font-size: 0.9em;
      padding-top: 1.8em;
      color: $color-neutral-darker;
    }
    
    .#{$prefix}form-cb-label {
      padding-top: 0.4em;
    }
  }
  
  .#{$vprefix}widget-dropzone {
	padding: 12px 10px 10px 12px;
  }
  .#{$vprefix}widget-dropzone-hover {
	background-color: rgba(238, 255, 238, 1);
  }

	// .#{$prefix}boxselect ul.#{$prefix}boxselect-list,
 //  .#{$prefix}field-default-toolbar .#{$prefix}boxselect ul.#{$prefix}boxselect-list {
	// 	cursor: text;
	// 	height: auto;
	// 	min-height: 20px;
	// 	padding: 0 30px 0 0;
	// 	overflow-x: hidden;
	// 	overflow-y: auto;
	// }

	// .#{$prefix}boxselect input, .#{$prefix}boxselect .#{$prefix}form-focus {
	// 	@include box-shadow(none);
	// 	background: none;
	// 	border: none;
	// 	height: auto;
	// 	line-height: 18px;
	// 	padding: 0.5em;
	// 	width: 100%;
	// }
	// .#{$prefix}boxselect-input, .#{$prefix}boxselect-item {
	// 	display: inline-block;
	// 	position: relative;
	// }
	// .#{$prefix}boxselect-stacked .#{$prefix}boxselect-item {
	// 	display: block;
	// }
	// .#{$prefix}boxselect-item {
	// 	@include border-radius(4px);
	// 	background-color: #76CFDB;
	// 	border: 1px solid #76CFDB;
	// 	color: #FFF;
	// 	cursor: default;
	// 	margin: 1px 1px 1px 5px;
	// 	padding: 3px 1px 2px 5px !important;
	// 	position: relative;

	// 	&:before {
	// 		background-color: #76CFDB;
	// 		content: "";
	// 		display: block;
	// 		height: 2px;
	// 		margin: 0;
	// 		position: absolute;
	// 		right: 5px;
	// 		top: 50%;
	// 		width: 8px;
	// 		z-index: 10;
	// 		@include transform(rotate(-45deg));
	// 	}
	// }
	// .#{$prefix}field:not(.#{$prefix}item-disabled) .#{$prefix}boxselect-item:hover {
	// 	background: #FDBE9F;
	// 	border: 1px solid #F0A27A;
	// 	color: #DE5E1E;

	// 	&:before {
	// 		background-color: #FFF;
	// 	}
	// 	.#{$prefix}boxselect-item-close {
	// 		&:before {
	// 			background-color: #DE5E1E;
	// 		}
	// 		&:after {
	// 			background-color: #FFF;
	// 		}
	// 	}
	// }
	// .#{$prefix}field:not(.#{$prefix}item-disabled) .#{$prefix}boxselect-item.selected {
	// 	background: #DE5E1E !important;
	// 	border: 1px solid #DE5E1E !important;
	// 	color: #FFF;

	// 	&:before {
	// 		background-color: #DE5E1E;
	// 	}
	// 	.#{$prefix}boxselect-item-close {
	// 		&:before {
	// 			background-color: #FFF;
	// 		}
	// 		&:after {
	// 			background-color: #DE5E1E;
	// 		}
	// 	}
	// }

	// .#{$prefix}boxselect-item-text {
	// 	line-height: 16px;
	// 	padding-right: 20px;
	// }
	// .#{$prefix}boxselect-item-close {
	// 	background: none transparent;
	// 	cursor: pointer;
	// 	height: 14px;
	// 	opacity: 1.0;
	// 	right: 2px;
	// 	top: 4px;
	// 	width: 14px;

	// 	&:before {
	// 		background-color: #FFF;
	// 		border-radius: 14px;
	// 		content: "";
	// 		display: block;
	// 		height: 14px;
	// 		left: 0px;
	// 		margin: -7px 0 0;
	// 		position: absolute;
	// 		top: 50%;
	// 		width: 14px;
	// 	}
	// 	&:after {
	// 		background-color: #76CFDB;
	// 		content: "";
	// 		display: block;
	// 		height: 2px;
	// 		left: 3px;
	// 		margin: -1px 0 0;
	// 		position: absolute;
	// 		top: 50%;
	// 		width: 8px;
	// 		z-index: 11;
	// 		@include transform(rotate(45deg));
	// 	}
	// }
	// .#{$vprefix}boxselect .#{$prefix}form-trigger-wrap {
	// 	width: 100%;
	// }
	// .#{$vprefix}boxselect .#{$prefix}form-trigger {
	// 	@include icons-sprite(icon-gridview);
	// 	border: 0 none;
	// 	height: 20px;
	// 	margin: 8px 0 0 6px;
	// 	width: 20px;
	// }

  

  .#{$vprefix}date-field {

    .#{$prefix}form-text {
      padding-right: 32px;
    }    

    .#{$prefix}form-date-trigger,
    .#{$prefix}form-trigger-wrap-focus .#{$prefix}form-date-trigger {
      width: 32px;
      height: 32px !important;
      border: 0;
      margin: 0;

      @include picker-sprite(date);


    }
  }

  .#{$prefix}datepicker {
    background: #FFF;
    padding: 10px;
    @include border-radius(2px);
    @include box-shadow(0 5px 10px rgba(0,0,0,0.4));
    overflow:visible;

    .#{$vprefix}pointer-before,
    .#{$vprefix}pointer-after {
    //&:before {
      position: absolute;
      margin: -16px 0 0 197px;
      //border: 2px solid white;
      height: 0;
      width: 0;
      //background-color: red;
      border-bottom: 6px solid rgba(0,0,0,0.05);
      border-top: 0;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      // text-align: center;
      // color: #FFF;
      // font-size: 1.3em;
      // line-height: 1.55em;
      //content: "a";
      //opacity: 0.7;
      //background-color: red;
      //@include text-shadow(0 -1px 1px $color-neutral-dark);
      //@include outer-shadow(0.8);
      //@include border-radius(16px);
      //@include background(linear-gradient($color-neutral-dark, $color-neutral-darkest));
    }

    .#{$vprefix}pointer-after {
      border-bottom: 6px solid white;
      margin-top: -15px;
    }

    .#{$prefix}datepicker-header {
      background: none;
      height: 33px;
      border-bottom: 1px dashed $color-neutral-mid;
      margin-bottom: 10px;
      
      .#{$prefix}datepicker-month .#{$vprefix}datepicker-month {
        font: $font-navigation-labels;
        text-transform: uppercase;
        color: $color-neutral-darker !important;
      }

      $arrow-size: 7px;


      .#{$prefix}datepicker-prev,
      .#{$prefix}datepicker-next {
        width: $arrow-size;
      }

      .#{$prefix}datepicker-prev a {
        background: none;
        width: 0;
        height: 0;
        border-left: 0;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-right: $arrow-size solid $color-neutral-darkest;
      }

      .#{$prefix}datepicker-next a {
        background: none;
        width: 0;
        height: 0;
        border-right: 0;
        border-top: $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-left: 6px solid $color-neutral-darkest;
      }
    }

    table.#{$prefix}datepicker-inner {
      th {
        font: $font-control-label;
        color: $color-neutral-darker;
        border: 0;
        background: none;
        text-align: center;

        span {
          padding: 0 0 10px;
        }
      }

      a {
        color: $color-neutral-darker;
        font: $font-body-copy;
        text-align: center;
        padding: 0;
        @include border-radius(2px);
        
        em {
          font-style: normal;
        }

        &:hover {
          background-color: $color-highlighted-background;
        }
      }

      .#{$prefix}datepicker-prevday a, .#{$prefix}datepicker-nextday a {
        color: $color-neutral-mid-light;
      }

      .#{$prefix}datepicker-today a {
        border-color: transparent;
      }

      .#{$prefix}datepicker-selected a {
        border-color: transparent;
        background: none;
        color: $color-action-link;
      }

      a:hover {
        background-color: $color-highlighted-background;
        color: $color-highlighted-foreground;
      }
    }

    .#{$vprefix}datepicker-time {
      font: $font-body-copy-small;
      color: $color-neutral-darkest;
      text-align: center;
      padding: 7px 0;

      input {
        border: 1px solid $color-neutral-mid;
        color: $color-neutral-dark;
        text-align: center;
        padding: 4px 4px 3px;
        width: 40px;
        margin: 0 3px;
        @include border-radius;
      }

      span {
        cursor: pointer;
        padding: 3px;
        @include border-radius(2px);

        &.#{$vprefix}selected {
          font-weight: bold;
          color: $color-action-link;
        }

        &:hover {
          background-color: $color-highlighted-background;
          color: $color-highlighted-foreground;
        }
      }
    }

    .#{$prefix}datepicker-footer {
      background: none;
      border: 0;

      a {
        color: $color-action-link;
        font: $font-body-copy-small;
      }
    }
  }

  .#{$vprefix}form-flexbox {
    @include flexbox(row, wrap, space-between, stretch, flex-start);

    &.#{$vprefix}form-flexbox-start {
      @include flexbox(row, wrap, flex-start, stretch, flex-start);
    }

    .#{$prefix}clear {
      display: none;
    }
  }

  .#{$vprefix}form-note-box {
    background-color: #EEECEA;
    @include border-radius(3px);
    @include box-shadow(1px 1px 2px 1px rgba(0, 0, 0, 0.05) inset);
  }

  .#{$vprefix}label-hidden {
    visibility: hidden;
  }
  .#{$vprefix}selectfield-pretext {
    line-height: 33px;
    padding-right: 18px;
  }
  .#{$vprefix}selectfield-pretext + table {
    display: inline-table;
  }

  // .#{$vprefix}floating-formpanel {
  //   background-color: $color-neutral-white;
  //   @include box-shadow(0 1px 2px 1px rgba(0, 0, 0, 0.2));

  //   .#{$prefix}panel-header {
  //     border-color: $color-neutral-mid;
  //     border-style: dashed;
  //     border-width: 0px 0px 1px !important;
  //     padding: 5px 5px 10px;
  //     @include box-shadow(none);

  //     .#{$prefix}panel-header-text {
  //       color: $color-neutral-darkest;
  //     }
  //   }

  //   .#{$prefix}form-item-label-top {
  //     margin-top: 0.5em;
  //   }
  // }

  .#{$vprefix}orderform {
    // reused styles
    label {
      margin-right: 8px;
    }
    .status {
      font-size: 1.25em;
      margin-bottom: 14px;
    }

    // specific styles
    .#{$vprefix}orderform-heading {
      font-size: 1.5em;
      margin-bottom: 7px;
      margin-top: 35px;
      padding-left: 7px;
      padding-right: 7px;
    }

    .#{$vprefix}orderform-customer-data {
      border: 1px solid $color-grid-border;
      line-height: 1.5em;
    }

    .#{$vprefix}orderform-header {
      background-color: $color-neutral-darkest;
      border-bottom: 1px solid $color-grid-border;
      color: $color-neutral-white;
      padding: 20px 30px;
      @include flexbox(row, none, space-between);

      .order-status {
        font-size: 1.25em;
        margin-bottom: 14px;

        .guid {
          font-size: 0.6em;
        }
      }
      .order-total {
        font-size: 2em;
      }
    }

    .#{$vprefix}orderform-merchant-actions {
      border-bottom: 1px solid $color-grid-border;
      padding: 0px;
      @include flexbox(row, none, flex-start);

      .payment-flow-action {
        position: absolute;
        right: 30px;
        top: 20px;

        a {
          border: 1px solid $color-neutral-dark;
          color: $color-neutral-black;
          cursor: pointer;
          display: inline-block;
          font-size: 1.25em;
          max-width: 200px;
          padding: 15px 24px 13px;
          text-align: center;
          text-decoration: none !important;
          @include border-radius(4px);
          @include box-shadow(inset 0px 0px 1px rgba(0, 0, 0, 0.5));
          @include background(linear-gradient($color-neutral-white, $color-neutral-mid-light));
        }
      }

      .order-authorization, .order-shipping {
        padding: 20px 30px;
        position: relative;
        -webkit-flex: 0 0 50%;
      }
      .order-authorization {
        border-right: 1px solid $color-grid-border;
      }
    }

    .#{$vprefix}orderform-addresses {
      @include flexbox(row, none, flex-start);

      .order-address {
        padding: 20px 30px;
        -webkit-flex: 0 0 50%;

        .order-address-data {
          margin: 14px 0px;
        }
        .order-address-header {
          padding-bottom: 7px;
          @include flexbox(row, none, space-between);
        }
        .order-address-body {
          padding: 7px 0px;
        }

        &.order-address-billing {
          border-right: 1px solid $color-grid-border;
        }
      }
    }

    // .#{$vprefix}orderform-customer-note {
    //   background-color: $color-neutral-darkest;
    //   border-color: $color-grid-border;
    //   border-style: solid solid none;
    //   border-width: 1px 1px 0px;
    //   color: $color-neutral-white;
    //   padding: 14px;
    // }

    .#{$vprefix}orderform-totals {
      border-left: 1px solid $color-grid-border;
      border-right: 1px solid $color-grid-border;
      line-height: 1.5em;
      text-align: right;

      li {
        padding-left: 14px;
        padding-right: 14px;

        .value {
          display: inline-block;
          min-width: 4em;
          padding-left: 10px;
        }
      }
      .subtotal {
        border-bottom: 1px solid $color-grid-border;
        margin-bottom: 7px;
        padding-bottom: 7px;
        padding-top: 7px;
      }
      .grand-total {
        border-bottom: 1px solid $color-grid-border;
        border-top: 1px solid $color-grid-border;
        margin-top: 7px;
        padding-bottom: 7px;
        padding-top: 7px;
      }
    }

    .#{$vprefix}orderform-cart-items {
      .#{$prefix}grid-header-ct, .#{$prefix}grid-body {
        @include border-radius(0px);
      }
    }

    .#{$vprefix}orderform-cart-contents {
      .flexgrid-column {
        min-width: 10%;
        -webkit-flex: 1 1 auto;

        &.primary {
          -webkit-flex: 3 0 auto;
        }
      }
    }

    .#{$vprefix}orderform-internal-notes {
      border: 1px solid $color-grid-border;

      .note-form {
        padding: 14px;
        position: relative;

        textarea {
          padding-right: 100px;
        }
        .x-btn {
          bottom: 24px;
          position: absolute;
          right: 19px;
        }
      }

      .#{$prefix}grid-header-ct, .#{$prefix}grid-body {
        border: 0px none !important;
      }
    }
  }

  .#{$vprefix}orderform-customer-note {
    background-color: $color-neutral-darkest;
    border-color: $color-grid-border;
    border-style: solid solid none;
    border-width: 1px 1px 0px;
    color: $color-neutral-white;
    padding: 14px;
  }

  .#{$vprefix}customerform {
    .#{$vprefix}customerform-data {
      @include flexbox(row, wrap, space-between);

      .#{$vprefix}customerform-addresses {
        padding: 14px;
        -webkit-flex: 0 0 400px;

        .customer-address-header {
          margin-bottom: 7px;
          @include flexbox(row, none, space-between);
        }

        .customer-address-body {
          margin-bottom: 7px;
        }
      }

      .#{$vprefix}customerform-summary {
        border: 1px solid $color-grid-border;
        padding: 14px;
        -webkit-flex: 0 0 400px;

        .customer-totals {
          margin-bottom:14px;
          @include flexbox(row, nowrap, flex-start);

          .customer-total-spent {
            -webkit-flex: 1 0 auto;
          }
          .customer-total-orders {
            -webkit-flex: 0 0 auto;
          }

          .summary-statistic {
            font-size: 2em;
            margin-top: 7px;
          }
        }
      }
    }
  }

  .#{$vprefix}flexform {
    @include flexbox(row, wrap, space-between);
  }

  .#{$prefix}tip {
    background-color: rgb(249, 246, 211);
  }

  .#{$vprefix}form-tab-panel {
    $formTabColor: border-for($color-neutral-white);
    $formTabColorBG: $color-neutral-95;
    $formTabCloseColor: $color-theme-support-dark;

    .#{$vprefix}form-tab {
      background-color: $formTabColorBG;
      border-color: $formTabColor;
      border-style: solid solid none none;
      border-width: 1px 1px 0px 0px;
      cursor: pointer;
      display: inline-block;
      height: 40px;
      padding: 11px 28px;
      position: relative;

      &:nth-of-type(1) {
        border-left-style: solid;
        border-left-width: 1px;
        @include border-radius(3px 0px 0px 0px);
      }
      &:nth-last-of-type(1) {
        @include border-radius(0px 3px 0px 0px);
      }

      &.#{$vprefix}form-tab-active {
        background-color: $color-neutral-white;

        &::after {
          background-color: $color-neutral-white;
          bottom: -1px;
          content: "";
          display: block;
          height: 1px;
          left: 0px;
          position: absolute;
          width: 100%;
        }
      }

      &.add {
        padding-left: 0px;
        padding-right: 0px;
        text-indent: -99999px;
        width: 45px;

        &.list-open {
          border-radius: 0 3px 0 0;
        }

        &::before {
          background-color: $color;
          content: "";
          height: 13px;
          left: 21px;
          position: absolute;
          top: 13px;
          width: 3px;
        }
        &::after {
          background-color: $color;
          content: "";
          height: 3px;
          left: 16px;
          position: absolute;
          top: 18px;
          width: 13px;
        }
      }

      .#{$vprefix}override-indicator {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        border: 8px solid $color-theme-support-dark;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }

      &.#{$vprefix}has-overrides .#{$vprefix}override-indicator {
        display: block;
      }
    }

    .#{$vprefix}form-tab-close-button {
      display: inline-block;
      width: 17px;
      padding: 1px;
      margin: 0 -8px 0 12px;
      position: relative;
      top: -2px;
      line-height: 1;
      border-radius: 50%;
      border: 1px solid $formTabCloseColor;
      background-color: $color-neutral-white;
      color: $formTabCloseColor;
      text-align: center;
      font-size: 13px;

      &:hover {
        border-color: $color-neutral-white;
        background-color: $formTabCloseColor;
        color: $color-neutral-white;
      }
    }

    &> .#{$prefix}panel-body {
      background-color: $color-neutral-white;
      border: 1px solid border-for($color-neutral-white);
    }
  }

  .#{$vprefix}form-card-nav {
    color: $color;

    .#{$vprefix}form-card-nav-link {
      cursor: pointer;
      margin-bottom: 20px;
      padding: 2px 28px 0px;

      &:hover, &.scrollspy {
        color: $color-neutral-black;
      }
    }
  }

  .#{$vprefix}tab-picker {
    color: $color-neutral-white;
    background-color: rgb(181, 191, 201); // $addTabColor
    border: 1px solid rgb(116, 133, 151); // $formTabColor
    border-top: none;
    border-radius: 0 0 4px 4px;
    padding: 6px 8px 0;
    text-shadow: 0 0 4px #666;
  }

}