
@mixin taco-image-drop-zone {
    text-align: center;
    @include background-with-border($color-neutral-95, dashed);
    color: $color-neutral-70;
    font-weight: normal;
    background-repeat: no-repeat;
    padding-top: 3rem;
    background-image: url(/admin/Scripts/resources/images/image-drop.png);

    @include transition(background-color 0.3s ease-in);

    &:hover, &.drag-over {
        @include background-with-border($color-neutral-90, $border-style: dashed);
    }

    &:before {
        opacity: 0;
        content: "";
        display: block;
        position: absolute;
        background-color: transparentize($color-theme-support-darker, 0.8);
        @include transition(opacity 0.3s ease-in);
    }
}

@mixin taco-image-field {

    $thumbnail-size: 150px;

    .#{$vprefix}image-field {
        border: none !important;

        .#{$vprefix}action {
            font-weight: normal;
            font-size: 1.3rem;
        }
        .#{$vprefix}image-tiles {
            @include flexbox($wrap: wrap);
        }
        .#{$vprefix}image-tiles > li {
            padding: 0 1.5rem 1rem 0;
            
            display: block;

            .square {
                height: $thumbnail-size;
                width: $thumbnail-size;
                border: 1px solid #bfbfbf;    
                background-color: white;
                background-position: center center;
                background-repeat: no-repeat;
            }

            &.active {
                border: 1px solid red;

                &:before {
                    opacity: 1;
                    content: "";
                    display: block;
                    position: absolute;
                    background-color: rgba(60,120,255,0.4);
                    height: $thumbnail-size;
                    width: $thumbnail-size;
                    
                    @include transition(opacity 0.3s ease-in);
                }
            }

            &.#{$vprefix}image-drop .square {
                @include taco-image-drop-zone;
                padding-top: 3rem;
                background-position: center 5rem;
                background-size: 68px 70px;

                &:before {
                    width: $thumbnail-size;
                    height: $thumbnail-size;
                    margin-top: -3rem;
                }
            }

            .toolbar {
                opacity: 0;
                padding: 3px 4px;
                background: transparentize(#000,0.4);
                color: transparent;
                @include transition(opacity 0.2s ease-out);
                @include flexbox;
            }

            .drag-handle {
                cursor: move;
                width: 3px;
                height: 15px;
                margin: 1px 100px 0 0;
                @include icon-font("\E022", 16px, $color-neutral-white);
                @include flex($grow: 1);
            }

            .remove {
                cursor: pointer;
                width: 18px;
                height: 18px;
                @include icon-font("\E011", 16px, $color-neutral-white);
                
                &:before {
                    margin: 5px 0 0 8px;
                    content: '';
                    height: 8px;
                    width: 8px;
                    display: block;
                }
            }

            &:hover .toolbar, &.selected .toolbar {
                opacity: 1;
            }

            &.selected .square {
                border: 1px solid $color-theme-support-darker;
            }
        }

        &.drag-and-drop-active {
            .#{$vprefix}image-drop-zone {
                
                &:before {
                    opacity: 1 !important;
                }
            }

            .#{$vprefix}image-drop .square {
                &:before {
                    opacity: 1 !important;
                }
            }
        }
    }

    .#{$vprefix}image-drop-zone {
        @include taco-image-drop-zone;
        height: 170px;
        font-size: 2rem;
        background-position: center 6.2rem;
        margin-bottom: 1rem;

        &:before {
            margin-top: -3rem;
            height: 170px;
            //width: 159px;
            width: 100%;
        }
    }

    .#{$vprefix}image-field-drop-indicator {

        //@include transition(top 0.1s, left 0.1s);

        .outer-circle {
            width: 7px;
            height: 7px;
            background: $color-theme-support-darker;
            border-radius: 4px;
            padding: 3px;
        }

        .inner-circle {
            width: 1px;
            height: 1px;
            background: $color-neutral-white;
        }

        .bar {
            height: $thumbnail-size;
            width: 3px;
            margin-left: 2px;
            background: $color-theme-support-darker;
        }
    }
}