
@mixin taco-product-drop-zone {
    text-align: center;
    border: 1px dashed #B1B1B1;
    background-color: #F8F8F8;
    color: #A3A3A3;
    font-weight: normal;
    background-repeat: no-repeat;
    padding-top: 3rem;
    background-image: url(/admin/Scripts/resources/images/image-drop.png);

    @include transition(background-color 0.3s ease-in);

    &:hover, &.drag-over {
        background-color: #DFDFDF;
    }

    &:before {
        opacity: 0;
        content: "";
        display: block;
        position: absolute;
        
        @include transition(opacity 0.3s ease-in);
    }
}

@mixin taco-image-field {

    .#{$vprefix}product-image-field {
        border: none !important;

        .#{$vprefix}action {
            font-weight: normal;
            font-size: 1.3rem;
        }
        .#{$vprefix}image-tiles {
            @include flexbox($wrap: wrap);
        }
        .#{$vprefix}image-tiles > li {
            list-style: none;
            height: 150px;
            width: 150px;
            border: 1px solid #bfbfbf;
            margin: 0 1.5rem 1rem 0;
            background-color: white;
            background-position: center center;
            background-repeat: no-repeat;
            display: block;

            &.active {

            }

            &.#{$vprefix}image-drop {
                @include taco-product-drop-zone;
                padding-top: 3rem;
                background-position: center 5rem;
                background-size: 68px 70px;

                &:before {
                    width: 150px;
                    height: 150px;
                    margin-top: -3rem;
                }
            }

            &.uploading {
                //background: lightskyblue;
            }

            .toolbar {
                opacity: 0;
                padding: 3px 8px;
                background: transparentize(#000,0.4);
                color: transparent;
                @include transition(opacity 0.2s ease-out);
                @include flexbox;
            }

            .drag-handle {
                cursor: move;
                width: 3px;
                height: 15px;
                margin: 1px 100px 0 0;
                @include icons-sprite(icon-widget-drag);
                @include flex($grow: 1);
            }

            .remove {
                cursor: pointer;
                width: 15px;
                height: 18px;
                @include icons-sprite(icon-widget-remove);
            }

            &:hover .toolbar {
                opacity: 1;
            }
        }

        &.drag-and-drop-active {
            .#{$vprefix}product-image-drop-zone {
                //background-color: red !important;
                
                &:before {
                    opacity: 1 !important;
                }
            }

            .#{$vprefix}image-drop {
                //background-color: red !important;
                &:before {
                    opacity: 1 !important;
                }
            }
        }
    }

    .#{$vprefix}product-image-drop-zone {
        @include taco-product-drop-zone;
        height: 170px;
        font-size: 2rem;
        background-position: center 6.2rem;
        margin-bottom: 1rem;

        &:before {
            margin-top: -3rem;
            height: 170px;
            //width: 159px;
            width: 100%;
        }
    }
}