@mixin taco-modal {
  
  .#{$vprefix}modal {
    font-size: 1em;
    position: absolute;
    z-index: 300;
    //top: 50%;
    left: 50%;
    margin-left: -5000px;
    //margin-top: -5000px;
    opacity: 0;
    // margin-left: -200px;
    // margin-right: -200px;
    // opacity: 1;
    background: white;
    
    width: 25em;
    max-width: 50em;
    padding: 28px;
    @include border-radius(0.6em);
    @include outer-shadow(0.3, 3.5em, 0, 0.7em);

    .#{$vprefix}modal-title {
      border-bottom: 1px dashed $color-grid-border;
      font-size: 1.25em;
      font-weight: normal; 
      margin-left: -28px;
      padding: 0px 28px 1em;
      width: 700px;
    }
    
    .#{$vprefix}body {
      min-height: 3.5em;
    }
    
    .#{$vprefix}actions {
      @include clear-fix;

      .#{$vprefix}action {
        float: right;
        margin: 0.7em 0 0 0.7em;
      }
      
      
      
      a.#{$vprefix}action {
        margin: 1.2em 1em 0 1em;
        font-size: 0.9em;
      }
    }
    
    &.#{$vprefix}content {
      max-width: 1100px;
      min-width: 960px;
      
      &.#{$vprefix}auto-size {
        min-width: 0;
        max-width: 5000px;
        
        .#{$vprefix}content-body {
          border: 0;
          @include box-shadow(none);
          @include border-radius(0);
        }
      }
    }
  
    &.#{$vprefix}drawer {
      min-width: 960px;
      max-width: 1080px;
      margin-left: -480px;
      margin-top: 0;
      left: 50%;
      height: 90%;
      top: 10px;
      opacity: 0;
      
      .#{$vprefix}actions {
        min-height: 300px;
      }
    }
    
    .#{$vprefix}content-container {
      
      .#{$vprefix}content-header {
        padding: 0 0 28px 0;
        //background-color: rgba(255,0,0,0.3);

        h1 {
          font-size: 21px;
          line-height: 21px;
          font-weight: normal;
          //margin-bottom: 7px;
        }
      }

      .#{$vprefix}content-body {
        padding: 0;
        //margin-top: 28px;
      }




    }

    .#{$vprefix}close {
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
      height: 25px;
      margin: -10px -10px 0 0;
      overflow: hidden;
      text-indent: -5000px;
      cursor: pointer;
      @include icons-sprite(icon-modal-x);
    }

    &.#{$vprefix}mini-modal {

      $triangle-size: 16px;
      $triangle-size-half: 8px;
      $triangle-border-color: $triangle-size solid $color-neutral-white;
      $triangle-border-transparent: $triangle-size solid transparent;

      &:before {
        content: "";
        
        position: absolute;
        margin: 0;
      }

      &[data-align-to-target="t-b"]:before {
        left: 50%;
        top: -$triangle-size;
        margin-left: -$triangle-size-half;
        
        border-bottom: $triangle-border-color;
        border-left: $triangle-border-transparent;
        border-right: $triangle-border-transparent;
        border-top: 0;
      }

      &[data-align-to-target="r-l"]:before {
        top: 50%;
        right: -$triangle-size;
        margin-top: -$triangle-size-half;
        
        border-left: $triangle-border-color;
        border-top: $triangle-border-transparent;
        border-bottom: $triangle-border-transparent;
        border-right: 0;
      }
    }

    &.#{$vprefix}toolbar-modal {
      width: auto;
      max-width: auto;

      .#{$vprefix}body {
        min-height: auto;

        input {
          min-width: 20em;
        }
      }
    }
  }

  .#{$vprefix}order-modal {
    .order-modal-title {
      border-bottom: 1px dashed $color-grid-border;
      font-size: 1.25em;
      font-weight: normal;
      margin-left: -28px;
      padding: 0px 28px 1em;
      width: 700px;
    }

    .order-modal-description {
      color: rgba(68, 68, 68, 0.5); // #444, alpha 0.5
      font-style: italic;
      line-height: 1.5em;

      p {
        margin-bottom: 1em;
        margin-top: 1em;
      }
    }

    .order-modal-subtitle {
      font-weight: normal;
      margin: 1em 0;
    }

    .order-modal-body {
      max-height: 300px;
      overflow-x: visible;
      overflow-y: auto;
    }
  }
  
  .#{$vprefix}cover {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 101;
    background: #000000;
    opacity: 0;
    @include background(radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)));
  }

  .#{$vprefix}card-animated {
    display: block !important;
    left: 288px;
    position: absolute;
    @include transition;
  }

  .#{$vprefix}windowcardpanel {
    .#{$prefix}panel-body {
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-flex-wrap: none;
    }
  }
  // 2013/04/18 sorry jimmy, we have to back this out and wait on the transitions for a bit -- z
  /* 
  .#{$vprefix}card-flex {
    display: block !important;
    min-width: 0px;
    overflow: hidden;
    -webkit-flex: 0 1 0%;
    @include transition(all 0.3s ease-out);

    .#{$prefix}grid-row {
      .#{$prefix}grid-cell {
        background-color: $color-neutral-white;
      }
    }

    &:nth-of-type(1) {
      margin-left: -100% !important;
      -webkit-flex: 1 0 100% !important;
    }

    &.#{$vprefix}card-flex-active {
      margin-left: 0px !important;
      -webkit-flex: 1 0 100%;

      .#{$vprefix}treelist {
        padding: 2px;

        > .#{$prefix}grid-header-ct,
        > .#{$prefix}grid-body {
          border: 0px none !important;
        }
      }

      > .#{$prefix}docked-top {
        background-color: $color-neutral-white; //lime
        padding: 10px 14px;
      }

      &:nth-of-type(1) {
        > .#{$prefix}docked-top {
          border: 0px none !important;
          padding: 0px;
        }
        > .#{$prefix}grid-body {
          border: 0px none !important;
        }

      }
    }
  }*/
}