// $panel-header-color: $color-neutral-darkest;
// .#{$prefix}panel-header.#{$prefix}panel-header-default {
// 	background-image: none !important;
// 	background-color: transparent !important;
// 	border: 0 dashed $color-neutral-mid;
// 	border-bottom-width: 1px !important;
// 	@include box-shadow(none);
// }
@mixin taco-panel {

  // .#{$prefix}panel-header img.#{$prefix}tool-expand-top, .#{$prefix}panel-header img.#{$prefix}tool-collapse-top {
  // 	@include icons-sprite('icon-panelcollapse');
  // }
  // .#{$prefix}panel-header img.#{$prefix}tool-expand-bottom, .#{$prefix}panel-header img.#{$prefix}tool-collapse-bottom {
  // 	@include icons-sprite('icon-panelexpand');
  // }

  @include extjs-panel-ui(
    'taco',

    $ui-base-color: $color,
    $ui-border-color: border-for($color-neutral-white),
    $ui-border-radius: null,
    $ui-border-width: 1px,

    $ui-header-background-color: transparentize($color-neutral-white, 1),
    $ui-header-background-gradient: null,
    $ui-header-border-color: border-for($color-neutral-white),
    $ui-header-color: $color,
    $ui-header-font-size: px-to-rem(24),
    $ui-header-font-weight: bold,
    $ui-header-line-height: px-to-rem(30),
    $ui-header-inner-border-color: null,

    $ui-body-background-color: null,
    $ui-body-border-color: border-for($color-neutral-white),
    $ui-body-border-width: null,
    $ui-body-color: $color,
    $ui-body-font-size: null
  );

  /* HEADER */
  .#{$prefix}panel-header-body-taco {
    @include flexbox($alignItems: center);

    .#{$prefix}panel-header-text-container {
      padding: 0px;
      @include flex($grow: 1);
    }
  }

  /* MENUS */

  .#{$prefix}menu {
    .#{$prefix}panel-header {
      font-size: $font-size;
    }
    .#{$prefix}panel-header-text {
      font-size: $font-size;
      line-height: $font-size;
    }

    .#{$prefix}menu-body {
      border-style: solid;
      border-width: 1px;
    }
  }

  .#{$prefix}menu-item-text {
    font-size: px-to-rem(14);
  }

  .#{$prefix}menu-item {
    .#{$prefix}form-item-label {
      color: inherit;
      font-size: px-to-rem(14);
      margin-bottom: 0px;
      margin-top: px-to-rem(14);
      padding-left: 0px;
    }
  }

  /* panel specific styles, move to separate file */
  .#{$vprefix}producttype-attribute-panel {
    &> .#{$prefix}panel-header {
      .#{$prefix}panel-header-body {
        border-bottom: 1px dashed $color-grid-border;
        margin-bottom: 10px;
      }
    }

    &> .#{$prefix}panel-body {
      background-color: $color-neutral-lightest;
    }

    .#{$vprefix}draghandle {
      display: inline-block;
      margin: 0px;
      vertical-align: middle;
    }
    .#{$vprefix}attribute-item-header-text {
      display: inline-block;
      font-size: px-to-rem(15);
      font-weight: bold;
      line-height: 1em;
      padding-top: 0.5em;
      vertical-align: middle;
    }
    .#{$vprefix}attribute-item-body {
      border-top: 1px solid $color-neutral-white;
      font-size: px-to-rem(14);
      padding: 0.5em 0.5em 0.5em 36px;
      @include inner-shadow(0.1, 0px, 0px, 1px);
    }
  }

  .#{$vprefix}quantity-edit-menu {

    &>.#{$prefix}panel-body {
      background-color: rgb(102, 102, 102) !important;
      border-width: 0px;
      padding: 10px;
      @include border-radius(6px);
    }

    .#{$vprefix}formform {
      .#{$prefix}form-item,
      .#{$prefix}component {
        color: $color-neutral-white;
      }
    }

    .actions {
      margin: 20px 10px 0px 0px;
      text-align: right;

      .#{$vprefix}action {
        color: $color-neutral-white;
      }
    }
  }
  
}