@mixin taco-themes {

  $applied-size: 380px;
  $purchased-size: 220px;
  $title-height: 30px;

  .#{$vprefix}theme-selector {

    h2 {
      font-size: 21px;
      font-weight: bold;
    }

    .theme-swatch {
      margin: 0 20px 20px 0;
      overflow: hidden;
      background: $color-neutral-white;

      &:hover .menu {
        opacity: 1;
      }
    }

    .title {
      height: 30px;
      font-size: 13px;
      padding: 8px 0 0 20px;
    }

    .group {
      margin: 10px 0 20px;
      @include flexbox;
    }

    .menu {
      opacity: 0;
      background: transparentize($color-neutral-black, 0.15);
      color: $color-neutral-90;
      position: absolute;
      @include transition(opacity 0.3s);

      .title {
        @include flexbox;
        span {
          @include flex($grow: 1);
        }
        a {
          height: 18px;
          width: 22px;
          @include icons-sprite(icon-widget-remove);
        }
      }

      a {
        color: $color-neutral-white;
      }

      li {
        padding: 8px 0 8px 20px;
        border-bottom: 1px solid $color-neutral-45;
      }

      li:last-child {
        border-bottom: 0;
      }
    }

    .modes {
      font-size: 9px;
      height: 72px;
      padding: 0 0 0 0 !important;

      @include flexbox($alignItems: flex-end);


    }

    .icon {
      margin-left: 20px;
      margin: 0 12px 22px 20px;
    }

    .text {
      margin-bottom: 24px;
    }

    .icon-mobile {
      width: 12px;
      height: 18px;
      @include icons-sprite(icon-theme-mobile);
    }

    .icon-desktop {
      width: 36px;
      height: 29px;
      @include icons-sprite(icon-theme-desktop);
    }


    .actions {
      padding: 0 !important;
      @include flexbox;
      a {
        display: block;
        font-size: 10px;
        padding: 8px 20px;
      }
    }

    .group-applied {
      .menu {
        width: $applied-size;
      }

      .modes {
        width: $applied-size;
      }

      .theme-swatch {
        width: $applied-size;
      }

      .thumbnail {
        height: $applied-size;
        width: $applied-size;
      }

      .inactive {
        opacity: 0.25;
      }
    }

    .group-purchased {
      .menu {
        width: $purchased-size;
      }

      .modes {
        width: $purchased-size;
      }

      .theme-swatch {
        width: $purchased-size;
      }

      .thumbnail {
        width: $purchased-size;
        height: $purchased-size;
      }
    }

  }








/*





  $swatchWidth: 200px;
  $swatchHeight: 225px;
  $swatchBorderWidth: 4px;
  $platformTypeVerticalAdjustment: 20px;


  // *** Hide published (selected) themes in the unpublished container, and vice versa
  .#{$vprefix}themes-container {
    overflow: hidden; // *** Give container layout when all children are floated

    .#{$vprefix}theme-swatch.x-item-selected {
      display: none;
    }

    &.#{$vprefix}published-themes {
      .#{$vprefix}theme-swatch {
        display: none;

        &.x-item-selected {
          display: block;
        }
      }
    }
  }

  .#{$vprefix}theme-category-header {
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0;
    color: $color-neutral-darkest;

    &:first-child {
      margin-top: 10px;
    }
  }

  .#{$vprefix}theme-swatch {
    //width: $swatchWidth;
    //height: $swatchHeight;
    width: $swatchWidth + $swatchBorderWidth * 2;
    height: $swatchHeight + $swatchBorderWidth * 2;
    box-shadow: 6px 6px 12px #aaa;
    margin: $platformTypeVerticalAdjustment 33px 33px 0;
    background-color: $color-neutral-mid;
	background-position: 50%;
	background-repeat: no-repeat;
    color: $color-neutral-darkest;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    float: left;

    .#{$vprefix}inner-theme-wrapper {
      // background-color: $color-neutral-darker;
      background-color: rgba(124, 123, 122, 0.9);
      padding-top: 75px;
      //width: $swatchWidth;
      //height: $swatchHeight;
      width: $swatchWidth + $swatchBorderWidth * 2;
      height: $swatchHeight + $swatchBorderWidth * 2;
      border: $swatchBorderWidth solid $color-neutral-mid;
      border-bottom: none;
      position: relative;
      opacity: 0.66;

      .#{$vprefix}swatch-label {
        text-align: center;

        span {
          padding: 5px 8px;
          color: $color-neutral-darkest;
          background-color: $color-neutral-dark;
          text-shadow: 0 1px 1px $color-neutral-mid;
        }

        a {
          font-size: 13.333px;
          line-height: 35px;
          text-shadow: 0 0 10px $color-neutral-darkest;
        }
      }

      .#{$vprefix}theme-title {
        padding: 5px 3px;
        background-color: $color-neutral-mid;
        position: absolute;
        bottom: 0;
        width: $swatchWidth;
        //color: $color-neutral-dark;
      }

      .#{$vprefix}current-theme {
        display: none;
      }
    }

    .#{$vprefix}theme-platform {
      position: absolute;
      top: -$platformTypeVerticalAdjustment;
      left: 0;
      width: 100%;
      font-size: 15px;
      color: $color-neutral-dark;

      .#{$vprefix}deselect-theme {
        display: none; // Hide unless a child of the Published Themes container
        position: absolute;
        right: 5px;
        font-size: 18px;
        color: $color-neutral-mid;

        &:hover {
          font-weight: bold;
          color: #c66;
        }
      }
    }

    &.x-item-selected {
      cursor: default;

      .#{$vprefix}deselect-theme {
        display: inline;
        cursor: pointer;
      }

      .#{$vprefix}inner-theme-wrapper {
        background-color: rgba(189, 249, 255, 0.6); // corresponds to $color-highlighted-background-light, but with opacity
        border-color: $color-highlighted-background;
      }

      .#{$vprefix}current-theme {
        display: block;

        span {
          color: $color-neutral-white;
          text-shadow: 0 -1px 1px $color-neutral-dark;
          background-color: $color-highlighted-background;
        }
      }

      .#{$vprefix}set-as-theme {
        display: none;
      }


      .#{$vprefix}theme-title {
        color: $color-neutral-white;
        background-color: $color-highlighted-background;
      }
    }

    // &[data-selected=false] {
    //   .#{$vprefix}set-as-theme {
    //     display: block;
    //   }
    // }
  }

  // .#{$vprefix}theme-swatch + .#{$vprefix}theme-swatch {
  //   margin-left: 33px;
  // }
  // 
  

  .#{$vprefix}theme-settings {

    .#{$vprefix}theme-section {
      border: 1px solid $color-neutral-darkest;
      margin-top: 1em;
      @include border-radius;

      h1 {
        font: $font-section-title;
        cursor: pointer;
        background-color: $color-neutral-darkest;
        padding: 5px;
        color: $color-neutral-light;

        &:after {
          content: '-';
          right: 6px;
          position: absolute;
          display: block;
          text-align: center;
          font: $font-control-label;
          margin-top: -24px;
          width: 20px;
          height: 20px;
          line-height: 20px;
          color: $color-neutral-mid;
          border: 1px solid $color-neutral-mid;
          @include border-radius;
        }
        &.collapsed:after {
          content: '+';
        }
      }

      &> div {
        @include flexbox(row, wrap, flex-start, stretch, flex-start);
      }
    }

    .#{$vprefix}theme-group {
      
      //border: 3px solid black;
      margin: 4px;
      padding: 4px;
      background-color: $color-neutral-light;
      @include border-radius;

      h2 {
        font: $font-main-instructions;
        border-bottom: 1px solid $color-neutral-mid;
        margin: 0.4em 0;
      }

    }
  }
*/

}