.summary-heading {
    font-size: 15px !important;
    padding: 20px 0px 4px 0px;
    color: #3f3f3f;
    font-family: "proxima-nova", sans-serif;
}

.summary-heading p {
    margin: 0px;
}

.btn {
    border: 1px solid rgba(63, 63, 63, 0.19);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #7c7c7c;
    padding: 5px 12px;
    border-radius: 3px;
    font-family: "proxima-nova", sans-serif;
    background-color: #fafafa;
    font-size: 12px;
}

.btn-add {
    float: right;
    margin: 0px 5px;
}

.btn:hover {
    color: #3f3f3f;
    border: 1px solid rgba(63, 63, 63, 0.3);
}

.btn-delete-icon {
    border: 0px;
    background: transparent;
    box-shadow: 0px;
    color: #7c7c7c;
    font-size: 12px;
    padding: 2px;
}

.btn-delete-icon:hover {
    color: #3f3f3f;
}