/* NEUTRAL COLORS */

$color-neutral-transparent:     transparentize(rgb(255, 255, 255), 1);
$color-neutral-white:           rgb(255, 255, 255);
$color-neutral-black:           rgb(0, 0, 0);

$color-neutral-95:              darken($color-neutral-white, 5%);  /* #f2f2f2  242,242,242 */
$color-neutral-90:              darken($color-neutral-white, 10%); /* #e6e6e6  230,230,230 */
$color-neutral-85:              darken($color-neutral-white, 15%); /* #d9d9d9  217,217,217 */
$color-neutral-80:              darken($color-neutral-white, 20%); /* #cccccc  204,204,204 */
$color-neutral-75:              darken($color-neutral-white, 25%); /* #bfbfbf  191,191,191 */
$color-neutral-70:              darken($color-neutral-white, 30%); /* #b3b3b3  179,179,179 */
$color-neutral-65:              darken($color-neutral-white, 35%); /* #a6a6a6  166,166,166 */
$color-neutral-60:              darken($color-neutral-white, 40%); /* #999999  153,153,153 */
$color-neutral-55:              darken($color-neutral-white, 45%); /* #8c8c8c  140,140,140 */
$color-neutral-50:              darken($color-neutral-white, 50%); /* #808080  128,128,128 */
$color-neutral-45:              darken($color-neutral-white, 55%); /* #737373  115,115,115 */
$color-neutral-40:              darken($color-neutral-white, 60%); /* #666666  102,102,102 */
$color-neutral-35:              darken($color-neutral-white, 65%); /* #595959     89,89,89 */
$color-neutral-30:              darken($color-neutral-white, 70%); /* #4d4d4d     77,77,77 */
$color-neutral-25:              darken($color-neutral-white, 75%); /* #404040     64,64,64 */
$color-neutral-20:              darken($color-neutral-white, 80%); /* #333333     51,51,51 */
$color-neutral-15:              darken($color-neutral-white, 85%); /* #262626     38,38,38 */
$color-neutral-10:              darken($color-neutral-white, 90%); /* #1a1a1a     26,26,26 */
$color-neutral-05:              darken($color-neutral-white, 95%); /* #0d0d0d     13,13,13 */

/* THEME COLORS */

//framework colors
$color-framework-black:         rgb(56, 59, 60);
$color-framework-red:           rgb(223, 48, 24);
$color-framework-blue-light:    rgb(212, 226, 240);
$color-framework-blue-dark:     rgb(38, 109, 181);
$color-framework-gray-lighter:  rgb(245, 247, 247);
$color-framework-gray-light:    rgb(238, 240, 240);
$color-framework-gray-border:   rgb(221, 223, 223);
$color-framework-gray:          rgb(187, 190, 191);
$color-framework-gray-dark:     rgb(114, 119, 121);

$color-theme-red:               $color-framework-red;  // old: rgb(210, 70, 60);
$color-theme-red-light:         darken($color-framework-red, 5%); // rgb(221, 93, 84);
$color-theme-red-darker:        darken($color-framework-red, 10%); // old: rgb(196, 66, 57);
$color-theme-red-darkest:       darken($color-framework-red, 15%); // old: rgb(145, 49, 42);
$color-theme-yellow:            rgb(252, 194, 0);
$color-theme-yellow-light:      rgb(252, 240, 200);
$color-theme-green:             rgb(37, 174, 144);
$color-theme-green-darker:      rgb(26, 122, 101);
$color-theme-blue:              rgb(46, 100, 158);
$color-theme-blue-light:        rgb(228, 239, 255);
$color-theme-blue-bright:       rgb(60, 134, 210);
$color-theme-blue-darker:       rgb(31, 68, 107);
$color-theme-purple:            rgb(114, 25, 133);

/* DERIVATIVE COLORS */

$base-color: $color-framework-gray-light;

$color-standard-border: $color-framework-gray-border;
$color-standard-border-dark: $color-neutral-75;
$color-standard-link: $color-framework-blue-dark;
$color-standard-text: $color-framework-black;

// message colors
$color-status-success:  $color-theme-green;
$color-status-info:     $color-theme-blue-bright;
$color-status-warning:  $color-theme-yellow;
$color-status-error:    $color-theme-red;

// highlight colors
$color-selected: $color-framework-blue-light;
$color-selected-border: rgb(184, 200, 213); // rgb(162, 185, 214);

// action colors
$color-action-link: $color-theme-blue-darker;

// focus colors
$color-button-border: $color-theme-blue-darker;
$color-button-boxshadow: $color-theme-blue-darker;

$color-action-foreground: $color-framework-black;
$color-action-background: $color-framework-gray-light;
$color-action-background-hover: darken($color-framework-gray, 5%);
$color-action-background-active: $color-framework-gray;
$color-action-outline: $color-framework-gray;
$color-action-outline-hover: darken($color-framework-gray, 5%);
$color-action-outline-active: $color-framework-gray;
$color-action-outline-focus: rgb(55, 120, 213);

$color-action-primary-foreground: $color-neutral-white;
$color-action-primary-background: $color-theme-red;
$color-action-primary-background-hover: $color-theme-red-darker;
$color-action-primary-background-active: $color-theme-red-darkest;
$color-action-primary-outline: $color-theme-red-darker;
$color-action-primary-outline-hover: $color-theme-red-darkest;
$color-action-primary-outline-active: $color-theme-red-darkest;

$color-action-toggle-foreground: $color-neutral-white;
$color-action-toggle-background: $color-theme-green;
$color-action-toggle-background-hover: darken($color-theme-green, 5%);
$color-action-toggle-background-active: $color-theme-blue;
$color-action-toggle-outline: darken($color-theme-green, 5%);
$color-action-toggle-outline-hover: darken($color-theme-green, 10%);
$color-action-toggle-outline-active: $color-theme-blue-darker;

/* OLD COLORS */

$color-neutral-lightest:        rgb(242, 240, 237);
$color-neutral-light:           rgb(237, 234, 230);
$color-neutral-mid-lighter:     rgb(230, 226, 217);
$color-neutral-mid-light:       rgb(215, 213, 210);
$color-neutral-mid:             rgb(192, 192, 192);
$color-neutral-dark:            rgb(154, 154, 154);
$color-neutral-darker:          rgb(124, 123, 122);
$color-neutral-darkest:         rgb(94, 92, 90);

$color-highlighted-background: rgb(112, 210, 219);
$color-highlighted-background-light: rgb(189, 249, 255);
$color-highlighted-foreground: $color-neutral-white;
$color-highlighted-outline: $color-neutral-dark;

$color-theme-base:              $color-theme-red;
$color-theme-base-dark:         $color-theme-red-darker;
$color-theme-base-darker:       $color-theme-red-darker;
$color-theme-base-darkest:      $color-theme-red-darkest;
$color-theme-accent:            $color-theme-green;
$color-theme-support:           $color-theme-blue-light;
$color-theme-support-dark:      rgb(163, 184, 214); // #A3B8D6 blue
$color-theme-support-darker:    $color-theme-blue-bright;
$color-theme-support-darkest:   $color-theme-blue-darker;

$color-status:                  rgb(204, 255, 204); // #CCFFCC green
$color-warning:                 rgb(255, 255, 204); // #FFFFCC yellow
$color-error:                   rgb(255, 204, 204); // #FFCCCC red

// $color-action-primary-background: rgb(255, 156, 51);
// $color-action-primary-background-hover: adjust-lightness($color-action-primary-background, 4);
// $color-action-primary-background-active: adjust-lightness($color-action-primary-background, -6);
// $color-action-background-disabled: $color-neutral-light;
// $color-action-primary-foreground: #FFF;
// $color-action-primary-outline: adjust-lightness($color-action-primary-background, -10);

// $color-action-background: $color-neutral-light;
// $color-action-background-hover: adjust-lightness($color-action-background, 2);
// $color-action-background-active: adjust-lightness($color-action-background, -3);
// $color-action-background-depressed: adjust-lightness($color-action-background, -10);
// $color-action-background-disabled: $color-neutral-light;
// $color-action-foreground: $color-neutral-darkest;
// $color-action-outline: $color-neutral-dark;

// $color-action-link: adjust-lightness($color-highlighted-background, -15);

$color-grid-row: rgb(250, 248, 245);
$color-grid-row-alt: rgb(242, 240, 237);
$color-grid-border: rgb(153, 150, 145);
$color-grid-border-light: rgb(218, 218, 216);

$color-primary-menu-background-mid: rgb(97, 96, 94);
$color-primary-menu-background-dark: rgb(76, 73, 66);



/* META COLORS */

// Colors for Style Guide
.guide-color-neutral-transparent    {background: $color-neutral-transparent;}
.guide-color-neutral-white          {background: $color-neutral-white;}
.guide-color-neutral-lightest       {background: $color-neutral-lightest;}
.guide-color-neutral-light          {background: $color-neutral-light;}
.guide-color-neutral-mid-lighter    {background: $color-neutral-mid-lighter;}
.guide-color-neutral-mid-light      {background: $color-neutral-mid-light;}
.guide-color-neutral-mid            {background: $color-neutral-mid;}
.guide-color-neutral-dark           {background: $color-neutral-dark;}
.guide-color-neutral-darker         {background: $color-neutral-darker;}
.guide-color-neutral-darkest        {background: $color-neutral-darkest;}
.guide-color-neutral-black          {background: $color-neutral-black;}
.guide-color-neutral-transparent    {background: $color-neutral-transparent;}
.guide-color-neutral-transparent    {background: $color-neutral-transparent;}
.guide-color-neutral-95             {background: $color-neutral-95;}
.guide-color-neutral-90             {background: $color-neutral-90;}
.guide-color-neutral-75             {background: $color-neutral-75;}
.guide-color-neutral-70             {background: $color-neutral-70;}
.guide-color-neutral-45             {background: $color-neutral-45;}
.guide-color-neutral-30             {background: $color-neutral-30;}
.guide-color-neutral-20             {background: $color-neutral-20;}
.guide-base-color                   {background: $base-color;}
.guide-color-theme-base             {background: $color-theme-base;}
.guide-color-theme-base-dark        {background: $color-theme-base-dark;}
.guide-color-theme-accent           {background: $color-theme-accent;}
.guide-color-theme-support          {background: $color-theme-support;}
.guide-color-theme-support-dark     {background: $color-theme-support-dark;}
.guide-color-theme-support-darker   {background: $color-theme-support-darker;}
.guide-color-theme-support-darkest  {background: $color-theme-support-darkest;}
.guide-color-status                 {background: $color-status;}
.guide-color-warning                {background: $color-warning;}
.guide-color-error                  {background: $color-error;}
.guide-color-action-link            {background: $color-action-link;}
.guide-color-action-primary-background
                                    {background: $color-action-primary-background;}
.guide-color-action-primary-background-hover
                                    {background: $color-action-primary-background-hover;}
.guide-color-action-primary-background-active
                                    {background: $color-action-primary-background-active;}
.guide-color-selected               {background: $color-theme-support;}