@import "webfonts";
@import "colors";
//*@import "sprites";*

/* FUNCTIONS */
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@function px-to-rem ($px) {
  @return strip-unit($px) * 0.1rem;
}
@function border-for ($color) {
  @return adjust-color($color, $red: -51, $green: -51, $blue: -51);
}

/* VARIABLES */

// limit IE compilation
$supports-gradients: true;
$compile-all: false;

// colors and fonts
$color: $color-framework-black;
$font-size: 13px;

$font-family: proxima-nova, helvetica, arial, verdana, sans-serif;

$base-color: $color-neutral-90;

$link-color: #2c97d4;

$font-page-title: bold 30px $font-family;
$font-section-title: bold 24px $font-family;
$font-main-instructions: bold 18px $font-family;
$font-navigation-labels: bold 16px $font-family;
$font-message: italic 14px $font-family;
$font-control-label: bold 14px $font-family;
$font-body-copy: normal 14px $font-family;
$font-body-copy-small: normal 12px $font-family;

// panels
$border-layout-ct-background: $base-color;


// reset
@import "reset";
