.#{$prefix}grid-cell-row-checker {
    .#{$prefix}grid-cell-inner {
        padding: 12px 10px 11px;
    }
}

.#{$prefix}column-header-checkbox {
    .#{$prefix}column-header-inner {
        padding-bottom: 13px !important;
        padding-top: 11px !important;
    }
}
