.#{$prefix}grid-row-checker,
.#{$prefix}column-header-checkbox .#{$prefix}column-header-text {
    width: 17px;
}

// .#{$prefix}grid-cell-row-checker {
//     .#{$prefix}grid-cell-inner {
//         padding: 12px 10px 11px;
//     }
// }

.#{$prefix}column-header-checkbox {
    .#{$prefix}column-header-inner {
        padding-bottom: 8px !important;
        padding-top: 7px !important;
    }
}
