@errorText:               #b94a48;
@errorBackground:         #f2dede;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);
@errorIcon:				  "/resources/images/error-exclamation.png";
@columnWidth-2col:		  435px;
@thumbnailSize:			  {{themeSettings.thumbnailSize|settingtype:'select'|default:'50px'|values:['30px','40px','50px','70px','80px']|description:'Thumbnail Size'|group:'General'}};
@gutter:				  {{themeSettings.gutterWidth|settingtype:'select'|default:'8px'|values:['4px','6px','8px','10px','12px']|description:'Gutter Width'|group:'General'}};
@inputBorder:			  #a7a7a7;