.mz-notification(@bgColor, @textColor, @borderColor, @iconUri) {
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		width: 100%;
		padding: 2px 0;
		background: @bgColor;
		border-bottom: @gutter solid @borderColor;
		li {
			color: @textColor;
			font-size: 11pt;
			font-style: italic;
			list-style: none;
			margin: 1px @gutter*2 0;	
		}
}



.mz-messages {
	.mz-errors {
		.mz-notification(@errorBackground, @errorText, @errorBorder, @errorIcon);
	}
}

.validation-summary-errors {
	ul {
		.mz-notification(@errorBackground, @errorText, @errorBorder, @errorIcon);
	}
}