
.mz-paging-wrap {
	overflow:hidden;
}
/* Sort By Select --------- */
.mz-sort-wrap {
}
.mz-sort-label {
	font-weight: 700;
}
/* Items per page and paging navigation ------- */

.mz-items-per-page-wrap {
}
.mz-paging-nav-wrap {
}
.mz-items-per-page-select {
}
/* For sorting label ------------------ */
.mz-paging-sorting, .mz-paging-pagesize {
	position: relative;
	display: block;
	margin: @gutter*.6 0 @gutter*.6;
	box-sizing: border-box;
	width: 100%;
}

/* Found Products Text -------- */

.mz-product-count-text {
	padding: 10px 0;
	font-size: 14px;
}
