.mz-price-stack-wrap {
    position: relative;
    margin: 10px 0;
}

.mz-price-label {
    float: left;
    margin: 0 @gutter 0 0;
	font-size: 11px;
}

.mz-dotted-spanner {
	display: none;
}

.mz-price-amt {
    float: right;
	clear: right;
    padding-left: 2px;
	display: inline-block;
	margin: 0 5px;
	font-size: 12px;
}

.mz-price-sub-wrap {
    overflow: hidden;
    position: relative;
}

sup.mz-currency {
    font-size: 70%;
    top: auto;
    position: relative;
    vertical-align: text-top;
    line-height: 125%;
}