.#{$prefix}boundlist {
    font-size: px-to-rem(16);
    font-weight: normal;
    line-height: 1.0;

    .#{$prefix}boundlist-item {
        background-color: $color-neutral-white;
        font-size: px-to-rem(16);
        line-height: 1.0;

        &:last-child {
            border-bottom-width: 1px;
            padding-bottom: 9px;
        }

        &.#{$prefix}boundlist-item-over {
            background-color: $color-neutral-95;

            &.#{$prefix}boundlist-selected {
                border-color: $boundlist-item-selected-border-color;
            }
        }

        &.#{$prefix}boundlist-selected {
            &+ .#{$prefix}boundlist-item {
                border-top-color: $color-theme-blue-bright;
            }
        }
    }
}

/* MULTISELECT LISTS */

.#{$prefix}multiselectfield {
    &.#{$prefix}form-invalid {
        .#{$prefix}boundlist-item {
            border-bottom-color: $color-theme-red;
            border-left-color: $color-theme-red;
            border-right-color: $color-theme-red;

            &:first-child {
                border-top-color: $color-theme-red;
            }
        }
    }
}

/* FLOATING LISTS */

.#{$prefix}boundlist-floating {
    background-color: $color-neutral-white;
    border: 1px solid border-for($color-neutral-white);
    font-size: px-to-rem(14);
    line-height: 1.0;

    ul {
        padding: 7px 0px;
        @include border-radius(2px);
    }

    .#{$prefix}boundlist-item {
        background-color: transparent;
        border-color: $color-neutral-white !important;
        border-width: 0px;
        font-size: px-to-rem(14);
        line-height: 1.0;
        padding: 5px 14px 3px;
        @include border-radius(0px);

        &:last-child {
            border-bottom-width: 0px;
            padding-bottom: 3px;
        }

        &.#{$prefix}boundlist-item-over {
            background-color: $color-selected;
        }
    }
}

.#{$prefix}boundlist-with-hidden-selections {
    .#{$prefix}boundlist-selected {
        display: none;
    }
}

.#{$prefix}boundlist-draggable .#{$prefix}boundlist-item,
.#{$prefix}boundlist-undraggable .#{$prefix}boundlist-item {
    margin: 0px 0px 3px;
    padding: 0px;

    &:last-child {
        margin-bottom: 0px;
    }

    .#{$prefix}boundlist-item-contents {
        padding: 3px 4px;
        @include flexbox(row, nowrap, flex-start, center, center);

        &> * {
            @include flex(0);
        }

        .#{$prefix}boundlist-item-content {
            @include flex(1);
        }
    }
}

/* SPECIAL LISTS */

.#{$prefix}boundlist-undraggable {
    .#{$prefix}boundlist-item {
        border-style: dashed;
        opacity: 0.7;
    }

    .#{$prefix}boundlist-item-drag {
        visibility: hidden;
    }
}

.#{$prefix}boundlist-item-name {
    font-size: px-to-rem(12px);
    display: block;
}

.#{$prefix}boundlist-item-type {
    color: $color-neutral-70;
    display: block;
    font-size: px-to-rem(12px);
    text-transform: uppercase;
}

.#{$prefix}boundlist-item-drag {
    cursor: move;
    display: inline-block;
    overflow: hidden;
    padding-top: 16px;
    vertical-align: top;
    @include icon-font($glyph-knurling);

    &::after {
        left: -2px;
    }

    &+ .#{$prefix}boundlist-item-content {
        display: inline-block;
        vertical-align: top;
    }
}

.#{$prefix}boundlist-item-action {
    cursor: pointer;
    display: block;
    font-size: 0px;
    height: 20px;
    line-height: 0px;
    overflow: hidden;
    @include flexbox(row, nowrap, center, flex-end, stretch);
    right: 0px;
    text-indent: -9999px;
    top: 7px;
    width: 20px;

    &::after {
        color: $color-neutral-20;
        font-size: 14px;
        font-weight: bold;
        height: 16px;
        left: 0px;
        line-height: 1.0;
        text-align: center;
        text-indent: 0px;
        top: 0px;
        width: 16px;
        @include border-radius(14px);
        @include flexbox(row, nowrap, center, flex-end, stretch);
    }
}

.#{$prefix}boundlist-item-close {
    display: inline-block;
    left: auto;
    right: 8px;
    top: 12px;
    @include icon-font($glyph-close);
    position: absolute;
}

.#{$prefix}boundlist-item-settings::after {
    content: "⚙";
}
