$menu-background-color: $color-neutral-white;
$menu-border-color: $color-neutral-75;
$menu-item-active-background-color: $color-selected;
$menu-item-active-border-color: $color-selected;
$menu-item-active-border-radius: 0;
$menu-item-arrow-height: 16px;
$menu-item-arrow-width: 16px;
$menu-item-background-gradient: null;
$menu-item-border-width: 5px 14px 3px;
$menu-padding: 7px 0px;
$menu-text-color: $color;
