$vprefix: 'taco-';
$prefix: 'x-';

//sprites made with compass outside of bulid
@import 'sprites/icons';
@import 'sprites/dashboard';



// Import all mixins
@import 'taco/mixins/css3';
@import 'taco/mixins/fonts';
@import 'taco/colors';

@import 'taco/content';
@import 'taco/viewport';
@import 'taco/navmenu';
@import 'taco/messages';
@import 'taco/dashboard';
@import 'taco/order';
@import 'taco/errors';



// Import widgets
@import 'taco/widgets/actions';
@import 'taco/widgets/boundlist';
@import 'taco/widgets/boxselect';
@import 'taco/widgets/fieldgroup';
@import 'taco/widgets/form';
@import 'taco/widgets/grid';
@import 'taco/widgets/modal';
@import 'taco/widgets/window';
@import 'taco/widgets/shim';
@import 'taco/widgets/tree';
@import 'taco/widgets/pagesettings';
@import 'taco/widgets/panel';
@import 'taco/widgets/themes';
@import 'taco/widgets/checkout';
@import 'taco/widgets/quickadder';
@import 'taco/widgets/standaloneAccordion';
@import 'taco/widgets/phoneOrders';
@import 'taco/widgets/contextSwitcher';
@import 'taco/widgets/imagefield';
@import 'taco/widgets/tooltip';

// Import views
@import 'taco/forms';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: "/admin/scripts/resources/images/"; // defaults to "../images/" when true
//$relative-image-path-for-uis:  "Scripts/Ext/resources/themes/images/" ; // defaults to "../images/" when true
