
.#{$vprefix}publishing-settings {

    .header {
        padding-top: 15px;
        text-align: center;
    }

    .product {
        border-color: $color-neutral-05;
        border-style: solid;
        border-width: 1px 0 0;
        font-weight:bold;
        vertical-align: middle !important;
    }

    .content {
        padding-top: 20px;
        vertical-align: middle !important;
        font-weight:bold;
    }

    .site {
        vertical-align: middle !important;
    }

    .site-name {
        padding-left: 15px;
    }

    .radio {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        
        & > table {
            display: inline-table;
        }
    }
}