// .shit {
//     background-color: rgba(255,0,0,0.3);
//     border-top: 3px solid blue;
// }


.#{$vprefix}publishing-settings {
    .shit {
        background-color: rgba(255,0,0,0.3);
        border-top: 3px solid blue;
    }

    .header {
        padding-top: 15px;
        text-align: center;
    }

    .product {
        border-color: $color-neutral-05;
        border-style: solid;
        border-width: 1px 0 0;
        vertical-align: middle !important;
    }

    .content {
        padding-top: 20px;
        vertical-align: middle !important;
    }

    .site {
        vertical-align: middle !important;
    }

    .site-name {
        padding-left: 6px;
    }

    .radio {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        
        & > table {
            display: inline-table;
        }
    }
}