@font-face {
    font-family: 'mozicons';
    src: url('../../build/resources/fonts/mozicons.eot?#iefix') format('embedded-opentype');
    src: url('../../build/resources/fonts/mozicons.woff') format('woff'),
         url('../../build/resources/fonts/mozicons.ttf') format('truetype'),
         url('../../build/resources/fonts/mozicons.svg#mozicons') format('svg');
    font-style: normal;
    font-weight: normal;
}
