.mz-cms-format-bar {
    left: 0;
    position: fixed;
    top: -50px;
    text-align: center;
    width: 100%;
    z-index: 100;

    @include transition(top 0.3s cubic-bezier(0.165, 0.84, 0.44, 1));
    
    ul {
        background-color: #DFDFDF;
        border: 1px solid #bfbfbf;
        border-top-width: 0;
        cursor: default;
        display: inline-block;
        font-family: Helvetica;
        list-style: none;
        margin: 0;
        padding: 6px 8px;
    }

    &.mz-cms-active {
        top: 0;
    }

    li {
        display: inline-block;
        font-size: 14px;
        height: 26px;
        margin: 2px;
        padding-top: 5px;
        text-align: center;
        width: 30px;

        &:hover {
            background-color: #BFBFBF;
        }

    }

    .mz-cms-styles {
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        width: auto;

        span {
            margin-right: 5px;
        }

        ul {
            border-top-width: 1px;
            display: none;
            left: 0;
            padding: 5px;
            position: absolute;
            top: 27px;

            li {
                cursor: pointer;
                display: block;
                height: auto;
                margin: 0;
                padding: 3px 8px;
                text-align: left;
                white-space: nowrap;
                width: auto;
            }
        }
    }
}

.mz-cms-tooltip {
    background-color: black;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    top: 0;

    input[type="text"] {
        width: 300px;
    }
}

.special {
    color: green;
    font-style: italic;
}
