.mz-cms-row {

    &.content-view {
        padding: 20px !important;
    }

    .mz-drop-hint {
        line-height: 100px;
        text-align: center;
    }

    .mz-layout-widget-header {
        text-align: center;
        height: 24px;
        position: relative;

        .mozu-row-title {
            display: inline-block;
            padding-top: 3px;
        }

        &.row {
            background-color: $light-bg-gray;
            color: #0000000;

            .mz-cms-tools {
                background-color: $light-bg-gray;
            }
        }

        &.col {
            background-color: transparent;
            color: #FFFFF;
            position: absolute;
            width: 100%;
        }
    }
}

.mz-drag-icon {
    display: block;
    background-repeat: round;
    height: 50px;
    pointer-events: none;
    position: absolute;
    width: 50px;
    z-index: 1000002;
}

.mz-cms-tools {
    display: block;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 1000001;
    cursor: pointer;
    @include border-radius(5px);

    li {
        display: inline-block;
        height: 26.66px;
        text-align: center;
        padding-top: 6.66px;
        text-align: center;
        color: white;
        margin-left: 2px;
        margin-right: 2px;

        &.pencil {
            top: 4.5px;
            @include icon-font(char-from-code($glyph-chorizo-pencil), 14px, $gray-text-dark);
        }

        &.trash {
            top: 4.5px;
            @include icon-font(char-from-code($glyph-chorizo-trash), 14px, $gray-text-dark);
        }

        &.drag-handle {
            top: 4.5px;
            @include icon-font(char-from-code($glyph-chorizo-move), 14px, $gray-text-dark);
        }
    }
}

.mz-cms-editing {

    .mz-cms-grid {

        [contenteditable="true"]:active,
        [contenteditable="true"]:focus {
            border-color: transparent;
            outline: none;
        }

        [class*='mz-cms-col-'] {
            transition: width 0.4s, height 0.4s;
            border: none;

            &.content-view {
                // border: 1px solid black;
                // outline: none !important;
            }

            &.mz-cms-show-zone {
                outline-color: $hint-block-color;
                outline-style: dashed;
                outline-width: 1.1px;
            }
        }
    }


    .mz-cms-row {
        outline: 1px solid transparent;
        outline-offset: -1px;
        @include transition(outline-color $duration);
    }

    .mz-cms-block, .mz-cms-blank-block {
        outline: 1px solid transparent;
        outline-offset: -1px;
        @include transition(outline-color $duration, background-color $duration);

        .mz-cms-tools {
            width: 66px;
            height: 25px;
            background-color: $hint-color;
            display: none;
            text-align: center;

            li {

                &.pencil {
                    top: 4.5px;
                    @include icon-font(char-from-code($glyph-chorizo-pencil), 14px, white);
                }

                &.trash {
                    top: 4.5px;
                    left: 4px;
                    @include icon-font(char-from-code($glyph-chorizo-trash), 14px, white);
                }

                &.drag-handle {
                    top: 4.5px;
                    @include icon-font(char-from-code($glyph-chorizo-move), 14px, white);
                }
            }
        }

        &.mz-content-screen {
            opacity: .2;
        }
    }

    .mz-cms-blank-block {
        &:hover {
            background-color: rgba(0,0,0,0.01);
            outline-color: $hint-block-hover-color !important;
            outline-style: solid !important;
        }
        & > div {
            height: 150px;
            padding-top: 68px;
            text-align: center;
        }

        &.mz-cms-drop-over {
            background-color: transparentize($hint-color, 0.9);
            outline-color: $hint-color !important;
        }
    }


    .mz-cms-hint-bar {
        background: $hint-color;
        height: 1px;
        position: absolute;
        width: 1px;
        z-index: 1000002;
        pointer-events: none;
        display: none;

        .mz-cms-hint-message {
            background: $hint-color;
            color: white;
            font-family: $font-family;
            font-size: 11px;
            padding: 5px;
            position: absolute;
            text-transform: uppercase;
            top: -24px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 80px;
            text-align: center;
            z-index: 101;
            @include border-radius(5px 5px 0px 0px);

            &.top {
                top: -23px;
                @include border-radius(5px);
            }

            &.bottom {
                top: 0px;
                @include border-radius(0 0 5px 5px);
            }

            &.between {
                top: -13px;
                @include border-radius(5px);
            }

        }

        &.mz-cms-upright {

            .mz-cms-hint-message {
                left: -11px;
                letter-spacing: 2px;
                top: 0;
                bottom: 0;
                margin: auto;
                right: initial;
                width: initial;
                height: 85px;
                @include border-radius(5px);

                -webkit-text-orientation: upright;
                -webkit-writing-mode: vertical-lr;

                &.left {
                    left: -22px;
                    @include border-radius(5px 0 0 5px);
                }

                &.right {
                    left: 1px;
                    @include border-radius(0 5px 5px 0);
                }

            }
        }
    }

    .mz-cms-resizer {
        background-color: transparentize($hint-color, 0.97);
        display: block;
        height: 100%;
        opacity: 0;
        outline: 1px solid $hint-color;
        outline-offset: -1;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        @include transition(opacity $duration);

        .mz-cms-bottom {
            background-color: $hint-color;
            bottom: -4px;
            cursor: ns-resize;
            height: 7px;
            left: 50%;
            margin-left: -25px;
            position: absolute;
            width: 50px;
            @include border-radius(5px);
            @include box-shadow(0px 0px 5px #FFF);
        }
    }

    .mz-cms-state-default {
        cursor: default;

        &.mz-cms-drag-handle, .mz-cms-drag-handle {
            cursor: move;
        }

        .mz-cms-text-drag-handle {
            display: block;
        }

        &:hover {
            outline-color: $hint-block-hover-color !important;
            .mz-cms-tools {
                display: block;
            }
        }
    }

    .mz-cms-state-editing {
        background-color: transparentize($hint-color, 0.97);
        outline-color: $hint-color;

        .mz-cms-tools {
            display: none;
        }
    }

    .mz-cms-state-selected {
        outline-color: $hint-color;

        .mz-cms-resizer {
            opacity: 1;
            z-index: 1;
        }
    }

    .mz-cms-state-moving {

    }
}