// This would be some things the Theme Author might list-style-type: 

h1, h2, h3, p {
    font-family: "helvetica";
}

h1 {
    border-bottom: 1px solid #CCC;
    color: #444;
}


.mz-drop-zone {
    margin: 20px;
}