#taco-widget-tray {
    
    .tray-header {
        font-size: 16px;
        margin: 9px;
    }
    
    #taco-widget-holder {
        text-align: center;
        margin-left: 19px;
    }

    .ui-draggable {
        -webkit-user-drag: none;
    }
}