.#{$vprefix}widget-tray {
    background-color: $white-color;

    .tray-header {
        font-size: 16px;
        margin: 9px;
    }
    
    #taco-widget-holder {
        margin-left: 19px;
    }

    .ui-draggable {
        -webkit-user-drag: none;
    }
}