$black-color: rgb(0, 0, 0);
$white-color: rgb(255, 255, 255);
$valid-green: rgb(52, 174, 144);
$light-bg-gray: darken($white-color, 9);		
$gray-text-dark: darken($white-color, 35);	
$font-family: 'proxima-nova', sans-serif;
$hint-block-color: #CCC;
$hint-block-hover-color: rgb(50,50,50);
$hint-bar-color: rgb(41, 96, 211);
$hint-color: adjust_hue(saturate(lighten($black-color, 44), 54), 165);
$duration: 150ms;
