
.mz-cms-widget-modal {
    background-color: white;
    border: 1px solid #bfbfbf;
    font-family: SourceSansProRegular, MyriadWebProRegular, helvetica, arial, verdana, sans-serif;
    height: 390px;
    left: 50%;
    margin-left: -190px;
    margin-top: -190px;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    width: 390px;
    z-index: 100003;

    @include border-radius(2px);

    .mz-cms-header {
        font-size: 24px;
        font-weight: normal;
        height: auto;
        line-height: 24px;
        padding: 19px 19px 10px;
    }

    .mz-cms-body {
        padding: 9px 10px 0;
        height:385px;
    }

    .mz-cms-widget {
        display: inline-block;
        margin: 0 10px 10px 0;
        vertical-align: top;
        width: 60px;

        .mz-cms-icon {
            background-size: cover;
            border: 1px solid #CCC;
            height: 60px;
            margin-bottom: 5px;
            width: 100%;
        }

        .mz-cms-label {
            color: #333;
            font-size: 11px;
            text-align: center;
        }
     }

    &:after {
        content: "";
        clear: both;
    }

    &.hidden {
        display: none;

        &~ .mz-cms-shadow,
        &~ .mz-cms-cover {
            display: none;
        }
    }
}

.mz-cms-shadow {
    background-color: rgb(51, 51, 51);
    // display: none;
    height: 470px;
    left: 50%;
    margin-left: -230px;
    margin-top: -230px;
    opacity: 0.9;
    position: fixed;
    top: 50%;
    width: 470px;
    z-index: 100002;
    @include border-radius(2px);
}

.mz-cms-cover {
    z-index: 100001;
    // display: none;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100vw;
}