.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 236, 236, 0.9);
}

.btn-success {
    background-color: #2ea195;
    border: 1px solid #2ea195;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-family: "proxima-nova", sans-serif;
    padding: 5px 19px;
    color: white;
}

.btn-default {
    background-color: #fafafa;
    border: 1px solid rgba(63, 63, 63, 0.19);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    color: #7c7c7c;
    padding: 5px 12px;
    border-radius: 3px;
    font-family: "proxima-nova", sans-serif;
}

.modal-sm {
    width: 350px;
}

.delete-btn{
    background-color: #e42000;
    color: #ffffff;
}