<!-- The Modal -->
<div class="modal" *ngIf="displayModal"> 
  <div class="modal-dialog modal-sm" >
    <div class="modal-content">

<!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          {{ dialogTitle }}
        </h4>
      </div>

<!-- Modal body -->
      <div class="modal-body">
        {{ message }}
      </div>

<!-- Modal footer -->
      <div class="modal-footer">
        <div>
          <button class="btn btn-default" *ngIf="isShowSecondaryButton == true" (click)="displayModal = false">{{ secondaryButtonText }}</button>
          <button class="btn btn-success" (click)="confirm()">{{ primaryButtonText }}</button>
      </div>
      </div>
    </div>
  </div>
</div> 