<div class="col-md-12 quote-container">
    <spinner></spinner>
    <p-table #quoteListDataTable [columns]="selectedGridColumnHeader" [value]="model.items" [paginator]="true" [rows]="model.pageSize" [totalRecords]="model.totalCount" (onRowSelect)="onRowSelect($event)" selectionMode="single" [reorderableColumns]="true"
        (onColReorder)="onColReorder($event)" class="table-striped" (onLazyLoad)="loadQuoteLazy($event)" [lazy]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" [ngStyle]="{'display': col.checked ? 'table-cell' : 'none' }" pReorderableColumn [pSortableColumn]="col.sortable ? col.field: null" pReorderableColumn>
                    {{(col.header) | translate}}
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                </th>
                <th class="header-ellipsis">
                    <div><i class="pi pi-ellipsis-v" (click)="OpenGridColumnOverlayPanel($event)"></i></div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-quoteModel let-columns="columns">
            <tr [pSelectableRow]="quoteModel">
                <td *ngFor="let col of columns" [ngStyle]="{'display': col.checked ? 'table-cell' : 'none' }">
                    <span [ngClass]="col.class">
                        {{ getQuoteGridData(quoteModel, col) }}
                    </span>
                </td>
                <td class="header-ellipsis">
                    <div>
                        <i class="pi pi-ellipsis-v" (click)="quoteGridContextMenu.toggle($event)"></i>
                        <p-menu #quoteGridContextMenu [model]="model.quoteGridContextMenuItem" [popup]="true" appendTo="body"></p-menu>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
            <p-button (onClick)="refreshQuoteGrid(state)" class="refresh-btn "><i class="fa fa-refresh"></i></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright" let-state>
            <div *ngIf="state.totalRecords && state.totalRecords > 0">
                {{'QUOTES.GridFooter.Displaying' | translate }} {{state.totalRecords
                < 1 ? 0 : state.first + 1}} - {{state.totalRecords> 0 ? ((quoteListDataTable.rows+ state.first)
                    <=state.totalRecords ? (quoteListDataTable.rows + state.first) : state.totalRecords) : 0}} {{ 'QUOTES.GridFooter.of' | translate }} {{state.totalRecords ? state.totalRecords : 0}} </div>
                        <div *ngIf="!state.totalRecords || state.totalRecords === 0">
                            {{'QUOTES.GridFooter.NoDataDisplayMessage' | translate }}
                        </div>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr class="text-center">
                <td [attr.colspan]="columns.length">{{'QUOTES.GridMessages.emptyMessage' | translate}}</td>
            </tr>
        </ng-template>
    </p-table>

    <toggle-grid-columns [gridColumnHeader]=gridColumnHeader (toggledGridColumn)="toggledGridColumn($event)">
    </toggle-grid-columns>
    </div>