.quote-container {
    margin: 20px 0 10px;
    padding: 0px 20px;
    width: 100%;
    height: auto;
    bottom: 0;
}

.content-pill {
    background-color: #f3f3f3 !important;
    color: #7c7c7c !important;
    border-radius: 9px !important;
    cursor: default !important;
    padding: 3px 5px !important;
    font-size: 11px;
}

.content-pill-blue {
    background-color: #2ea195;
    color: white;
}
.header-ellipsis{
    width: 4em;
    text-align: right;
}

::ng-deep .refresh-btn{
    height: 22px;
}

::ng-deep .refresh-btn .ui-state-default:hover,::ng-deep .refresh-btn .ui-state-default{
        border: none !important;
        background: transparent !important;
        color:#b1b1b1 !important;
        height: 22px;
        padding-top: 5px;
}

::ng-deep .ui-paginator-next::after{
    content: "\f021";
    font-family: "FontAwesome";
    left: 30px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 22px;
}

