.heading {
    display: inline-block;
    height: 52px;
    border-right: 1px solid #f5f5f5;
    padding-right: 15px;
}

.tab-active {
    border-bottom: 2px solid #2ea195;
    color: #333333;
    margin-left: 10px;
}

.heading a {
    color: #3f3f3f;
    font-weight: 400;
    line-height: 23px;
}

.heading a:hover,
.heading a:active,
.heading a:visited,
.heading a:link {
    color: #3f3f3f;
    text-decoration: none;
}

.searchBar {
    display: inline-block;
    width: 90%;
    padding: 0px 15px;
}

.whiteColor {
    color: white
}

.cancelbtn {
    margin-right: 10px;
    height: 40px;
    align-self: center;
}

.pr-15 {
    padding-right: 15px;
}

@media screen and (max-width: 480px) {
    .heading {
        border-right: 0px solid transparent;
    }
}

.sbbtn {
    background: #2ea195
}

.sbbtn:visited {
    border-color: #2ea195;
    border-color: #299086;
}

.sbbtn:focus,
.sbbtn:active {
    background-color: #299086;
    opacity: 1;
    border-color: #299086;
    outline: none !important;
}

.sbbtn:hover {
    border-color: #2ea195;
    opacity: .8;
}

.quote-location-sub-header .heading {
    padding-left: 20px !important;
}

.quote-location-sub-header .row {
    display: flex;
    align-items: center;
}

.quote-location-sub-header .row div:nth-of-type(1) {
    flex-grow: 1;
}

@media screen and (min-width: 1024px) {
    .forlineheight {
        font-size: 18px !important;
    }
    .sbbtn {
        margin: 1px 8px 0 0;
    }
}
 
.quote-location-sub-header .row div:nth-of-type(1) {
    flex-grow: 1;
}

.create-location-btn-wrapper{
    display: flex;
    flex-grow: 1;
}

.cancel-save-btn-wrapper{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.create-location-btn-wrapper .col-md-10{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 0;
}

.location-title a{
    display: inherit;
    padding: 0 20px;
}

.location-title{
    flex-grow: inherit !important;
}

.location-tab-wrapper{
    display: inherit;
    width: auto;
}

.location-tab.tab-active{
    border-bottom: 2px solid #ffce01;
}

.location-tab{
    height: 60px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    margin-left: 10px;
}

.location-tab a:hover, .location-tab a:focus {
    text-decoration: none;
}

.location-tab h4:hover{
    color: #fff !important;
}
.location-tab h4{
    font-size: 16px !important;
    color: #a3a3a3;
}

@media screen and (max-width: 768px) {
    .forlineheight {
        line-height: 1.1;
        font-size: 18px;
    }
    .sidebar .pull-right {
        margin: 0 2px 0 0;
    }
}

@media screen and (max-width: 375px) {
    .forlineheight {
        line-height: 1.0;
        font-size: 15px;
    }
    .sidebar .pull-right {
        margin: 0 2px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .sidebar .pull-right {
        margin: 5px -27px 0 0;
    }
}

@media screen and (max-width: 320px) {
    .forlineheight {
        line-height: 1.4;
        font-size: 13px;
    }
    .sidebar .pull-right .btn {
        font-size: 13px;
    }
    .sidebar .pull-right {
        margin: 0px 2px 0 0;
    }
}

@media screen and (min-width: 1024px) {
    .heading {
        padding-right: 9px;
    }
}