<div class="sidebar quote-location-sub-header">
    <div class="row">
        <div class="navbar-left location-title">
            <a (click)="gotoLocationGroupList()">
                <h4 class="forlineheight whiteColor">{{'SHARED.HEADER.pageTitle.locationGroups' | translate }}</h4>
            </a>
        </div>
        
     <div class="col-md-2 col-xs-2 col-sm-2 navbar-left location-tab-wrapper">
          <div *ngIf="model.isConfigTabVisible"
               [class.tab-active]="model.isShowLocationGroupTabActive" class="location-tab">
            <a (click)="gotoLocationGroupEdit()">
                <h4 class="forlineheight">{{model.locationGroupName}}</h4>
            </a>
        </div>
        <div  [class.tab-active]="!model.isShowLocationGroupTabActive" *ngIf="model.isConfigTabVisible"  class="location-tab">
            <a (click)="gotoLocationGroupConfig()">
                <h4 class="forlineheight">{{'SHARED.HEADER.pageTitle.locationConfigs' | translate }}</h4>
            </a>
        </div>
    </div>
    <div class="create-location-btn-wrapper">
            <div class="col-md-10 col-sm-8 col-xs-8" *ngIf="!model.isEditMode && !model.isConfigTabVisible">
                <button type="button" class="sbbtn btn btn-success primary-yellow-btn" (click)="showCreateLG()">{{'SHARED.HEADER.actionButtons.locationGroups.create' | translate}}</button>
            </div>

            <div class="pr-15 cancel-save-btn-wrapper" >
                <button type="button" class="btn cancelbtn primary-cancel-btn" (click)="cancelCreateLG()"  *ngIf="model.isEditMode"  >{{'SHARED.HEADER.actionButtons.locationGroups.cancel' | translate}}</button>
                <progress-button (buttonClick)="saveCreateLG()"  *ngIf="model.isEditMode"  label="{{'SHARED.HEADER.actionButtons.locationGroups.save' | translate}}" class="location-save-btn "></progress-button>
            </div>
        </div>
    </div>
</div>