.#{$prefix}panel-default-framed {
    @include border-radius(0px);
}

/* SUBFORM PANEL UI DEFINITIONS */

@include extjs-panel-ui(
    $ui: 'subform',

    $ui-border-color: $color-standard-border,
    $ui-border-radius: 1px,
    $ui-border-width: 1px,
    $ui-padding: 0px 19px 19px,

    $ui-header-color: $color-standard-text,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 24px,
    $ui-header-font-weight: normal,
    $ui-header-line-height: 24px,
    $ui-header-border-color: $color-standard-border,
    $ui-header-border-width: 0px,
    $ui-header-border-style: solid,
    $ui-header-background-color: $color-neutral-white,
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: $color-standard-border,
    $ui-header-inner-border-width: 0px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: none,
    $ui-header-padding: 19px 0px 10px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-standard-text,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $panel-tool-background-image,

    $ui-body-color: $color-neutral-20,
    $ui-body-border-color: $color-standard-border,
    $ui-body-border-width: 1px 0px 0px,
    $ui-body-border-style: solid,
    $ui-body-background-color: $color-neutral-white,
    $ui-body-font-size: 16px,
    $ui-body-font-weight: normal,

    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,

    // See the docs above
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-standard-border,
    $ui-wrap-border-width: 0px
);

/* SUBFORM PANEL UI RULES */

.#{$prefix}panel-subform {
    @include border-radius(0px);
}

.#{$prefix}panel-header-subform {
    line-height: 1.0;

    .#{$prefix}panel-header-text-container {
        line-height: 30px;
    }
}


/* SUBFORM SUBFORM PANEL UI */

$color-neutral-98: rgb(249, 249, 249);

@include extjs-panel-ui(
    $ui: 'subform-subform',

    $ui-border-color: $color-standard-border,
    $ui-border-radius: 0px,
    $ui-border-width: 1px,
    $ui-padding: 0px 19px 19px,

    $ui-header-color: $color-standard-text,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 16px,
    $ui-header-font-weight: bold,
    $ui-header-line-height: 24px,
    $ui-header-border-color: $color-standard-border,
    $ui-header-border-width: 0px,
    $ui-header-border-style: solid,
    $ui-header-background-color: $color-neutral-98,
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: $color-standard-border,
    $ui-header-inner-border-width: 0px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: uppercase,
    $ui-header-padding: 5px 0px 11px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-standard-text,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $panel-tool-background-image,

    $ui-body-color: $color-standard-text,
    $ui-body-border-color: $color-neutral-98,
    $ui-body-border-width: 1px 0px,
    $ui-body-border-style: solid,
    $ui-body-background-color: $color-neutral-98,
    $ui-body-font-size: 16px,
    $ui-body-font-weight: normal,

    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,

    // See the docs above
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-standard-border,
    $ui-wrap-border-width: 0px
);

/* SUBFORM SUBFORM PANEL UI RULES */

.#{$prefix}panel-header-subform-subform {
    line-height: 1.0;

    .#{$prefix}panel-header-text-container {
        font-weight: bold;
        text-transform: uppercase;
    }
}

@include extjs-panel-ui(
    $ui: 'page',

    $ui-border-color: $color-standard-border,
    $ui-border-radius: 0px,
    $ui-border-width: 0px,
    $ui-padding: 0px,

    $ui-header-color: $color-standard-text,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 24px,
    $ui-header-font-weight: normal,
    $ui-header-line-height: 24px,
    $ui-header-border-color: $color-standard-border,
    $ui-header-border-width: 0px,
    $ui-header-border-style: solid,
    $ui-header-background-color: transparentize($color-neutral-white, 1),
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: $color-standard-border,
    $ui-header-inner-border-width: 0px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: none,
    $ui-header-padding: 10px 20px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-standard-text,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $panel-tool-background-image,

    $ui-body-color: $color-standard-text,
    $ui-body-border-color: $color-standard-border,
    $ui-body-border-width: 1px 0px 0px,
    $ui-body-border-style: solid,
    $ui-body-background-color: transparentize($color-neutral-white, 1),
    $ui-body-font-size: 16px,
    $ui-body-font-weight: normal,

    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,

    // See the docs above
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-standard-border,
    $ui-wrap-border-width: 0px
);

.#{$prefix}panel-header-page {
    line-height: 1.0;

    .#{$prefix}panel-header-text-container {
        line-height: 30px;
    }
}



/* SUBFORM-SECTION PANEL UI */

// used as a sub section of a SUBFORM. Header with buttons. Footer with buttons
@include extjs-panel-ui(
    $ui: 'subform-section',

    $ui-border-color: $color-standard-border,
    $ui-border-radius: 0px,
    $ui-border-width: 0px,
    $ui-padding: 0px 0px 0px,

    $ui-header-color: $color-standard-text,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 16px,
    $ui-header-font-weight: bold,
    $ui-header-line-height: 24px,
    $ui-header-border-color: $color-standard-border,
    $ui-header-border-width: 0px,
    $ui-header-border-style: solid,
    $ui-header-background-color: $color-neutral-white,
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: $color-standard-border,
    $ui-header-inner-border-width: 0px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: capitalize,
    $ui-header-padding: 10px 0px 10px 0px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-standard-text,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $panel-tool-background-image,

    $ui-body-color: $color-standard-text,
    $ui-body-border-color: $color-standard-border,
    $ui-body-border-width: 1px 0px 0px,    
    $ui-body-border-style: solid,
    $ui-body-background-color: $color-neutral-white,
    $ui-body-font-size: 16px,
    $ui-body-font-weight: normal,

    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,

    // See the docs above
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-standard-border,
    $ui-wrap-border-width: 0px
);

/* SUBFORM SECTION PANEL UI RULES */



/* SUBFORM-SECTION-CHILD PANEL UI */

// used as a sub section of a SUBFORM with additional borders and padding to show that it is a child container. Header with buttons. Footer with buttons
@include extjs-panel-ui(
    $ui: 'subform-section-child',

    $ui-border-color: $color-standard-border,
    $ui-border-radius: 0px,
    $ui-border-width: 1px,
    $ui-padding: 0px 0px 0px,

    $ui-header-color: $color-standard-text,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 16px,
    $ui-header-font-weight: bold,
    $ui-header-line-height: 24px,
    $ui-header-border-color: $color-standard-border,
    $ui-header-border-width: 0px,
    $ui-header-border-style: solid,
    $ui-header-background-color: $color-neutral-transparent,
    $ui-header-background-gradient: null,
    $ui-header-inner-border-color: $color-standard-border,
    $ui-header-inner-border-width: 0px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: capitalize,
    $ui-header-padding: 10px 10px 10px 10px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 0px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-standard-text,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 0px,
    $ui-tool-background-image: $panel-tool-background-image,

    $ui-body-color: $color-standard-text,
    $ui-body-border-color: $color-standard-border,
    $ui-body-border-width: 0px 0px 0px,
    $ui-body-border-style: solid,
    $ui-body-background-color: $color-neutral-transparent,
    $ui-body-font-size: 16px,
    $ui-body-font-weight: normal,

    $ui-background-stretch-top: $panel-background-stretch-top,
    $ui-background-stretch-bottom: $panel-background-stretch-bottom,
    $ui-background-stretch-right: $panel-background-stretch-right,
    $ui-background-stretch-left: $panel-background-stretch-left,

    // See the docs above
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-standard-border,
    $ui-wrap-border-width: 0px
);

/* SUBFORM SECTION CHILD PANEL UI RULES */

.#{$prefix}panel-subform-section-child {
    background-color: $color-neutral-95;
    border-style:solid;
    border-width:1px;
    padding: 0px;
}