.#{$prefix}grid-row {
    .#{$prefix}grid-dirty-cell:not(.#{$prefix}grid-checkheader-cell) {
        background-color: $color-theme-yellow-light;
        background-image: none;
    }

    .#{$prefix}grid-dirty-cell.#{$prefix}grid-checkheader-cell {
        background-image: none;
    }
}

.#{$prefix}grid-paging-toolbar {
    background-color: $color-framework-gray-lighter;
    border-color: $color-standard-border;
    border-style: solid;
}
