<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsebar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       <a href="#"> <img class="navbar-kibo-logo" src="./assets/Images/kibo-icon.png" /> 
    </a>
    <span class="navbar-kibo-text">
       <a href="#"> Kibo eCommerce</a>
    </span>
    </div>
    <div id="collapsebar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><span class="tenant-name-container"></span>{{ headerModel.tenantName }}</li>
            <li><a href="#"><span class=""></span> Help </a></li>
            <li><a href="#"><span class="fa fa-search"></span></a></li>
            <li class="avatar-align">
              <a>
              <div id="userbutton-1032-userbutton-avatar" class="user-avatar" >{{ headerModel.loggedInUserInitials }}</div>
              <div id="userbutton-1032-userbutton-username" class="nav-username"  (click)="userContextMenu.toggle($event)">{{ headerModel.loggedInUserName }}</div>
              <p-menu #userContextMenu [model]="userContextMenuItem" [popup]="true" appendTo="body"></p-menu>
              </a>
            </li>
        </ul>
    </div>
</nav>
