<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <div>
            <span pButton type="button" (click)="expandHamburgerMenu()" class="offset-padding-right-20 cursor-pointer">
                <i class="fa fa-bars hamburgerMenu"></i>
            </span>
        </div>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsebar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</nav>