<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsebar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
       <a href="#"> <img class="navbar-kibo-logo" src="./assets/Images/kibo-icon.png" /> 
    </a>
    <span class="navbar-kibo-text">
       <a href="#"> Kibo eCommerce</a>
    </span>
    </div>
    <div id="collapsebar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><span class="tenant-name-container"></span>{{tenantName}}</li>
            <li><a href="#"><span class=""></span> {{'SHARED.NAVIGATION.help' | translate }}</a></li>
            <!-- <li><a href="#"><span class=""></span> Help </a></li> -->
            <li><a href="#"><span class="fa fa-search"></span></a></li>
            <li class="avatar-align">
              <a href="#">
              <div id="userbutton-1032-userbutton-avatar" class="user-avatar">Ka</div>
              <div id="userbutton-1032-userbutton-username" class="nav-username">Kibo admin</div>
              </a>
            </li>
        </ul>
    </div>
</nav>
