/* GRID HEADER */

$grid-header-background-color: $color-neutral-20;
$grid-header-background-gradient: null;
$grid-header-over-background-color: $color-neutral-30;
$grid-header-over-background-gradient: null;

$grid-header-border-color: $color-neutral-20;
$grid-header-border-width: 0px;

$grid-header-padding: 12px 5px 11px;

/* TRIGGER */

$grid-header-trigger-height: 16px;
$grid-header-trigger-spacing: 4px;
$grid-header-trigger-width: 16px;

/* UNUSED VARIABLES */

// $grid-header-border-style
// $grid-header-open-background-color
// $grid-header-padding
// $grid-header-sort-icon-spacing
// $grid-header-sort-icon-width
// $grid-header-trigger-background-color
// $grid-header-trigger-background-color-open
// $grid-header-trigger-background-position
// $grid-header-trigger-cursor
