$grid-header-background-color: $color-neutral-20;
$grid-header-background-gradient: null;
$grid-header-over-background-color: $color-neutral-30;
$grid-header-over-background-gradient: null;
$grid-header-trigger-width: 40px;