.taco-content-navcontainer {
    border-width: 0px;
    background-color: $base-color;
    padding: 0px;

    .taco-content-navcontainer-body {                
        background-color: $base-color;
    }

    .x-grid-body {
        background-color:#fff;
    }

}

.taco-content-navcontainer-padding {
    padding: 20px 20px 10px 20px;
}


.taco-navheader {
    .taco-navheader-toolbar{        
        padding: 10px 20px 10px 20px;        
        border-bottom: 1px solid $color-standard-border !important;
        .taco-content-header-title{
            font-size: 2.1rem;
            font-weight: bold;
            line-height: 3rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .taco-content-header-title-root {
            color: $color-framework-blue-dark;
        }

        .page-title {
            margin: 2px 0px 0px 22px;
        }

        .taco-website-header-icon {

                &.page-icon {
                   @include icon-font($glyph-category, 20px);
                    top: -1.5px;
                }

                &.template-icon {
                    @include icon-font($glyph-template, 20px);
                }

                &.category-icon {
                    @include icon-font($glyph-tree-category, 20px);
                }

                &.folder-icon {
                    @include icon-font($glyph-folder, 19px);
                }

                &.link-icon {
                    @include icon-font($glyph-link, 20px);
                }

                &::after {
                    color: $color-neutral-40;
                    left: auto;
                    right: 0px;
                    top: auto !important;
                }

        }
    }
}

.#{$vprefix}content-header-publish-state {
    border: none;
    @include border-radius-xbrowser(2em);
    height: 18px;
    background-color: $color-status-indicator;
    color:white;
    text-align:center;
    font-size:14px;
    margin-top: 1px;
}

.taco-content-navcontainer-white {
    .taco-navheader {
        .taco-navheader-toolbar{        
            border-bottom: 0px !important;
        }
    }
    
    background-color: #fff;
    .taco-content-navcontainer-body {                
        background-color: #fff;
        border-bottom: 0px !important;
    }
}