.#{$vprefix}content-navcontainer {
    border-width: 0px;
    background-color: $light-bg-gray;
    padding: 0px;

    .#{$vprefix}content-navcontainer-body {
        background-color: $base-color;

        &.x-panel-body {
            background-color: $light-bg;
        }
    }

    .#{$prefix}grid-body {
        background-color: #fff;
    }
}

.#{$vprefix}content-navcontainer-padding {
    padding: 20px 20px 10px 20px;
}

.#{$vprefix}editor-tools-header {
    background-color: white;
}


.#{$vprefix}navheader {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px 0px;

    .#{$vprefix}navheader-toolbar {
        box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px 0px;
        //border-bottom: 1px solid $color-standard-border !important;
        background-color: $color-neutral-white;
        line-height: 23px;

        .#{$prefix}toolbar-default {
            //background-color: $color-neutral-white;
        }

        .#{$vprefix}subnav-breadcrumb {

            div {
                border-bottom: 1px solid transparent;
                padding: 0px 10px;
                height: 60px;

                a {
                    font-size: 16px;
                    color: $gray-text-light;
                    line-height: 60px;

                    &:hover {
                        color: $nav-element-active;
                        text-decoration: none;

                        .shipping-links & {
                            color: #fff;
                        }
                    }
                }

                &:active {
                    color: $nav-element-active;
                    background-color: $card-button-press-bg;

                    a {
                        color: $nav-element-active;
                    }

                    .shipping-links & {
                        color: #fff;
                        background-color: transparent;
                    }
                }

                &.active {
                    border-bottom: 2px solid $valid-green;

                    .shipping-links & {
                        border-bottom: 2px solid #ffce01;
                    }
                }
            }
        }

        .#{$vprefix}content-header-title-container {

            > .#{$prefix}box-inner {
                height: 100% !important;
            }

            .#{$prefix}box-target {
                height: 100%;
            }

            a:hover {
                text-decoration: none !important;
            }

            .#{$vprefix}content-header-title {
                font-size: 18px;
                font-weight: 400;
                height: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .title {
                    display: inline-block;
                    padding: 20px;
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &:first-child {
                        //border-right: 1px solid $nav-element-active-border;
                    }

                    &:nth-child(2) {
                        padding: 20px 5px 20px 20px;
                    }

                    a {
                        color: $color-framework-gray-lighter;
                    }
                }

                .#{$vprefix}light-tag {
                    color: $pill-text-dark;
                    font-size: 11px;
                    font-style: initial;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .#{$vprefix}light-tag, .#{$prefix}column-content-pill {
                    position: relative;
                }

                .#{$vprefix}light-tag {
                    top: -25px;
                }

                .#{$prefix}column-content-pill {
                    top: -25px;
                }
            }

            .#{$vprefix}content-header-title-root {
                color: $color-framework-blue-dark;
            }
        }

        .page-title {
            margin: 2px 0px 0px 22px;
            font-weight: normal;
            font-size: 18px;
            font-family: 'proxima-nova', sans-serif;
            width: 100%;
            padding-right: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .sub-page-title {
            margin: 2px 0px 0px 22px;
        }

        .#{$prefix}form-trigger-wrap {
            border: none;
            height: 38px;
        }



        .navheader-action-toolbar {
            margin-right: 15px;

            .website-editor-tab-btn {
                .#{$prefix}btn-glyph {
                    line-height: 28px;
                }
            }

            .#{$vprefix}more-action-button {
                background-color: transparent;
                padding: 0;
                opacity: 0.27;
                border: none;

                &:hover {
                    //opacity: 1;
                    //background-color: #633095 !important;
                }

                &.#{$prefix}menu-active {
                    border-radius: 3px;
                    background-color: $more-menu-active-background;
                    box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
                    opacity: 1;
                }

                .#{$prefix}btn-arrow-right {
                    @include icon-font($glyph-more-vert, 20px, $glyph-icon-color);

                    &::after {
                        line-height: 40px;
                        text-align: center;
                        width: 100%;
                    }
                }

                .#{$prefix}btn-wrap {
                    padding: 0;

                    .#{$prefix}btn-inner {
                        padding: 0;
                    }
                }

                &.#{$prefix}btn.#{$prefix}menu-active {
                    border-radius: 3px;
                    background-color: $more-menu-active-background;
                    box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
                    opacity: 1;
                }
            }
        }

        .#{$vprefix}website-header-icon {

            &.page-icon {
                @include icon-font($glyph-category, 20px);
                top: -1.5px;
            }

            &.template-icon {
                @include icon-font($glyph-template, 20px);
            }

            &.category-icon {
                @include icon-font($glyph-tree-category, 20px);
            }

            &.folder-icon {
                @include icon-font($glyph-folder, 19px);
            }

            &.link-icon {
                @include icon-font($glyph-link, 20px);
            }

            &::after {
                color: $color-neutral-40;
                left: auto;
                right: 0px;
                top: auto !important;
            }
        }
    }
}

.#{$vprefix}content-header-publish-state {
    border: none;
    @include border-radius-xbrowser(2em);
    height: 18px;
    background-color: $publish-icon-dark-bg;
    color: white;
    text-align: center;
    font-size: 14px;
    min-width: 56px;

    div {
        width: auto;
    }

    label {
        text-transform: capitalize;
        font-size: $pill-font;
    }

    a {
        display: none;

        .#{$prefix}btn-inner {
            &.#{$prefix}btn-inner-center {
                height: 13px;
            }
        }
    }

    &.product {
        top: 22px !important;
    }
}

.#{$vprefix}content-navcontainer-white {
    .#{$vprefix}navheader {
        .#{$vprefix}navheader-toolbar {
            border-bottom: 0px !important;
            background-color: #fff;
        }

        .#{$prefix}toolbar-default {
            background-color: #fff;
        }
    }

    background-color: #fff;

    .#{$vprefix}content-navcontainer-body {
        background-color: #fff;
        border-bottom: 0px !important;
    }
}

.x-toolbar-default {
    &.navheader-action-toolbar {
        background: transparent !important;
        border-color: transparent !important;
    }
}

.x-form-text {
    .reports-header & {
        background-color: transparent;
        color: #fff;

        &.x-field-form-focus {
            box-shadow: none;
            border-color: #ffce01;
        }
    }
}

.x-form-trigger-wrap-focus label {
    color: #fff;

    .reports-header & {
        color: #fff !important;
    }
}

.taco-navheader .taco-navheader-toolbar {
    .schema-header &, .product-header &, &.website-publish-btn, .category-header &, .pricelist-header &, .inventory-header &, .themes-header & {
        .taco-more-action-button {
            &:hover {
                opacity: 1;
                background-color: #633095 !important;

                .x-btn-arrow-right::after {
                    color: #fff;
                }
            }
        }

        .taco-more-action-button.x-btn-disabled {
            &:hover {
                background-color: rgba(43,43,43,0.8) !important;
                color: #e5e6e7 !important;
                border-bottom: 1px solid rgba(43,43,43,0.8) !important;

                .x-btn-arrow-right::after {
                    color: #e5e6e7 !important;
                }
            }
        }

        .taco-more-action-button.x-btn-action-toolbar-medium-menu-active {
            &:hover {
                background: #fff !important;

                .x-btn-arrow-right::after {
                    color: #633095 !important;
                }
            }
        }
    }
}

.taco-navheader .taco-navheader-toolbar {
    .website-publish-btn {
        ~ .taco-more-action-button {
            &:hover {
                opacity: 1;
                background-color: #633095 !important;

                .x-btn-arrow-right::after {
                    color: #fff;
                }
            }
        }

        ~ .taco-more-action-button.x-btn-action-toolbar-medium-menu-active {
            &:hover {
                background: #fff !important;

                .x-btn-arrow-right::after {
                    color: #633095 !important;
                }
            }
        }
    }
}

.taco-navheader .taco-navheader-toolbar .x-btn-disabled.x-btn-action-primary-toolbar-medium {

    .schema-header &, .product-header &, &.website-publish-btn, .category-header &, .pricelist-header &, .productranking-header &, .inventory-header & {
        height: 41px !important;
        border-bottom: none !important;

        &:hover {
            .x-btn-split-right {
                background-color: transparent !important;
            }

            .x-btn-split-right::after {
                background-color: transparent !important;
                color: #e5e6e7 !Important;
            }

            .x-btn-inner,
            .x-btn-inner-center {
                color: #e5e6e7 !Important;
            }

            .taco-check-save {
                &:after {
                    background-color: transparent !important;
                    color: #fff;
                }
            }

            .taco-animated-circle {
                background-color: rgba(43, 43, 43, 0.8) !important;
            }
        }

        .x-btn-action-toolbar-medium-disabled.taco-more-action-button {
            &:hover {
                background-color: rgba(43,43,43,0.8) !important;
                color: #e5e6e7 !important;
                border-bottom: 1px solid rgba(43,43,43,0.8) !important;

                .x-btn-inner-center {
                    color: #e5e6e7 !important;
                    font-weight: normal !important;
                }

                .taco-check-save {
                    background-color: rgba(43, 43, 43, 0.8) !important;

                    &:after {
                        color: #fff;
                        background-color: transparent !important;
                    }
                }
            }
        }

        .taco-check-save.taco-button-overlay {
            background-color: rgba(43, 43, 43, 0.8) !important;

            &:hover {
                background-color: rgba(43, 43, 43, 0.8) !important;
            }
        }
    }
}

.taco-navheader .taco-navheader-toolbar .x-btn.x-btn-action-primary-toolbar-medium {
    .productattributeheader &,
    .producttypeheader & {
        .x-btn-split-right::after {
            right: -17px;
        }
    }
}

.taco-navheader .taco-navheader-toolbar .x-btn-disabled.x-btn-action-primary-toolbar-medium-disabled {
    .productattributeheader &,
    .producttypeheader & {
        &:hover {
            cursor: initial;

            .x-btn-split-right {
                background-color: rgba(43, 43, 43, 0.8) !important;
            }

            .x-btn-split-right::after {
                background-color: rgba(43, 43, 43, 0.8) !important;
                color: #e5e6e7 !Important;
            }

            .x-btn-inner,
            .x-btn-inner-center {
                color: #e5e6e7 !Important;
            }
        }
    }
}

/*.website-publish-btn & {
    height: 41px !important;

    &:hover {
        .x-btn-split-right {
            background-color: transparent !important;
        }

        .x-btn-split-right::after {
            background-color: transparent !important;
            color: #e5e6e7 !Important;
        }

        .x-btn-inner {
            color: #e5e6e7 !Important;
        }
    }
}*/


