.mz-productlisting {
    .mz-productlisting-info {
        margin-top: 5px;
    }
    .mz-productlisting-title {
        font-size: @fontSizeLarger;
        text-decoration: none;
    }
    .mz-productlisting-shortdesc {
        margin: 0 0 3px;
    }
    .mz-productlisting-productcode {
        font-size: @fontSizeSmall;
    }
}
