.mz-productlisting {
    .mz-productlisting-info {
        margin-top: 5px;
    }
    .mz-productlisting-title {
        font-size: @fontSizeLarger;
        text-decoration: none;
    }
    .mz-productlisting-shortdesc {
        margin: @gutter/4 @gutter/2 @gutter/4 0;
    }
    .mz-productlisting-productcode {
        font-size: @fontSizeSmall;
    }
}
