$tabbar-base-color: $color-neutral-90;
$tabbar-background-gradient: null;

$tabbar-border-color: border-for($tab-base-color);
$tabbar-strip-plain-border-width: 0px;
$tabbar-padding: 17px 0;
$tabbar-strip-height: 0px;
$tabbar-strip-border-color: $tab-border-color;
$tabbar-strip-background-color: $tab-border-color;
