$tab-base-color: $color-neutral-95;
$tab-base-color-over: $color-neutral-95;
$tab-base-color-active: $color-neutral-75;
$tab-base-color-disabled: $color-neutral-95;

$tab-color: $color;
$tab-color-over: $tab-color;
$tab-color-active: $tab-color;
$tab-color-disabled: $tab-color;

$tab-font-size: px-to-rem(16);
$tab-font-weight: normal;

$tab-background-gradient: null;
$tab-background-gradient-over: null;
$tab-background-gradient-active: null;
$tab-background-gradient-disabled: null;

$tab-border-radius: 0px;
$tab-border-width: 1px;
$tab-border-color: border-for($tab-base-color);
$tab-border-color-over: border-for($tab-base-color);
$tab-border-color-active: border-for($tab-base-color);
$tab-border-color-disabled: border-for($tab-base-color);

$tab-line-height: 30px;
