body {
  font-family: tahoma;
  line-height: 1;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}
table {
  border-collapse: collapse;
  font-size: inherit;
  line-height: inherit;
}
.section {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 10px;
}
.section > h2 {
  border-bottom: 1px solid #bfbfbf;
  font-size: 17px;
  line-height: 1;
  margin: 0 2%;
  padding: 17px 1% 16px;
}
.subsection-wrapper {
  margin: 10px 2%;
}
.subsection-wrapper > h3 {
  padding: 7px 2%;
}
.subsection-wrapper .grid {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.subsection {
  margin: 0 2%;
  width: 96%;
}
.subsection .label {
  font-weight: 600;
  margin: 14px 0 7px;
}
.subsection .label:nth-of-type(1) {
  margin-top: 0;
}
.subsection td {
  padding: 7px 7px 0 0;
  vertical-align: top;
}
.grid {
  border: 1px solid #bfbfbf;
  margin: 10px 2%;
  width: 96%;
}
.grid.payment-details {
  display: none;
}
.grid.payment-details.show {
  display: table;
}
.grid th {
  background-color: #e5e5e5;
  font-weight: 600;
  padding: 8px 14px;
  text-align: left;
  white-space: nowrap;
}
.grid td {
  border-top: 1px solid #bfbfbf;
  padding: 8px 14px;
  text-align: left;
}
.grid tr:nth-of-type(1) td {
  border-top-width: 0;
}
.panes {
  margin: 10px 2%;
  width: 96%;
}
.panes td {
  border-left: 1px solid #bfbfbf;
  padding: 2px 14px 8px;
  vertical-align: top;
  width: 33%;
}
.panes td:nth-of-type(1) {
  border-left-width: 0;
}
.panes .label {
  color: #b3b3b3;
  font-size: 13px;
  margin-bottom: 7px;
}
.panes .price-total {
  font-size: 24px;
  margin-bottom: 7px;
}
.panes .item-total {
  font-size: 16px;
}
.mz-printable-order {
  width: 100%;
}
.mz-discount-row {
  border: 0px;
  font-size: 14px;
  font-style: italic;
  color: #333;
}
.mz-discount-row td {
  border: 0px;
}
.mz-discount-row .mz-discount-name {
  text-align: right;
}
.header th {
  border-bottom: 1px solid #b3b3b3;
  font-weight: 400;
  padding: 14px 2%;
  text-align: left;
  vertical-align: top;
  width: 25%;
}
.header .company-info h1 {
  font-size: 24px;
}
.header .company-name {
  font-weight: bold;
}
.header .company-contacts {
  white-space: pre-wrap;
}
.header .order-essentials {
  text-align: right;
}
.header .order-essentials .order-number {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}
.header .order-essentials .order-number .label {
  color: #b3b3b3;
  font-weight: 400;
}
.header .order-essentials .order-date .label {
  font-weight: 600;
}
.footer td {
  padding: 14px 3%;
}
.section-attributes .attribute {
  margin: 10px 4%;
}
.section-attributes .attribute span {
  font-style: italic;
  margin-right: 10px;
}
.section-attributes .attribute .label {
  font-style: normal;
  font-weight: 600;
}
.section-orderitems .product-name {
  margin-bottom: 4px;
}
.section-orderitems .bundled-product,
.section-orderitems .product-option {
  border-left: 2px solid #ddd;
  line-height: 1.2;
  margin-left: 4px;
  padding-left: 6px;
}
.section-orderitems .product-option-label {
  color: #b3b3b3;
  font-size: 12px;
  font-style: normal;
  margin-right: 8px;
  text-transform: uppercase;
}
.section-orderitems .product-option-raw {
  color: #b3b3b3;
  font-style: italic;
}
.section-orderitems .order-totals-breakdown td {
  border-top-width: 0;
}
.section-orderitems .order-totals-breakdown tr:nth-of-type(1) td {
  border-top-width: 1px;
}
.section-orderitems .order-totals-breakdown td:nth-of-type(1) {
  text-align: right;
}

.header .shipment-essentials {
  text-align: left;
}
.header .shipment-essentials .order-number {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}

.header .shipment-essentials .order-number .label {
  color: #b3b3b3;
  font-weight: 400;
}

.header .shipment-essentials .order-date .label {
  font-weight: 600;
}
.shipment-title {
  font-size: 30px;
  text-align:center;
  margin-top: 10px;
}

.shipment-status {
  background: black;
  color: white !important;
}

.shipment-item-info {
  font-weight: bold;
  margin-left: 28px;
  padding-top: 6px;
}

.shipment-info-header {
  background-color: #330065;
  margin-bottom: 0!important;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.sidebar-kibo-logo {
  height: 20px;
  width: 107px;
}

.mobile-shipment-info-table {
  float: right;
  background-color: #e5e5e5;
  font-weight: normal;
  padding: 8px 14px;
  text-align: left;
  white-space: nowrap;
  width: 32%;
  font-size: small;
}

.mobile-shipment-info-table span {
  float: right;
}

.curbside-order-details {
  background-color: #b3b3b3;
  margin-bottom: 0!important;
  padding: 18px 100px;
  display: flex;
  text-align: left;
  padding-top: 8px;
  padding: 0px;
  margin-top: 20px;
  vertical-align: middle;
  align-self: center;
}

.curbside-order-details-right {
  width: 50%;
  margin-left: 80px;
  text-align: right;
  color: white;
  padding-right: 10px;
}

.curbside-order-details-left {
  width: 50%;
  vertical-align: middle;
  padding-top: 15px;
  color: white !important; 
  padding-left: 10px;
  font-weight: 900;
}

.curbside-page-content {
  padding: 25px;
}

.curbside-spacing {
  padding-top: 8px;
}

.curbside-notedetails {
  background-color: #d3edf8;
  padding-top: 8px;
  margin-top: 20px;
  border: 1px solid #87ceeb;
}

.curbside-storedetails {
  background-color: #e5e5e5;
  padding : 15px;
  margin-top: 20px;
  padding-top: 8px;
  border: 1px solid #e5e5e5;
}

.mz-delivery-button {
  background-color: #FA6400!important;
  color: white!important;
}
