body {
  font-family: tahoma;
  line-height: 1;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3 {
  font-weight: 600;
  margin: 0;
}
table {
  border-collapse: collapse;
  font-size: inherit;
  line-height: inherit;
}
.section {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 10px;
}
.section > h2 {
  border-bottom: 1px solid #bfbfbf;
  font-size: 17px;
  line-height: 1;
  margin: 0 2%;
  padding: 17px 1% 16px;
}
.subsection-wrapper {
  margin: 10px 2%;
}
.subsection-wrapper > h3 {
  padding: 7px 2%;
}
.subsection-wrapper .grid {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.subsection {
  margin: 0 2%;
  width: 96%;
}
.subsection .label {
  font-weight: 600;
  margin: 14px 0 7px;
}
.subsection .label:nth-of-type(1) {
  margin-top: 0;
}
.subsection td {
  padding: 7px 7px 0 0;
  vertical-align: top;
}
.grid {
  border: 1px solid #bfbfbf;
  margin: 10px 2%;
  width: 96%;
}
.grid.payment-details {
  display: none;
}
.grid.payment-details.show {
  display: table;
}
.grid th {
  background-color: #e5e5e5;
  font-weight: 600;
  padding: 8px 14px;
  text-align: left;
  white-space: nowrap;
}
.grid td {
  border-top: 1px solid #bfbfbf;
  padding: 8px 14px;
  text-align: left;
}
.grid tr:nth-of-type(1) td {
  border-top-width: 0;
}
.panes {
  margin: 10px 2%;
  width: 96%;
}
.panes td {
  border-left: 1px solid #bfbfbf;
  padding: 2px 14px 8px;
  vertical-align: top;
  width: 33%;
}
.panes td:nth-of-type(1) {
  border-left-width: 0;
}
.panes .label {
  color: #b3b3b3;
  font-size: 13px;
  margin-bottom: 7px;
}
.panes .price-total {
  font-size: 24px;
  margin-bottom: 7px;
}
.panes .item-total {
  font-size: 16px;
}
.mz-printable-order {
  width: 100%;
}
.mz-discount-row {
  border: 0px;
  font-size: 14px;
  font-style: italic;
  color: #333;
}
.mz-discount-row td {
  border: 0px;
}
.mz-discount-row .mz-discount-name {
  text-align: right;
}
.header th {
  border-bottom: 1px solid #b3b3b3;
  font-weight: 400;
  padding: 14px 2%;
  text-align: left;
  vertical-align: top;
  width: 25%;
}
.header .company-info h1 {
  font-size: 24px;
}
.header .company-name {
  font-weight: bold;
}
.header .company-contacts {
  white-space: pre-wrap;
}
.header .order-essentials {
  text-align: right;
}
.header .order-essentials .order-number {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}
.header .order-essentials .order-number .label {
  color: #b3b3b3;
  font-weight: 400;
}
.header .order-essentials .order-date .label {
  font-weight: 600;
}
.footer td {
  padding: 14px 3%;
}
.section-attributes .attribute {
  margin: 10px 4%;
}
.section-attributes .attribute span {
  font-style: italic;
  margin-right: 10px;
}
.section-attributes .attribute .label {
  font-style: normal;
  font-weight: 600;
}
.section-orderitems .product-name {
  margin-bottom: 4px;
}
.section-orderitems .bundled-product,
.section-orderitems .product-option {
  border-left: 2px solid #ddd;
  line-height: 1.2;
  margin-left: 4px;
  padding-left: 6px;
}
.section-orderitems .product-option-label {
  color: #b3b3b3;
  font-size: 12px;
  font-style: normal;
  margin-right: 8px;
  text-transform: uppercase;
}
.section-orderitems .product-option-raw {
  color: #b3b3b3;
  font-style: italic;
}
.section-orderitems .order-totals-breakdown td {
  border-top-width: 0;
}
.section-orderitems .order-totals-breakdown tr:nth-of-type(1) td {
  border-top-width: 1px;
}
.section-orderitems .order-totals-breakdown td:nth-of-type(1) {
  text-align: right;
}

.header .shipment-essentials {
  text-align: left;
}
.header .shipment-essentials .order-number {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 3px;
}

.header .shipment-essentials .order-number .label {
  color: #b3b3b3;
  font-weight: 400;
}

.header .shipment-essentials .order-date .label {
  font-weight: 600;
}
.shipment-title {
  font-size: 30px;
  text-align:center;
  margin-top: 10px;
}

.shipment-status {
  background: black;
  color: white !important;
}

.shipment-item-info {
  font-weight: bold;
  margin-left: 28px;
  padding-top: 6px;
}

.shipment-info-header {
  background-color: #330065;
  margin-bottom: 0!important;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.sidebar-kibo-logo {
  height: 20px;
  width: 107px;
}

.mobile-shipment-info-table {
  float: right;
  background-color: #e5e5e5;
  font-weight: normal;
  padding: 8px 14px;
  text-align: left;
  white-space: nowrap;
  width: 32%;
  font-size: small;
}

.mobile-shipment-info-table span {
  float: right;
}

.curbside-order-details {
  background-color: #b3b3b3;
  margin-bottom: 0!important;
  padding: 18px 100px;
  display: flex;
  text-align: left;
  padding-top: 8px;
  padding: 0px;
  margin-top: 20px;
  vertical-align: middle;
  align-self: center;
}

.mz-l-formfieldgroup .mz-l-formfieldgroup-cell label, .mz-l-formfieldgroup-cell label {
  text-align: left!important;
}

.mz-curbsidedelivery-page {
   margin-top: 38px;
}

/* Desktop and tablet */
@media only screen and (min-width: 768px) {
  .mz-curbsidedelivery-page {
    margin: 38px;
  }

  .mz-l-formfieldgroup input[type="text"], .mz-l-formfieldgroup select {
    width: 350px!important;
  }

  .location-hours-format td {
    text-align: right;
    padding: 12.5px 25px!important;
  }

  .mz-curbside-header img {
    width: 20%!important;
  }

  .mz-curbside-header-body h3 {
    font-weight: 600!important;
  }

}

.mz-l-formfieldgroup input[type="text"], .mz-l-formfieldgroup select {
  width: 245px;
}

.mz-delevery-button {
  background-color: #fa6400!important;
  color: white!important;
}

.order-info-table {
  background-color: #666666;
}

.order-info-table span {
  float: right;
  text-align: right;
  font-size: small;
}

.order-info-table span h4 {
    margin-top: 0px;
    height: 0px;
}

.order-info-table th {
  font-size: 25px;
}

.curbside-description p {
  margin-top: 20px;
  background-size: cover;
}

.with-you-shortly img {
  display:block;
  margin:auto;
  height: 200px;
  width: 200px;
}

.store-detail-info {
  background-color: #E5E5E5;
  padding : 15px ;
  margin-top: 20px;
  padding-top: 8px;
  border: 1px solid #E5E5E5 ;
}

.pageContent {
  padding: 25px;
}

.order-details-header {
  background-color: #B3B3B3;
  margin-bottom: 0!important;
  padding: 18px 100px;
  display: flex;
  text-align: left;
  padding-top: 8px;
  padding: 0px;
  margin-top: 20px;
  vertical-align: middle;
  align-self: center;
}

.curbside-order-details-right {
  width: 50%;
  margin-left: 80px;
  text-align: right;
  color: white;
  padding-right: 10px;
}

.curbside-order-details-left {
  width: 50%;
  vertical-align: middle;
  padding-top: 15px;
  color: white !important; 
  padding-left: 10px;
  font-weight: 900;
}

.curbside-info-notes {
  color: #185578;
  background-color: #d5edfa;
  border-color: #c5e6f8;  
  padding: 0.75rem 1.25rem;    
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.customer-at-curbside-header {
  background-color: #B3B3B3;
  margin-bottom: 0!important;
  padding: 8px 10px;
  display: flex;
  align-items: center;
}

.customer-at-curbside-header h2 {
  display:block;
  margin:auto; 
}

.curbside-page-content {
  padding: 25px;
}

.curbside-spacing {
  padding-top: 8px;
}

.curbside-notedetails {
  background-color: #d3edf8;
  padding-top: 8px;
  margin-top: 20px;
  border: 1px solid #87ceeb;
}

.curbside-storedetails {
  background-color: #e5e5e5;
  padding : 15px;
  margin-top: 20px;
  padding-top: 8px;
  border: 1px solid #e5e5e5;
}

.mz-delivery-button {
  background-color: #FA6400!important;
  color: white!important;
}

.mz-curbside-header {
  height: 75px;  
  background-color: #f7f7f7;
}

.mz-curbside-header-body {
  position: relative;
  top: 13%;
  left: 10px;
  width: 94%;
}

.mz-curbside-header img {
  float: left;
  width: 32%;
  height: 100%;
  background: #330065;
}

.h2-curbside-order-color {
  color:white;
}

.location-hours-info {
  font-weight: bold;
    padding-bottom: 6px;
    padding-top: 16px;
}

.location-hours-format td {
  text-align: right;
  padding: 12.5px 8px;
}

.location-hours-format {
  background: #eeeeee;
}

.mz-printable-shipment-mobilenotification .product-image {
  height: 100px;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 680px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mz-printable-shipment-mobilenotification .product-image {
    height: 35px;
  }

  .mz-printable-shipment-mobilenotification grid td,
  .mz-printable-shipment-mobilenotification .grid th {
    padding: 4px 4px;
  }

  .mz-printable-shipment-mobilenotification {
    font-size:13px;
  }

  .mz-printable-shipment-mobilenotification .mobile-shipment-info-table {
    font-size:11px;
  }

}

.mz-curbside-header-body h3 {
  font-weight: 100;
}

.mz-curbside-survey-button {
  background-color: #fa6400!important;
  color: white!important;
}


.curbside-page-wrap {
  padding-bottom: 2.5rem;    /* Footer height */

}

@media only screen and (min-width: 768px) {
  .curbside-customer-thankyou img {
    margin-left: 20px!important;   
  }

  .SurveyAdditionalFeedbackTextArea {
    width: 350px!important;
  }

  .shopper-notification-info-table {
    width: 32%!important;
  }

  }

  .curbside-customer-thankyou img {
    display:block;
    margin:auto;
    height: 200px;
    width: 200px;
  }

  .curbside-footer-position {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

.curbside-main-page-content{
  position: relative;
  min-height: 100vh;
}

.SurveyAdditionalFeedbackTextArea {
  width: 245px;
}

.Shopper-shipment-item-info {
  font-weight: bold;
  padding-top: 13px;
}

.shopper-grid {
  border: 1px solid #bfbfbf;
  margin-top: 10px;
  width: 95%;
}

.shopper-grid th {
  background-color: #e5e5e5;
  font-weight: 600;
  padding: 8px 2px;
  text-align: left;
  white-space: nowrap;
}
.shopper-grid td {
  border-top: 1px solid #bfbfbf;
  padding: 8px 2px;
  text-align: left;
}
.shopper-grid tr:nth-of-type(1) td {
  border-top-width: 0;
}

.mz-shopper-notification-card {  
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
  .mz-shopper-notification-card-header {
    padding: 0.75rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: bold;
  }

  .mz-shopper-notification-card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }

  .mz-shopper-notification-card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.75rem;
  }

  .mz-shopper-notification-card-body, p {
    margin: 0;
  }

  .mz-shopper-notification-onmyway-button {
    background-color: #330065!important;
    color: white!important;
    padding: 7.5px 25px !important;
    font-size: 13px !important;
  }

  .store-notification-card {
    min-height: 150px;
    width: 95%;
    margin-left: 11px;
  }

  .shopper-notification-info-table {
    float: right;
    background-color: #e5e5e5;
    font-weight: normal;
    padding: 8px 14px;
    text-align: left;
    white-space: nowrap;
    width: 60%;
    font-size: small;
  }
  
  .shopper-notification-info-table span {
    float: right;
  }

  .quote-name {
    color: #3A3A3A;
    font-family: Roboto;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-weight: bold;
  }
  
  .quote-details-table {
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
  }
  
  .quote-account-details {
    border-right: 2px solid #eeeeef;
  }
  
  .quote-account-details-table tr {
      line-height: 2px; 
  }

  .quote-account-details-table th {
    text-align: right;
  }

  .quoteSummary-font {
    font-size: 15px;
  }
  .quote-shipping-child-table {
    padding-top: 0px !important;
  }

  .quote-shipping-summary {
    border-top: 2px solid #eeeeef;
  }

  .b2b-backgroundTable td {
    padding: 15px;
  }
  
  .b2b-backgroundTable {
    margin: 0;
    padding: 0;
    width: 100% !important;
    line-height: 100% !important;
    font-family: Source Sans Pro,sans-serif !important;;
    font-size: 14px !important;;
    color: #444!important;;
  }

  .quote-shipping-summary p {
    margin:15px !important;
  }

  .quote-shipping-method {
    padding-bottom: 50px !important;
  }

  .quote-total-summary-font {
    font-size: 17px;
  }

  @media screen and (max-width: 640px) {

    .quote-account-details-table tr {
      line-height: 15px !important; 
  }
  }