.#{$vprefix}payment-item {
    span {
        display: inline-block;

        .#{$vprefix}combo-pill {
            display: inline;
            font-size: 11px !important;
            line-height: 17px !important;
            &.x-column-content-pill-true {
                color: $color-neutral-white !important;
            }
        }
    }
}

li.#{$prefix}boundlist-item-over .#{$vprefix}payment-item--disabled {
    span {
        color: $color-neutral-65 !important;
    }
}
