.#{$prefix}window-modal {

    .#{$vprefix}static-text {
        h2 {
            font-weight: 100;
        }

        p {
            font-size: 13px;
            padding-bottom: 21px;
        }
    }
}