


.#{$vprefix}orderform-editor{
	/*border-radius: 0.6em;*/
	border:1px solid #fff;
	background-color:#fff;
	box-shadow: 0 0.7em 3.5em rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0.7em 3.5em rgba(0, 0, 0, 0.3);

	.x-window-header{		
		padding:20px 20px 20px 20px;
		font-size: px-to-rem(24);
        line-height: px-to-rem(30);
		font-weight: normal;		
		border-bottom: 1px dashed $color-neutral-75 !important;
		
	}

	.x-window-body {		
		border: 0px;
        padding: 20px 20px 0px 20px;
		border-top:0px solid $color-neutral-75 !important;
        background-color:#fff;	
	}

	.x-toolbar-footer{
		padding:20px 20px 20px 20px;
		/*border-top: 1px dashed $color-neutral-75 !important;*/
	}
}


// remove the padding from the first field label
.#{$vprefix}firstField{
    padding-top:0px;
}