.taco-directshiplocationpanel{
	line-height:1.4em;
	border:1px solid #ccc; 
	padding:19px;

	.shipping-origin-contact{
		padding-left:20px;
	}

	.address{
		padding-left:20px;
	}

}


.taco-directshipinventorypanel{
	line-height:1.4em;
	border:1px solid #ccc; 
	padding:19px;
	border-left-width:1px !important;
}