.#{$vprefix}refund-modal {
    .#{$prefix}panel-header-text-container-default {
        font-size: 16px;
    }

    .#{$prefix}grid-group-hd-not-collapsible {
        display: none;
    }

    .total-label {
        color: $color-neutral-60;
        font-size: 12px;
        padding-left: 20px;
        text-transform: uppercase;
    }

    .total-value {
        color: $color;
        font-size: 16px;
        font-weight: 600;
        padding-left: 4px;
    }

    // .#{$vprefix}currencyfield td[id$="sideErrorCell"] {
    //     .#{$prefix}form-error-msg {
    //         background-image: none;
    //         color: $color-framework-gray-dark;
    //         font-size: 14px;
    //         height: 30px;
    //         margin: 0px;
    //         padding: 9px 14px 7px;
    //         width: 350px;

    //         .#{$prefix}list-plain {
    //             display: block;
    //         }
    //     }
    // }

    .#{$vprefix}refund-header {
        border-collapse: collapse;
        width: 100%;

        .total-cell {
            color: $color-neutral-60;
            padding-bottom: 12px;
            width: 33%;
        }

        .total-label {
            display: block;
            font-size: 12px;
            padding-bottom: 3px;
            padding-left: 20px;
            text-transform: uppercase;
        }

        .total-value {
            color: $color;
            display: block;
            font-size: 24px;
            font-weight: 600;
            padding-left: 20px;
        }

        .payment-cell-inner {
            background-color: $color-framework-gray-lighter;
            border: 1px solid $color-standard-border;
            color: $color-framework-gray-dark;
            font-size: 14px;
            padding: 10px 8px 8px;
        }

        .payment-value {
            color: $color;
            font-weight: 600;
        }

        .#{$vprefix}link-reselect {
            margin-left: 5px;
        }
    }

    .help-box {
        padding-left: 20px;
        padding-top: 41px;
    }

    .help-box-inner {
        background-color: $color-framework-gray-lighter;
        border: 1px solid $color-standard-border;
        font-size: 14px;
        height: 106px;
        padding: 10px;
    }
}