// Non-outputting utilities
@import "/stylesheets/base/variables.less";
@import "/stylesheets/base/mixins.less";

// Base
@import "/stylesheets/base/normalize.less";
@import "/stylesheets/base/global.less";

// Layouts
@import "/stylesheets/layouts/l-container.less";
@import "/stylesheets/layouts/l-formfieldgroup.less";
@import "/stylesheets/layouts/l-pagecontent.less";
@import "/stylesheets/layouts/l-pagewrapper.less";
@import "/stylesheets/layouts/l-paginatedlist.less";
@import "/stylesheets/layouts/l-2column.less";
@import "/stylesheets/layouts/l-sidebar.less";
@import "/stylesheets/layouts/l-tiles.less";
@import "/stylesheets/layouts/l-stack.less";

// Modules
// Common
@import "/stylesheets/modules/common/address-summary.less";
@import "/stylesheets/modules/common/button.less";
@import "/stylesheets/modules/common/icon.less";
@import "/stylesheets/modules/common/item-listing.less";
@import "/stylesheets/modules/common/message-bar.less";
@import "/stylesheets/modules/common/order-list.less";
@import "/stylesheets/modules/common/order-listing.less";
@import "/stylesheets/modules/common/order-summary.less";
@import "/stylesheets/modules/common/price.less";
@import "/stylesheets/modules/common/page-title.less";
@import "/stylesheets/modules/common/property-list.less";
@import "/stylesheets/modules/common/table.less";
// Locations
@import "/stylesheets/modules/location/location-list.less";
// Page Header
@import "/stylesheets/modules/page-header/store-branding.less";
// Product
@import "/stylesheets/modules/product/price-stack.less";
@import "/stylesheets/modules/product/product-list.less";
@import "/stylesheets/modules/product/product-listing.less";
@import "/stylesheets/modules/product/product-images.less";
@import "/stylesheets/modules/product/product-detail.less";
// State
@import "/stylesheets/state/is-disabled.less";
@import "/stylesheets/state/is-required.less";
@import "/stylesheets/state/is-crossedout.less";
@import "/stylesheets/state/is-saleprice.less";
@import "/stylesheets/state/notices.less";

body {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 600;
    margin: 0;
}

table {
    border-collapse: collapse;
    font-size: inherit;
    line-height: inherit;
}

.section {
    border-bottom: 1px solid #b3b3b3;
    padding-bottom: 10px;
}

.section > h2 {
    border-bottom: 1px solid #bfbfbf;
    font-size: 17px;
    line-height: 1;
    margin: 0 2%;
    padding: 17px 1% 16px;
}

.subsection-wrapper {
    margin: 10px 2%;
}

.subsection-wrapper > h3 {
    padding: 7px 2%;
}

.subsection-wrapper .grid {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.subsection {
    margin: 0 2%;
    width: 96%;
}

.subsection .label {
    font-weight: 600;
    margin: 14px 0 7px;
}

.subsection .label:nth-of-type(1) {
    margin-top: 0;
}

.subsection td {
    padding: 7px 7px 0 0;
    vertical-align: top;
}

.grid {
    border: 1px solid #bfbfbf;
    margin: 10px 2%;
    width: 96%;
}

.grid th {
    background-color: #e5e5e5;
    font-weight: 600;
    padding: 8px 14px;
    text-align: left;
    white-space: nowrap;
}

.grid td {
    border-top: 1px solid #bfbfbf;
    padding: 8px 14px;
    text-align: left;
}

.grid tr:nth-of-type(1) td {
    border-top-width: 0;
}

.panes {
    margin: 10px 2%;
    width: 96%;
}

.panes td {
    border-left: 1px solid #bfbfbf;
    padding: 2px 14px 8px;
    vertical-align: top;
    width: 33%;
}

.panes td:nth-of-type(1) {
    border-left-width:0;
}

.panes .label {
    color: #b3b3b3;
    font-size: 13px;
    margin-bottom: 7px;
}

.panes .price-total {
    font-size: 24px;
    margin-bottom: 7px;
}

.panes .item-total {
    font-size: 16px;
}

.mz-printable-order {
    width: 100%;
}

.header th {
    border-bottom: 1px solid #b3b3b3;
    font-weight: 400;
    padding: 14px 2%;
    text-align: left;
    vertical-align: top;
    width: 25%;
}

.header .company-info h1 {
    font-size: 24px;
}

.header .company-name {
    font-weight: bold;
}

.header .company-contacts {
    white-space: pre-wrap;
}

.header .order-essentials {
    text-align: right;
}

.header .order-essentials .order-number {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 3px;
}

.header .order-essentials .order-number .label {
    color: #b3b3b3;
    font-weight: 400;
}

.header .order-essentials .order-date .label {
    font-weight: 600;
}

.footer td {
    padding: 14px 3%;
}

.section-attributes .attribute {
    margin: 10px 4%;
}

.section-attributes .attribute span {
    font-style: italic; margin-right: 10px;
}

.section-attributes .attribute .label {
    font-style: normal; font-weight: 600;
}

.section-orderitems .product-name {
    margin-bottom: 4px;
}

.section-orderitems .bundled-product,.section-orderitems .product-option {
    border-left: 2px solid #ddd;
    line-height: 1.2;
    margin-left: 4px;
    padding-left: 6px;
}

.section-orderitems .product-option-label {
    color: #b3b3b3;
    font-size: 12px;
    font-style: normal;
    margin-right: 8px;
    text-transform: uppercase;
}