/* SPLITTER */

.#{$prefix}splitter-noresize {
    background-color: transparent;
    cursor: auto;
    overflow: hidden;

    .#{$prefix}collapse-el {
        background-image: none;
    }
}


/* COLLAPSE TOOL */

.#{$prefix}layout-split-right {
    @include icon-font($glyph-arrowright);
    margin-left: -3px;
    position: absolute;
    background-color: $color-framework-gray-light;
    background-image: none;
}   

.#{$prefix}splitter-collapsed {
    .#{$prefix}layout-split-right {
        &::after {
            content: $glyph-arrowleft;
            background-image: none;
        }
    }
}