<spinner></spinner>
<div class="row row-eq-height location-config-container">
    <div class="subform col-md-2 location-config-left-container">
        <h4>{{'LOCATIONGROUPCONFIG.FormLabels.siteName' | translate}}</h4>
        <p-listbox [options]="model.sitesLst" [(ngModel)]="model.selectedSite" optionLabel="name" [style]="{'width':'100%'}" (onChange)="siteListChanged()"></p-listbox>
    </div>
    <div class="col-md-10 location-config-right-container">
        <form [formGroup]="model.locationGroupConfigForm">
            <div class="row subform">
                <div class="col-md-10 nopadding">
                    <h4>{{this.model.selectedSite ? this.model.selectedSite.name : ''}} {{'LOCATIONGROUPCONFIG.FormLabels.siteConfig' | translate}}</h4>
                </div>
                <div class="col-md-2 nopadding">
                    <progress-button (buttonClick)="saveLocationConfig()" class="pull-right" label="{{'SHARED.HEADER.actionButtons.locationGroups.save' | translate}}"></progress-button>
                </div>
            </div>

            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.packageSettings' | translate }}</h4>
                <div class="row nomargin">
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="packageSettingsUnitType">{{'LOCATIONGROUPCONFIG.FormLabels.unitType' | translate}}</label>
                        <select id="packageSettingsUnitType" class="form-control" formControlName="packageSettingsUnitType">
                            <option *ngFor="let action of model.PackageSettingUnitTypes" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.bpmConfigurations' | translate }}</h4>
                <div class="row nomargin">
                    <div class="form-row col-md-4 for-no-padding">
                        <label class="subform-label" for="bpmConfigurationShipmentType">{{'LOCATIONGROUPCONFIG.FormLabels.bpmConfigurationShipmentType' | translate}}</label>
                        <select id="bpmConfigurationShipmentType" class="form-control" formControlName="bpmConfigurationShipmentType" (change)='patchBpmConfigurations()'>
                            <option *ngFor="let action of model.BPMShipmentTypes" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-row col-md-3 for-no-padding dropdownSiblingMargin">
                        <input class="inputText form-control subform-text" id="bpmConfigurationContainerId" name="bpmConfigurationContainerId" formControlName="bpmConfigurationContainerId" required/>
                        <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('bpmConfigurationContainerId').value === '' || model.locationGroupConfigForm.get('bpmConfigurationContainerId').value === null,
										'floating-label-not-empty': model.locationGroupConfigForm.get('bpmConfigurationContainerId').value !== ''
										}">{{'LOCATIONGROUPCONFIG.FormLabels.bpmConfigurationContainerId' | translate }}</span>

                        <hr class="underline-from-left" [ngClass]="{'redunderline-from-left': model.locationGroupConfigForm.get('bpmConfigurationContainerId').touched && model.locationGroupConfigForm.get('bpmConfigurationContainerId').invalid}">
                        <span class="error" *ngIf="model.locationGroupConfigForm.get('bpmConfigurationContainerId').touched && model.locationGroupConfigForm.get('bpmConfigurationContainerId').invalid">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-row col-md-3 for-no-padding dropdownSiblingMargin">
                        <input class="inputText form-control subform-text" id="bpmConfigurationProcessId" name="bpmConfigurationProcessId" formControlName="bpmConfigurationProcessId" required/>
                        <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('bpmConfigurationProcessId').value === '' || model.locationGroupConfigForm.get('bpmConfigurationProcessId').value === null,
										'floating-label-not-empty': model.locationGroupConfigForm.get('bpmConfigurationProcessId').value !== ''
										}">{{'LOCATIONGROUPCONFIG.FormLabels.bpmConfigurationProcessId' | translate }}</span>
                        
                        <hr class="underline-from-left" [ngClass]="{'redunderline-from-left': model.locationGroupConfigForm.get('bpmConfigurationProcessId').touched && model.locationGroupConfigForm.get('bpmConfigurationProcessId').invalid}">
                        <span class="error" *ngIf="model.locationGroupConfigForm.get('bpmConfigurationProcessId').touched && model.locationGroupConfigForm.get('bpmConfigurationProcessId').invalid">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                    </div>
                </div>
            </div>

            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.bopis' | translate }}</h4>
                <div class="row nomargin">
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="customerFailedToPickupAfterAction">{{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupAfterAction' | translate}}</label>
                        <select id="customerFailedToPickupAfterAction" class="form-control" formControlName="customerFailedToPickupAfterAction">
                            <option *ngFor="let action of model.LCCustomerPickupActions" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-row col-md-5 for-no-padding">
                        <input class="inputText form-control subform-text" id="customerFailedToPickupDeadline" name="customerFailedToPickupDeadline" formControlName="customerFailedToPickupDeadline" />
                        <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('customerFailedToPickupDeadline').value === '' || model.locationGroupConfigForm.get('customerFailedToPickupDeadline').value === null,
										'floating-label-not-empty': model.locationGroupConfigForm.get('customerFailedToPickupDeadline').value !== ''
										}">{{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupDeadline' | translate }}</span>
                        <hr class="underline-from-left">
                        <p class="redfont">
                            {{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupDeadlineWarnMsg' | translate}}
                        </p>
                    </div>
                </div>
                <div class="row nomargin for-top-margin">
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="sendCustomerPickupReminder">{{'LOCATIONGROUPCONFIG.FormLabels.sendCustomerPickupReminder' | translate}}</label>
                        <select id="sendCustomerPickupReminder" class="form-control" formControlName="sendCustomerPickupReminder">
                            <option *ngFor="let action of model.LCCustomerPickupReminders" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label nopadding">
                            <input type="checkbox" formControlName="blockPartialCancel">
                            {{'LOCATIONGROUPCONFIG.FormLabels.blockPartialCancel' | translate }}
                        </label>
                    </div>

                </div>
            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.shipping' | translate}}</h4>
                <label class="subform-label">{{'LOCATIONGROUPCONFIG.FormLabels.carriers' | translate}}</label>
                <div class="row nomargin">
                    <label class="subform-label col-md-2 nopadding" formArrayName="carriers" *ngFor="let carrier of model.locationGroupConfigForm.get('carriers')['controls']; let carrierIndex = index">
                        <input type="checkbox" [formControlName]="carrierIndex">
                        {{model.LCCarriers[carrierIndex] ? model.LCCarriers[carrierIndex].CarrierTypeLabel : ''}}
                    </label>
                </div>
                <div class="row nomargin for-top-margin">
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="defaultCarrier">{{'LOCATIONGROUPCONFIG.FormLabels.defaultCarrier' | translate}}</label>
                        <select id="defaultCarrier" class="form-control" formControlName="defaultCarrier">
                            <option *ngFor="let action of model.LCDefaultCarrier" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="printReturnLabel">{{'LOCATIONGROUPCONFIG.FormLabels.printReturnLabel' | translate}}</label>
                        <select id="printReturnLabel" class="form-control" formControlName="printReturnLabel">
                            <option *ngFor="let action of model.LCPrintReturnLabel" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row nomargin for-top-margin">
                    <div class="form-row col-md-5 for-no-padding">
                        <label class="subform-label" for="defaultPrinterType">{{'LOCATIONGROUPCONFIG.FormLabels.defaultPrinterType' | translate}}</label>
                        <select id="defaultPrinterType" class="form-control" formControlName="defaultPrinterType">
                            <option *ngFor="let action of model.LCDefaultPrinterType" [ngValue]="action.data">
                                {{ action.label }}
                            </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.boxTypes' | translate}}</h4>
                <div class="row nomargin" formArrayName="boxItems" *ngFor="let item of model.locationGroupConfigForm.get('boxItems')['controls']; let rowIndex = index;">
                    <div [formGroupName]="rowIndex">
                        <div class="form-row col-md-2 for-no-padding">
                            <input class="inputText form-control subform-text" id="boxName" (change)="markLocationGroupConfigFormDirty(rowIndex)" formControlName="name" />
                            <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.value === '',
											'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.value !== ''
											}">{{'LOCATIONGROUPCONFIG.FormLabels.name' | translate }}</span>
                            <hr class="underline-from-left" [ngClass]="{'redunderline-from-left':(model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.touched) && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.valid)}">
                            <span class="error" *ngIf="(model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.touched && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.valid))">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                        </div>

                        <div class="form-row col-md-2 for-no-padding boxItemMargin">
                            <div class="col-md-9 nomargin nopadding">
                                <input class="inputText form-control subform-text" id="boxLength" (change)="markLocationGroupConfigFormDirty()" formControlName="length" />
                                <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.value !== ''
												}">{{'LOCATIONGROUPCONFIG.FormLabels.length' | translate }}</span>
                                <hr class="underline-from-left" [ngClass]="{'redunderline-from-left':(model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.touched) && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.valid) }">
                                <span class="error" *ngIf="model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.touched && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.valid)">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                            </div>
                            <div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">
                                {{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}
                            </div>
                        </div>

                        <div class="form-row col-md-2 for-no-padding boxItemMargin">
                            <div class="col-md-9 nomargin nopadding">
                                <input class="inputText form-control subform-text" id="boxWidth" (change)="markLocationGroupConfigFormDirty()" formControlName="width" />
                                <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.value !== ''
												}">{{'LOCATIONGROUPCONFIG.FormLabels.width' | translate }}</span>
                                <hr class="underline-from-left" [ngClass]="{'redunderline-from-left':(model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.touched) && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.valid) }">
                                <span class="error" *ngIf="model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.touched && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.valid)">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                            </div>
                            <div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">
                                {{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}
                            </div>
                        </div>

                        <div class="form-row col-md-2 for-no-padding boxItemMargin">
                            <div class="col-md-9 nomargin nopadding">
                                <input class="inputText form-control subform-text" id="boxHeight" (change)="markLocationGroupConfigFormDirty()" formControlName="height" />
                                <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.value !== ''
												}">{{'LOCATIONGROUPCONFIG.FormLabels.height' | translate }}</span>
                                <hr class="underline-from-left" [ngClass]="{'redunderline-from-left':(model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.touched) && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.valid) }">
                                <span class="error" *ngIf="model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.touched && (!model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.valid)">{{'LOCATIONGROUP.FormsErrorMessages.nameRequired' | translate }}</span>
                            </div>
                            <div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">
                                {{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}
                            </div>
                        </div>

                        <div class="form-row col-md-2 for-no-padding">
                            <button type="button" (click)="removeBoxItem(rowIndex)" class="btn pull-right">{{'SHARED.HEADER.actionButtons.locationGroups.remove' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <button type="button" (click)="addBoxItem();markLocationGroupConfigFormDirty()" class="btn pull-left">{{'SHARED.HEADER.actionButtons.locationGroups.add' | translate}}</button>
                </div>
            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.upsSettings' | translate}}</h4>
                <h5>
                    {{'LOCATIONGROUPCONFIG.FormLabels.upsSettingsInfo' | translate}}
                    <a>{{'LOCATIONGROUPCONFIG.FormLabels.upsSettingsInfoLink' | translate}}</a>.
                </h5>
                <div class="row nomargin">
                    <div class="col-md-6 for-no-padding">
                        <div class="col-md-4 for-no-padding">
                            {{'LOCATIONGROUPCONFIG.FormLabels.upsusShippingTypes' | translate}}
                        </div>
                        <div class="col-md-8 for-no-padding">
                            <label class="subform-label nopadding col-md-12" formArrayName="upsUsShippingTypes" *ngFor="let shippingType of model.locationGroupConfigForm.get('upsUsShippingTypes')['controls']; let shippingTypeIndex = index">
                                <input type="checkbox" [formControlName]="shippingTypeIndex">
                                {{model.LCUPSUSShippingTypes[shippingTypeIndex].label}}
                            </label>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="upsUSReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.upsusReturnLabelShippingTypes' | translate}}</label>
                                <select id="upsUSReturnLabelShippingTypes" class="form-control" formControlName="upsUSReturnLabelShippingTypes">
                                    <option *ngFor="let shippingType of model.LCUPSUSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 for-no-padding">
                        <div class="row nomargin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="upsUSStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.upsusStandardDefault' | translate}}</label>
                                <select id="upsUSStandardDefault" class="form-control" formControlName="upsUSStandardDefault">
                                    <option *ngFor="let shippingType of model.LCUPSUSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="upsUSExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.upsusExpress1DayDefault' | translate}}</label>
                                <select id="upsUSExpress1DayDefault" class="form-control" formControlName="upsUSExpress1DayDefault">
                                    <option *ngFor="let shippingType of model.LCUPSUSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="upsUSExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.upsusExpress2DayDefault' | translate}}</label>
                                <select id="upsUSExpress2DayDefault" class="form-control" formControlName="upsUSExpress2DayDefault">
                                    <option *ngFor="let shippingType of model.LCUPSUSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="upsUSExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.upsusExpress3DayDefault' | translate}}</label>
                                <select id="upsUSExpress3DayDefault" class="form-control" formControlName="upsUSExpress3DayDefault">
                                    <option *ngFor="let shippingType of model.LCUPSUSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.fedexSettings' | translate}}</h4>
                <h5>
                    {{'LOCATIONGROUPCONFIG.FormLabels.fedexSettingsInfo' | translate}}
                    <a>{{'LOCATIONGROUPCONFIG.FormLabels.fedexSettingsInfoLink' | translate}}</a>.
                </h5>
                <div class="row nomargin for-no-padding">
                    <div class="col-md-6 for-no-padding">
                        <div class="col-md-4 for-no-padding">
                            {{'LOCATIONGROUPCONFIG.FormLabels.enableSmartPost' | translate}}
                        </div>
                        <div class="col-md-8 for-no-padding">
                            <input type="checkbox" formControlName="enableSmartPost">
                        </div>
                        <div class="col-md-4 for-no-padding">
                            {{'LOCATIONGROUPCONFIG.FormLabels.fedexShippingTypes' | translate}}
                        </div>
                        <div class="col-md-8 for-no-padding">
                            <label class="subform-label nopadding col-md-12" formArrayName="fedExShippingTypes" *ngFor="let shippingType of model.locationGroupConfigForm.get('fedExShippingTypes')['controls']; let shippingTypeIndex = index">
                                <input type="checkbox" [formControlName]="shippingTypeIndex">
                                {{model.LCFedExShippingType[shippingTypeIndex].label}}
                            </label>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="fedExReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.fedexReturnLabelShippingTypes' | translate}}</label>
                                <select id="fedExReturnLabelShippingTypes" class="form-control" formControlName="fedExReturnLabelShippingTypes">
                                    <option *ngFor="let shippingType of model.LCFedExShippingType"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 for-no-padding">
                        <div class="row nomargin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="fedexStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.fedexStandardDefault' | translate}}</label>
                                <select id="fedexStandardDefault" class="form-control" formControlName="fedexStandardDefault">
                                    <option *ngFor="let shippingType of model.LCFedExShippingType"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="fedexExpress1Default">{{'LOCATIONGROUPCONFIG.FormLabels.fedexExpress1Default' | translate}}</label>
                                <select id="fedexExpress1Default" class="form-control" formControlName="fedexExpress1Default">
                                    <option *ngFor="let shippingType of model.LCFedExShippingType"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="fedexExpress2Default">{{'LOCATIONGROUPCONFIG.FormLabels.fedexExpress2Default' | translate}}</label>
                                <select id="fedexExpress2Default" class="form-control" formControlName="fedexExpress2Default">
                                    <option *ngFor="let shippingType of model.LCFedExShippingType"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="fedexExpress3Default">{{'LOCATIONGROUPCONFIG.FormLabels.fedexExpress3Default' | translate}}</label>
                                <select id="fedexExpress3Default" class="form-control" formControlName="fedexExpress3Default">
                                    <option *ngFor="let shippingType of model.LCFedExShippingType"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.uspsSettings' | translate}}</h4>
                <h5>
                    {{'LOCATIONGROUPCONFIG.FormLabels.uspsSettingsInfo' | translate}}
                    <a>{{'LOCATIONGROUPCONFIG.FormLabels.uspsSettingsInfoLink' | translate}}</a>.
                </h5>
                <div class="row nomargin">
                    <div class="col-md-6 for-no-padding">
                        <div class="col-md-4 for-no-padding">
                            {{'LOCATIONGROUPCONFIG.FormLabels.uspsShippingTypes' | translate}}
                        </div>
                        <div class="col-md-8 for-no-padding">
                            <label class="subform-label nopadding col-md-12" formArrayName="uspsShippingTypes" *ngFor="let shippingType of model.locationGroupConfigForm.get('uspsShippingTypes')['controls']; let shippingTypeIndex = index">
                                <input type="checkbox" [formControlName]="shippingTypeIndex">
                                {{model.LCUSPSShippingTypes[shippingTypeIndex].label}}
                            </label>
                        </div>
                        <div class="form-row col-md-8 for-no-padding">
                            <label class="subform-label" for="uspsReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.uspsReturnLabelShippingTypes' | translate}}</label>
                            <select id="uspsReturnLabelShippingTypes" class="form-control" formControlName="uspsReturnLabelShippingTypes">
                                <option *ngFor="let shippingType of model.LCUSPSShippingTypes"
                                        [ngValue]="shippingType.data">
                                    {{ shippingType.label }}
                                </option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6 for-no-padding">
                        <div class="row nomargin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="uspsStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.uspsStandardDefault' | translate}}</label>
                                <select id="uspsStandardDefault" class="form-control" formControlName="uspsStandardDefault">
                                    <option *ngFor="let shippingType of model.LCUSPSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="uspsExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.uspsExpress1DayDefault' | translate}}</label>
                                <select id="uspsExpress1DayDefault" class="form-control" formControlName="uspsExpress1DayDefault">
                                    <option *ngFor="let shippingType of model.LCUSPSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="uspsExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.uspsExpress2DayDefault' | translate}}</label>
                                <select id="uspsExpress2DayDefault" class="form-control" formControlName="uspsExpress2DayDefault">
                                    <option *ngFor="let shippingType of model.LCUSPSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row nomargin for-top-margin">
                            <div class="form-row col-md-10 for-no-padding">
                                <label class="subform-label" for="uspsExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.uspsExpress3DayDefault' | translate}}</label>
                                <select id="uspsExpress3DayDefault" class="form-control" formControlName="uspsExpress3DayDefault">
                                    <option *ngFor="let shippingType of model.LCUSPSShippingTypes"
                                            [ngValue]="shippingType.data">
                                        {{ shippingType.label }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="subform">
                <h4>{{'LOCATIONGROUPCONFIG.FormSections.otherSettings' | translate }}</h4>
                <div class="row nomargin">
                    <div>
                        <label class="subform-label col-md-4 nopadding">
                            <input type="checkbox" formControlName="autoPackingListPopup">
                            {{'LOCATIONGROUPCONFIG.FormLabels.autoPackingListPopup' | translate }}
                        </label>
                    </div>
                    <div>
                        <label class="subform-label col-md-4 nopadding">
                            <input type="checkbox" formControlName="blockPartialStock">
                            {{'LOCATIONGROUPCONFIG.FormLabels.blockPartialStock' | translate }}
                        </label>
                    </div>
                    <div>

                        <div class="subform-label col-md-4 nopadding">
                            <input class="inputText form-control subform-text" id="defaultMaxNumberOfShipmentsInPickWave" name="defaultMaxNumberOfShipmentsInPickWave" formControlName="defaultMaxNumberOfShipmentsInPickWave" />
                            <span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('defaultMaxNumberOfShipmentsInPickWave').value === '' || model.locationGroupConfigForm.get('defaultMaxNumberOfShipmentsInPickWave').value === null,
										'floating-label-not-empty': model.locationGroupConfigForm.get('defaultMaxNumberOfShipmentsInPickWave').value !== ''
										}">{{'LOCATIONGROUPCONFIG.FormLabels.defaultMaxNumberOfShipmentsInPickWave' | translate }}</span>
                            <hr class="underline-from-left">
                        </div>
                    </div>
                </div>
                <div class="row nomargin">
                    <div>
                        <label class="subform-label col-md-4 nopadding">
                            <input type="checkbox" formControlName="displayProductImagesInPickWaveDetails">
                            {{'LOCATIONGROUPCONFIG.FormLabels.displayProductImagesInPickWaveDetails' | translate }}
                        </label>
                    </div>
                    <div class=" col-md-4 checkforpicknpack nopadding">
                        <div>
                            {{'LOCATIONGROUPCONFIG.FormLabels.enablePickandPack' | translate }}
                        </div>
                        <div class="subform-label ">
                            <input type="checkbox" formControlName="enablePnpForSTH">
                            {{'LOCATIONGROUPCONFIG.FormLabels.shiptoHome' | translate }}
                        </div>

                        <div class="subform-label ">
                            <input type="checkbox" formControlName="enablePnpForBOPIS">
                            {{'LOCATIONGROUPCONFIG.FormLabels.bopis' | translate }}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>