<spinner></spinner>
<div class="row row-eq-height location-config-container">
	<div class="subform col-md-2 location-config-left-container">
		<h4>Site Name</h4>
		<p-listbox [options]="model.sitesLst" [(ngModel)]="model.selectedSite" optionLabel="name"
			[style]="{'width':'100%'}" (onChange)="siteListChanged()"></p-listbox>
		<!-- <p>Selected Site: {{model.selectedSite ? model.selectedSite.id : 'none'}}</p> -->
	</div>
	<div class="col-md-10 location-config-right-container">
		<form [formGroup]="model.locationGroupConfigForm">
			<div class="row subform">
				<div class="col-md-10 nopadding">
					<h4>{{this.model.selectedSite.name}} Site Config</h4>
				</div>
				<div class="col-md-2 nopadding">
					<button type="button" class="sbbtn btn btn-success pull-right">{{'SHARED.HEADER.actionButtons.locationGroups.save' | translate}}</button>
				</div>
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.ISPU' | translate }}</h4>
				<div class="row nomargin">
					<div class="form-row col-md-5 for-no-padding">
						<label class="subform-label" for="customerFailedToPickupAfterAction">{{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupAfterAction' | translate}}</label>
						<select id="customerFailedToPickupAfterAction" class="form-control" formControlName="customerFailedToPickupAfterAction">
							<option *ngFor="let action of model.LCCustomerPickupActions" [ngValue]="action.data">
								{{ action.label }}
							</option>
						</select>
					</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
						<input type="number" required class=" inputText form-control subform-text"
							id="customerFailedToPickupDeadline" name="customerFailedToPickupDeadline"
							formControlName="customerFailedToPickupDeadline" />
						<span class="floating-label">
							{{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupDeadline' | translate }}</span>
						<hr class="underline-from-left">
						<p class="redfont">
							{{'LOCATIONGROUPCONFIG.FormLabels.customerFailedToPickupDeadlineWarnMsg' | translate}}</p>
					</div>
				</div>	
				<div class="row nomargin for-top-margin">
					<div class="form-row col-md-5 for-no-padding">
						<label class="subform-label" for="sendCustomerPickupReminder">{{'LOCATIONGROUPCONFIG.FormLabels.sendCustomerPickupReminder' | translate}}</label>
						<select id="sendCustomerPickupReminder" class="form-control" formControlName="sendCustomerPickupReminder">
							<option *ngFor="let action of model.LCCustomerPickupReminders" [ngValue]="action.data">
								{{ action.label }}
							</option>
						</select>
					</div>
				</div>
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.Shipping' | translate}}</h4>
				<label class="subform-label">{{'LOCATIONGROUPCONFIG.FormLabels.carriers' | translate}}</label>
				<div class="row nomargin">
					<label class="subform-label col-md-2 nopadding" formArrayName="carriers" 
						*ngFor="let carrier of model.locationGroupConfigForm.get('carriers')['controls']; let carrierIndex = index">
						<input type="checkbox" [formControlName]="carrierIndex">
						{{model.LCCarriers[carrierIndex].CarrierTypeLabel}}
					</label>
				</div>
				<div class="row nomargin for-top-margin">
					<div class="form-row col-md-5 for-no-padding">
						<label class="subform-label" for="defaultCarrier">{{'LOCATIONGROUPCONFIG.FormLabels.defaultCarrier' | translate}}</label>
						<select id="defaultCarrier" class="form-control" formControlName="defaultCarrier">
							<option *ngFor="let action of model.LCDefaultCarrier" [ngValue]="action.data">
								{{ action.label }}
							</option>
						</select>
					</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
						<label class="subform-label" for="printReturnLabel">{{'LOCATIONGROUPCONFIG.FormLabels.printReturnLabel' | translate}}</label>
						<select id="printReturnLabel" class="form-control" formControlName="printReturnLabel">
							<option *ngFor="let action of model.LCPrintReturnLabel" [ngValue]="action.data">
								{{ action.label }}
							</option>
						</select>
					</div>
				</div>
				<div class="row nomargin for-top-margin">
					<div class="form-row col-md-5 for-no-padding">
						<label class="subform-label"
							for="defaultPrinterType">{{'LOCATIONGROUPCONFIG.FormLabels.defaultPrinterType' | translate}}</label>
						<select id="defaultPrinterType" class="form-control" formControlName="defaultPrinterType">
							<option *ngFor="let action of model.LCDefaultPrinterType" [ngValue]="action.data">
								{{ action.label }}
							</option>
						</select>
					</div>
				</div>
				
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.BoxTypes' | translate}}</h4>
				<div class="row nomargin" formArrayName="boxItems"
					*ngFor="let item of model.locationGroupConfigForm.get('boxItems')['controls']; let rowIndex = index;">
					<div [formGroupName]="rowIndex">
						<div class="form-row col-md-2 for-no-padding">
							<input class="inputText form-control subform-text" id="boxName" formControlName="name" />
							<span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.value === '',
											'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.name.value !== '' 
											}">{{'LOCATIONGROUPCONFIG.FormLabels.name' | translate }}</span>
							<hr class="underline-from-left">
						</div>
						
						<div class="form-row col-md-2 for-no-padding boxItemMargin">
							<div class="col-md-9 nomargin nopadding">
								<input class="inputText form-control subform-text" id="boxLength" formControlName="length"/>
								<span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.length.value !== '' 
												}">{{'LOCATIONGROUPCONFIG.FormLabels.length' | translate }}</span>
								<hr class="underline-from-left">
							</div>
							<div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">{{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}</div>
						</div>
						
						<div class="form-row col-md-2 for-no-padding boxItemMargin">
							<div class="col-md-9 nomargin nopadding">
								<input class="inputText form-control subform-text" id="boxWidth" formControlName="width"/>
								<span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.width.value !== '' 
												}">{{'LOCATIONGROUPCONFIG.FormLabels.width' | translate }}</span>
								<hr class="underline-from-left">
							</div>
							<div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">{{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}</div>
						</div>
						
						<div class="form-row col-md-2 for-no-padding boxItemMargin">
							<div class="col-md-9 nomargin nopadding">
								<input class="inputText form-control subform-text" id="boxHeight" formControlName="height"/>
								<span [ngClass]="{'floating-label': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.value === '',
												'floating-label-not-empty': model.locationGroupConfigForm.get('boxItems')['controls'][rowIndex].controls.height.value !== '' 
												}">{{'LOCATIONGROUPCONFIG.FormLabels.height' | translate }}</span>
								<hr class="underline-from-left">
							</div>
							<div class="col-md-3 nomargin nopadding pull-left boxItemInputUnit">{{'LOCATIONGROUPCONFIG.FormLabels.inches' | translate }}</div>
						</div>

						<div class="form-row col-md-2 for-no-padding">
								<button type="button" (click)="removeBoxItem(rowIndex)" class="btn pull-right">{{'SHARED.HEADER.actionButtons.locationGroups.remove' | translate}}</button>
						</div>
					</div>
				</div>
				<div class="row nomargin">
					<button type="button" (click)="addBoxItem()" class="btn pull-left">{{'SHARED.HEADER.actionButtons.locationGroups.add' | translate}}</button>
				</div>
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.UPSSettings' | translate}}</h4>
				<h5>{{'LOCATIONGROUPCONFIG.FormLabels.UPSSettingsInfo' | translate}} <a>{{'LOCATIONGROUPCONFIG.FormLabels.UPSSettingsInfoLink' | translate}}</a>.</h5>
				<div class="row nomargin">
					<div class="col-md-6 for-no-padding">
						<div class="col-md-4 for-no-padding">
							{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSShippingTypes' | translate}}
						</div>
						<div class="col-md-8 for-no-padding">
							<label class="subform-label nopadding col-md-12" formArrayName="upsUsShippingTypes" 
								*ngFor="let shippingType of model.locationGroupConfigForm.get('upsUsShippingTypes')['controls']; let shippingTypeIndex = index">
								<input type="checkbox" [formControlName]="shippingTypeIndex">
								{{model.LCUPSUSShippingTypes[shippingTypeIndex].label}}
							</label>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsUSReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSReturnLabelShippingTypes' | translate}}</label>
								<select id="upsUSReturnLabelShippingTypes" class="form-control" formControlName="upsUSReturnLabelShippingTypes">
									<option *ngFor="let shippingType of model.LCUPSUSShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>	
					</div>
					<div class="col-md-6 for-no-padding">
						<div class="row nomargin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsUSStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSStandardDefault' | translate}}</label>
								<select id="upsUSStandardDefault" class="form-control" formControlName="upsUSStandardDefault">
									<option *ngFor="let shippingType of model.LCUPSUSShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsUSExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSExpress1DayDefault' | translate}}</label>
								<select id="upsUSExpress1DayDefault" class="form-control" formControlName="upsUSExpress1DayDefault">
									<option *ngFor="let shippingType of model.LCUPSUSShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsUSExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSExpress2DayDefault' | translate}}</label>
								<select id="upsUSExpress2DayDefault" class="form-control" formControlName="upsUSExpress2DayDefault">
									<option *ngFor="let shippingType of model.LCUPSUSShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsUSExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSUSExpress3DayDefault' | translate}}</label>
								<select id="upsUSExpress3DayDefault" class="form-control" formControlName="upsUSExpress3DayDefault">
									<option *ngFor="let shippingType of model.LCUPSUSShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<hr/><!-- second section -->
				<div class="row nomargin for-no-padding">
					<div class="col-md-6 for-no-padding">
						<div class="col-md-4 for-no-padding">
							{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalShippingTypes' | translate}}
						</div>
						<div class="col-md-8 for-no-padding">
							<label class="subform-label nopadding col-md-12" formArrayName="upsInternationalShippingTypes" 
								*ngFor="let shippingType of model.locationGroupConfigForm.get('upsInternationalShippingTypes')['controls']; let shippingTypeIndex = index">
								<input type="checkbox" [formControlName]="shippingTypeIndex">
								{{model.LCUPSInternationalShippingTypes[shippingTypeIndex].label}}
							</label>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalReturnLabelShippingTypes' | translate}}</label>
								<select id="upsInternationalReturnLabelShippingTypes" class="form-control" formControlName="upsInternationalReturnLabelShippingTypes">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalUSReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalUSReturnLabelShippingTypes' | translate}}</label>
								<select id="upsInternationalUSReturnLabelShippingTypes" class="form-control" formControlName="upsInternationalUSReturnLabelShippingTypes">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>		
					</div>
					<div class="col-md-6 for-no-padding">
						<div class="row nomargin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalStandardDefault' | translate}}</label>
								<select id="upsInternationalStandardDefault" class="form-control" formControlName="upsInternationalStandardDefault">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalExpress1DayDefault' | translate}}</label>
								<select id="upsInternationalExpress1DayDefault" class="form-control" formControlName="upsInternationalExpress1DayDefault">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalExpress2DayDefault' | translate}}</label>
								<select id="upsInternationalExpress2DayDefault" class="form-control" formControlName="upsInternationalExpress2DayDefault">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsInternationalExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSInternationalExpress3DayDefault' | translate}}</label>
								<select id="upsInternationalExpress3DayDefault" class="form-control" formControlName="upsInternationalExpress3DayDefault">
									<option *ngFor="let shippingType of model.LCUPSInternationalShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<hr/><!-- Third section -->
				<div class="row nomargin for-no-padding">
					<div class="col-md-6 for-no-padding">
						<div class="col-md-4 for-no-padding">
							{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaShippingTypes' | translate}}
						</div>
						<div class="col-md-8 for-no-padding">
							<label class="subform-label nopadding col-md-12" formArrayName="upsCanadaShippingTypes" 
								*ngFor="let shippingType of model.locationGroupConfigForm.get('upsCanadaShippingTypes')['controls']; let shippingTypeIndex = index">
								<input type="checkbox" [formControlName]="shippingTypeIndex">
								{{model.LCUPSCanadaShippingTypes[shippingTypeIndex].label}}
							</label>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsCanadaReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaReturnLabelShippingTypes' | translate}}</label>
								<select id="upsCanadaReturnLabelShippingTypes" class="form-control" formControlName="upsCanadaReturnLabelShippingTypes">
									<option *ngFor="let shippingType of model.LCUPSCanadaShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6 for-no-padding">
						<div class="row nomargin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsCanadaStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaStandardDefault' | translate}}</label>
								<select id="upsCanadaStandardDefault" class="form-control" formControlName="upsCanadaStandardDefault">
									<option *ngFor="let shippingType of model.LCUPSCanadaShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsCanadaExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaExpress1DayDefault' | translate}}</label>
								<select id="upsCanadaExpress1DayDefault" class="form-control" formControlName="upsCanadaExpress1DayDefault">
									<option *ngFor="let shippingType of model.LCUPSCanadaShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsCanadaExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaExpress2DayDefault' | translate}}</label>
								<select id="upsCanadaExpress2DayDefault" class="form-control" formControlName="upsCanadaExpress2DayDefault">
									<option *ngFor="let shippingType of model.LCUPSCanadaShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label" for="upsCanadaExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.UPSCanadaExpress3DayDefault' | translate}}</label>
								<select id="upsCanadaExpress3DayDefault" class="form-control" formControlName="upsCanadaExpress3DayDefault">
									<option *ngFor="let shippingType of model.LCUPSCanadaShippingTypes" [ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.FedExSettings' | translate}}</h4>
				<h5>{{'LOCATIONGROUPCONFIG.FormLabels.FedExSettingsInfo' | translate}}
					<a>{{'LOCATIONGROUPCONFIG.FormLabels.FedExSettingsInfoLink' | translate}}</a>.</h5>
					<div class="row nomargin for-no-padding">
					<div class="col-md-6 for-no-padding">
						<div class="col-md-4 for-no-padding">
								{{'LOCATIONGROUPCONFIG.FormLabels.enableSmartPost' | translate}}
						</div>
						<div class="col-md-8 for-no-padding">
								<input type="checkbox" formControlName="enableSmartPost">
						</div>
						<div class="col-md-4 for-no-padding">
							{{'LOCATIONGROUPCONFIG.FormLabels.FedExShippingTypes' | translate}}
						</div>
						<div class="col-md-8 for-no-padding">
							<label class="subform-label nopadding col-md-12" formArrayName="fedExShippingTypes"
								*ngFor="let shippingType of model.locationGroupConfigForm.get('fedExShippingTypes')['controls']; let shippingTypeIndex = index">
								<input type="checkbox" [formControlName]="shippingTypeIndex">
								{{model.LCFedExShippingType[shippingTypeIndex].label}}
							</label>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label"
									for="fedExReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.FedExReturnLabelShippingTypes' | translate}}</label>
								<select id="fedExReturnLabelShippingTypes" class="form-control"
									formControlName="fedExReturnLabelShippingTypes">
									<option *ngFor="let shippingType of model.LCFedExShippingType"
										[ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6 for-no-padding">
						<div class="row nomargin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label"
									for="fedexStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.FedexStandardDefault' | translate}}</label>
								<select id="fedexStandardDefault" class="form-control"
									formControlName="fedexStandardDefault">
									<option *ngFor="let shippingType of model.LCFedExShippingType"
										[ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label"
									for="fedexExpress1Default">{{'LOCATIONGROUPCONFIG.FormLabels.FedexExpress1Default' | translate}}</label>
								<select id="fedexExpress1Default" class="form-control"
									formControlName="fedexExpress1Default">
									<option *ngFor="let shippingType of model.LCFedExShippingType"
										[ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label"
									for="fedexExpress2Default">{{'LOCATIONGROUPCONFIG.FormLabels.FedexExpress2Default' | translate}}</label>
								<select id="fedexExpress2Default" class="form-control"
									formControlName="fedexExpress2Default">
									<option *ngFor="let shippingType of model.LCFedExShippingType"
										[ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
						<div class="row nomargin for-top-margin">
							<div class="form-row col-md-10 for-no-padding">
								<label class="subform-label"
									for="fedexExpress3Default">{{'LOCATIONGROUPCONFIG.FormLabels.FedexExpress3Default' | translate}}</label>
								<select id="fedexExpress3Default" class="form-control"
									formControlName="fedexExpress3Default">
									<option *ngFor="let shippingType of model.LCFedExShippingType"
										[ngValue]="shippingType.data">
										{{ shippingType.label }}
									</option>
								</select>
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.USPSSettings' | translate}}</h4>
				<h5>{{'LOCATIONGROUPCONFIG.FormLabels.USPSSettingsInfo' | translate}} <a>{{'LOCATIONGROUPCONFIG.FormLabels.USPSSettingsInfoLink' | translate}}</a>.</h5>
				<div class="row nomargin">
						<div class="col-md-6 for-no-padding">
							<div class="col-md-4 for-no-padding">
								{{'LOCATIONGROUPCONFIG.FormLabels.USPSShippingTypes' | translate}}
							</div>
							<div class="col-md-8 for-no-padding">
								<label class="subform-label nopadding col-md-12" formArrayName="uspsShippingTypes" 
									*ngFor="let shippingType of model.locationGroupConfigForm.get('uspsShippingTypes')['controls']; let shippingTypeIndex = index">
									<input type="checkbox" [formControlName]="shippingTypeIndex">
									{{model.LCUSPSShippingTypes[shippingTypeIndex].label}}
								</label>
							</div>	
								<div class="form-row col-md-8 for-no-padding">
										<label class="subform-label" for="uspsReturnLabelShippingTypes">{{'LOCATIONGROUPCONFIG.FormLabels.USPSReturnLabelShippingTypes' | translate}}</label>
										<select id="uspsReturnLabelShippingTypes" class="form-control" formControlName="uspsReturnLabelShippingTypes">
											<option *ngFor="let shippingType of model.LCUSPSShippingTypes" [ngValue]="shippingType.data">
												{{ shippingType.label }}
											</option>
										</select>
									</div>
							
						</div>
						<div class="col-md-6 for-no-padding">
							<div class="row nomargin">
								<div class="form-row col-md-10 for-no-padding">
									<label class="subform-label" for="uspsStandardDefault">{{'LOCATIONGROUPCONFIG.FormLabels.USPSStandardDefault' | translate}}</label>
									<select id="uspsStandardDefault" class="form-control" formControlName="uspsStandardDefault">
										<option *ngFor="let shippingType of model.LCUSPSShippingTypes" [ngValue]="shippingType.data">
											{{ shippingType.label }}
										</option>
									</select>
								</div>
							</div>
							<div class="row nomargin for-top-margin">
								<div class="form-row col-md-10 for-no-padding">
									<label class="subform-label" for="uspsExpress1DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.USPSExpress1DayDefault' | translate}}</label>
									<select id="uspsExpress1DayDefault" class="form-control" formControlName="uspsExpress1DayDefault">
										<option *ngFor="let shippingType of model.LCUSPSShippingTypes" [ngValue]="shippingType.data">
											{{ shippingType.label }}
										</option>
									</select>
								</div>
							</div>
							<div class="row nomargin for-top-margin">
								<div class="form-row col-md-10 for-no-padding">
									<label class="subform-label" for="uspsExpress2DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.USPSExpress2DayDefault' | translate}}</label>
									<select id="uspsExpress2DayDefault" class="form-control" formControlName="uspsExpress2DayDefault">
										<option *ngFor="let shippingType of model.LCUSPSShippingTypes" [ngValue]="shippingType.data">
											{{ shippingType.label }}
										</option>
									</select>
								</div>
							</div>
							<div class="row nomargin for-top-margin">
								<div class="form-row col-md-10 for-no-padding">
									<label class="subform-label" for="uspsExpress3DayDefault">{{'LOCATIONGROUPCONFIG.FormLabels.USPSExpress3DayDefault' | translate}}</label>
									<select id="uspsExpress3DayDefault" class="form-control" formControlName="uspsExpress3DayDefault">
										<option *ngFor="let shippingType of model.LCUSPSShippingTypes" [ngValue]="shippingType.data">
											{{ shippingType.label }}
										</option>
									</select>
								</div>
							</div>
						</div>
					</div>
			</div>
			<div class="subform">
				<h4>{{'LOCATIONGROUPCONFIG.FormSections.CanadaPostSettings' | translate}}</h4>
				<h5>{{'LOCATIONGROUPCONFIG.FormLabels.CanadaPostSettingsInfo' | translate}} <a>{{'LOCATIONGROUPCONFIG.FormLabels.CanadaPostSettingsInfoLink' | translate}}</a>.</h5>
				<div class="row nomargin for-top-margin">
						<div class="form-row col-md-5 for-no-padding">
								<input required class="inputText form-control subform-text" id="outboundUsername"
									name="outboundUsername" formControlName="outboundUsername" />
								<span
									class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.OutboundUsername' | translate }}</span>
								<hr class="underline-from-left">
							</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
						<input required class="inputText form-control subform-text"
							id="outboundPassword" name="outboundPassword"
							formControlName="outboundPassword" />
						<span class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.OutboundPassword' | translate }}</span>
						<hr class="underline-from-left">
					</div>
				</div>
				<div class="row nomargin for-top-margin">
						<div class="form-row col-md-5 for-no-padding">
								<input required class="inputText form-control subform-text" id="outboundCustomerNumber"
									name="outboundCustomerNumber" formControlName="outboundCustomerNumber" />
								<span
									class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.OutboundCustomerNumber' | translate }}</span>
								<hr class="underline-from-left">
							</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
						<input required class="inputText form-control subform-text"
							id="outboundLocale" name="outboundLocale"
							formControlName="outboundLocale" />
						<span class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.OutboundLocale' | translate }}</span>
						<hr class="underline-from-left">
					</div>
				</div>
				<div class="row nomargin for-top-margin">
						<div class="form-row col-md-5 for-no-padding">
								<input required class="inputText form-control subform-text" id="outboundContractID"
									name="outboundContractID" formControlName="outboundContractID" />
								<span
									class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.OutboundContractID' | translate }}</span>
								<hr class="underline-from-left">
							</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
							<label class="subform-label nopadding">
							<input type="checkbox" formControlName ="carsPickupNotify">
							{{'LOCATIONGROUPCONFIG.FormLabels.CarsPickupNotify' | translate}}
						</label>
						<hr class="underline-from-left">
					</div>
				</div>
				<div class="row nomargin for-top-margin">
					<div class="form-row col-md-5 for-no-padding">
						<input required class=" inputText form-control subform-text"
							id="preferredPickupTime" name="preferredPickupTime" formControlName="preferredPickupTime" />
						<span
							class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.PreferredPickupTime' | translate }}</span>
						<hr class="underline-from-left">
					</div>
					<div class="col-md-1"></div>
					<div class="form-row col-md-5 for-no-padding">
						<input required class=" inputText form-control subform-text" id="closingTime"
							name="closingTime" formControlName="closingTime" />
						<span
							class="floating-label">{{'LOCATIONGROUPCONFIG.FormLabels.ClosingTime' | translate }}</span>
						<hr class="underline-from-left">
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>