
/* Admin ---------------------- */
[data-editing-zone] {
	//border:1px solid #ccc;
	margin:15px;
	padding:10px;
    min-height: 50px;
    //background: lightskyblue;
	//.border-radius(5px);
	//.box-shadow(0 2px 2px rgba(0,0,0,0.1));
}
/*
[data-editing-zone-scope="template"] 
{
	border-color:#C66;
}
[data-editing-zone-scope="site"] 
{
	border-color:#66C;
}*/


[data-editing-element] {
	min-height:50px;
    //background: red;
	//border:1px solid #ccc;
	//border-style:dashed;
	margin:0px;
	padding:6px;
    min-height: ;
	//.border-radius(5px);
	//.box-shadow(0 2px 2px rgba(0,0,0,0.1));
}
