.mz-sitefooter-wrap {
	background: black;
	padding: 10px;
	overflow: hidden;
	font-size: 11px;
}
.mz-site-footer-li {
	float: left;
	margin-right: 30px;
}
.mz-site-footer-li:first-child{
	width: 200px;
}
.mz-site-footer-li:last-child{
	margin-right: 0;
}
.mz-site-footer-a {
	display: block;
	text-transform: uppercase;
}
.mz-site-footer-ul-L3 {
	padding-left: 15px;
	display: none;
}
.mz-content-section{
}
.mz-copyright-wrap, .mz-mobile-override {
	padding: 15px 0;
	text-align: center;
	color: white;
	line-height: 130%;
    a {
        color: white
    }
}   