body {
	font: {{themeSettings.globalFont}};
	color: {{themeSettings.textColor}};
}
a {
	color: {{themeSettings.linkColor}};
	&:visited {
		color: {{themeSettings.linkVisited}};
	}
	&:hover {
		color: {{themeSettings.linkHover}};
	}
}
.mz-page-header {
	color: {{themeSettings.headlineColor}};
	font: {{themeSettings.headlineFont}};
}

.mz-page-headernote {
    margin-left: 133px;
	font-weight: normal;
}

.mz-auxiliary-text {
	font-size: 12px;
}

.mz-strikethrough {
	text-decoration: line-through;
}