.#{$vprefix}userbutton {
    &.#{$vprefix}userbutton-menu-active {
        background-color: $card-button-press-bg;
    }
    .#{$vprefix}userbutton-wrapper {
        position: relative;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        top: 1px;
        .#{$vprefix}userbutton-dropdown-toggle {
            padding: 1px 0 1px 10px;
            background-position: 94% 50%;
            background-size: 8px;
            .#{$vprefix}userbutton-user-avatar {
                display: inline-block;
                width: 23px;
                height: 23px;
                padding-top: 2px;
                border: 1px solid $light-bg-gray;
                border-radius: 100px;
                background-color: $light-bg-gray;
                color: $dark-color;
                font-size: 11px;
                line-height: 18px;
                font-weight: 600;
                text-align: center;
            }
            .#{$vprefix}userbutton-username {
                display: inline-block;
                margin-left: 7px;
                line-height: 32px;
                color: $gray-text-dark;
                &:hover {
                    color: $dark-color;
                }
            }
            .#{$vprefix}userbutton-arrow {
                display: inline-block;
                left: 4px;
                margin-right: 10px;
                @include icon-font($glyph-chevrondown, 8px, $gray-text-dark);
            }
        }
    }
}
.#{$vprefix}username-menu {
    .#{$prefix}menu-body {
        padding: 0;
    }
}