<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="51Degrees.mobi" version="2.1.12.2" targetFramework="net40" />
  <package id="Autofac" version="3.0.0-beta" targetFramework="net45" />
  <package id="Autofac.Mvc3" version="2.6.3.862" />
  <package id="Autofac.Mvc4" version="3.0.0-beta" targetFramework="net45" />
  <package id="Autofac.WebApi" version="3.0.0-beta" targetFramework="net45" />
  <package id="AutoMapper" version="2.2.0" targetFramework="net40" />
  <package id="FluentValidation" version="3.4.6.0" targetFramework="net40" />
  <package id="Jolt" version="1.0.0" />
  <package id="JsonValue" version="0.6.0" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Mozu.AdminUser.Contracts" version="1.0.13003.1" targetFramework="net45" />
  <package id="Mozu.Cart.Contracts" version="0.0.12339.5" targetFramework="net45" />
  <package id="Mozu.Content.Contracts" version="1.0.12346.1" targetFramework="net45" />
  <package id="Mozu.Core" version="0.0.12356.1" targetFramework="net45" />
  <package id="Mozu.Core.Api" version="0.0.12356.1" targetFramework="net45" />
  <package id="Mozu.Core.Api.Client" version="0.0.12356.2" targetFramework="net45" />
  <package id="Mozu.Core.Api.Contracts" version="0.0.13008.2" targetFramework="net45" />
  <package id="Mozu.Customer.Contracts" version="0.0.12355.1" targetFramework="net45" />
  <package id="Mozu.CustomShippingRates.Contracts" version="0.0.12339.6" targetFramework="net45" />
  <package id="Mozu.Order.Contracts" version="0.0.12338.2" targetFramework="net45" />
  <package id="Mozu.PaymentService.Contracts" version="1.0.12354.3" targetFramework="net45" />
  <package id="Mozu.ProductAdmin.Contracts" version="0.0.12356.1" targetFramework="net45" />
  <package id="Mozu.ProductRuntime.Contracts" version="0.0.12342.1" targetFramework="net45" />
  <package id="Mozu.Provisioning.Contracts" version="1.0.12356.1" targetFramework="net45" />
  <package id="Mozu.SiteSettings.General.Contracts" version="1.0.12354.1" targetFramework="net45" />
  <package id="Mozu.SiteSettings.Order.Contracts" version="1.0.12355.1" targetFramework="net45" />
  <package id="Mozu.SiteSettings.Shipping.Contracts" version="1.0.12342.1" targetFramework="net45" />
  <package id="Mozu.Tenant.Contracts" version="1.0.12361.1" targetFramework="net45" />
  <package id="Mozu.User.Contracts" version="1.0.12355.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net40" />
  <package id="NSubstitute" version="1.4.3.0" targetFramework="net45" />
  <package id="Volusion.NDjango.Nuget" version="1.0.11332.10" targetFramework="net45" />
</packages>