.#{$prefix}grid-header-ct {
    border-color: $grid-header-border-color;
}

.#{$prefix}grid-header-ct-hidden {
    border-color: $grid-body-border-color;
}

.#{$prefix}column-header-inner {
    padding-bottom: 6px !important;
    padding-top: 8px !important;
}

.#{$prefix}column-header-text {
    font-weight: bold;
}
