
.mz-blog-post-body, .mz-blog-post-teaser {
	line-height: 160%;
	position: relative;
	min-height: 80px;
	p {
		line-height: 160%;
	}
}

/* Social ------------------------------- */

.mz-blog-social-links {
	overflow: hidden;
	margin: 20px 0 0 0;
}
.mz-bsl-a {
	position: relative;
	padding: 3px 10px 3px 26px;
	display: block;
	text-decoration: none;
	color: #333;
	.mz-icon {
		position: absolute;
		left: 8px;
	}
	.mz-i-facebook-sm {
		top: 4px;
	}
	.mz-i-twitter-sm {
		top: 6px;
	}
}
.mz-bsl-li {
	.gradient (#eee, #aaa);
	.border-radius (5px);
}