
.mz-sr-listing-wrap {
	overflow: hidden;
}

.mz-search-results {
	overflow: hidden;
}
.mz-search-product-listing-wrap {
}
.mz-search-nav-title {
	margin: 0 0 5px 0;
}
.mz-sc-item {
	
	padding: 5px 0;

	.mz-sc-list {
		padding-left: 15px;
	}

}