.#{$vprefix}website-tree {
    .#{$prefix}grid-body {
        background-color: transparent;
    }

    .#{$prefix}grid-cell {
        background-color: $color-framework-gray-lighter;
    }

    .#{$prefix}grid-cell-treecolumn {
        font-size: 14px;
    }

    .#{$prefix}grid-cell-inner-treecolumn {
        padding: 3px 5px 2px 0px;

        &:hover {
            .#{$vprefix}website-tree-menu-trigger {
                display: block;
            }
        }
    }

    .#{$prefix}tree-node-text {
        font-size: 14px;

        span {
            vertical-align: top;
        }
    }

    .#{$prefix}grid-row-alt {
        .#{$prefix}grid-td {
            background-color: $color-framework-gray-light;
        }
    }
    .#{$prefix}grid-row-selected {
        .#{$prefix}grid-td {
            background-color: $grid-cell-selected-background-color;
        }
    }

    .#{$vprefix}website-tree-icon {
        display: inline-block;
        margin-right: 4px;
        overflow: hidden;
        @include icon-font($glyph-category);
        height: 14px;
        width: 13px;

        &::after {
            color: $color-neutral-40;
            left: auto;
            right: 0px;
        }
    }

    .#{$vprefix}website-tree-sublink {
        float: right;
    }

    .#{$vprefix}website-tree-menu-trigger {
        float: right;
        @include icon-font($glyph-arrowdown);
        display: none;
    }
}
