.#{$vprefix}website-tree {
    .#{$prefix}grid-body {
        background-color: transparent;
    }

    .#{$prefix}grid-cell {
        background-color: $color-framework-gray-lighter;
    }

    .#{$prefix}grid-cell-treecolumn {
        font-size: 14px;
    }

    .#{$prefix}grid-cell-inner-treecolumn {
        padding: 3px 5px 2px 0px;

        &:hover {
            .#{$vprefix}website-tree-menu-trigger {
                display: block;
            }
        }

        /**
         * Added 10/08/2015
         * 
         * Modify tree spacer images to float left
         * TODO: Put this in the right place (not here)
         */
        .#{$prefix}tree-elbow-img {
            float: left;
        }
    }

    .#{$prefix}tree-node-text {
        font-size: 13px;

            /**
             * Updated 10/08/2015
             */

            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-overflow: "...            ";
            overflow: hidden;

        span {
            vertical-align: top;
        }
    }

    .#{$prefix}grid-row-alt {
        .#{$prefix}grid-td {
            background-color: $color-framework-gray-light;
        }
    }
    .#{$prefix}grid-row-selected {
        .#{$prefix}grid-td {
            background-color: $grid-cell-selected-background-color;
        }

        .#{$vprefix}website-tree-menu-trigger,
        .#{$vprefix}website-tree-icon.drag-icon {
            background-color: $grid-cell-selected-background-color;
        }
    }

    .#{$vprefix}website-tree-icon {
        display: inline-block;
        margin-right: 4px;
        overflow: hidden;
        height: 13px;
        width: 12px;

        &.page-icon {
            @include icon-font($glyph-category);
            top: -1.5px;
        }

        &.template-icon {
            @include icon-font($glyph-template);
        }

        &.category-icon {
            @include icon-font($glyph-tree-category);
        }

        &.folder-icon {
            @include icon-font($glyph-folder, 12px);
        }

        &.link-icon {
            @include icon-font($glyph-link, 13px);
        }

        &.drag-icon {
            @include icon-font($glyph-knurling, 13px, rgb(179, 179, 179));
            float: right;
            background-color: $color-framework-gray-light;

            &.invisible {
                visibility: hidden;
            }
        }

        &::after {
            color: $color-neutral-40;
            left: auto;
            right: 0px;
        }
    }

    .#{$vprefix}website-tree-sublink {
        float: right;
    }

    .#{$vprefix}website-tree-menu-trigger {
        float: right;
        background-color: $color-framework-gray-light;
        @include icon-font($glyph-gear, 13px);
        display: none;
    }
}
