p {
	font-size: 16px;
	margin-bottom: 12px;
	margin-top: 12px
}

.mozu-c-btn {
	border-radius: 3px;
	border-width: 0;
	cursor: pointer;
	margin: 8px 8px 8px 0;
	opacity: 1;
	position: relative;
	transition-duration: .1s;
	transition-property: opacity, color, background-color, border-color;
	/* transition-timing-function: $timing-ease-out; */
	vertical-align: middle
}

.mozu-c-btn--nav {
	background-color: transparent;
	border: 1px solid transparent;
	color: #7c7c7c;
	font-size: 12px;
	line-height: 40px;
	padding: 0 8px
}

.mozu-c-btn--nav:active,
.mozu-c-btn--nav:focus,
.mozu-c-btn--nav:hover {
	color: #3f3f3f
}

.mozu-c-btn--nav:active,
.mozu-c-btn--nav:focus {
	background-color: #f7f7f7;
	border-color: rgba(63, 63, 63, .19)
}

.mozu-c-btn--app-header {
	border-radius: 0;
	line-height: 30px;
	margin: 0
}

.mozu-c-btn--inline {
	background-color: transparent;
	color: #7c7c7c;
	margin: 0 0 0 8px
}

.mozu-c-btn--inline:after {
	left: 0;
	position: absolute;
	top: 0
}

.mozu-c-btn--card {
	background-color: #fafafa;
	border: 1px solid rgba(63, 63, 63, .19);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
	color: #7c7c7c;
	font-size: 12px;
	line-height: 32px;
	padding: 0 12px
}

.mozu-c-btn--card:active,
.mozu-c-btn--card:focus,
.mozu-c-btn--card:hover {
	border-color: rgba(63, 63, 63, .3);
	color: #3f3f3f
}

.mozu-c-btn--card:active,
.mozu-c-btn--card:focus {
	background-color: #f7f7f7
}

.mozu-c-btn--primary {
	background-color: #2ea195;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	padding: 0 16px
}

.mozu-c-btn--primary:hover {
	opacity: .8
}

.mozu-c-btn--primary:active,
.mozu-c-btn--primary:focus {
	background-color: #299086;
	opacity: 1
}

.mozu-c-btn--left-flush {
	margin-left: 0
}

.mozu-is-disabled:not(.mozu-is-saving):not(.mozu-is-success):not(.mozu-is-error).mozu-c-btn {
	background-color: #f3f3f3;
	cursor: default
}

.mozu-is-disabled:not(.mozu-is-saving):not(.mozu-is-success):not(.mozu-is-error).mozu-c-btn--nav {
	background-color: transparent;
	border-color: transparent;
	color: #f3f3f3
}

.mozu-c-btn__check,
.mozu-c-btn__circles,
.mozu-c-btn__content,
.mozu-c-btn__cross {
	border-radius: 3px;
	opacity: 0;
	transition-duration: .5s;
	transition-property: opacity;
	/* transition-timing-function: $timing-ease-out */
}

.mozu-c-btn__content {
	opacity: 1
}

.mozu-c-btn__check {
	cursor: pointer
}

.mozu-c-btn__check:after {
	color: inherit;
	font-family: mozicons;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	content: "\E90E"
}

.mozu-c-btn__check:hover,
.mozu-c-btn__check:hover:after {
	text-decoration: none
}

.mozu-c-btn__cross {
	background-color: #e42d00;
	color: #fff;
	cursor: pointer
}

.mozu-c-btn__cross:after {
	color: inherit;
	font-family: mozicons;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	content: "\E903"
}

.mozu-c-btn__cross:hover,
.mozu-c-btn__cross:hover:after {
	text-decoration: none
}

.mozu-c-btn__check,
.mozu-c-btn__circle-one,
.mozu-c-btn__circle-two,
.mozu-c-btn__cross {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.mozu-c-btn__circle-one:after,
.mozu-c-btn__circle-two:after {
	animation-duration: 1.4s !important;
	animation-iteration-count: infinite !important;
	animation-name: pulse !important;
	animation-timing-function: ease-out !important;
	border: .2em solid #fff;
	border-radius: 5em;
	content: "";
	height: 1.4em;
	width: 1.4em
}

.mozu-c-btn__check--card:after,
.mozu-c-btn__circle-one--card:after,
.mozu-c-btn__circle-two--card:after {
	border-color: #666
}

.mozu-c-btn__circle-two:after {
	animation-delay: .7s
}

.mozu-is-saving .mozu-c-btn__content {
	opacity: 0
}

.mozu-is-saving .mozu-c-btn__circles {
	opacity: 1
}

.mozu-is-success .mozu-c-btn__content {
	opacity: 0
}

.mozu-is-success .mozu-c-btn__check {
	opacity: 1
}

.mozu-is-error .mozu-c-btn__content {
	opacity: 0
}

.mozu-is-error .mozu-c-btn__cross {
	opacity: 1
}

@keyframes pulse {
	0% {
		transform: scale(0);
		opacity: 1
	}
	50% {
		opacity: 1
	}
	to {
		transform: scale(1);
		opacity: 0
	}
}