<button [ngClass]="{'mozu-c-btn mozu-c-btn--primary primary-yellow-btn': true, 'mozu-is-disabled': isloading, 'mozu-is-saving': isloading, 
                    'mozu-qa-button': true}"
        (click)="onClickbutton($event)">
    <span [ngClass]="{'mozu-c-btn__content mozu-c-btn__content--primary': true, 'mozu-is-disabled': isloading, 
                      'mozu-is-saving': isloading, 'mozu-qa-button': true}">{{label}}</span>
    <span>
        <div [ngClass]="{'mozu-c-btn__circles mozu-c-btn__circles--primary': true, 'mozu-is-disabled': isloading, 
                      'mozu-is-saving': isloading, 'mozu-qa-button': true}">
            <div [ngClass]="{'mozu-c-btn__circle-one mozu-c-btn__circle-one--primary': true, 'mozu-is-disabled': isloading, 
                      'mozu-is-saving': isloading, 'mozu-qa-button': true}"></div>
            <div [ngClass]="{'mozu-c-btn__circle-two mozu-c-btn__circle-two--primary': true, 'mozu-is-disabled': isloading, 
                      'mozu-is-saving': isloading, 'mozu-qa-button': true}"></div>
        </div>
        <div class="mozu-c-btn__check mozu-c-btn__check--primary mozu-qa-button"></div>
        <div class="mozu-c-btn__cross mozu-c-btn__cross--primary mozu-qa-button"></div>
    </span>
</button> 
