.#{$prefix}form-item-label-top {
  margin-top: 0px;
  padding-bottom: 3px;
  padding-top: 24px;
}

.#{$prefix}form-invalid-under {
    background-image: none;
}

.#{$prefix}form-item-required {
    &::before {
        color: $color-theme-red;
        content: "* ";
    }
}
