.#{$prefix}form-item-label-top {
  margin-top: 0px;
  padding-bottom: 3px;
  padding-top: 24px;
}

.#{$prefix}form-invalid-under {
    background-image: none;
}

// adding the hidden option for fields that are required when shown and not required when hidden;
.#{$prefix}form-item-required,.#{$prefix}form-item-required-hidden {
    &::before {
        color: $color-theme-red;
        content: "* ";
    }
}


.#{$prefix}form-item-required-hidden {
    &::before {
        color: $color-theme-red;
        content: "* ";
    }
}