.mz-popover-login {
    @popoverWidth: 200px;
    width: @popoverWidth;

    .mz-login-form, .mz-forgot-password {
        min-width: @popoverWidth;
    }

    .mz-login-form {
        padding-right: @gutter;
    }

    a {
        .permalink(@textColor);
        font-size: @fontSizeSmall;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        width: 185px;
    }

    .mz-popover-action {
        text-align: right;
        .mz-button {
            margin-top: 5px;
        }
    }

    .mz-validationmessage {
        display: inline-block;
        margin: @gutter/4 @gutter/2;
    }

    .mz-popover-message {
        min-height: 20px;
        margin: @gutter/4 0;
        clear: both;

        .mz-validationmessage {
            display: block;
            margin: @gutter/4 0;
        }

        .mz-validationmessage-success {
            color: @successText;
            font-size: @fontSizeSmall;
            display: block;
            margin: @gutter/4 0;
        }
    }
}
