<div class="col-md-6 padding-none right-border">
  <div class="sub-heading">
    <span>{{'QUOTES.QuoteEdit.AccountInformation.accountInfoHeading' | translate }}</span>
  </div>
  <div class="section col-sm-12">
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.AccountInformation.company' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>ABC Company</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.AccountInformation.companyAdminEmail' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>abc@kibo.com</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.AccountInformation.salesRep' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>Store Owner</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="col-sm-6 section-heading">
        <span>{{'QUOTES.QuoteEdit.AccountInformation.sharedCatalog' | translate }}</span>
      </div>
      <div class="col-sm-6 section-data">
        <span>ABC Catalog</span>
      </div>
    </div>
  </div>
</div>