.adjustment-cell-inner-value{
    color:$color-theme-red;
}

.adjustment-cell-inner-wrap {
    white-space:normal;
}

// applies to both the readonly and editable orderItemGrid versions;
.x-grid-row-adjustment{
    // td cell for discount RowBody rows;
    .x-grid-td{
        border-top: 1px dashed #cccccc;
    }
}

// force the first cell of the discount row to have a white top boarder so it blends into the background;
table tbody tr.x-grid-row-adjustment td:first-child{
    border-top-color:#fff;
}

// applies to the editable verison only;
.taco-orderform-editor{

	.x-grid-row-adjustment{

		.x-action-col-cell{
		    padding:0px 5px 0px 0px
		}

		.discount-suppress {
			@include icon-font($glyph-close);
			&:hover{				
				color:red !important;	
			}
		}

		.discount-activate {
			@include icon-font($glyph-cancel);     
		}

		.cancel-adjustment{
			@include icon-font($glyph-close);				
		}

		.order-action-icon {
			height: 20px;
			width: 30px;
			cursor:pointer;	
						
			&::after {
				left: 8px;
				top:2px;
				font-size:1.4rem;
			
			}
			

			&:hover{				
				color:red !important;	
			}
		}
	}
}