// title toolbar in the order detail editor


.title-toolbar{
	.taco-toolbar-link{
		.x-btn-inner{
			font-size: px-to-rem(14);
			//color:blue;
			//font-weight:normal;
		}
	}

    .taco-toolbar-link.x-btn-default-toolbar-small-over{
	    .x-btn-inner{
			//background:#fff !important;
			//border-color:#fff !important;	
			//text-decoration:underline;
		}
    }
}





.taco-orderform-orderitemgrid{
	.x-column-header-align-right .x-column-header-text {
		margin-right: 0px;
	}

	// hide the column actions icon triggers when the column is disabled;  this will be the case when the grid is readonly mode;
	.taco-grid-row-action-trigger.x-item-disabled{
		visibility:hidden
	}
}



// view specific scss for order detail. 
// todos: move this to a view specific scss file 
.#{$vprefix}orderform-editor {  

	.taco-grid-row-action-trigger-remove{
	    
		@include icon-font($glyph-close);				

		height: 20px;
		width: 30px;
		cursor:pointer;				
		
		&::after {
			left: 8px;
			top:2px;
			font-size: 1.4rem;
			line-height: 1.4rem;			
		}			

		&:hover{				
			color:red !important;	
		}
	}





	/*
	.remove-order-item-cell{
		background-color:blue;

		.x-grid-cell-inner{
			@include icon-font($glyph-close);				
			height: 20px;
			width: 30px;
			cursor:pointer;	
			
			background-color:red;
			&::after {
				left: 8px;
				top:2px;
				font-size: 1.4rem;
				line-height: 1.4rem;			
			}
			

			&:hover{				
				color:red !important;	
			}
		}

		.taco-grid-row-menu-trigger-remove{
		    display:none;
		}

	}
	*/




	background-color:#fff;    
     
	.emptyGridMessage{
		padding:10px;
		color:#990000
	} 

	.#{$prefix}panel .#{$prefix}grid-body {
		border-bottom-width:1px;
	}

	// link to the product in the order detail product column
	.productLink{   
		color:blue;
		white-space: normal;
	}

	// product in the order detail product column but link is disabled since the product was deleted and is no longer linkable
	.productLinkDisabled{   
		white-space: normal;    
	}

	// descriptive options for the product in the order detail product column
	// forces the content to wrap in the cell
	.productOptions{
		white-space: normal;
	} 

	// border that matches background color to keep the container height from changing on mouseover 
	.#{$prefix}grid-cell {
		vertical-align:top;   
		// border that matches background color to keep the container height from changing on mouseover 
		.#{$prefix}grid-cell-inner {
			border: 1px solid transparent;
		}     
	} 

	.x-grid-with-row-lines .x-grid-table-over-first {
		//border-top-style: solid;
		border-top-color: #ededed;
	}
	/* line 130, ../../../ext/packages/ext-theme-neutral/sass/src/panel/Table.scss */
	.x-grid-with-row-lines .x-grid-table-selected-first {
		//border-top-style: dotted;
		border-top-color: #ededed;
	}

	// overriding some default ext behavior that changes the border color of the first row when the second row is hovered;
	.x-grid-row-before-over .x-grid-td {	 
	    border-bottom-color: #ededed;
	}

	.editmode-enabled {

		// force the action icon to be visible;
		.#{$vprefix}grid-row-menu-trigger {
			visibility: visible;
		}


		// make the action icon visible on row mouseover
		.#{$vprefix}orderItem-grid-row-over {
			.#{$vprefix}grid-row-menu-trigger {
				visibility: visible;
			}
		}

		.editableCell {
			// highlight editable cell when mouseover
			.#{$prefix}grid-cell-inner:hover {
				border: 1px dashed #cccccc;
			}
		} 
	}


  

    .#{$prefix}mask {
    //    background-color:#ffffff;
    }

    .x-grid-cell-selected {
      //  background-color: transparent !important;
    }

    .x-grid-row{
        .x-grid-cell {
         //    border-bottom-style:solid;   
        }
    }
  
    .taco-order-orderItem-hasDiscount{
	    .x-grid-cell{
		//	border-bottom-width:0px;
		}
	}
  
	.x-grid-row-adjustment{
		.adjustment-cell {
			font-size: px-to-rem(14);
			line-height: px-to-rem(19);
        
			border-color: #ededed;
			border-bottom-width:1px;
			border-bottom-style:solid;

			// fixing font size for the adjustment row
			.adjustment-cell-inner {
				font-size: 1.4rem !important;
				line-height: 0px;
				.taco-grid-row-menu-trigger{					
					height:20px
				}
			}
		}     
	}
  
   


	// need to force the icon to be visible in the discountRowBody. Action Column doesn't work with rowBody;  	
	.orderEditable .taco-grid-row-menu-trigger-suppress {
		visibility:visible;
		background-position: 0 -199px;
	}

	// need to force the icon to be visible in the discountRowBody. Action Column doesn't work with rowBody;  	
	.orderEditable .taco-grid-row-menu-trigger-activate {
		visibility:visible;
		background-position: 0 -199px;
	}


  .isActive{	
	text-decoration:none;	
  }

  .isSuppressed{    
	text-decoration:line-through;
  }


  // rows without a discount should hide the row body row. Need to look at way to render rowbody dom selectively
  .noDiscount {
    display:none;   
  }
  
}
