.orderform-detail-totalpanel { 

	margin: 0px 0px 0px 0px;
	
	/*border: 1px solid $color-neutral-75 !important; */

    border: 1px solid #fff !important; 

	border-top-width:0px !important;

	border-width: 0px 1px 1px 1px;
	border-style:solid;
    border-color:$color-neutral-75; 


	padding-top:10px;
	padding-bottom:10px;
	/*background-color:$color-neutral-95;	        */
    background-color:#fff;
    /*text-align:right;*/
    font-size: 13px;
    line-height: 16px;

    .summary {
        font-weight: normal;
        text-align: left;
        padding: 9px;
    }

    .summary-price {
        text-align: right;
        font-weight: normal;
        padding-right: 10px;
    }

    .sub-heading {
        font-style: italic;
    }

	.#{$prefix}grid-cell-inner {
	    padding: 0px 5px 0px 5px;
	}

	.discount-suppress {
		@include icon-font($glyph-close);
		&:hover{				
			color:$color-theme-red !important;	
		}
    }

	.discount-activate {
        @include icon-font($glyph-cancel);     
    }

	.cancel-adjustment{
	    @include icon-font($glyph-close);				
	}

	.order-action-icon {
		height: 16px;
		width: 30px;
		cursor:pointer;	

		&::after {
			left: 0px;
			top: 0px;
			font-size: 1.4rem;			
		}
		visibility:hidden;	

		&:hover{				
			color:$color-theme-red !important;	
		}
	}
		
	.#{$vprefix}editable {
		.order-action-icon {
			visibility: visible;
		}
	}

	// thinning out the padding and borders for total grid rows;
	.#{$prefix}grid-with-row-lines .#{$prefix}grid-cell-inner{
		padding: 0px 5px 0px 5px;
	}    

	.#{$prefix}grid-with-row-lines .#{$prefix}grid-table {
		border-top: 0px;
	}

	// add a little padding to seperate groups within the total panel
	.row-group-start .#{$prefix}grid-table{
		padding-top:10px;
	}
	
	.discount.suppressed {
		text-decoration: line-through;
	}


    .totalrow{
        .totalcell{
            //background-color:#eee
            font-weight:bold;
        }
    }

    .subtotalrow{
        .subtotalcell{
            //background-color:#eee
            font-weight:bold;
        }
    }

    .adjustment-tr {
        td{
            padding-bottom: 10px;
        }

        .adjustmentTotal {
            text-align: right;
            color: $label-color;
        }

        .x-btn-arrow-right::after {
            margin-top: 10px;
        }
    }

    

    


    .#{$vprefix}grid-cell {
        .#{$vprefix}grid-cell-inner {
            border: 1px solid transparent;
            margin: 1px 0px 1px 0px;
            padding: 5px 5px 5px 20px;
            display:block;
            color: $label-color;
        }
        
        & + td {

            .price-detail {
                padding-left: 0px;
                text-align: right;
                //padding-right: 130px;
            }

            .price-detail-shipment {
                padding-left: 0px;
                text-align: left;
                //padding-right: 130px;
            }

            .negative-currency {
                color:$color-theme-red;
            }

        }
        

        .x-form-text {
            text-align: right;
        }
    }

    .negative-currency {
        color:$color-theme-red;
    }
    
    // override the background color of the menu button so that its white
    .order-adjusment-menu{
        background-color:#fff;
    }

    // need to reneable the background color for the other states of the menu button
    .order-adjusment-menu.#{$prefix}btn-focus, .order-adjusment-menu.#{$prefix}btn-action-medium-over,.order-adjusment-menu.#{$prefix}btn-action-medium-menu-active,.order-adjusment-menu.#{$prefix}btn-action-medium-pressed{
        background-color: #f2f2f2;
    }

    .orderform-detail-totalpanel-leftpanel{
        text-align:left;
    }

    // need to reduce the text size of the standard buttons so they allign with the form fields in the table;
    .#{$prefix}btn-inner{
        font-size: 14px;
        line-height: 16px;
    }

    
    

    .order-adjustment-row {

        .#{$prefix}form-text{
            font-size: 14px;
            line-height: 16px;
            padding-right:4px !important;
        }

        .order-adjustment-label{
            padding-top:1px;
            padding-bottom:1px;
            
         }

        .order-adjustment-field{
            padding:1px 1px 1px 1px;
        }
    }


    .#{$vprefix}order-discount-error {
        color:$color-theme-red;
        padding-top:5px;
        .#{$vprefix}couponCode{padding-right:10px;font-weight:bold}
        .#{$vprefix}reason{}
    }

	.#{$vprefix}order-shipping-error{
		color:$color-theme-red;
	}

    .shipping-handling-item {
        display: table-row;
    }

    .collapsed {
        .shipping-handling-item {
            display: none;
        }
    }

    .adjustment-item {
        display: table-row;
    }

    .collapsed {
        .adjustment-item {
            display: none;
        }
    }

    .tax-item {
        display: table-row;
    }

    .collapsed {
        .tax-item {
            display: none;
        }
    }

    .summary-toggle {
        color: $gray-text-light;
    }
}


