
// this is the border color seperating the order item grid rows
.x-grid-rowwrap {
    border-color:$color-neutral-95;
}

// title toolbar in the order detail editor
.title-toolbar {	
    padding:2px 10px 2px 10px; 
    background-color:#fff;

    .title{
        padding:0px 5px 0px 0px; 
        font-size: px-to-rem(18);
    }

    // fixing the font size for the buttons in the toolbar. 
    // todo: remove this when the theme is stable;
    .x-btn {
        .x-btn-inner {
            font-size: px-to-rem(14);
        }
    }
}

// add to the title-toolbar for the draft toolbar - only visible in the readonly version of the grid
.draft-toolbar{
    border-color:#CCC;
    background-color:#f1f1f1;	
    border-width:1px;
    
    .title{	
        color:#990000;
        font-size: px-to-rem(14);
    }
}


.additem-toolbar{
    border-color:#CCC;
    background-color:#f1f1f1;
    padding:5px;
    border-width:1px;

    // fixing the font size for the buttons in the toolbar. 
    // todo: remove this when the theme is stable;
    .x-btn {
        .x-btn-inner {
            font-size: px-to-rem(14);
        }
    }
}



.order-editable{
	// enables link to the order fullfilment in the order item;
	.fulfillment-link{
		color:$color-theme-blue;
		white-space: normal;

		&:hover{
			text-decoration:underline;
        }
	}
}



// add order item (product) toolbar
.order-addproducttoolbar{
    border-color:#ccc;
    border-width:0px 1px 1px 1px;
    padding-bottom:2px;
    padding-top:2px;
    

    .order-addproducttoolbar-cell{
        padding:5px 1px 4px 1px ;
        .order-addproducttoolbar-field, .x-form-field {
            font-size: 14px;
            line-height: 16px;
        }
    }
}




// this is the default readonly grid;
.taco-orderform-orderitemgrid{
	background-color:#fff;


    /* this is a temporary fix for grid cell selection with rowwrap feature enabled;*/    
    .x-grid-data-row .x-grid-cell-selected {        
        background-color: #e4efff;
    }
    
	.taco-product-column {
		.x-grid-cell-inner {
			/*
			padding-top:5px;
			padding-bottom:5px;
			*/
		}
	}
    
    .x-column-header-align-right .x-column-header-text {
        margin-right: 0px;
    }

    // hide the column actions icon triggers when the column is disabled;  this will be the case when the grid is readonly mode;
    .taco-grid-row-action-trigger.x-item-disabled{
        visibility:hidden
    }

    // adding a temporary hover state for the link buttons since they don't have one currently
    .taco-toolbar-link.x-btn-link-medium-over, .taco-toolbar-link.x-btn-link-toolbar-medium-over {
        .x-btn-inner{
            text-decoration:underline;		
        }	    
    }
     
    .empty-grid-message{
        padding:10px;
        color:#990000
    } 
    
    // link to the product in the order detail product column
    .product-link{   
        color:$color-action-link;
        white-space: normal;
    }

    // product in the order detail product column but link is disabled since the product was deleted and is no longer linkable
    .product-link-disabled{   
        white-space: normal;    
    }

    // descriptive options for the product in the order detail product column
    // forces the content to wrap in the cell
    .product-options{
        white-space: normal;
    } 

	.bundledProduct{
		padding-left:20px;
	}

    // border that matches background color to keep the container height from changing on mouseover 
    .#{$prefix}grid-cell {
        vertical-align:top; 
    } 	
    
    // formatting for active discounts;
    .isActive{	
        text-decoration:none;	
    }

    // formatting for inactive or suppressed discounts
    .isSuppressed{    
        text-decoration:line-through;
    }	
}



//this is the overrides of the default read only grid. ie the editor version
.#{$vprefix}orderform-editor {  

	.taco-orderform-orderitemgrid-body{
        // hide the bottom border on the last row of the grid
        table tbody tr:last-child{
            td {
                // note this will only work in ie9 and later
                border-bottom-width:0px;
            }
        }
    }



    // the remove icon in the right hand action column
    .taco-grid-row-action-trigger-remove{
        
        @include icon-font($glyph-close);

        height: 18px;
        width: 30px;
        cursor:pointer;				
        
        &::after {
            left: 8px;
            top:2px;
            font-size: 1.4rem;
            //line-height: 1.4rem;			
        }			

        &:hover{				
            color:red !important;	
        }
    }

    
    
    // override of some inherited snerst
    .#{$prefix}panel .#{$prefix}grid-body {
        border-bottom-width:1px;
    }
}
