
.#{$vprefix}orderform-shipping {  

	.package-header-title-row{
		font-size: 1.9rem;
        line-height: 2.9rem;
		border-bottom:1px solid #bfbfbf !important;
		border-top:1px solid #bfbfbf !important;
		padding:13px 0 13px 0;
		margin-bottom:19px;
		//line-height1.4em
	}

}