.order-pricelist-menu {
    .x-btn-inner-center {
        text-align: left;
    }

    .#{$prefix}btn-arrow-right {
        &::after {
            border-left-color: $light-border-gray;
            content: $glyph-chevrondown;
            color: $card-btn-text-color;
            font-size: $tag-font;
            padding-top: 12px;
            right: -13px;
        }
    }
}
