.taco-product-configurator{
     
    .error-loading{
        text-align:center;
        padding-top:50px;
    }

    .left-column{
        padding-right:20px;
    }	

    .images{

        .image-item {
            background-position: center center;
            background-repeat: no-repeat;
            height: 150px;
            width: 150px;
            border:1px solid #777777;
        }
        
        .images-loading{
            padding-top:70px;
            color:$color-neutral-45;
            text-align:center;            
        }

        .images-none{			
            padding-top:70px;
            text-align:center;
        }

        li{			
            margin-bottom:10px;
        }		
    }

    .fieldSetHeading{
        padding-bottom:10px;
        font-weight:$form-label-font-weight;
        font-size: px-to-rem(16);
        font-family : $form-label-font-family;
        
    }

    .productName {
        color:$color-neutral-black;
        padding:0px 5px 10px 0px; 
        font-size: px-to-rem(20);
    }
    
    .productCode {		
        font-weight:$form-label-font-weight;
        font-size: px-to-rem(16);
        font-family: $form-label-font-family;		
        padding-bottom:10px;
    }

    .description{
        color:$color-neutral-30;
        padding:0px 5px 10px 0px; 
        font-size: px-to-rem(14);
    }	

    .price {
        padding-bottom:10px;
        font-size: px-to-rem(20);
        padding-bottom:10px;

        .label{
            padding-right:5px;
        }

        .price-value {
            color: $color-action-primary-background;
        }

        .onsale {
            color:$color-neutral-20;
            text-decoration:line-through;
            font-size: px-to-rem(14);
            padding-right:5px;
        }
    }
}