.taco-orderform-returns {
    .returnable-items-grid,
    .return-item-grid {
        .#{$prefix}panel-header-text-container {
            font-size: 16px;
            line-height: 24px;
        }
    }

    .return-properties {
        table {
            width: 100%;
        }
        td {
            width: 50%;
            
            &:last-child {
                text-align: right;
            }
        }

        .label {
            font-weight: bold;
            margin-right: 5px;
        }
    }

    .empty-grid-message {
        text-align:center;
    }

    .rma-footer{
        padding-top:20px;
    }

    .seperator{
        color:#cccccc;
        padding:0px 7px 0px 7px;    
    }

    .action {
        text-align:left;
        color:$color-action-link;
        cursor:pointer;
    }

    .return-item {
        border: 1px solid $color-neutral-75;
        // padding:20px;
        margin-bottom:20px;


        // setting the text size on the grid header;
        .x-panel-header-text-taco {
            font-size: 1.9rem;
            line-height: 2.9rem;    
        }

        // credits grid
        .payment-grid{
            margin-top:40px;
        }

        // toolbar above the credits grid in RMA
        .payment-toolbar{
            border: 1px solid $color-neutral-75;
            padding:2px;
        }

        // the default text for the header of each rma
        .header {
            font-size: 1.5rem;
            line-height: 2.4rem;

            // the first row of text in the rma item
            .title-row {
                font-size: 1.9rem;
                line-height: 2.9rem;    
            }
        } 
    }
}