.shipment-header{
	.header-label{
		font-size: px-to-rem(16);
		line-height: px-to-rem(22);
		//margin-bottom:3px;
	}
	.header-section{
		font-size: px-to-rem(14);
		line-height: px-to-rem(14);
	}
}