.shipment-header{
	.header-label{
		font-weight:bold;
		font-size: px-to-rem(14);
		line-height: px-to-rem(16);
		//margin-bottom:3px;
	}
	.header-section{
		font-size: px-to-rem(14);
		line-height: px-to-rem(16);
	}
}