<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{dialogTitle}}</h4>
  <button type="button" class="close" aria-label="Close" width="" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- The form is hidden on purpose and automatically posting the form data to the endpoint loaded within the above iframe AfterViewInit. -->
  <form target="frame" action="{{iframeResourceURL}}" #form method="POST" (ngSubmit)="submitForm($event)">
    <div *ngFor="let kvp of formBody">
      <input type="hidden" name="{{kvp.key}}" value="{{kvp.value}}" />
    </div>
  </form>

  <iframe #frame width="100%" height="100%" id="frame" name="frame" frameborder="0" [src]=""></iframe>
</div>