<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{catalogImportExport}}</h4>
  <button type="button" class="close" aria-label="Close" width="" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">  
  <iframe #frame width="100%" height="100%" id="frame" name="frame" frameborder="0" [src]="iframeResourceURL | safeResourceUrl"></iframe>

  <!-- The form is hidden on purpose and automatically posting the form data to the endpoint loaded within the above iframe AfterViewInit. -->
  <form target="frame" action="{{iframeResourceURL}}" #form method="POST" (ngSubmit)="submitForm($event)"></form>
</div>