.#{$vprefix}itembrowser {
    .#{$prefix}grid-rowwrap {
        .#{$prefix}grid-td {
            border-bottom-width: 0;
        }
        .#{$prefix}grid-subcell {
            @extend .#{$prefix}grid-cell;
            border-width: 0;
            border-color: transparent;
        }
    }
}