.#{$vprefix}itembrowser {
    .#{$prefix}grid-rowwrap {
        .#{$prefix}grid-td {
            border-bottom-width: 0;
        }
        .#{$prefix}grid-subcell {
            // @extend .#{$prefix}grid-cell; /* this does not work as intended */
            border-width: 0;
            border-color: transparent;
			font-size: 14px;
        }
    }
}