.#{$vprefix}order-header {
    background-color: $color-neutral-white;
    border: 1px solid $color-standard-border;

    // links
    a {
        color: $color-framework-blue-dark;
    }

    // all labels
    .label {
        font-weight: bold;
        margin-right: 3px;
    }

    // lighter, uppercase labels
    .label-light {
        color: $color-neutral-60;
        font-weight: normal;
        text-transform: uppercase;
    }

    // account name "banner"
    .account-name {
        border-bottom: 1px solid $color-standard-border;
        font-size: 18px;
        font-weight: bold;
        padding: 7px 19px 3px;

        .label {
            font-size: 14px;
            line-height: 18px;
            margin-right: 10px;
        }
    }

    table.order-header-status {
        tr td:nth-child(2) {
            padding-left: 16px;
        }
    }

    table.header-summary {
        tr td:first-child {
            font-weight: bold;
            padding-right: 8px;
        }
        tr td:last-child {
            text-align: right;
        }
    }

    table.order-addresses-table tr td {
        vertical-align: top;
    }

    .pane {
        border-right: 1px solid $color-standard-border;
        margin: 10px 0px;
        padding: 0px 19px;

        table {
            border-collapse: collapse;
        }

        .label-light {
            padding-bottom: 3px;
        }

        .order-number, .order-status, .order-addresses {
            font-size: 22px;
            font-weight: bold;
            line-height: 26px;
            margin-bottom: 8px;

            .label {
                color: $color-neutral-60;
                font-weight: normal;
            }
        }

        .order-status {
            .label {
                margin-right: 5px;
            }
        }

        .order-addresses {
            display: inline-block;
            margin-right: 10px;
            min-width: 50%;
        }
    }

    .pane-addresses {
        border-right-width: 0px;

        td {
            padding-right: 8px;
        }
    }

    &> .#{$prefix}panel-body {
        border-width: 0px;
        font-size: 13px;
        line-height: 1.25;
    }
}