.#{$vprefix}order-header {
    background-color: $color-neutral-white;
    border: 1px solid $color-standard-border;

    // all labels
    .label {
        margin-right: 3px;
    }

    // lighter, uppercase labels
    .label-light {
        color: $color-neutral-60;
        font-weight: normal;
        display: block;
    }

    .taco-order-summary-header {
        border-bottom: 1px solid $color-standard-border;

        .x-btn .x-btn-inner-center,
        a {
            font-size: 13px;
            color: $nav-element-active;
            border-bottom: $nav-element-active-border 1px solid;

            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
                border-color: $dark-color;
            }
        }
    }

    .#{$prefix}btn-link-small-focus {
        .#{$prefix}btn-inner {
            text-decoration: none;
        }
    }

    .related-orders {
        border-top: 1px solid $color-standard-border;
        padding: 7px 19px 3px;
    }

    table.order-header-status {
        tr td:nth-child(2) {
            padding-left: 16px;
        }
    }

    table.header-summary {
        tr td:first-child {
            padding-right: 8px;
        }
        tr td:last-child {
            text-align: right;
        }
    }

    .pane {
        border-right: 1px solid $color-standard-border;
        margin: 0px 0px;
        padding: 10px 19px;

        table {
            border-collapse: collapse;
            width: 100%;

            td {
                vertical-align: top;
                padding-bottom: 2px;
            }
        }

        .label-light {
            //padding-bottom: 3px;
        }

    }

    .pane-addresses {
        border-right-width: 0px;

        td {
            padding-right: 8px;
        }
    }

    &> .#{$prefix}panel-body {
        border-width: 0px;
        font-size: 13px;
        line-height: 1.4;
    }
}