.#{$prefix}column-header {
    .#{$prefix}mask {
        opacity: 0;
    }
}

.#{$prefix}column-header-over {
    .#{$prefix}column-header-trigger {
        display: none;
    }
}

.#{$prefix}column-header-last {
    .#{$prefix}column-header-inner {
        min-height: 30px;
        background-color: transparent;
    }

    .#{$prefix}column-header-trigger {
        background: none transparent;
        display: block !important;
        top: 6px;
        @include icon-font($glyph-knurling, 16px, $gray-text-light);
        position: absolute;
        width: 12px;
        height: 20px;
        border-radius: 3px;
        &::after {
            right: 0px;
            left: initial;
            line-height: 20px;
            width: 100%;
            height: 100%;
            text-align: center;
        }
    }

    .#{$prefix}column-header-open .#{$prefix}column-header-trigger {
        box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
    }

    .#{$prefix}column-header-over .#{$prefix}column-header-trigger::after {
        color: $dark-color;
    }
}

.#{$prefix}column-content-pill {
    border-radius: 20px 20px;
    -moz-border-radius: 20px 20px;
    -webkit-border-radius: 20px 20px;
    -ms-border-radius: 20px 20px;
    -o-border-radius: 20px 20px;
    padding-left:6px;
    padding-right:6px;
    padding-top:2px;
    padding-bottom:2px;
    font-size: 11px;
}

.#{$prefix}column-content-pill-true {
    background-color: $valid-green;
    color: $white-color;
}

.#{$prefix}column-content-pill-false {
    background-color: $pill-bg-gray;
    color:$gray-text-dark;
}

.#{$prefix}column-action  {
    display: block;
    @include icon-font($glyph-knurling, 13px, $gray-text-dark);
}