.#{$prefix}column-header {
    .#{$prefix}mask {
        opacity: 0;
    }
}

.#{$prefix}column-header-over {
    .#{$prefix}column-header-trigger {
        display: none;
    }
}

.#{$prefix}column-header-last {
    .#{$prefix}column-header-inner {
        min-width: 50px;
        padding-right: 32px !important;
    }

    .#{$prefix}column-header-trigger {
        background: none transparent;
        display: block !important;
        right: 11px;
        top: 8px;
        @include icon-font($glyph-plus, 16px, $color-neutral-white);
        position: absolute;
    }
}
