
html {
	background: url(/Resources/Images/Opera-Background-Colored-Lights.jpg);
	background-size: cover;
	height: auto;

}
body {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	padding-top: 20px;
}

.mz-main-container {
	

}

#mz-layout-right {
	float: right;
}

.mz-column {
	float: left;
	+ .mz-column {
		margin-left: @gutter;
	}
}