

/* Canopy Site Nav ------------------------------- */
.mz-utility-nav-wrap {
	position: absolute;
	right: 10px;
	top: 10px;

}
.mz-utility-nav {	
	color: white;
	font-size: 11px;
}
.mz-utility-nav-item {
	float: left;
	margin: 0;
	padding: 0 10px;
	text-align: right;
}
.mz-utility-nav-item:last-child {
	padding-right: 0;
	text-align:right;
}

/* Main Site Nav ------------------------------- */

.mz-site-nav-wrapper {
	border: 1px solid rgba(0,0,0,.4);
	border-width: 1px 0;
	background: rgb(239,175,148); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmYWY5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YyNzMzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2YzNGIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYjk1NWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(239,175,148,1) 0%, rgba(242,115,60,1) 50%, rgba(243,75,0,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,175,148,1)), color-stop(50%,rgba(242,115,60,1)), color-stop(51%,rgba(243,75,0,1)), color-stop(100%,rgba(251,149,94,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,175,148,1) 0%,rgba(242,115,60,1) 50%,rgba(243,75,0,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(239,175,148,1) 0%,rgba(242,115,60,1) 50%,rgba(243,75,0,1) 51%,rgba(251,149,94,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(239,175,148,1) 0%,rgba(242,115,60,1) 50%,rgba(243,75,0,1) 51%,rgba(251,149,94,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(239,175,148,1) 0%,rgba(242,115,60,1) 50%,rgba(243,75,0,1) 51%,rgba(251,149,94,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efaf94', endColorstr='#fb955e',GradientType=0 ); /* IE6-8 */

	-webkit-animation: glowThrob 1s infinite;
	-moz-animation: menuThrob 15s infinite;
	-o-animation: glowThrob 1s infinite;
	animation: glowThrob 1s infinite;
	a {
		color:white;
		font-size: 16px;
		padding-left: 16px;
		position: relative;
		line-height: 110%;
		text-decoration: none;
		display: inline-block;
		text-shadow: 1px 1px 2px #777;
		&:visited {
		color:white;
		}
		&:hover {
			text-shadow: 0 0 2px white;
			text-decoration: none;
			-webkit-animation: glowThrob 1s infinite;
			-moz-animation: glowThrob 1s infinite;
			-o-animation: glowThrob 1s infinite;
			animation: glowThrob 1s infinite;

		}
	}
	
	a:before {
		content: ":: ";
		width: 14px;
		font-size: 20px;
		font-weight: bold;
		position: absolute;
		left: 0;
		top: -1px;
		text-shadow: 0 0 2px white;
	}
	.mz-site-nav {
	outline: none;
	border: 0;
	display: table;
		li {
			
			padding: 7px 20px;
			display: table-cell;
			vertical-align: middle;
		}
	}

}
@-webkit-keyframes menuThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}
@-moz-keyframes menuThrob {
  0%   { box-shadow: inset 0 -20px 4px rgba(255,255,255,0); }
  45%  { box-shadow: inset 0 -20px 4px rgba(255,255,255,0); }
  50%  { box-shadow: inset 0 -20px 4px rgba(255,255,255,.1); }
  55%  { box-shadow: inset 0 -20px 4px rgba(255,255,255,0); }
  100% { box-shadow: inset 0 -20px 4px rgba(255,255,255,0); }
}
@-o-keyframes menuThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}
@keyframes menuThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}

@-webkit-keyframes glowThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}
@-moz-keyframes glowThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 3px white; }
  100% { text-shadow: none; }
}
@-o-keyframes glowThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}
@keyframes glowThrob {
  0%   { text-shadow: none; }
  50%  { text-shadow: 0 0 2px white; }
  100% { text-shadow: none; }
}
// .mz-site-nav-wrapper {
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	bottom: 0px;
// 	background: #333;
// 	overflow: hidden;

// 	.mz-site-nav-item {
// 		float:left;
// 	}
// 	.mz-site-nav-link {
// 		color: {{themeSettings.siteNavColorLevel1}};
// 		text-decoration: none;
// 		font: {{themeSettings.siteNavFontLevel1}};
// 		display: inline-block;
// 		padding: 10px 15px;
// 		position: relative;
// 		&:visited {
// 			color: {{themeSettings.siteNavVisitedColorLevel1}};
// 		}
// 		&:hover {
// 			background-color: #555;
// 			color: {{themeSettings.siteNavHoverColorLevel1}};
// 		}
// 	}

// 	.no-cssanimations .mz-site-nav-a:hover {
// 		text-decoration: underline;
// 	}

	.mz-site-nav-slideout {
		display:none
	}

// 	.mz-site-nav-sub {
// 		// TODO: complete nav
// 	}
// }


/* SubCategory List -------------- */
.mz-left-nav-wrap {
	width: 180px;
	float: left;
	margin-right: 30px;
}
.mz-category-subhead {
	margin-top: 12px;
}
.mz-category-list-item {
	margin: 0 0 8px 0;
}

.mz-category-list-sub {
	padding-left: 16px;
	margin-top: 5px;
}