.mz-list-control-wrap {
	.mz-product-title-link {
		color: #a03800;
		font-size: 18px;
		font-weight: 700;
	}
	.mz-product-image {
		max-width: 100%;
	}
}
ul[data-items-per-row="2"] .mz-list-item {
	width: 47%;
	margin-right: 5%;
}
ul[data-items-per-row="3"] .mz-list-item {
	width: 27%;
	margin-right: 8%;
}
ul[data-items-per-row="4"] .mz-list-item {
	width: 22%;
	margin-right: 2%;
}
.mz-product-image-thumb-link {
	border: 1px solid #777;
	display: inline-block;
	margin-right: 10px;
}
.mz-list-control-wrap {
	overflow: hidden;
}
.mz-list-item {
	float: left;
}
.mz-list-control .mz-list-item:last-child {
	margin-right: 0;
}
.mz-list-spacer {
	clear: both;
	height: 30px;
}
/* Products -------------------- */
.mz-product-item-wrap {
	display: block;
}
.mz-product-image-link {
	margin: 0 auto 20px auto;
	display: block;
}
ul[data-items-per-row="3"] .mz-list-last {
	margin-right: 0;
}
	
/* Pager --------------------------- */
.mz-pager {
	clear:both;
	display: block;
	margin-top: 10px;
}