body {
	font: {{themeSettings.globalFont}};
	color: {{themeSettings.defaultTextColor}};
}
a {
	color: {{themeSettings.linkColor}};
	font: {{themeSettings.linkFont}};
	&:visited {
		color: {{themeSettings.linkVisited}};
		font: {{themeSettings.linkVisitedFont}};
	}
	&:hover {
		color: {{themeSettings.linkHover}};
		font: {{themeSettings.linkHoverFont}};
	}
}
.mz-page-header {
	color: {{themeSettings.headlineTextColor}};
	font: {{themeSettings.headlineTextFont}};
}
.mz-page-subhead {
	color: {{themeSettings.subHeadlineTextColor}};
	font: {{themeSettings.subHeadlineTextFont}};
}

.mz-page-headernote {
    margin-left: 133px;
}

.mz-auxiliary-text {
	font-size: 12px;
}

.mz-strikethrough {
	text-decoration: line-through;
}