.hamburgerMenu {
    padding-top : 22px;
    font-size : 22px;
    cursor: pointer;
    color:#666;
}
.primeSidebar {
    height: 100%;
    width: 22%;
    border-right: 1px solid #f5f5f5;
    margin-left: 5%;
}
.sidebar {
    height: 100%;
    border-right: 1px solid #f5f5f5;
}
@media screen and (max-width: 480px) {
    .primeSidebar {
        border-right: 0px solid transparent;
    }
    .hamburgerMenu[_ngcontent-c8] {
        padding-top: 16px;
        padding-left: 14px;
    }
}
.ui-menu .ui-submenu-header{
    font-size: 11px !important;
}

.col-md-half, .col-sm-half{
    width: 4%;
    float: left;
    text-align: center;
}
.ui-submenu-header{
    text-align: left !important;
}
@media screen and (max-width:900px){
    .col-md-half, .col-sm-half {
        width: 6% !important;
    }
  }