<div class="col-md-half col-sm-2 sidebar">
<div class = "">
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="1" [showCloseIcon]="false" [blockScroll]="true">
        <p-tabView>
            <p-tabPanel header="Main">
                <div *ngFor="let menuHeader of model.mainItems" class="menuHeader">
                <span [hidden]="menuHeader.items.length == 0">    
                <div type="button" data-toggle="collapse"  [attr.data-target]="'#' + menuHeader.id" (click)="megaMenuToggleIcon($event)" class="menuHeaderAlign button">{{menuHeader.label}}
                </div>
                 <ul id="{{menuHeader.id}}"  class="collapse in">
                        <li *ngFor="let menuOptions of menuHeader.items">
                                <a *ngIf="menuOptions.address === uiRoutes || menuOptions.address === uiLocationGroup; else routeLink" [routerLink]="[menuOptions.routerLink]">
                                 {{menuOptions.label}}
                                </a>
                                <ng-template #routeLink >
                                <ng-container *ngIf="menuOptions.label !== 'Import/Export'; else importExportDynamicLink">     
                                   <a [attr.href]="menuOptions.url">
                                {{menuOptions.label}}
                                 </a> </ng-container>
                                </ng-template>
                                <ng-template #importExportDynamicLink>
                                    <a class="import-export-cursor" (click)="openDynamicLinksDialog(menuOptions.url, menuOptions.appId)">
                                   {{menuOptions.label}}
                                    </a>
                                </ng-template>
                         </li>
                    </ul>
                </span>
               </div>
            </p-tabPanel>
            <p-tabPanel header="System">
               <div class="menuHeader" *ngFor="let menuHeader of model.systemItems">
                 <span [hidden]="menuHeader.items.length == 0">
                <div type="button" data-toggle="collapse"  [attr.data-target]="'#' + menuHeader.id" (click)="megaMenuToggleIcon($event)" class="menuHeaderAlign">{{menuHeader.label}}
                </div>
                <ul id="{{menuHeader.id}}"  class="collapse in">
                        <li *ngFor="let menuOptions of menuHeader.items">
                            <a [attr.href]="menuOptions.url">
                             {{menuOptions.label}}
                            </a>
                        </li>
                </ul>
            </span>
            </div>
            </p-tabPanel>
        </p-tabView>
    </p-sidebar>
    <span pButton type="button" (click)="visibleSidebar1 = true"><i class="fa fa-bars hamburgerMenu"></i></span>
</div>
</div>