.mz-checkoutform-ordersummary {
    margin-bottom: @gutter;
    .mz-formstep-header {
        margin-bottom: 0;
    }
    .mz-formstep-body {
        font-size: @fontSizeLarger;
    }
}    
.mz-checkoutform-comments-field {
    width: 100%;
    height: 8em;
}