.mz-loc {
    //background-color: rgba(255, 0, 0, 0.1);
    min-height: 300px;
    position: relative;

    aside {

        border: 1px solid @inputBorder;
        left: 0;
        padding: 8px;
        position: absolute;
        top: 40px;
        width: 240px;

        h3 {
            background-color: @inputBorder;
            margin: -8px;
            padding: 8px;
        }

        input[type="text"] {
            margin-right: 5px;
            width: 80px;
        }
    }

    article {
        margin-left: 280px;
    }
}

.mz-loc-name {
    font-weight: bold;
}

.mz-loc-table {
    border: 1px solid @inputBorder;

    min-width: 240px;
    max-width: 620px;
    width: 100%;

    th {
        background-color: @inputBorder;
        border-bottom: 1px solid @inputBorder;
        font-size: @fontSizeLarger;
        padding: 5px;
        text-align: left;
    }

    td {
        border-bottom: 1px solid @inputBorder;
        padding: 5px;
    }
}