.mz-myaccount {
    .mz-myaccount-panels {
        margin-left: 200px;
    }

    .mz-myaccount-nav {
        width: 200px;
        box-sizing: border-box;
    }

    .mz-contacttype-isprimary {
        font-size: @fontSizeSmall;
        font-style: italic;
        display: block;
        margin-top: 3px;
        text-indent: @gutter;
    }
}
