// Variables for panels and their subcomponents.

/* PANELS */

$panel-body-border-color: $color-grid-border;
$panel-body-font-size: inherit;
$panel-header-border-width: 0px;
$panel-header-inner-border: false;

/* GRIDS */

$grid-header-background-color: $color-neutral-20;
$grid-header-background-gradient: null;
$grid-header-color: $color-neutral-white;
$grid-header-over-background-color: $color-neutral-lightest;
$grid-header-over-background-gradient: null;

$grid-row-cell-selected-background-color: $color-highlighted-background-light;
$grid-row-cell-line-height: $grid-row-cell-font-size + 5;
$grid-row-cell-font: normal #{$grid-row-cell-font-size}/#{$grid-row-cell-line-height} $font-family;

$grid-cell-inner-padding-top: 7px;
$grid-cell-inner-padding-horizontal: 5px;
$grid-cell-inner-padding-bottom: 5px;

$grid-header-font-size: $grid-row-cell-font-size - 1;
$grid-header-line-height: $grid-header-font-size;
$grid-header-padding: 15px 5px 11px;

/* TOOLBARS */

$toolbar-background-color: $base-color;
$toolbar-background-gradient: null;

/* LAYOUTS */

$border-layout-ct-background: $base-color;