$form-field-height: 30px;
$form-toolbar-field-height: $form-field-height;
$form-display-field-line-height: 30px;
$form-field-padding: 5px 10px 3px;

$form-field-color: $color;
$form-field-empty-color: lighten($color, 60%);

$form-field-border-color: border-for($color-neutral-95);
$form-field-focus-border-color: $color-theme-support-darker;
$form-field-invalid-border-color: $color-theme-base;

$form-field-background-color: $color-neutral-white;
$form-field-background-image: null;

$form-field-invalid-background-color: $color-neutral-white;
$form-field-invalid-background-image: null;
