@mixin taco-buttons {

    /**
     * Previous/Next buttons at the top
     * of the screen
     */

    .#{$prefix}btn-toolbar {
        &.#{$prefix}move-next-previous-arrow {
            background-color: transparent !important;

            span {
                .#{$prefix}btn-glyph {
                    color: $item-switch-color;
                    font-size: $normal-font-link;
                    -ms-transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }

            &:hover {
                box-shadow: none;

                span {
                    .#{$prefix}btn-glyph {
                        color: $dark-color;
                    }
                }
            }
        }
    }

    .#{$prefix}move-next-previous-position {
        color: $item-switch-color;
        font-size: $normal-font-link;
    }

    /**
     * More button
     */

    .#{$vprefix}more-action-button {
        background-color: transparent !important;
        height: 29px !important;
        margin-left: -15px !important;
        top: 4px !important;

        &:hover,
        &.#{$prefix}btn-menu-active {
            span {
                .#{$prefix}btn-glyph {
                    color: $vertical-ellipsis-active;
                }
            }
        }

        &.#{$prefix}focus,
        &.#{$prefix}btn-focus,
        &.#{$prefix}btn-action-toolbar-medium-focus {
            border: none;
            box-shadow: none;
        }

        span {
            height: 17px !important;
            padding-right: 0 !important;

            .#{$prefix}btn-glyph {
                color: $glyph-color;
            }

            &:after {
                display: none;
            }
        }
    }

    /**
     * Panel nav
     */

    .#{$prefix}field-default-form-focus + div {
        label {
            font-size: $label-link-font;
            top: 0;
        }
    }

    .#{$vprefix}link-button {
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0px; // we can remove this once its been removed globally
        box-shadow: none;
        background-color: $dark-bg;
        color: $gray-text-dark;
        padding: 8px 15px;
        font-family: $font-family;
        font-size: $normal-font-link;
        transition: border-color;
        @include facade-transitions();

        &:hover {
            color: $dark-color;
            text-decoration: none;
        }

        // there is a bug in EXT where the pressedCls of a button
        // adds x- before the class -- to be removed once that bug is fixed (so never)
        // http://stackoverflow.com/questions/31043578/extjs-how-to-set-button-css-by-using-pressedcls-config
        &.active, &.#{$prefix}active  {
            border-color: $valid-green;
            color: $dark-color;
        }

    }

    /**
     * Dropdown list
     */

    .#{$prefix}dropdown-trigger {
        &:after {
            color: $gray-text-dark;
            content: '\E60B';
            font-family: $icon-font;
            font-size: $tag-font;
            margin-left: -6px;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                color: $dropdown-icon-active;
            }
        }
    }

    .#{$vprefix}selector-flyout {
        left: 0 !important;
    }

    .#{$prefix}menu-plain,
    .#{$vprefix}selector-flyout {
        background-color: $white-color;
        border: 1px solid $dropdown-list-outline;
        @include border-radius-xbrowser($border-radius-small);
        @include outer-shadow(0.09, 6px, 0, 1px);

        .call-to-action {
            background-color: $dark-bg;
            border-bottom: 1px solid $light-border-gray;
            color: $call-to-action-color;
            font-size: $label-link-font;
            line-height: 26px;
            padding: 0 15px;
        }

        .#{$prefix}menu-item-separator {
            display: none;
        }

        li.selector,
        .#{$prefix}menu-item {
            border-bottom: 1px solid $list-item-selector;
            @include border-radius-xbrowser(0);
            border-width: 1px;
            color: $gray-text-light;
            cursor: pointer;
            font-size: $normal-font-link;
            line-height: 24px;
            padding: 6px 12px;

            span {
                color: $gray-text-light;
                font-size: $normal-font-link;
            }

            &:hover {
                color: $nav-element-active;

                span {
                    color: $nav-element-active;
                }
            }

            &:active,
            &:focus {
                background-color: $dark-bg;
                color: $nav-element-active;
            }
        }
    }

    /**
     * Dropdown list
     */

    .#{$prefix}dropdown-trigger {
        &:after {
            color: $gray-text-dark;
            content: '\E60B';
            font-family: $icon-font;
            font-size: $tag-font;
            margin-left: -6px;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                color: $dropdown-icon-active;
            }
        }
    }

    .#{$vprefix}light-tag {
        border: 1px solid $light-bg;
        color: $gray-text-dark;
        font-size: 8px;
        margin: 10px 3px;
        padding: 3px 3px 2px 3px;
        text-transform: uppercase;
        @include border-radius-xbrowser(3px);
    }
}