@mixin taco-buttons {

    .#{$prefix}btn-toolbar {
        &.#{$prefix}move-next-previous-arrow {

            span {
                .#{$prefix}btn-glyph {
                    color: $item-switch-color;
                    font-size: $normal-font-link;
                    -ms-transform: rotate(-90deg);
                    -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);
                }
            }

            &:hover {
                box-shadow: none;

                span {
                    .#{$prefix}btn-glyph {
                        color: $dark-color;
                    }
                }
            }
        }
    }

    .#{$prefix}move-next-previous-position {
        color: $item-switch-color;
        font-size: $normal-font-link;
    }

    /**
     * More button
     */

    .#{$vprefix}navheader {
        .#{$vprefix}navheader-toolbar {
            .navheader-action-toolbar {
                .#{$prefix}btn.#{$vprefix}more-action-button {
                    background-color: transparent;
                }

                .#{$prefix}btn {
                    .#{$prefix}btn-arrow-right {
                        &:after {
                            display: none;
                        }
                    }
                }
                
                .#{$prefix}btn-toolbar {
                    &.#{$prefix}btn.#{$prefix}move-next-previous-arrow {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .#{$prefix}btn-action-toolbar-medium {
        .#{$prefix}btn-arrow-right {
            padding: 0;
        }
    }

    .#{$vprefix}more-action-button {
        /* here until the component in NavHeader.js is fixed */
        height: 29px !important;
        margin-left: -15px !important;
        top: 4px !important;

        &:hover,
        &.#{$prefix}btn-menu-active {
            span {
                .#{$prefix}btn-glyph {
                    color: $vertical-ellipsis-active;
                }
            }
        }

        &.#{$prefix}focus,
        &.#{$prefix}btn-focus,
        &.#{$prefix}btn-action-toolbar-medium-focus {
            border: none;
            box-shadow: none;
        }

        span {
            height: 17px !important;

            .#{$prefix}btn-glyph {
                color: $glyph-color;
            }

            &:after {
                display: none;
            }
        }
    }

    /**
     * Panel nav
     */

    .#{$prefix}field-default-form-focus + div {
        label {
            font-size: $label-link-font;
            top: 0;
        }
    }

    .#{$vprefix}link-button {
        border: none;
        border-bottom: 2px solid transparent;
        border-radius: 0px; // we can remove this once its been removed globally
        box-shadow: none;
        background-color: $dark-bg;
        color: $gray-text-dark;
        padding: 8px 15px;
        font-family: $font-family;
        font-size: $normal-font-link;
        transition: border-color;
        @include facade-transitions();

        &:hover {
            color: $dark-color;
            text-decoration: none;
        }

        // there is a bug in EXT where the pressedCls of a button
        // adds x- before the class -- to be removed once that bug is fixed (so never)
        // http://stackoverflow.com/questions/31043578/extjs-how-to-set-button-css-by-using-pressedcls-config
        &.active, &.#{$prefix}active  {
            border-color: $valid-green;
            color: $dark-color;
        }

    }

    /**
     * Dropdown list
     */

    .#{$prefix}dropdown-trigger {
        &:after {
            color: $gray-text-dark;
            content: '\E60B';
            font-family: $icon-font;
            font-size: $tag-font;
            margin-left: -6px;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                color: $dropdown-icon-active;
            }
        }
    }

    /**
     * Dropdown list
     */

    .#{$prefix}dropdown-trigger {
        &:after {
            color: $gray-text-dark;
            content: '\E60B';
            font-family: $icon-font;
            font-size: $tag-font;
            margin-left: -6px;
        }

        &:hover,
        &:active,
        &:focus {
            &:after {
                color: $dropdown-icon-active;
            }
        }
    }

    .#{$vprefix}light-tag {
        border: 1px solid $light-bg;
        color: $gray-text-dark;
        font-size: 8px;
        margin: 10px 3px;
        padding: 3px 3px 2px 3px;
        text-transform: uppercase;
        @include border-radius-xbrowser(3px);
    }
}