/* primary colors */
$black-color: rgb(0, 0, 0); /* #000000              000, 000, 000 */
$white-color: rgb(255, 255, 255); /* #ffffff              255, 255, 255 */

$kibo-black: rgb(43, 43, 43);
$kibo-light-gray: rgb(229, 230, 231);

/* theme colors */
$gray-text-dark: rgb(124, 124, 124); /* #a5a5a5 --> #a6a6a6  165, 165, 165 */
/* darken($white-color, 35); */
$mask-color: rgba(236, 236, 236, 0.9); /* #ececec --> #ebebeb  236, 236, 236 */
/* rgba(darken($white-color, 8), .9); */
$refresh-hover-color: rgb(118, 120, 123); /* #76787b              118, 120, 123 */

$gray-text-light: darken($white-color, 36); /* #a3a3a3              163, 163, 163 */
$gray-text-extra-light: rgba(lighten($black-color, 13), .25); /* #525252              082, 082, 082 */
$card-border: rgb(241, 241, 241); /* #f1f1f1 --> #f0f0f0  240, 240, 240 */
/* darken($white-color, 6); */

$input-border: rgb(220, 220, 220);
$light-bg: rgb(234, 234, 234); /* #eaeaea --> #e8e8e8  232, 232, 232 */
/* darken($white-color, 9); */
$input-focus-border: rgb(158, 202, 237); /* #9ecaed              158, 202, 237 */
/* adjust_hue(saturate(lighten($black-color, 77), 69), 207) */

$label-color: rgb(124, 124, 124); /* #acacac --> #adadad  172, 172, 172 */
/* darken($white-color, 32); */
$light-link-color: $label-color;

$nav-element-text: rgb(165, 165, 165); /* #a5a5a5 --> #a6a6a6  165, 165, 165 */
/* darken($white-color, 35); */

$call-to-action-color: $nav-element-text;
$nav-element-active: rgb(63, 63, 63); /* #3f3f3f --> #404040  063, 063, 063 */
/* lighten($black-color, 25); */
$publish-icon-dark-bg: $nav-element-active;

$input-element-active: $nav-element-active;
$nav-element-active-border: rgb(243, 243, 243); /* #f3f3f3 --> #f2f2f2  242, 242, 242 */
/* darken($white-color, 5); */
$grid-row-border: $nav-element-active-border;

$light-bg-gray: rgb(233, 233, 233); /* #e9e9e9 --> #e8e8e8  233, 233, 233 */
/* darken($white-color, 9); */

$pill-bg-gray: $nav-element-active-border; /* #f3f3f3 --> #f2f2f2  242, 242, 242 */
$pill-text-dark: lighten($black-color, 36); /* #5c5c5c              092, 092, 092 */
$light-border-gray: $light-bg-gray;
$dark-bg: darken($white-color, 3); /* #f7f7f7              247, 247, 247 */
$typehead-pill-border-color: rgb(226, 226, 226); /* #e2e2e2 --> #e3e3e3  226, 226, 226 */
/* darken($white-color, 11); */
$pagination-arrow-color: rgb(177, 177, 177); /* #b1b1b1 --> #b0b0b0  177, 177, 177 */
/* lighten($black-color, 69); */

$boxselect-hover-color: $pagination-arrow-color;

$catalog-switcher-border-color: rgb(223, 223, 223); /* #dfdfdf --> #dedede  223, 223, 223 */
/* darken($white-color, 13); */

$card-button-bg: rgb(250, 250, 250); /*#fafafa could not filter for effect */
$package-bg: $card-button-bg;
$dark-border-gray: $typehead-pill-border-color;
$nav-hover-bg: $card-button-bg;
$grid-row-hover-bg: $card-button-bg;
$grid-even-stripe-bg: rgb(249, 249, 249); /* #f9f9f9 --> #fafafa  249, 249, 249 */
/* darken($white-color, 2); */
$row-editor-buttons-bg: $card-button-bg;
$card-button-press-bg: darken($white-color, 4); /* #f5f5f5              245, 245, 245 */
$medium-button-active-bg: $card-button-press-bg;
$list-item-selector: $card-button-press-bg;
$list-item-active: $card-button-press-bg;
$glyph-color: darken($white-color, 38);
$dark-color: rgb(63, 63, 63); /* #3f3f3f --> #404040  063, 063, 063 */
/* lighten($black-color, 25); */
$input-text-color: $dark-color;
$gray-border-color: darken($white-color, 8); /* #ebebeb              250, 250, 250 */
$light-gray-border-color: rgb(223, 223, 223); /* #dfdfdf --> #dedede  222, 222, 222 */
/* darken($white-color, 13); */
$search-trigger-color: rgb(129, 129, 129); /* #818181 --> #808080  129, 129, 129 */
/* lighten($black-color, 50); */

$med-gray-border-color: $light-gray-border-color;
$dialog-border-color: darken($white-color, 20); /* #cccccc              204, 204, 204 */

$textarea-color: lighten($black-color, 20); /* #333333              051, 051, 051 */
$html-editor-toolbar: rgb(119, 119, 119); /* #777777 --> #787878  120, 120, 120 */
/* lighten($black-color, 47); */

$valid-green: rgb(46, 161, 149); /* #34ae90 --> #34ac8e  052, 174, 144 */
/* adjust_hue(saturate(lighten($black-color, 44), 54), 165); */
$brand-color: rgb(51, 0, 102);
$brand-active-color: rgb(115,99,161);
$valid-green-hover: rgb(66, 170, 159);


$valid-green-active: rgb(41, 144, 134); /* #30b695 --> #26b954  048, 182, 149 */
/* adjust_hue(saturate(lighten($black-color, 43), 65), 166); */

$form-focus-color: rgba($valid-green, 0.6);

$error-red: rgb(228, 45, 0); /* #e42d00 --> #e62e00  228, 045, 000 */
/* adjust_hue(saturate(lighten($black-color, 45), 100), 12); */

$menu-btn-active-border: rgb(35, 151, 122); /* #23977a --> #239578  035, 151, 122 */
/* adjust_hue(saturate(lighten($black-color, 36), 62), 165); */

$menu-btn-active-background: rgb(44, 163, 133); /* #2ca385 --> #2da587  044, 163, 133 */
/* adjust_hue(saturate(lighten($black-color, 41), 57), 165); */

$primary-btn-background: $valid-green;
$primary-btn-shadow: rgba(0, 0, 0, 0.2);
$primary-btn-hover-background: $valid-green-hover;
$primary-btn-active-background: $valid-green-active;
$primary-btn-disabled-background: rgb(234, 234, 234); /* #eaeaea --> #e8e8e8  232, 232, 232 */
$primary-btn-disabled-split-border: rgb(241, 241, 241); /* #f1f1f1 --> #f0f0f0  240, 240, 240 */
$primary-btn-split-border: rgba(0, 0, 0, 0.09);
$secondary-btn-active-background: whitesmoke;
$secondary-btn-hover-text: $dark-color;
$card-btn-text-color: rgb(124, 124, 124); /* #7c7c7c              124, 124, 124 */
$card-btn-border: rgba(63, 63, 63, .19);
$card-btn-hover-border: rgba(63, 63, 63, .3);
$card-btn-active-border: #e2e2e2;
$card-btn-active-background: whitesmoke;
$card-btn-disabled-text: #dadada;
$card-btn-disabled-background: $card-button-bg;
$card-btn-disabled-border: whitesmoke;

$item-switch-color: rgba(lighten($black-color, 26), .32); /* #424242              066, 066, 066 */
$splitter-background: $white-color;
$splitter-border: rgba(0, 0, 0, 0.1);
$splitter-text: rgba(0, 0, 0, 0.2);
$splitter-hover: rgba(0, 0, 0, 0.8);
$more-menu-active-background: whitesmoke;
$more-menu-active-shadow: rgba(0, 0, 0, 0.09);
$filter-text-inactive: lighten($dark-color, 62); /* #dddddd --> #dedede  222, 222, 222 */
$filter-text-hover: lighten($dark-color, 45); /* #b3b3b3              179, 179, 179 */
$filter-text-focus-placeholder: lighten($dark-color, 35); /* #999999              153, 153, 153 */
$filter-text-focus: $dark-color;
$filter-icon-inactive: lighten($dark-color, 59); /* #d6d6d6              214, 214, 214 */
$filter-icon-hover: lighten($dark-color, 39); /* #a3a3a3              163, 163, 163 */
$filter-icon-focus: lighten($dark-color, 26); /* #838383 --> #828282  130, 130, 130 */
$advanced-filter-inside-border: $light-bg-gray;
$advanced-filter-icon-active: whitesmoke;

$vertical-ellipsis-active: rgb(34, 34, 34); /* #222222 --> #212121  033, 033, 033 */
/* lighten($black-color, 13); */
$dropdown-list-shadow: rgba($black-color, 0.09); /* #000000              000, 000, 000 */
$dropdown-list-outline: rgb(218, 218, 218); /* #dadada --> #dbdbdb  219, 219, 219 */
/* darken($white-color, 14); */
$sticky-nav-border-color: $dropdown-list-outline;
$dropdown-icon-active: lighten($black-color, 22); /* #383838              056, 056, 056 */
$checkbox-checked: rgb(59, 153, 252); /* #3B99FC              059, 153, 252 */
$nav-heading-color: rgb(187, 190, 191); /* #BBBEBF              187, 190, 191 */
$glyph-icon-color: lighten($black-color, 40); /* #666666              102, 102, 102 */
$glyph-icon-color-inactive: lighten($black-color, 79); /* #c9c9c9              201, 201, 201 */

$toolbar-btn-shadow: rgba(0, 0, 0, .05);

$tooltip-background-color: rgba(63, 63, 63, 0.95);
/**
 * Old colors from _colors.scss
 */

/* NEUTRAL COLORS */

$color-neutral-transparent: transparentize(rgb(255, 255, 255), 1);
$color-neutral-white: rgb(255, 255, 255);
$color-neutral-black: rgb(0, 0, 0);

$color-neutral-95: darken($color-neutral-white, 5%); /* #f2f2f2  242,242,242 */
$color-neutral-90: darken($color-neutral-white, 10%); /* #e6e6e6  230,230,230 */
$color-neutral-85: darken($color-neutral-white, 15%); /* #d9d9d9  217,217,217 */
$color-neutral-80: darken($color-neutral-white, 20%); /* #cccccc  204,204,204 */
$color-neutral-75: darken($color-neutral-white, 25%); /* #bfbfbf  191,191,191 */
$color-neutral-70: darken($color-neutral-white, 30%); /* #b3b3b3  179,179,179 */
$color-neutral-65: darken($color-neutral-white, 35%); /* #a6a6a6  166,166,166 */
$color-neutral-60: #7c7c7c;
$color-neutral-55: darken($color-neutral-white, 45%); /* #8c8c8c  140,140,140 */
$color-neutral-50: darken($color-neutral-white, 50%); /* #808080  128,128,128 */
$color-neutral-45: darken($color-neutral-white, 55%); /* #737373  115,115,115 */
$color-neutral-40: darken($color-neutral-white, 60%); /* #666666  102,102,102 */
$color-neutral-35: darken($color-neutral-white, 65%); /* #595959     89,89,89 */
$color-neutral-30: darken($color-neutral-white, 70%); /* #4d4d4d     77,77,77 */
$color-neutral-25: darken($color-neutral-white, 75%); /* #404040     64,64,64 */
$color-neutral-20: darken($color-neutral-white, 80%); /* #333333     51,51,51 */
$color-neutral-15: darken($color-neutral-white, 85%); /* #262626     38,38,38 */
$color-neutral-10: darken($color-neutral-white, 90%); /* #1a1a1a     26,26,26 */
$color-neutral-05: darken($color-neutral-white, 95%); /* #0d0d0d     13,13,13 */

/* THEME COLORS */

//framework colors
$color-framework-black: rgb(63, 63, 63);
$color-framework-red: rgb(223, 48, 24);
$color-framework-blue-light: rgb(212, 226, 240);
$color-framework-blue-dark: rgb(38, 109, 181);
$color-framework-gray-lighter: rgb(247, 247, 247);
$color-framework-gray-light: rgb(238, 240, 240);
$color-framework-gray-border: rgb(245, 245, 245);
$color-framework-gray: rgb(187, 190, 191);
$color-framework-gray-dark: rgb(114, 119, 121);

$color-theme-red: $color-framework-red; // old: rgb(210, 70, 60);
$color-theme-red-light: darken($color-framework-red, 5%); // rgb(221, 93, 84);
$color-theme-red-darker: darken($color-framework-red, 10%); // old: rgb(196, 66, 57);
$color-theme-red-darkest: darken($color-framework-red, 15%); // old: rgb(145, 49, 42);
$color-theme-yellow: rgb(252, 194, 0);
$color-theme-yellow-light: rgb(252, 240, 200);
$color-theme-green: rgb(52,174,144);
$color-theme-green-darker: rgb(49,182,149);
$color-theme-green-darkest: rgb(46,154,128);
$color-theme-blue: rgb(46, 100, 158);
$color-theme-blue-light: rgb(228, 239, 255);
$color-theme-blue-bright: rgb(60, 134, 210);
$color-theme-blue-darker: rgb(31, 68, 107);
$color-theme-purple: rgb(114, 25, 133);

$new-theme-button-bgcolor: #ffce01;
$new-theme-button-bgcolor-hover: #ffeb3b;
$new-theme-button-color: #2b2b2b;
$color-kibo-purple: rgb(120, 98, 160);
$color-kibo-green: rgb(74, 181, 109);
$color-kibo-blue: rgb(102, 194, 204);
$color-kibo-orange: rgb(247, 143, 36);

$color-kibo-purple-light: rgba(120, 98, 160, 0.1);
$color-kibo-green-light: rgba(74, 181, 109, 0.1);
$color-kibo-blue-light: rgba(102, 194, 204, 0.1);
$color-kibo-orange-light: rgba(247, 143, 36, 0.1);

/* DERIVATIVE COLORS */

$base-color: $color-framework-gray-light;

$color-standard-border: $color-framework-gray-border;
$color-standard-border-dark: $color-neutral-75;
$color-standard-link: $light-link-color;
$color-standard-text: $color-framework-black;

// message colors
$color-status-success: $color-theme-green;
$color-status-info: $color-theme-blue-bright;
$color-status-warning: $color-theme-yellow;
$color-status-error: $color-theme-red;
$color-status-indicator: rgb(114, 180, 221);

// growl colors
$growl-color-status-info: #383b3c;

// highlight colors
$color-selected: $white-color;
$color-selected-border: rgb(184, 200, 213); // rgb(162, 185, 214);

// action colors
$color-action-link: $color-theme-blue-darker;

// link button colors
$color-button-link: rgb(165, 165, 165);
$color-button-link-hover: $color-framework-black;

// focus colors
$color-button-border: $color-theme-blue-darker;
$color-button-boxshadow: $color-theme-blue-darker;

$color-action-foreground: $color-framework-black;
$color-action-background: $color-framework-gray-light;
$color-action-background-hover: darken($color-framework-gray, 5%);
$color-action-background-active: $color-framework-gray;
$color-action-outline: $color-framework-gray;
$color-action-outline-hover: darken($color-framework-gray, 5%);
$color-action-outline-active: $color-framework-gray;
$color-action-outline-focus: rgb(55, 120, 213);

$color-action-primary-foreground: $color-neutral-white;
$color-action-primary-background: $color-theme-green;
$color-action-primary-background-hover: $color-theme-green-darker;
$color-action-primary-background-active: $color-theme-green-darkest;
$color-action-primary-outline: $color-theme-green-darker;
$color-action-primary-outline-hover: $color-theme-green-darkest;
$color-action-primary-outline-active: $color-theme-green-darkest;

$color-action-secondary: rgb(245,245,245);


$color-action-toggle-foreground: $color-neutral-white;
$color-action-toggle-background: $color-theme-green;
$color-action-toggle-background-hover: darken($color-theme-green, 5%);
$color-action-toggle-background-active: $color-theme-blue;
$color-action-toggle-outline: darken($color-theme-green, 5%);
$color-action-toggle-outline-hover: darken($color-theme-green, 10%);
$color-action-toggle-outline-active: $color-theme-blue-darker;

/* OLD COLORS */

$color-neutral-lightest: rgb(242, 240, 237);
$color-neutral-light: rgb(237, 234, 230);
$color-neutral-mid-lighter: rgb(230, 226, 217);
$color-neutral-mid-light: rgb(215, 213, 210);
$color-neutral-mid: rgb(192, 192, 192);
$color-neutral-dark: rgb(154, 154, 154);
$color-neutral-darker: rgb(124, 123, 122);
$color-neutral-darkest: rgb(94, 92, 90);

$color-highlighted-background: rgb(112, 210, 219);
$color-highlighted-background-light: rgb(189, 249, 255);
$color-highlighted-foreground: $color-neutral-white;
$color-highlighted-outline: $color-neutral-dark;

$color-theme-base: $color-theme-red;
$color-theme-base-dark: $color-theme-red-darker;
$color-theme-base-darker: $color-theme-red-darker;
$color-theme-base-darkest: $color-theme-red-darkest;
$color-theme-accent: $color-theme-green;
$color-theme-support: $color-theme-blue-light;
$color-theme-support-dark: rgb(163, 184, 214); // #A3B8D6 blue
$color-theme-support-darker: $color-theme-blue-bright;
$color-theme-support-darkest: $color-theme-blue-darker;

$color-status: rgb(204, 255, 204); // #CCFFCC green
$color-warning: rgb(255, 255, 204); // #FFFFCC yellow
$color-error: rgb(255, 204, 204); // #FFCCCC red

// $color-action-primary-background: rgb(255, 156, 51);
// $color-action-primary-background-hover: adjust-lightness($color-action-primary-background, 4);
// $color-action-primary-background-active: adjust-lightness($color-action-primary-background, -6);
// $color-action-background-disabled: $color-neutral-light;
// $color-action-primary-foreground: #FFF;
// $color-action-primary-outline: adjust-lightness($color-action-primary-background, -10);

// $color-action-background: $color-neutral-light;
// $color-action-background-hover: adjust-lightness($color-action-background, 2);
// $color-action-background-active: adjust-lightness($color-action-background, -3);
// $color-action-background-depressed: adjust-lightness($color-action-background, -10);
// $color-action-background-disabled: $color-neutral-light;
// $color-action-foreground: $color-neutral-darkest;
// $color-action-outline: $color-neutral-dark;

// $color-action-link: adjust-lightness($color-highlighted-background, -15);

$color-grid-row: rgb(250, 248, 245);
$color-grid-row-alt: rgb(242, 240, 237);
$color-grid-border: rgb(153, 150, 145);
$color-grid-border-light: rgb(218, 218, 216);

$color-primary-menu-background-mid: rgb(97, 96, 94);
$color-primary-menu-background-dark: rgb(76, 73, 66);



/* META COLORS */

// Colors for Style Guide
.guide-color-neutral-transparent {
    background: $color-neutral-transparent;
}

.guide-color-neutral-white {
    background: $color-neutral-white;
}

.guide-color-neutral-lightest {
    background: $color-neutral-lightest;
}

.guide-color-neutral-light {
    background: $color-neutral-light;
}

.guide-color-neutral-mid-lighter {
    background: $color-neutral-mid-lighter;
}

.guide-color-neutral-mid-light {
    background: $color-neutral-mid-light;
}

.guide-color-neutral-mid {
    background: $color-neutral-mid;
}

.guide-color-neutral-dark {
    background: $color-neutral-dark;
}

.guide-color-neutral-darker {
    background: $color-neutral-darker;
}

.guide-color-neutral-darkest {
    background: $color-neutral-darkest;
}

.guide-color-neutral-black {
    background: $color-neutral-black;
}

.guide-color-neutral-transparent {
    background: $color-neutral-transparent;
}

.guide-color-neutral-transparent {
    background: $color-neutral-transparent;
}

.guide-color-neutral-95 {
    background: $color-neutral-95;
}

.guide-color-neutral-90 {
    background: $color-neutral-90;
}

.guide-color-neutral-75 {
    background: $color-neutral-75;
}

.guide-color-neutral-70 {
    background: $color-neutral-70;
}

.guide-color-neutral-45 {
    background: $color-neutral-45;
}

.guide-color-neutral-30 {
    background: $color-neutral-30;
}

.guide-color-neutral-20 {
    background: $color-neutral-20;
}

.guide-base-color {
    background: $base-color;
}

.guide-color-theme-base {
    background: $color-theme-base;
}

.guide-color-theme-base-dark {
    background: $color-theme-base-dark;
}

.guide-color-theme-accent {
    background: $color-theme-accent;
}

.guide-color-theme-support {
    background: $color-theme-support;
}

.guide-color-theme-support-dark {
    background: $color-theme-support-dark;
}

.guide-color-theme-support-darker {
    background: $color-theme-support-darker;
}

.guide-color-theme-support-darkest {
    background: $color-theme-support-darkest;
}

.guide-color-status {
    background: $color-status;
}

.guide-color-warning {
    background: $color-warning;
}

.guide-color-error {
    background: $color-error;
}

.guide-color-action-link {
    background: $color-action-link;
}

.guide-color-action-primary-background {
    background: $color-action-primary-background;
}

.guide-color-action-primary-background-hover {
    background: $color-action-primary-background-hover;
}

.guide-color-action-primary-background-active {
    background: $color-action-primary-background-active;
}

.guide-color-selected {
    background: $color-theme-support;
}

.color-kibo-purple {
    color: $color-kibo-purple;
}

.color-kibo-green {
    color: $color-kibo-green;
}

.color-kibo-blue {
    color: $color-kibo-blue;
}

.color-kibo-orange {
    color: $color-kibo-orange;
}
