/* primary colors */
$black-color:                   rgb(0, 0, 0);                                               /* #000000              000, 000, 000 */
$white-color:                   rgb(255, 255, 255);                                         /* #ffffff              255, 255, 255 */

/* theme colors */
$gray-text-dark:                darken($white-color, 35);                                   /* #a5a5a5 --> #a6a6a6  165, 165, 165 */
$gray-text-light:               darken($white-color, 36);                                   /* #a3a3a3              163, 163, 163 */
$card-border:                   darken($white-color, 6);                                    /* #f1f1f1 --> #f0f0f0  240, 240, 240 */
$input-border:                  $card-border;
$light-bg:                      darken($white-color, 9);                                    /* #eaeaea --> #e8e8e8  232, 232, 232 */
$label-color:                   darken($white-color, 32);                                   /* #acacac --> #adadad  172, 172, 172 */
$nav-element-text:              darken($white-color, 35);                                   /* #a5a5a5 --> #a6a6a6  165, 165, 165 */
$call-to-action-color:          $nav-element-text;
$nav-element-active:            lighten($black-color, 25);                                  /* #3f3f3f --> #404040  063, 063, 063 */
$input-element-active:          $nav-element-active;
$nav-element-active-border:     darken($white-color, 5);                                    /* #f3f3f3 --> #f2f2f2  242, 242, 242 */
$light-bg-gray:                 darken($white-color, 9);                                    /* #e9e9e9 --> #e8e8e8  233, 233, 233 */
$pill-bg-gray:                  darken($white-color, 5);                                    /* #f3f3f3 --> #f2f2f2  242, 242, 242 */
$light-border-gray:             $light-bg-gray;
$dark-bg:                       darken($white-color, 3);                                    /* #f7f7f7              247, 247, 247 */
$typehead-pill-border-color:    darken($white-color, 11);                                   /* #e2e2e2 --> #e3e3e3  226, 226, 226 */
$dark-border-gray:              $typehead-pill-border-color;
$card-button-bg:                #fafafa;                                                    /* could not filter for effect        */
$card-button-press-bg:          darken($white-color, 4);                                    /* #f5f5f5              245, 245, 245 */
$list-item-selector:            $card-button-press-bg;
$list-item-active:              $card-button-press-bg;
$card-button-text-color:        darken($white-color, 38);                                   /* #9e9e9e              158, 158, 158 */
$glyph-color:                   $card-button-text-color;
$input-text-color:              $card-button-text-color;
$gray-border-color:             darken($white-color, 8);                                    /* #ebebeb              250, 250, 250 */
$light-gray-border-color:       darken($white-color, 13);                                   /* #dfdfdf --> #dedede  222, 222, 222 */
$med-gray-border-color:         darken($white-color, 12);                                   /* #dfdfdf --> #dedede  222, 222, 222 */
$dark-color:                    lighten($black-color, 25);                                  /* #3f3f3f --> #404040  063, 063, 063 */
$textarea-color:                lighten($black-color, 20);                                  /* #333333              051, 051, 051 */
$html-editor-toolbar:           lighten($black-color, 47);                                  /* #777777 --> #787878  120, 120, 120 */
$valid-green:                   adjust_hue(saturate(lighten($black-color, 44), 54), 165);   /* #34ae90 --> #34ac8e  052, 174, 144 */
$valid-green-active:            adjust_hue(saturate(lighten($black-color, 43), 65), 166);   /* #30b695 --> #26b954  048, 182, 149 */
$error-red:                     adjust_hue(saturate(lighten($black-color, 45), 100), 12);   /* #e42d00 --> #e62e00  228, 045, 000 */
$menu-btn-active-border:        adjust_hue(saturate(lighten($black-color, 36), 62), 165);   /* #23977a --> #239578  035, 151, 122 */
$menu-btn-active-background:    adjust_hue(saturate(lighten($black-color, 41), 57), 165);   /* #2ca385 --> #2da587  044, 163, 133 */
$item-switch-color:             rgba(lighten($black-color, 26), .32);                       /* #424242              066, 066, 066 */

$vertical-ellipsis-active:      lighten($black-color, 13);                                  /* #222222 --> #212121  033, 033, 033 */
$dropdown-list-shadow:          rgba($black-color, 0.09);                                   /* #000000              000, 000, 000 */
$dropdown-list-outline:         darken($white-color, 14);                                   /* #dadada --> #dbdbdb  219, 219, 219 */
$dropdown-icon-active:          lighten($black-color, 22);                                  /* #383838              056, 056, 056 */