@mixin taco-content {


  /* GENERIC */

  html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0px;
    padding: 0px;
  }

  a {
    text-decoration: none;
    color: $color-action-link;
    
    &:hover {
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  /* CONTENT CONTAINER */

  .#{$vprefix}content-container {
    .#{$vprefix}content-header {
      border-bottom: 1px solid border-for($color-neutral-95);
      padding: 10px 20px;

      &.#{$vprefix}has-message {
        padding-top: 80px;
      }
      
      h1 {
        font-size: 21px;
        font-weight: bold;
        line-height: 30px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      p {
        font: $font-message; 
      }
      
	  .#{$vprefix}back{
		@include icon-font($glyph-back);
		height:auto;
		width:auto;
		min-height: 20px;
	  }

      .#{$vprefix}actions {
        .#{$vprefix}action {
          float: none;
          margin-left: $font-size;
        }

        .#{$prefix}form-item {
          margin: 0px;
        }
      }
    }

    .#{$vprefix}content-body {
      padding: 20px 20px 10px;

      .#{$prefix}table-layout-cell {
        vertical-align: top;
      }
    }
  }

  .#{$vprefix}website-sidebar-splitter {
    background-color: $color-framework-gray-border;
  }

  .#{$vprefix}website-tree-backcolor {
    background-color: $color-framework-gray-lighter !important;
  }

  .#{$vprefix}website-sidebar {
    overflow: visible !important;

    .#{$prefix}container-docked-top {
      visibility: visible !important;

      .#{$vprefix}collapse-handle {
        background-color: $color-neutral-90;
        border-color: $color-neutral-75;
        border-style: solid;
        border-width: 1px 0px 1px 1px;
        left: -15px;
        position: absolute;
        top: 13px;
        @include border-radius(2px 0px 0px 2px);
      }
    }
  }

  .#{$vprefix}content-sidebar,
  .#{$vprefix}sidebar-modal {
    background-color: $color-neutral-white;
    border-color: border-for($color-neutral-95);
    border-style: solid none none solid;
    border-width: 0px 0px 0px 1px;
    position: relative;
    z-index: 3;
  }

  .#{$vprefix}sidebar-modal {
    &.sliding {
      @include transition-property(left, right);
      @include transition-duration(0.5s, 0.5s);
      @include transition-timing-function(ease-out, ease-out);
    }

    hr {
      border-color: border-for($color-neutral-95);
      border-style: solid;
      border-width: 1px 1px 0px 1px;
      width: 100%;
    }
  }
	
  .#{$vprefix}sidebarlist {
    margin: 0px 20px;

    h2 {
      border-bottom: 1px solid border-for($color-neutral-95);
      font-size: px-to-rem(24);
      font-weight: normal;
      line-height: px-to-rem(30);
      margin-bottom: 15px;
      padding: 17px 10px;
    }
    .#{$vprefix}sidebarlist-list-item {
      font-size: px-to-rem(14);
      line-height: px-to-rem(21);
      margin: px-to-rem(7) 10px;

      &.#{$prefix}item-selected {
        font-weight: bold; 
      }
    }
  }

  .#{$vprefix}sidebar-modal-seo, .#{$vprefix}sidebar-modal-general, .#{$vprefix}sidebar-modal-facets {
    .#{$prefix}toolbar-docked-top{
      border-bottom-width: px-to-rem(1);
      border-bottom-style: solid;
      border-bottom-color: #bfbfbf;
      padding: 17px 30px;
      height: px-to-rem(64);
      .#{$prefix}toolbar-text, a{
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 3rem;
        text-decoration: none;
      }
    }

    // .#{$prefix}panel-body{
    //   overflow-y: scroll;
    //   padding-top: px-to-rem(6);
    //   padding-left: px-to-rem(8);
    //   hr{
    //     border: 0 none;
    //     border-bottom-width: px-to-rem(1);
    //     border-style: solid;
    //     border-color: lightgray;
    //   }
    //   .#{$prefix}form-item-label-top {
    //     margin-top: px-to-rem(4);
    //     padding-bottom: 3px;
    //   }
    // }
    
   .#{$vprefix}sidebar-submenu {
      border: 0px;
      border-top-width: 1px;
      border-bottom-width: 1px;
      border-color: lightgray;
      border-style: solid; 
      margin-top: 20px;
        
      .#{$prefix}panel-header-text{
        font-size: 16px;
      }

      .#{$prefix}panel-header-body {
        .#{$prefix}box-inner {
          margin-top: px-to-rem(0);
        }
        .#{$prefix}component {
          left: 20px !important;
        }
        .#{$prefix}tool {
          left: 0px !important;
          top: 2px !important;
        }
      }

      .#{$prefix}panel-body {
        background: lightgray;
        padding-left: px-to-rem(5);
        padding-right: px-to-rem(5);
        overflow-y: hidden;

        hr {
          border: 0 none;
          border-bottom-width: px-to-rem(1);
          border-style: dashed;
          border-color: gray;
        }
      }
   }

   .#{$vprefix}sublabel-text{
    font-size: px-to-rem(10);
    color: black;
    font-style: italic;
    padding-top: px-to-rem(9);
   }
    .#{$vprefix}sublabel-text-last{
      font-size: px-to-rem(10);
      color: black;
      font-style: italic;
      padding-top: px-to-rem(0);
    }
     .#{$vprefix}submenu-radio-group{
      margin-top: -3px;
      margin-bottom: -3px;
     }
  }
  
.#{$vprefix}required-label-text{
  .#{$prefix}form-item-label{
    color: black;
  }

  .#{$prefix}form-item-label:before{
    color: red;
    content: '* ';
  }
}

/*

EXTJS Checkbox slider

*/
.#{$vprefix}onOffSwitchLabel{
  margin-right: 6px;
  font-size: 14px;
  padding-top: 7px;
}
.#{$vprefix}onoffswitch {
  -moz-transition: background-color 0.3s ease-in 0s; -webkit-transition: background-color 0.3s ease-in 0s;
  -o-transition: background-color 0.3s ease-in 0s; transition: background-color 0.3s ease-in 0s; 
    position: relative; 
    width: 62px;
    height: 24px;
    border-radius: 18px;
    background: lightgray;
    .#{$prefix}form-checkbox{
      background: none;
      background-color: white !important;
      border-radius: 10px;
      height: 20px !important;
      width: 20px !important;
      margin-top: -4px;
      cursor: pointer;
    }
    .#{$prefix}form-item-label{
      display: block; 
      overflow: hidden; 
      cursor: pointer; 
      border: 2px solid #999999; 
      border-radius: 20px;
    } 
    
    .#{$prefix}form-item-body{ 
      width: 50%; 
      height: 20px; 
      padding: 0; 
      line-height: 20px;
      font-size: 14px; 
      color: white;
      font-weight: bold;
      padding-top: 6px;
      padding-bottom: 4px;
      padding-left: 3px;
    }
    .#{$prefix}form-item-body:after{
      content: 'Off';
      padding-right: 10px;
      color: black;
      float: right;
    }
    &.#{$prefix}form-cb-checked{
      background: #25ae90;
      .x-form-item-body{
        padding-top: 6px;
        padding-right: 3px;
        padding-left: 0px;
      }
      .#{$prefix}form-item-body:before{
        content: 'On';
        padding-left: 10px;
      }
      .#{$prefix}form-item-body:after{
        content: '';
        padding-right: 0px;
      }
      input{
        float: right;
        //margin-right: 2px;
      }
  }
}

/*

End EXTJS check box slider

*/

  /* SITE EDITOR */

  .#{$vprefix}content-inline-editor {
    .#{$vprefix}content-body {
      margin: 0px;
      padding: 0px;
    }

    .#{$vprefix}site-editor {
      &> .#{$prefix}panel-body {
        overflow-y: hidden !important;
      }
    }
  }

  .#{$vprefix}widget-accordion-view {
    .heading {
      font-size: px-to-rem(20);
      font-weight: bold;
      line-height: px-to-rem(20);
      padding: 12px 20px 8px 29px;
      text-transform: capitalize;
    }
    .items {
      border-bottom: 1px solid border-for($color-neutral-95);
      overflow: hidden;
      padding-left: 19px;
    }
    .collapsed {
      @include box-shadow(inset 0px -1px border-for($color-neutral-95));

      .items {
        display: none;
      }
    }

    .widget-source {
      display: inline-block;
      margin: 0px 10px 10px 0px;
      vertical-align: top;
      width: 80px;

      .icon {
        background: none no-repeat scroll 50% 50% $color-neutral-white;
        background-size: cover;
        border: 1px solid border-for($color-neutral-95);
        height: 75px;
        padding: 3px;
        width: 75px;
        @include border-radius(2px);
      }
      .label {
        font-size: px-to-rem(12);
        line-height: px-to-rem(14);
        padding: 9px 1px;
        text-align: center;
      }

      &:nth-of-type(3n) {
        margin-right: 0px;
      }
    }
  }

  .dropzone-shim {
    @include transition;
  }
  .dropzone-shim-hover {
    background-color: #CFC;
  }
  .#{$vprefix}reorderable-widget {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }

  .#{$vprefix}reorderable-placeholder {
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #333;
    @include border-radius(2px);
  }
  

}