/* font family */
$font-family:					'proxima-nova', sans-serif;
$icon-font:						'mozicons';

/* font sizes */
$normal-font:					13px;
$normal-font-link:				12px;
$label-font:					12px;
$table-heading-font:			12px;
$label-link-font:				11px;
$pill-font:						11px;
$tag-font:						 8px;
$input-font:					15px;
$breadcrumb-font:				18px;
$card-title-font:				18px;
$huge-font:						60px;
$boxselect-font:				14px;