@mixin taco-forms {
	.#{$prefix}form-field {
		border: 0;
		border-radius: 0;
		border-bottom: 1px solid $card-border;
	}

	.#{$prefix}trigger-noedit {
		border: 0;
		border-width: 1px !important;
		border-radius: 0;
		border-bottom: 1px dotted $card-border;
	}

	.#{$prefix}field-form-focus {
		border-color: $valid-green;
		box-shadow: 0 1px 0 0 $valid-green;

		&.#{$prefix}trigger-noedit {
			box-shadow: none;
			border-bottom: 1px dotted $card-border;
		}
	}

	.#{$prefix}form-item-label {
		color: $label-color;
		font-size: $label-link-font;

		/* override external styles */
		font-weight: normal;
	}

	.#{$prefix}form-type-text {
		margin-top: -1px;

		.#{$prefix}form-item-required {
			color: $label-color;

			&:before {
				content: '';
				display: none;
			}

			&:after {
				content: ' *';
				color: $valid-green;
			}
		}

		&.#{$prefix}form-invalid {

			.#{$prefix}form-item-required {
				color: $error-red;

				&:after {
					color: $error-red;
				}
			}
		}
	}

	/* html editor */
	.#{$prefix}html-editor-container {
		&.#{$prefix}box-layout-ct {
			min-width: 762px;
		}

		> .#{$prefix}box-inner {
			min-width: 762px;
		}
	}

	.#{$prefix}html-editor-input {
		border-left: none;
		border-right: none;
		border-color: $card-border;
		min-width: 762px;
	}

	.#{$prefix}html-editor-tb {
		background: $white-color;
		border: 1px solid $card-border;
		border-right: none;
		border-color: $card-border !important;
		height: 30px;
		border-radius: $border-radius-small;
		min-width: 762px;

		.#{$prefix}horizontal-box-overflow-body {
			min-width: 711px;

			.#{$prefix}box-target {
				min-width: 711px;
			}
		}

		.#{$prefix}toolbar-separator {
			/* override external styles */
			display: none !important;
		}

		.#{$prefix}toolbar-item {
			padding: 6px 16px;
			border-radius: 0;
			position: relative !important;
			left: auto !important;
			background-color: $white-color;
			border-top: none;
			border-bottom: none;
			border-left: none;
			border-right: 1px solid $gray-border-color;

			&:hover {
				background: $white-color;
				text-decoration: none;
			}

			&.#{$prefix}btn-default-toolbar-small {
				display: inline-block !important;

				&:active {
					background: $white-color;
				}
			}

			.#{$prefix}btn-default-toolbar-small-pressed {
				background: $white-color;
			}

			.#{$prefix}btn-icon-el {
				background-image: none;
				font-family: $icon-font;
				left: -5px;
				&:after {
					color: $html-editor-toolbar;
					font-size: $input-font;
				}

				&.#{$prefix}edit-justifyright {
					&:after {
						content: '\E009';
					}
				}

				&.#{$prefix}edit-justifyleft {
					&:after {
						content: '\E00A';
					}
				}

				&.#{$prefix}edit-justifycenter {
					&:after {
						content: '\E00B';
					}
				}

				&.#{$prefix}edit-backcolor {
					&:after {
						content: '\E600';
					}
				}

				&.#{$prefix}edit-forecolor {
					&:after {
						content: '\E027';
					}
				}

				&.#{$prefix}edit-decreasefontsize {
					&:after {
						content: '\E002';
					}
				}

				&.#{$prefix}edit-increasefontsize {
					&:after {
						content: '\E003';
					}
				}

				&.#{$prefix}edit-underline {
					&:after {
						content: '\E001';
					}
				}

				&.#{$prefix}edit-italic {
					&:after {
						content: '\E007';
					}
				}

				&.#{$prefix}edit-bold {
					&:after {
						content: '\E008';
					}
				}

				&.#{$prefix}edit-createlink {
					&:after {
						content: '\E006';
					}
				}

				&.#{$prefix}edit-insertorderedlist {
					&:after {
						content: '\E004';
					}
				}

				&.#{$prefix}edit-insertunorderedlist {
					&:after {
						content: '\E005';
					}
				}

				&.#{$prefix}edit-sourceedit {
					&:after {
						content: '\E000';
					}
				}
			}
		}
	}

	.#{$prefix}form-text {
		padding: 0;
	}

	.#{$prefix}form-trigger-wrap {
		border: none;

		input {
			color: $card-button-text-color;
		}
	}

	.#{$prefix}btn {
		font-family: $font-family;
		border-radius: $border-radius-small;
		background-color: $card-button-bg;
		border: 1px solid $gray-border-color;

		.#{$prefix}btn-inner-center {
			font-size: $normal-font-link;
			color: $card-button-text-color;
		}
	}

	.#{$prefix}btn-action-medium-over,
	.#{$prefix}btn-link-medium-over {
		/* override external styles */
		-webkit-box-shadow: none;
		box-shadow: none;

		.#{$prefix}btn-inner-center {
			color: $dark-color;
		}

		&:active {
			background-color: $card-button-press-bg;
		}
	}

	.#{$prefix}btn-action-medium-focus,
	.#{$prefix}btn-link-medium-focus {
		box-shadow: none;

		.#{$prefix}btn-inner-center {
			text-decoration: none;
		}
	}

	.#{$prefix}boxselect-list {
		border-bottom: 1px solid $card-border;
		box-shadow: none;

		.#{$prefix}boxselect-item {
			border: 1px solid $typehead-pill-border-color;
			border-width: 1px !important;
			border-radius: $border-radius-small;
			background-color: $white-color;
			font-size: $boxselect-font;
			text-transform: capitalize;
			padding: 9px 27px 9px 14px !important;

			.#{$prefix}tab-close-btn {
				background-image: none;
				opacity: 1;
				width: 27px;
				height: 36px;
				top: -1px;
				border-left: 1px solid $light-bg-gray;

				&:after {
					content: '\E011';
					left: 7px;
					top: 18px;
					font-family: $icon-font;
					font-size: $label-font;
					color: $typehead-pill-border-color;
					display: block;
					position: absolute;
				}
			}
		}
	}
}