@mixin taco-forms {
  @-webkit-keyframes button-processing {
    from {
      background-position: 0px 0px;
    } to {
      background-position: 12px 12px;
    }
  }

  .#{$vprefix}button-processing {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 10%, transparent 10%, transparent 40%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0.1) 60%, transparent 60%, transparent 90%, rgba(0, 0, 0, 0.1) 90%);
    background-size: 12px 12px;
    -webkit-animation: button-processing 1s linear 0s infinite;
  }

  /* PRODUCT FORM */

  .#{$vprefix}product-admin-form {
    .#{$vprefix}product-admin-subform {
      padding-top: 30px;
    }
  }

  .#{$vprefix}override-form {
    &.active {
      margin-top: 30px;
      position: relative;

	  .#{$vprefix}override-form-inner {
		border: 1px dashed border-for($color-neutral-white);
		padding: 20px 20px 20px;


		> .#{$prefix}mask {
		  background-color: transparent;
		  background-image: -webkit-repeating-linear-gradient(-45deg, $color-neutral-white 0%, $color-neutral-white 25.5%, $color-neutral-black 25.5%, $color-neutral-black 51%, $color-neutral-white 51%, $color-neutral-white 76.5%, $color-neutral-black 76.5%, $color-neutral-black 100%);
		  background-size: 6px 6px;
		  opacity: 0.06;
		}
		
		.x-html-editor-wrap {
			.x-mask{			    
				opacity:0;
			}
		}
	  }

      .#{$vprefix}override-checkbox {
        display: block;
      }
    }


    .#{$vprefix}override-checkbox {
      display: none;
      position: absolute;
      top: 0px;
      right: 100px;
      z-index: 101; // matches value of modal mask; this sits just under b/c mask comes later in the DOM

      .#{$prefix}form-cb-wrap {
        background-color: $color-neutral-white;
        border-color: border-for($color-neutral-white);
        border-style: dashed;
        border-width: 0px 1px 1px;
        padding: 4px 8px;
      }

      &.#{$vprefix}auto-z-index {
        z-index: auto;
      }
    }
  }
  

  .#{$vprefix}attribute-form {    

    .#{$prefix}boundlist {
      display: inline-block;
      vertical-align: top;
    }
  }

	.#{$vprefix}attribute-form-required .x-header-text::before{
		color: #df3018;
		content: "* ";
	}
  



  /* PRODUCT TYPE FORM */

  .#{$vprefix}producttype-attribute-panel {}

  /* PRODUCT OPTION */

  .#{$vprefix}product-options-grid {

    tr {
      @include transition(opacity 0.5s);
    }

    .invalidate {
      cursor: pointer;
      opacity: 0;
      @include icon-font($glyph-cancel);
      @include transition(opacity 0.5s);

      &:hover {
        opacity: 1;
      }
    }

    .invalid-record {
      opacity: 0.5;

      .invalidate {
        opacity: 1;
      }
    }

    .edit-option {
      margin-left: px-to-rem(6px);
      color: $color-neutral-70;
      font-size: px-to-rem(10px);
    }

  }

  

}