@mixin taco-forms {
    .#{$prefix}form-field {
        border: 0;
        border-bottom: 1px solid $input-border;
        @include border-radius-xbrowser(0);
    }

    .ace_editor {
        font-size: 12px !important;
    }

    .#{$prefix}trigger-noedit {
        @include border-radius-xbrowser(0);
        border-width: 1px !important;
    }

    .#{$prefix}field-form-focus {
        border-color: $valid-green;
        @include color-blur-outer-shadow($valid-green, 1, 0, 1px, 0, 0);

        &.#{$prefix}form-invalid-field {
            border-color: $error-red;
            @include color-blur-outer-shadow($error-red, 1, 0, 1px, 0, 0);
        }
    }

    .#{$prefix}panel {
        &.#{$vprefix}content-navcontainer {
            > .#{$prefix}grid-row-editor {
                & + div {
                    & + div {
                        & + .#{$prefix}grid-with-row-lines {
                            tr {

                                &.#{$prefix}grid-data-row {
                                    &.#{$prefix}grid-row-selected {
                                        .#{$prefix}grid-td {
                                            border-bottom: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    /**
     * Removes validation border from inline editor
     */
    .#{$prefix}grid-row-editor {
        input {
            border-bottom: none;
        }

        .#{$prefix}panel-body {
            background-color: $white-color;
            border-color: $valid-green !important;
        }
    }

    .#{$prefix}form-item-label {
        color: $label-color;
        font-size: $label-link-font;

        /* override external styles */
        font-weight: normal;
    }

    .#{$prefix}form-trigger-wrap {
        .#{$prefix}form-text {
            border-width: 1px;
        }
    }

    .#{$prefix}form-type-text {
        margin-top: -1px;

        .#{$prefix}form-item-required {
            color: $label-color;

            &:before {
                content: '';
                display: none;
            }

            &:after {
                color: $valid-green;
                content: ' *';
            }
        }

        &.#{$prefix}form-invalid {

            .#{$prefix}form-item-required {
                color: $error-red;

                &:after {
                    color: $error-red;
                }
            }
        }
    }

    .#{$prefix}html-editor-input {
        border-color: $input-border;
        border-left: none;
        border-right: none;
    }

    .#{$prefix}html-editor-tb {
        background: $white-color;
        border: 1px solid $input-border;
        border-color: $input-border !important;
        @include border-radius-xbrowser($border-radius-small);
        height: 30px;

        .#{$prefix}horizontal-box-overflow-body {
            min-width: 711px;

            .#{$prefix}box-target {
                min-width: 711px;
            }
        }

        .#{$prefix}toolbar-separator {
            /* override external styles */
            display: none !important;
        }

        .#{$prefix}toolbar-item {
            background-color: $white-color;
            border-bottom: none;
            border-left: none;
            @include border-radius-xbrowser(0);
            border-right: 1px solid $gray-border-color;
            border-top: none;
            left: auto !important;
            padding: 6px 16px;
            position: relative !important;

            &:last-child {
                border-right: none;
            }

            &:hover {
                background: $white-color;
                text-decoration: none;
            }

            &.#{$prefix}btn-default-toolbar-small {
                display: inline-block;

                &:active {
                    background: $white-color;
                }
            }

            .#{$prefix}btn-default-toolbar-small-pressed {
                background: $white-color;
            }

            .#{$prefix}btn-icon-el {
                background-image: none;
                font-family: $icon-font;
                left: -5px;
                &:after {
                    color: $html-editor-toolbar;
                    font-size: $input-font;
                }

                @include use-glyph('edit-justifyright', $glyph-rightalign);
                @include use-glyph('edit-justifyleft', $glyph-leftalign);
                @include use-glyph('edit-justifycenter', $glyph-centeralign);
                @include use-glyph('edit-backcolor', $glyph-highlight);
                @include use-glyph('edit-forecolor', $glyph-forecolor);
                @include use-glyph('edit-decreasefontsize', $glyph-smaller);
                @include use-glyph('edit-increasefontsize', $glyph-larger);
                @include use-glyph('edit-underline', $glyph-underline);
                @include use-glyph('edit-italic', $glyph-italic);
                @include use-glyph('edit-bold', $glyph-bold);
                @include use-glyph('edit-createlink', $glyph-link);
                @include use-glyph('edit-insertorderedlist', $glyph-numberedlist);
                @include use-glyph('edit-insertunorderedlist', $glyph-bulletedlist);
                @include use-glyph('edit-sourceedit', $glyph-code);
            }
        }
    }

    .#{$prefix}form-text {
        padding: 0;
    }

    .#{$prefix}form-trigger-wrap {
        border: none;

        input {
            color: $input-text-color;
        }
    }

    .#{$prefix}btn {
        // background-color: $card-button-bg;
        // border: 1px solid $gray-border-color;
        @include border-radius-xbrowser($border-radius-small);
        font-family: $font-family;

        .#{$prefix}btn-inner-center {
            color: $card-btn-text-color;
            font-size: $normal-font-link;
        }
    }

    .#{$prefix}btn-action-medium-over,
    .#{$prefix}btn-link-medium-over {
        /* override external styles */
        box-shadow: none;
        -webkit-box-shadow: none;

        .#{$prefix}btn-inner-center {
            color: $dark-color;
        }

        &:active {
            background-color: $card-button-press-bg;
        }
    }

    .#{$prefix}btn-action-medium-focus,
    .#{$prefix}btn-link-medium-focus {
        box-shadow: none;

        .#{$prefix}btn-inner-center {
            text-decoration: none;
        }
    }

    .#{$prefix}boxselect-list {
        border-bottom: 1px solid $input-border;
        box-shadow: none;
        min-height: 42px;

        .#{$prefix}boxselect-input {
            top: 13px !important;
        }

        .#{$prefix}boxselect-item {
            background-color: $white-color;
            border: 1px solid $dark-border-gray;
            @include border-radius-xbrowser($border-radius-small);
            border-width: 1px !important;
            font-size: $boxselect-font;
            padding: 9px 27px 9px 14px !important;
            text-transform: capitalize;

            .#{$prefix}tab-close-btn {
                background-image: none;
                opacity: 1;
                width: 27px;
                height: 36px;
                top: -1px;
                border-left: 1px solid $light-border-gray;

                &:after {
                    color: $dark-border-gray;
                    content: $glyph-close;
                    display: block;
                    font-family: $icon-font;
                    font-size: $label-font;
                    left: 7px;
                    position: absolute;
                    top: 18px;
                }
            }
        }
    }

    .#{$prefix}form-field {
        .#{$prefix}field-form-focus
    }

    .#{$prefix}boundlist-floating {
        background-color: $white-color;
        border: 1px solid $dropdown-list-outline;
        @include border-radius-xbrowser($border-radius-small);
        @include outer-shadow(0.09, 6px, 0, 1px);

        li.#{$prefix}boundlist-item,
        div.#{$prefix}boundlist-item {
            border-bottom: 1px solid $list-item-active !important;
            @include border-radius-xbrowser(0);
            border-width: 1px;
            color: $dark-color;
            cursor: pointer;
            font-size: $normal-font-link;
            line-height: 24px;
            padding: 6px 12px;

            &.#{$prefix}boundlist-selected {
                background-color: $dark-bg !important;
                border-left: 3px solid $valid-green !important;
            }

            span {
                color: $gray-text-light;
                font-size: $normal-font-link;
            }

            &:hover,
            &.#{$prefix}boundlist-item-over {
                background-color: $dark-bg !important;
                color: $input-element-active !important;

                span {
                    color: $input-element-active;
                }
            }

            &:active,
            &:focus {
                background-color: $dark-bg;
                color: $input-element-active;
            }
        }
    }

    .#{$prefix}form-checkbox {
        height: 16px;

        &.#{$prefix}form-checkbox-focus,
        &:focus {
            @include inner-shadow-blur ($form-focus-color, 2px, 2px, 0, 0);
            @include border-radius-xbrowser($border-radius-small);
        }
    }

    .#{$prefix}form-radio {
        &.#{$prefix}form-radio-focus,
        &:focus {
            @include inner-shadow-blur ($form-focus-color, 2px, 2px, 0, 0);
            @include border-radius-xbrowser(45px);
        }
    }

    // Read Only Fields
    .#{$prefix}form-readonly input.#{$prefix}form-text {
        cursor: not-allowed;
    }
}