@mixin taco-locationinventory {
	
	.#{$vprefix}locationiventory {
		.#{$prefix}docked-top {
			background-color: transparent;

			label {
				color: $nav-element-active;
				font-size: 16px;
			}

			.#{$prefix}form-text {
				text-indent: 5px;
			}
		}
	}
}