@mixin taco-messages {

    .#{$vprefix}notifierbar {
        background-color: $color-status-info;
        font-size: 14px;
        line-height: 20px;
        margin-top: -20px;
        padding-bottom: 0px;

        &.#{$vprefix}growl {
            background-color: $growl-color-status-info;
            border-color: $growl-color-status-info;
            border-radius: 10px;
            font-size: 20px;
            opacity: 1;
            transition-duration: .3s;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.65,.29,.93,.75);
            text-align: center;


            &.hidden {
                 opacity: 0;
            }

            .#{$prefix}window-body {
                border-color: $growl-color-status-info;
            }

        }

        .#{$prefix}window-body {
            background-color: transparent;
            border-color: $color-status-info;
            color: $color-neutral-white;
        }

        .message {
            display: inline-block;
            white-space: pre;
        }

        .status-icon {
            display: inline-block;
            left: 0px;
            top: 0px;
            @include icon-font($glyph-info);
            position: absolute;

            &::after {
                color: $color-neutral-white;
            }
        }

        .close-icon {
            cursor: pointer;
            display: inline-block;
            right: 0px;
            top: 0px;
            @include icon-font($glyph-close);
            position: absolute;

            &::after {
                color: $color-neutral-white;
            }
        }

        &.#{$vprefix}notifierbar-success {
            background-color: $color-status-success;

            .#{$prefix}window-body {
                border-color: $color-status-success;
            }

            .status-icon {
                &::after {
                    content: $glyph-success;
                }
            }
        }

        &.#{$vprefix}notifierbar-warning {
            background-color: $color-status-warning;

            .#{$prefix}window-body {
                border-color: $color-status-warning;
            }

            .status-icon {
                &::after {
                    content: $glyph-warning;
                }
            }
        }

        &.#{$vprefix}notifierbar-error {
            background-color: $color-status-error;

            .#{$prefix}window-body {
                border-color: $color-status-error;
            }

            .status-icon {
                &::after {
                    content: $glyph-error;
                }
            }
        }
    }

    .#{$vprefix}bulk-actions-message {
        text-align: center;
        @include icon-font($glyph-info, 84px, transparentize(rgb(0, 0, 255), 0.75));
        height: auto;
        width: auto;

        .message-heading {
            font-size: 24px;
            padding: 124px 0px 16px;
        }

        .show-link {
            color: $color-framework-blue-dark;
            cursor: pointer;
            padding-left: 4px;
        }

        &::after {
            left: 137px;
            top: 10px;
        }

        &.success {
            &::after {
                color: transparentize(rgb(0, 255, 0), 0.75);
                content: $glyph-success;
            }
        }

        &.error {
            &::after {
                color: transparentize(rgb(255, 0, 0), 0.75);
                content: $glyph-error;
            }
        }
    }
}
