@mixin taco-messages {

    .#{$vprefix}notifierbar {
        background-color: $color-status-info;
        display: block;
        font-size: 14px;
        font-family: $font-family;
        line-height: 20px;
        height: auto;
        left: 0;
        margin: 0px auto;
        overflow: hidden;
        padding-bottom: 0px;
        position: fixed;
        width: 50%;
        right: 0 !important;
        z-index: 100000;
        text-align: center;
        top: -80px;
        transition-property: opacity, top;
        transition-duration: 100ms, 300ms;
        transition-timing-function: cubic-bezier(.17,.67,.83,.67);
        opacity: 0;
        @include border-radius(0 0 5px 5px);

        &.#{$vprefix}shown {
            opacity: 1;
            top: 0;
        }

        &.#{$vprefix}growl {
            background-color: $growl-color-status-info;
            border-color: $growl-color-status-info;
            border-radius: 10px;
            font-size: 20px;
            opacity: 1;
            transition-duration: .3s;
            transition-property: opacity;
            transition-timing-function: cubic-bezier(.65,.29,.93,.75);
            text-align: center;


            &.hidden {
                 opacity: 0;
            }

            .#{$prefix}window-body {
                border-color: $growl-color-status-info;
            }

        }

        .#{$prefix}window-body {
            background-color: transparent;
            border-color: $color-status-info;
            color: $color-neutral-white;
        }

        .message {
            color: $white-color;
            display: inline-block;
            overflow-wrap: break-word;
            padding: 5px;
            word-wrap: break-word;

            div {
                padding: 5px;
            }
        }

        .status-icon {
            display: inline-block;
            left: 0px;
            top: 0px;
            @include icon-font($glyph-info);
            position: absolute;

            &::after {
                color: $color-neutral-white;
            }
        }

        .close-icon {
            cursor: pointer;
            display: inline-block;
            right: 8px;
            top: 7px;
            @include icon-font($glyph-close);
            position: absolute;

            &::after {
                color: $light-bg-gray;
            }

            &:hover {
                &::after {
                    color: $white-color;
                }
            }
        }

        &.#{$vprefix}notifierbar-success {
            background-color: $valid-green;
            z-index: 100001;

            .#{$prefix}window-body {
                border-color:$valid-green;
            }

            .status-icon {
                &::after {
                    content: $glyph-success;
                }
            }
        }

        &.#{$vprefix}notifierbar-warning {
            background-color: $color-status-warning;

            .#{$prefix}window-body {
                border-color: $color-status-warning;
            }

            .status-icon {
                &::after {
                    content: $glyph-warning;
                }
            }
        }

        &.#{$vprefix}notifierbar-error {
            background-color: $error-red;
            z-index: 100000;

            .#{$prefix}window-body {
                border-color: $error-red;
            }

            .status-icon {
                &::after {
                    content: $glyph-error;
                }
            }
        }
    }

    .#{$vprefix}bulk-actions-message {
        text-align: center;
        @include icon-font($glyph-info, 84px, transparentize(rgb(0, 0, 255), 0.75));
        height: auto;
        width: auto;

        .message-heading {
            font-size: 24px;
            padding: 124px 0px 16px;
        }

        .show-link {
            color: $color-framework-blue-dark;
            cursor: pointer;
            padding-left: 4px;
        }

        &::after {
            left: 137px;
            top: 10px;
        }

        &.success {
            &::after {
                color: transparentize(rgb(0, 255, 0), 0.75);
                content: $glyph-success;
            }
        }

        &.error {
            &::after {
                color: transparentize(rgb(255, 0, 0), 0.75);
                content: $glyph-error;
            }
        }
    }
}
