@mixin taco-modal {

    .#{$prefix}grid-checkcolumn {
        width: 14px;
        height: 14px;
        @include icons-sprite(checkbox-unchecked);
        background-size: 15px;
    }

    .#{$prefix}grid-checkcolumn {
        &.#{$prefix}grid-checkcolumn-checked {
            width: 14px;
            height: 14px;
            @include icons-sprite(checkbox-checked);
            background-size: 15px;
        }
    }

    .#{$prefix}window-modal {
        @include border-radius-xbrowser(5px);
        @include color-blur-outer-shadow ($black-color, 0.29, 0, 1px, 16px, 0);

        .#{$prefix}form-display-field-body {
            .#{$prefix}form-display-field {
                line-height: 20px;
            }
        }

        .#{$prefix}tool-close {
            opacity: .35;

            &:after {
                color: $dark-color;
            }

            &:hover {
                opacity: 1;
            }
        }

        .#{$prefix}panel {
            .#{$prefix}grid-header-ct {
                .#{$prefix}column-header {
                    &:first-child {
                        padding-left: 0;
                    }

                    .#{$prefix}column-header-over {
                        background-color: transparent;
                    }
                }
            }

            .#{$prefix}grid-view-default {
                color: $dark-color;
                background-color: $white-color;
                font-size: $normal-font;

                > table {
                    tbody {
                        tr {
                            td {
                                padding: 1px 10px 2px 10px;

                                &:first-child {
                                    padding-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.#{$vprefix}drawer {
            @include border-radius-xbrowser(5px);
            @include color-blur-outer-shadow ($black-color, 0.29, 0, 16px, 0, 1px);
        }

        .#{$prefix}header-text-container {
            .#{$prefix}header-text {
                font-size: $card-title-font;
                padding-left: 5px;
            }
        }

        .#{$prefix}window-body-modal {
            border-color: $light-border-gray;
        }

        .#{$prefix}box-item {
            .#{$prefix}window-header-text-container {
                width: auto !important;
            }

            &.#{$prefix}tool-default {
                margin-left: -10px !important;
                margin-top: -6px !important;
                width: 26px !important;
                height: 30px !important;
                text-align: center;
                @include border-radius-xbrowser($border-radius);

                .#{$prefix}tool-close {
                    left: -3px;
                    opacity: .35;
                    padding: 11px;
                    margin-left: 4px;
                    margin-top: 3px;
                    width: 24px;
                    height: 25px;
                    @include border-radius-xbrowser($border-radius);

                    &:after {
                        font-size: 24px;
                        color: $dark-color;
                    }

                    &:hover {
                        opacity: 1;
                    }

                    &:active {
                        background-color: $card-button-press-bg;
                    }
                }

                &:active {
                    background-color: $card-button-press-bg;
                }
            }
        }

        .#{$prefix}column-header-checkbox {
            min-width: 36px;
        }

        .#{$prefix}grid-checkcolumn {
            width: 14px;
            height: 14px;
            @include icons-sprite(checkbox-unchecked);
            background-size: 15px;
        }

        .#{$prefix}grid-checkcolumn {
            &.#{$prefix}grid-checkcolumn-checked {
                width: 14px;
                height: 14px;
                @include icons-sprite(checkbox-checked);
                background-size: 15px;
            }
        }

        table {
            .#{$prefix}form-item-body {
                display: block;

                > .#{$prefix}box-layout-ct {
                    // border-bottom: 1px solid $light-border-gray;
                }
            }
            tr {
                .#{$prefix}form-item-input-row {
                    display: block;
                    padding-top: 10px;
                }
            }
            &.#{$vprefix}quickfilter {

                .#{$prefix}form-item-body {
                    display: block;
                }

                input {
                    // border: none;
                    font-size: 17px;

                    &:hover,
                    &:focus,
                    &.#{$prefix}field-form-focus {
                        border-color: $light-border-gray;
                    }
                }

                .#{$prefix}form-item-body {
                    opacity: .4;

                    &.#{$prefix}form-trigger-wrap-focus {
                        opacity: 1;
                    }
                }

                .#{$prefix}field-form-focus,
                &.#{$vprefix}quickfilter-over,
                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                    border-color: $light-border-gray;
                }
            
                .#{$prefix}form-trigger-input-cell {
                    position: absolute;
                    left: 40px;
                    top: -2px;

                    > input {
                        &.#{$prefix}form-text {
                            padding-bottom: 2px;
                        }

                        &:focus {
                            @include no-box-shadow;
                        }
                    }
                }

                .#{$prefix}form-search-trigger,
                .#{$prefix}form-clear-trigger {
                    position: absolute;
                    left: 0;
                    top: -3px;
                    width: 40px;
                    height: 29px;
                    border-bottom: 1px solid $light-border-gray;

                    &:after {
                        padding: 0 10px;
                        color: $search-trigger-color;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        a {
            &.advanced-search-button {
                &.#{$prefix}btn-action-medium {
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid $light-border-gray;
                    @include border-radius-xbrowser(0px);
                    height: 36px !important;
                    opacity: .35;
                    @include icon-font($glyph-filter-list, 17px, $dark-color);

                    &:after {
                        padding: 10px;
                    }

                    &:hover {
                        opacity: 1;
                        border-color: $light-border-gray;
                    }
                }
            }
        }

        .#{$prefix}tree-elbow-img {
            &.#{$prefix}tree-elbow-plus {
                &.#{$prefix}tree-expander {
                    background-image: none;
                    position: relative;
                    z-index: 1;

                    & + img {
                        background-image: none;

                        & + .#{$prefix}tree-node-text {
                            &:before {
                                content: '\E927';
                                font-family: 'mozicons';
                                position: absolute;
                                left: 34px;
                                z-index: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
