@mixin taco-modal {
    .#{$prefix}window-modal {
        @include border-radius-xbrowser(5px);
        @include color-blur-outer-shadow ($black-color, 0.29, 0, 16px, 0, 1px);

        &.#{$vprefix}drawer {
            @include border-radius-xbrowser(5px);
            @include color-blur-outer-shadow ($black-color, 0.29, 0, 16px, 0, 1px);
        }

        .#{$prefix}header-text-container {
            .#{$prefix}header-text {
                font-size: $card-title-font;
                padding-left: 5px;
            }
        }

        .#{$prefix}window-body-modal {
            border-color: $light-border-gray;
        }

        .#{$prefix}box-item {
            &.#{$prefix}tool-default {
                .#{$prefix}tool-close {
                    height: 24px;
                    width: 24px;
                    left: -3px;

                    &:after {
                        font-size: 24px;
                        color: $filter-text-hover;
                        opacity: 0.6;
                    }

                    &:hover {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .#{$prefix}column-header-checkbox {
            min-width: 36px;
        }

        /**
         * Search form
         */
        input {
            border: none;
            font-size: 17px;
        }

        table {
            tr {
                .#{$prefix}form-item-input-row {
                    display: block;
                    padding-top: 10px;
                }
            }
            &.#{$vprefix}quickfilter {

                .#{$prefix}form-item-body {
                    opacity: .4;

                    &.#{$prefix}form-trigger-wrap-focus {
                        opacity: 1;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    opacity: 1;
                }
            }
        }

        .#{$prefix}form-trigger-input-cell {
            position: absolute;
            left: 40px;
        }

        a {
            &.advanced-search-button {
                &.#{$prefix}btn-action-medium {
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    opacity: .35;
                    @include icon-font($glyph-filter-list, $dark-color);

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .#{$prefix}form-search-trigger {
            position: absolute;
            left: 10px;

            &:after {
                color: $search-trigger-color;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}
