@mixin taco-order {


  .#{$vprefix}address-editor-fields {
    @include flexbox($wrap: wrap, $justify: space-between);
  }

  .#{$vprefix}customer-editor {
    .#{$vprefix}editcontainer {
      background-color: $color-neutral-white;
      border: 1px solid border-for($color-neutral-95);
      margin-top: 20px;
      padding: 39px;

      .#{$vprefix}editcontainer-header {
        border-bottom: 1px solid border-for($color-neutral-95); 
        margin-bottom: 30px;
        padding-bottom: 20px; 
      }
      .#{$vprefix}editcontainer-title {
        font-size: px-to-rem(24);
        line-height: px-to-rem(30);
      }

      .address {
        display: inline-block;
        font-size: px-to-rem(15);
        line-height: px-to-rem(25);
        margin-right: 40px;
        padding: 10px 20px;
        position: relative;
        vertical-align: top;
        width: 240px; 

        .edit {
          background-color: $color-neutral-20; 
          border: 2px solid $color-neutral-20;
          display: none;
          overflow: hidden;
          padding-top: 16px;
          right: 0px;
          top: 0px;
          @include border-radius(2px);
          @include icon-font($glyph: $glyph-pencil, $size: 16px, $color: $color-neutral-white);
          height: 20px;
          position: absolute; 
          width: 20px;
        }

        &:hover {
          background-color: darken($color-neutral-white, 2.5%);

          .edit {
            display: block;
          }
        }
      }
    }

    .#{$vprefix}customer-profile {
      .#{$vprefix}editcontainer-header {
        margin-bottom: 6px;
      }

      .customer-settings {
        display: inline-block;
        vertical-align: top;
      }

      .customer-info {
        float: left;
        padding-top: 8px;
        .info-name, .info-email{
          margin-bottom: 11px;
        }
      }

      .customer-wish-list-btn{
        margin-top: -30px;
        margin-left: 230px;
        background: transparent;
        border: transparent;
        .x-btn-inner {
          font-size: 18px;
          color: #08799c  
        }
      }

      .customer-history {
        display: inline-block;
        margin-left: 230px;
        vertical-align: top;
        .total-spent{
          float: left;
        }

        .total-visits{
          float: right;
          margin-right: 44px;
        }

        .total-orders{
          float: right;
        }
        .customer-since{
          margin-top: px-to-rem(14);
          clear: both;
        }
        label {
          display: block;
          font-size: px-to-rem(14);
          font-weight: bold;
          padding-bottom: 3px;
          padding-top: px-to-rem(24);
        }

        h2 {
          font-size: px-to-rem(21);
          font-weight: normal;
          line-height: px-to-rem(30);
          padding-bottom: 28px;
        }
      }
    }
  }

  .#{$vprefix}customer-notes {
    .notes{
      margin-top: 10px;

      .date{
        clear: both;
      }
      .time{
        width: 20%;
        float: left;
      }
      .description{
        width: 65%;
        float: left;
      }
      .name{
        float: left;
      }

    }
  }

.#{$vprefix}customer-billingInfo,  .#{$vprefix}customer-shippingInfo{
    .edit, hr{
      margin-bottom: 10px;
    }
    .edit{
      cursor: pointer;
    }
  }
  .#{$vprefix}order-status {
    color: $color-theme-base;
    font-size: px-to-rem(18);
    font-weight: normal;
    padding-left: px-to-rem(20);
  }  

  .#{$vprefix}order-detail-header {
    background-color: $color-neutral-white;
    border: 1px solid border-for($color-neutral-95);
    margin-bottom: 20px;
  }

  .#{$vprefix}order-detail-header-section {
    border-left: 1px dashed border-for($color-neutral-white);
    float: left;
    min-height: 160px;
    padding: 24px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 16px;
    }
    h2 {
      font-size: px-to-rem(30);
      font-weight: normal;
      line-height: px-to-rem(30);
      margin-bottom: 10px;
    }
    div {
      line-height: px-to-rem(24);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.status {
        padding-left: 22px;
        padding-top: 12px;
        position: relative;

        &::before {
          background-color: $color-theme-support-darker;
          content: "";
          display: block;
          height: 11px;
          left: 0px;
          position: absolute;
          top: 18px;
          width: 11px;
          @include border-radius(2px);
        }
      }
    }
    strong {
      font-weight: bold;
      padding-left: 2px;
    }

    &.order-data {
      border-left-style: none;
      padding-left: 45px;
      padding-right: 45px;
      width: 240px;
    }
    &.customer-data {
      padding-left: 40px;
      padding-right: 40px;
      width: 430px;
    }
    &.history-data {
      padding-left: 30px;
      padding-right: 30px;
      width: 290px;
    }
    &.origin-data {
      background-color: $color-neutral-95;
      border: 0px none;
      clear: left;
      float: none;
      font-size: px-to-rem(14);
      line-height: 1.0;
      min-height: 40px;
      padding: 14px 40px 12px;
    }
  }

  .#{$vprefix}order-subform {
    margin-bottom: 20px;  
  }

}


    



//Not sure if this is still used;

// menu trigger widget for order details panels 
.editContainer-menu-trigger{            
  .x-btn-icon{
    width:32px !important;
    height:32px !important;
  }

  .editContainer-menu-trigger-icon{
    background: url('../images/icons-sfc12ea9761.png') no-repeat;
    background-position: 0 -2303px;
  }
}



//todo: need to determine where this should go. probably should be fixed in theme
// reverting the padding for the boundlist paging toolbar page number text field

.#{$prefix}tbar-page-number{
  .#{$prefix}form-trigger-input-cell {
    .#{$prefix}form-text {
      padding-right: 2px!important;
    }
  }
}
