@mixin taco-panel {
    /* panel */
    .#{$prefix}panel {
        @include border-radius-xbrowser($border-radius);
        @include outer-shadow(0.09, 2px, 0, 0);
        font-family: $font-family;

        .#{$prefix}panel-header-text {
            color: $dark-color;
            font-family: $font-family;
            font-size: $card-title-font;
        }

        .#{$prefix}panel-default {
            /* override external styles */
            box-shadow: none !important;
        }

        .#{$prefix}panel-subform-section-child {
            background-color: $white-color;
        }

        .#{$prefix}component {
            @include border-radius-xbrowser($border-radius);
        }

        .#{$prefix}panel-body {

            /* override external styles */
            border: 0;
            border-color: $valid-green !important;
            background-color: $white-color;


            .#{$prefix}column-header-over {
                /* override external styles */
                background-color: $white-color;
            }

            .#{$prefix}grid-td {
                /* override external styles */
                border: 0;
                outline: 0 !important;
            }

            .#{$prefix}grid-row-over {
                .#{$prefix}grid-td {
                    /* override external styles */
                    border: 0;
                    outline: 0 !important;
                }
            }

            table.#{$prefix}hbox-form-item {
                border-right: 1px solid $light-border-gray !important;
            }
        }

        .#{$prefix}grid-row-editor-buttons {
            border-color: $valid-green;
            background-color: $row-editor-buttons-bg;
            @include partial-border-radius(0, $border-radius, 0, $border-radius, !important);
        }

        .#{$prefix}panel .#{$prefix}panel-body .#{$prefix}grid-td {
            border: 0 !important;
        }

        .#{$prefix}grid-with-row-lines {
            .#{$prefix}grid-table-focused-first {
                border: none !important;

                td {
                    border: none !important;
                    border-bottom: 0 !important;
                }
            }
        }

        .#{$prefix}grid-header-ct {
            border-bottom: none !important;
        }

        .#{$prefix}grid-header-ct {
            background-color: $white-color;
            border: 0;
            border-bottom: 1px solid $nav-element-active-border;


            .#{$prefix}box-inner {
                border-bottom: 1px solid $light-border-gray;
            }


			.#{$prefix}column-header {
				font-family: $font-family;
				font-size: $normal-font-link;
				padding: 3px 10px;
				display: inline-block;
				color: $gray-text-dark;

                /* override external styles */
                border: 0;
                color: $gray-text-dark;
                display: inline-block;
                font-family: $font-family;
                font-size: $normal-font-link;
                padding: 3px 10px;
            }

            .#{$prefix}column-header-text {


                /* override external styles */
                font-weight: normal;
            }
        }

        .#{$prefix}grid-view-default {
            color: $dark-color;
            font-size: $normal-font;

            td {
                font-size: $normal-font;
                padding: 0 10px 1px;
            }
        }

        /**
         * Styles unstriped tables
         */
        tbody tr {
            &.#{$prefix}grid-data-row {
                td {
                    border-bottom: 1px solid $nav-element-active-border !important;
                }

                &:hover,
                &:active,
                &:focus,
                &.#{$prefix}grid-row-selected {
                    background-color: $card-button-bg;
                }
            }
        }

        .#{$prefix}td {
            padding: 7px 10px 6px;
        }


        .#{$prefix}content {
            padding: 15px 25px 30px;

            .#{$prefix}title {
                font-size: $card-title-font;
            }
        }

		.#{$prefix}empty-pill {
			padding: 4px;
			border-radius: $border-radius-large;
			border: 1px solid $typehead-pill-border-color;
			font-size: $tag-font;
		}

		// link pager styles
		.#{$prefix}link-paging-toolbar {

			padding: 8px;
			background-color: $white-color;
        	border-top: 1px solid $card-border!important;

			.#{$prefix}tbar-page-link {
				background-color: $color-neutral-transparent;
				background-image: none;
                border: none;
                color: $dark-color;
                padding-top: 4px;
                margin: 0px 5px 0 5px;
				text-decoration: none;
				height: 22px;
				width: 22px;
				@include border-radius(2px);

                &.#{$prefix}tbar-page-link-current {
                    background-color: $valid-green;

                    .#{$prefix}btn-inner {
                        color: $white-color;
                    }
                }

				.#{$prefix}btn-inner {
					color: $gray-text-dark;
				}

				.#{$prefix}btn-over {
					.#{$prefix}btn-inner {
						color: $dark-color;
					}
				}
			}

		}

		.#{$prefix}page-chooser .#{$prefix}toolbar-default {
			background-color: $white-color;
		}

		.#{$prefix}page-choose-btn {
			border-width: 0px;
			background-color: $valid-green;
			background-image: none;
			text-decoration: none;
			margin-left:8px;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
		}

		.#{$prefix}page-choose-btn.#{$prefix}btn-over {
			background-color: $valid-green;
			background-image: none;
			text-decoration: none;
		}

		.#{$prefix}page-choose-btn .#{$prefix}btn-button {
			height: 30px;
			line-height: 30px;
		}

		.#{$prefix}page-choose-btn .#{$prefix}btn-inner {
			color: $color-neutral-white;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			font-size: $normal-font;
		}  
	}

    .#{$prefix}column-content-pill {
        padding: 3px 5px;
    }
}