@mixin taco-panel {
	/* panel */
	.#{$prefix}panel {
		font-family: $font-family;
		border-radius: $border-radius;
		box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 2px 0px;

		.#{$prefix}panel-header-text {
			font-family: $font-family;
			font-size: $card-title-font;
			color: $dark-color;
		}

		.#{$prefix}form-field,
		.#{$prefix}trigger-noedit {
			border: 0;
			border-radius: 0;
			border-bottom: 1px solid $card-border;
		}

		.#{$prefix}field-form-focus {
			border-color: $valid-green;
			box-shadow: 0 1px 0 0 $valid-green;
		}

		.#{$prefix}form-item-label {
			color: $label-color;
			font-size: $label-link-font;

			/* override external styles */
			font-weight: normal;
		}

		.#{$prefix}form-item-required {
			color: $error-red;

			&:before {
				content: '';
				display: none;
			}

			&:after {
				content: ' *';
				color: $error-red;
			}
		}

		.#{$vprefix}form-nav {
			.#{$vprefix}form-nav-link {
				font-family: $font-family;
				font-size: $normal-font-link;
				color: $gray-text-dark;

				&:hover {
					color: $dark-color;
					text-decoration: none;
				}

				&.active {
					color: $dark-color;
					border-color: $valid-green;
				}
			}
		}

		.#{$prefix}form-trigger-wrap {
			border: none;

			input {
				color: $card-button-text-color;
			}
		}

		.#{$prefix}btn {
			font-family: $font-family;
			border-radius: $border-radius-small;
			background-color: $card-button-bg;
			border: 1px solid $gray-border-color;

			.#{$prefix}btn-inner-center {
				font-size: $normal-font-link;
				color: $card-button-text-color;
			}
		}

		.#{$prefix}btn-action-medium-over,
		.#{$prefix}btn-link-medium-over {
			/* override external styles */
			-webkit-box-shadow: none;
			box-shadow: none;

			.#{$prefix}btn-inner-center {
				color: $dark-color;
			}

			&:active {
				background-color: $card-button-press-bg;
			}
		}

		.#{$prefix}btn-action-medium-focus,
		.#{$prefix}btn-link-medium-focus {
			box-shadow: none;

			.#{$prefix}btn-inner-center {
				text-decoration: none;
			}
		}

		.#{$prefix}panel-default {
			/* override external styles */
			box-shadow: none !important;
		}

		.#{$prefix}panel-subform-section-child {
			background-color: $white-color;
		}

		.#{$prefix}component {
			border-radius: $border-radius;
		}

		.#{$prefix}panel-body {

			/* override external styles */
			border: 0;

			.#{$prefix}column-header-over {
				/* override external styles */
				background-color: $white-color;
			}

			.#{$prefix}grid-td {
				/* override external styles */
				border: 0;
				outline: 0 !important;
			}

			.#{$prefix}grid-row-over {
				.#{$prefix}grid-td {
					/* override external styles */
					border: 0;
					outline: 0 !important;
				}
			}
		}

		.#{$prefix}grid-header-ct {
			border: 0;
			background-color: $white-color;
			border-bottom: 1px solid $nav-element-active-border;

			.#{$prefix}box-inner {
				border-bottom: 1px solid $light-bg-gray;
			}

			.#{$prefix}column-header {
				font-family: $font-family;
				font-size: $normal-font-link;
				padding: 3px 10px;
				display: inline-block;
				background-color: $white-color;
				color: $gray-text-dark;

				/* override external styles */
				border: 0;
			}

			.#{$prefix}column-header-text {

				/* override external styles */
				font-weight: normal;
			}
		}

		.#{$prefix}grid-view-default {
			color: $dark-color;
			font-size: $normal-font;

			td {
				font-size: $normal-font;
				padding: 0 10px 1px;
			}
		}

		tbody tr:nth-child(odd) {
			td {
				background-color: $white-color;
			}
		}

		tbody tr:nth-child(even) {
			td {
				background-color: $dark-bg;
			}
		}

		.#{$prefix}td {
			padding: 7px 10px 6px;
		}

		.#{$prefix}content {
			padding: 15px 25px 30px;

			.#{$prefix}title {
				font-size: $card-title-font;
			}
		}
	}
}