@mixin taco-panel {

    .#{$prefix}column-content-pill {
        border-radius: 9px;
        padding: 3px 5px;
        font-size: 11px;
    }

    .#{$prefix}column-content-pill-true {
        background-color: $valid-green;
        color: $white-color;
    }

    .#{$prefix}column-content-pill-false {
        background-color: $pill-bg-gray;
        color: $gray-text-dark;
    }

    .#{$prefix}column-content-pill-error {
        background-color: $error-red;
        color: $white-color;
    }

    .#{$prefix}column-action  {
        display: block;
        @include icon-font($glyph-knurling, 13px, $gray-text-dark);
    }


    /* panel */
    .#{$prefix}panel {
        @include outer-shadow(0.09, 2px, 0, 0);
        font-family: $font-family;

        input,
        .#{$prefix}form-text {
            position: relative;
            top: -2px;
        }
        
        .draft-toolbar {
            background-color: transparent;
        }

        .#{$prefix}panel-header-text {
            color: $dark-color;
            font-family: $font-family;
            font-size: $card-title-font;
        }

        .#{$vprefix}order-subform {
            @include border-radius-xbrowser($border-radius);
        }

        .#{$prefix}panel-default {
            /* override external styles */
            box-shadow: none !important;
        }

        .#{$vprefix}formform {
            &.#{$prefix}panel-subform {
                @include border-radius-xbrowser($border-radius);
            }
        }

        .#{$prefix}panel-subform-section-child {
            background-color: $white-color;
        }

        .#{$prefix}component {

            &.#{$prefix}panel-default,
            &.#{$prefix}component-docked-top{
                @include partial-border-radius($border-radius, 0, $border-radius, 0);
            }
        }

        .#{$vprefix}draft-toolbar {
            &.#{$prefix}toolbar-docked-top {
                &+ .#{$prefix}panel-body-default {
                    .#{$prefix}panel {
                        .#{$prefix}grid-header-ct {
                            @include border-radius-xbrowser(0);
                        }
                    }
                }
            }
        }

        .#{$prefix}panel-body {

            /* override external styles */
            border: 0;
            background-color: transparent;

            .#{$prefix}container {
                &.#{$vprefix}editor-wrapper {
                    background-color: $light-bg-gray;
                }
            }

            .#{$prefix}layout-fit {
                background-color: transparent;

                .#{$vprefix}global-admin-form {
                    background-color: transparent;
                }
            }

            .#{$prefix}column-header-over {
                /* override external styles */
                background-color: inherit;
            }

            .#{$prefix}grid-td {
                /* override external styles */
                // border: 0;
                outline: 0 !important;
            }

            .#{$prefix}grid-row-over {
                .#{$prefix}grid-td {
                    /* override external styles */
                    // border: 0;
                    outline: 0 !important;
                }
            }
        }

        .#{$prefix}grid-row-editor {
            table.#{$prefix}hbox-form-item {
                border-right: 1px solid $light-border-gray !important;
            }
        }

        .#{$prefix}grid-row-editor-buttons {
            border-color: $valid-green;
            background-color: $row-editor-buttons-bg;
            @include important-partial-border-radius(0, $border-radius, 0, $border-radius);

            a {
                background-color: $card-button-bg;
                border: 1px solid $gray-border-color;
            }
        }

        .#{$prefix}panel .#{$prefix}panel-body .#{$prefix}grid-td {
            // taking it out to style the orders grid, guess we'll see what it affects
            // border: 0 !important;
        }

        .#{$prefix}grid-with-row-lines {
            .#{$prefix}grid-table-focused-first {
                border: none !important;

                td {
                    //border: none !important;
                    //border-bottom: 0 !important;
                }
            }
        }

        .#{$prefix}grid-header-ct {
            border-bottom: none !important;
        }

        .#{$prefix}grid-header-ct {
            background-color: $white-color;
            border: 0;
            border-bottom: 1px solid $nav-element-active-border;

            .#{$prefix}box-inner {
                border-bottom: 1px solid $light-border-gray;
            }

			.#{$prefix}column-header {
				font-family: $font-family;
				font-size: $normal-font-link;
				padding: 3px 10px;
				display: inline-block;
				color: $gray-text-dark;

                /* override external styles */
                border: 0;
                color: $gray-text-dark;
                display: inline-block;
                font-family: $font-family;
                font-size: $normal-font-link;
                padding: 3px 10px;

                background-color: transparent;
            }

            .#{$prefix}column-header-sort-DESC, .#{$prefix}column-header-sort-ASC {
                color: $dark-color;
            }

            .#{$prefix}column-header-text {


                /* override external styles */
                font-weight: normal;
            }
        }

        .#{$prefix}panel-body {
            tr {

                &.#{$prefix}grid-row,
                &.#{$prefix}grid-data-row,
                &.#{$prefix}grid-row-focused,
                &.#{$prefix}grid-row-before-focused {
                    .#{$prefix}grid-td {
                        border: none;
                    }
                }

                &:nth-child(even) {
                    .#{$prefix}grid-td {
                        background-color: $grid-even-stripe-bg;

                        td {
                            &:nth-child(odd) {
                                background-color: $grid-even-stripe-bg;

                                & + td {
                                    background-color: $grid-even-stripe-bg;
                                }
                            }
                        }
                    }
                }

                &:nth-child(odd) {
                    .#{$prefix}grid-td {
                        background-color: $white-color;
                    }
                }

                &:hover,
                &:active {
                    td {
                        background-color: inherit;
                    }
                }
            }
        }

        &.#{$vprefix}content-navcontainer,
        .#{$prefix}fit-item {
            > .#{$prefix}grid-header-ct {
                background-color: $dark-bg;

                & + .#{$prefix}grid-with-row-lines {
                    tr {

                        &.#{$prefix}grid-data-row {
                            .#{$prefix}grid-td {
                                border-bottom: 1px solid $grid-row-border;
                            }
                        }

                        td {
                            background-color: $white-color;

                            td {
                                &:nth-child(odd) {
                                    background-color: $white-color;

                                    & + td {
                                        background-color: $white-color;
                                    }
                                }
                            }

                            &:hover {
                                td {
                                    background-color: $grid-row-hover-bg;

                                    td {
                                        background-color: $grid-row-hover-bg;
                                    }
                                }
                            }

                            &:active {
                                td {
                                    background-color: $dark-bg;

                                    td {
                                        background-color: $dark-bg;

                                        &:nth-child(odd) {
                                            background-color: $dark-bg;

                                            & + td {
                                                background-color: $dark-bg;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:hover {
                            td {
                                background-color: $grid-row-hover-bg;

                                td {
                                    &:nth-child(odd) {
                                        background-color: $grid-row-hover-bg;

                                        & + td {
                                            background-color: $grid-row-hover-bg;
                                        }
                                    }
                                }
                            }
                        }

                        &:active {
                            td {
                                background-color: $dark-bg;

                                td {
                                    background-color: $dark-bg;

                                    &:nth-child(odd) {
                                        background-color: $dark-bg;

                                        & + td {
                                            background-color: $dark-bg;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .#{$vprefix}content-view {
            > .#{$prefix}panel {
                > .#{$prefix}grid-header-ct {
                    background-color: $dark-bg;

                    & + .#{$prefix}grid-with-row-lines {
                        tr {
                            td {
                                background-color: $white-color;
                            }

                            &:hover {
                                td {
                                    background-color: $grid-row-hover-bg;
                                }
                            }

                            &:active {
                                td {
                                    background-color: $dark-bg;
                                }
                            }
                        }
                    }
                }
            }
        }

        .#{$prefix}grid-view-default {
            color: $dark-color;
            background-color: $white-color;
            font-size: $normal-font;

            > table {
                tbody {
                    tr {
                        td {
                            padding: 1px 10px 2px 10px;

                            &.#{$prefix}grid-rowwrap {
                                padding: 0 0 0 0;
                            }
                        }
                    }
                }
            }

            td {
                font-size: $normal-font;

                table {
                    tr {

                        td {
                            padding: 1px 0 2px 10px;

                            &:first-child {
                                padding-left: 10px;
                            }

                            &:last-child {
                                padding-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                .#{$prefix}grid-data-row {
                    &.#{$vprefix}grid-row-active,
                    &:focus {
                        background-color: $dark-bg;
                    }
                }
            }
        }

        /**
         * row focus state
         */

        tbody {
            tr {
                &.#{$prefix}grid-data-row {
                    &:hover {
                        background-color: $grid-row-hover-bg;
                    }

                    &:active,
                    &:focus {
                        background-color: $dark-bg;
                    }
                }
            }
        }

        .#{$prefix}td {
            padding: 7px 10px 6px;
        }


        .#{$prefix}content {
            padding: 15px 25px 30px;

            .#{$prefix}title {
                font-size: $card-title-font;
            }
        }

		.#{$prefix}empty-pill {
			padding: 4px;
			border-radius: $border-radius-large;
			border: 1px solid $typehead-pill-border-color;
			font-size: $tag-font;
		}

		// link pager styles
		.#{$prefix}link-paging-toolbar {

			padding: 8px;
			background-color: $white-color;
        	border-top: 1px solid $card-border!important;

			.#{$prefix}tbar-page-link {
				background-color: $color-neutral-transparent;
				background-image: none;
				border: none;
				color: $dark-color;
				text-decoration: none;
				height: 22px;
				width: 22px;
				@include border-radius(2px);

                .#{$prefix}btn-button {
                    top: 1.5px;
                }

				.#{$prefix}btn-inner {
					color: $gray-text-dark;
				}

				.#{$prefix}btn-over {
					.#{$prefix}btn-inner {
						color: $dark-color;
					}
				}

                &.#{$prefix}tbar-page-link-current {
                    background-color: $valid-green;

                    .#{$prefix}btn-inner {
                        color: $white-color;
                    }
                }

                &.#{$prefix}arrow-disabled {
                    cursor: initial;
                }
			}

		}

		.#{$prefix}page-chooser .#{$prefix}toolbar-default {
			background-color: $white-color;
		}

		.#{$prefix}page-choose-btn {
			border-width: 0px;
			background-color: $valid-green;
			background-image: none;
			text-decoration: none;
			margin-left:8px;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
		}

		.#{$prefix}page-choose-btn.#{$prefix}btn-over {
			background-color: $valid-green;
			background-image: none;
			text-decoration: none;
		}

		.#{$prefix}page-choose-btn .#{$prefix}btn-button {
			height: 30px;
			line-height: 30px;
		}

		.#{$prefix}page-choose-btn .#{$prefix}btn-inner {
			color: $color-neutral-white;
			height: 30px;
			line-height: 30px;
			vertical-align: middle;
			font-size: $normal-font;
		}

        &.confirm-delete-subcat-warning {
            .#{$prefix}panel-header-body {
                @include icon-font($glyph-warning, 16px, $color-neutral-20);
                height: 33px;
                &::after {
                    opacity: 0.5;
                    line-height: 33px;
                }
            }
        }
	}
}