.#{$vprefix}header-toolbar {
    background-color:$color-neutral-transparent;
}


.#{$vprefix}icon-button{
    padding-left:8px;
    .#{$prefix}btn-arrow-right{
            padding-right:26px;
    }
}

.#{$vprefix}button-gear {
    @include icon-font($glyph-gear);
    
    position:absolute;
}