.tiles-align {
    min-height: 110px;
    text-align: center;
}

.tiles-images-align {
    font-size: 75px;
    margin-top: 13%;
    margin-bottom: 12%;
}

.tiles-item {
    float: left;
    margin-left: 3px;
    bottom: 18px;
    position: relative;
    font-size: 0.8em;
    padding-left: 0.51em;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    border-bottom: 1px solid #2ea195;
    color: #3f3f3f;
}

.dashboard-icon-align {
    position: relative;
    left: 38%;
    top: 30px;
}

@media screen and (max-width: 480px) {
    .dashboard-icon-align {
        position: relative;
        left: 36%;
        top: 30px;
    }

    .tiles-item {
        bottom: 13px;
        font-size: 0.95em;
    }
}

@media screen and (max-width: 768px) {
    .tiles-item {
        bottom: 13px;
        font-size: 0.95em;
    }
}

.dashboard-icon::after {
    color: #2ea195;
    display: block;
    font-family: mozicons;
    font-size: 70px;
    font-weight: normal!important;
    left: 0;
    line-height: 1.0;
    position: absolute;
    top: 0;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
}

.dashboard-icon-products::after {
    content: "\E91E";
}

.dashboard-icon-marketing::after {
    content: "\E923";
}

.dashboard-icon-content::after {
    content: "\E926";
}

.dashboard-icon-publishing::after {
    content: "\E924";
}

.dashboard-icon-order::after {
    content: "\E922";
}

.dashboard-icon-customer::after {
    content: "\E921";
}

.dashboard-icon-b2baccount::after {
    content: "\E936";
}

.dashboard-icon-report::after {
    content: "\E925";
}

.dashboard-icon-settings::after {
    content: "\E91C";
}

.dashboard-icon-schema::after {
    content: "\E91B";
}

.dashboard-icon-customization::after {
    content: "\E918";
}

.dashboard-icon-structure::after {
    content: "\E91D";
}

.dashboard-icon-permissions::after {
    content: "\E91A";
}