<div class="col-md-4 mt-5">
        <p-card subheader="{{tileModel.sectionText}}" [style]="{'margin-top': '20px', height:'213px'}"
                styleClass="ui-card-shadow ">
                <p-header>
                        <div class="taco-image-holder tiles-align">
                                <span data-url="" class="tiles-images-align">
                                        <img [attr.src]="tileModel.sectionImageURL" />
                                </span>
                        </div>
                </p-header>

                <p-footer>
                        <div class="taco-dashboard-item-item"
                                *ngFor="let eachAccessTileLink of tileModel.sectionLinks;let i=index;">
                                <div class="tiles-item"><a
                                                [attr.data-url]="eachAccessTileLink.linkDataURL">{{eachAccessTileLink.linkDataText}}</a>
                                </div>
                        </div>
                </p-footer>
        </p-card>
</div>