
.tiles-align{
    min-height: 110px;
    text-align: center;
   
}

.tiles-images-align{
    font-size: 75px;
    margin-top:13%;
    margin-bottom: 12%;
}

.tiles-item{
    float: left;
    margin-left: 3px;
    bottom: 18px;
    position: relative;
    font-size: 0.77em;
    padding-left: 0.51em;
    cursor: pointer;
}

a:hover{
    text-decoration: none;
    border-bottom: 1px solid #2ea195;
    color: #3f3f3f;
}

img {
    width: 110px;
    height: 110px;
}
