<div class="col-md-4 mt-5">
    <p-card subheader="{{tileModel.sectionText}}" styleClass="ui-card-shadow">
        <p-header>
            <div class="taco-image-holder tiles-align">
                <span data-url="" class="tiles-images-align">
                    <!-- <a data-url="" class="dashboard-icon-align dashboard-icon dashboard-icon-{{tileModel.id}}"></a> -->
                    <a data-url="" class="dashboard-icon-align {{tileModel.tileIcon}} {{tileModel.tileIconColor}}"></a>
                    <!-- <span [ngClass]="tileModel.tileIcon"></span> -->
                </span>
            </div>
        </p-header>

        <p-footer>
            <div class="taco-dashboard-item-item" *ngFor="let eachAccessTileLink of tileModel.sectionLinks;let i=index;">
                <div class="tiles-item" *ngIf="eachAccessTileLink.linkDataURL !== quotesRoute">
                    <a *ngIf="eachAccessTileLink.linkDataURL === quotesRoute || eachAccessTileLink.linkDataURL === locationGroupRoute; 
                      else routeLink" [routerLink]="[eachAccessTileLink.linkDataURL]">{{eachAccessTileLink.linkDataText}}</a>
                    <ng-template #routeLink>
                        <a [attr.href]="eachAccessTileLink.linkDataURL">{{eachAccessTileLink.linkDataText}}</a>
                    </ng-template>
                </div>
            </div>
        </p-footer>
    </p-card>
</div>