.location-group-container {
    margin: 20px 0 10px;
    padding: 0px 20px;
    width: 100%;
    height: auto;
    bottom: 0;
}

.content-pill {
    background-color: #f3f3f3;
    color: #7c7c7c;
    border-radius: 9px;
    cursor: default;
    padding: 3px 5px;
    font-size: 11px;
}

.content-pill-blue {
    background-color: #2ea195;
    color: white;
}

body .ui-treetable .ui-treetable-tbody>tr>td {
    font-size: 12px;
    border-width: 0 0 0.5px 0;
    border-color: #9f9b9b57 !important;
    border-style: solid;
    padding: 8px 2px !important;
}

body .ui-treetable .ui-treetable-tbody>tr>th {
    font-weight: 600 !important
}


/* html, body, .location-group-container { height: calc(100vh - 137px); }
.inner { height: 100%; }
.inner p-table{ width:100%; height:100%;}
.location-group-container p-table .ui-widget{ height: 100% !important;}*/

.forwidth {
    width: 4em !important;
}