
.#{$prefix}tab {
    display: inline-block;
    background-color: $color-action-background;
    border: 1px solid $color-action-outline;
    color: $color-action-foreground;
    // @include facade-transitions; this mixin doesn't exist at this point
    @include text-shadow(1px 1px transparentize($color-neutral-white, 0.75));
    &:hover {
        text-decoration: none;
    }
    &:hover:not(:disabled) {
      background-color: $color-action-background-hover;
      border-left-color: $color-action-background-hover;
      @include box-shadow(inset 0px -1px $color-action-outline-hover);
    }
    .#{$prefix}tab-wrap {
      border-left: 1px solid $tab-base-color; // need to change this border-color for any different tab states
      margin-left: -1px;
      padding-left: 19px;
      padding-right: 19px;
    }

    .#{$prefix}tab-inner {
      height: auto;
      line-height: $tab-line-height - (top($tab-border-width) * 2);
    }

    &.#{$prefix}tab-active {
      background-color: $color-action-background-active;
      border-color: $color-action-outline-active;
      border-left-color: $color-action-outline-active;
    }
    &:nth-of-type(1) {
      @include border-radius(2px 0px 0px 2px);

      .#{$prefix}tab-wrap {
        border-left-width: 0px;
        margin-left: 0px;
      }
    }
    &:nth-last-of-type(1) {
      @include border-radius(0px 2px 2px 0px);
    }
}