<h5>{{'LOCATIONGROUP.FormLabels.selectedLocations' | translate}}({{model.selectedLocations ? model.selectedLocations.length : 0}})</h5>
<p-table [columns]="model.cols" [value]="model.virtualLocations" [scrollable]="true" 
    [rows]="20" scrollHeight="300px" 
    [totalRecords]="model.totalRecords" 
    [virtualRowHeight]="28"
    [(selection)]="model.selectedLocations">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:34px" [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:34px">
            <td *ngFor="let col of columns">
                <div class="loading-text"></div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                {{'LOCATIONGROUP.GridMessages.emptyMessage' | translate }}
            </td>
        </tr>
    </ng-template>
</p-table>