.loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}

.forwidth {
    width: 1.5em;
}

.forwidth1 {
    width: 3em;
}

.forheight {
    height:34px
}
