.#{$prefix}panel.button-menu {
    border-radius: 0 0 4px 4px;
    border-width: 0;
    .#{$prefix}menu-body {
        background-color: $valid-green;
        padding: 0;
        .#{$prefix}menu-item {
            border-width: 0 0 1px;
            border-color: rgb(39, 156, 127);
            background-color: $valid-green;
            &:last-child {
                border-width: 0;
            }
            &:hover {
                background-color: $valid-green-active;
            }
            .#{$prefix}menu-item-text {
                color: $white-color;
                font-size: 16px;
                line-height: 20px;
                padding: 10px 20px;
            }
        }
    }
}
.#{$vprefix}subnavlink-menu,
.#{$vprefix}grid-row-menu .#{$prefix}menu-item,
.#{$vprefix}more-action-button-menu .#{$prefix}menu-item,
.#{$vprefix}more-action-button-menu.#{$prefix}menu-item {
    .#{$prefix}menu-item-arrow::after {
        top: 13px;
        content: $glyph-arrow-right;
        font-size: 8px;
        color: $gray-text-light;
    }
    &:hover {
        .#{$prefix}menu-item-arrow::after {
            color: $dark-color;
        }
    }
}

.#{$vprefix}variations-dropdown-item-manage .#{$prefix}menu-item-text {
    @include icon-font('\E929');
    padding-left: 20px;
}

.#{$vprefix}variations-dropdown-item-selected {
    background: #f3f3f3;
}