<div class="searchBar" [ngClass]="isEditMode? 'col-md-8 col-sm-8' : 'col-md-10 col-sm-10' " id="searchBar">
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-default search-btn" type="button">
                <i [ngClass]="model.status ? 'pi-times' : 'pi-search'" class="pi"
                    (click)="model.status ? resetSerach(searchBar): ''"></i>
            </button>
        </div>
        <input type="text" [(ngModel)]="model.searchField" class="form-control" #searchBar placeholder="{{'SHARED.FILTER.searchPlaceholder' | translate}}" (keyup)="toggleIcon($event)" (keyup.enter)="search(searchBar.value)" id="quote-search-input" name="quote-search-input">
    </div>
</div>

<div class="col-md-1 col-md-1">
    <span class="advance-filter" data-toggle="modal" data-target=".advanced-filter" type="button" data-backdrop="true" (click)="setAdvancedFilterValue(searchBar.value)"></span>
    <div class="modal advanced-filter" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">{{'SHARED.FILTER.advancedFilter' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="keyword">{{'SHARED.FILTER.keywordSearch' | translate}}</label>
                            <input type="text" class="form-control" id="keyword" name="keyword" [(ngModel)]='filterModel.keyword' (ngModelChange)="modelChanged()">
                        </div>
                        <div class="form-group">
                            <label for="quoteName">{{'SHARED.FILTER.QuotesFields.quoteName' | translate}}</label>
                            <input type="text" class="form-control" id="quoteName" name="quoteName" [(ngModel)]='filterModel.name' (ngModelChange)="modelChanged()">
                        </div>
                        <div class="form-group">
                            <label for="quoteId">{{'SHARED.FILTER.QuotesFields.quoteId' | translate}}</label>
                            <input type="number" min="0" class="form-control" id="quoteId" name="quoteId" [(ngModel)]='filterModel.quoteId' (ngModelChange)="modelChanged()">
                        </div>
                        <div class="form-group">
                            <label for="accountName">{{'SHARED.FILTER.QuotesFields.accountName' | translate}}</label>
                            <input type="text" class="form-control" id="accountName" name="accountName" [(ngModel)]='filterModel.accountName' (ngModelChange)="modelChanged()">
                        </div>
                        <div class="form-group">
                            <label for="accountUserName">{{'SHARED.FILTER.QuotesFields.accountUserName' | translate}}</label>
                            <input type="text" class="form-control" id="accountUserName" name="accountUserName" [(ngModel)]='filterModel.accountUserLastName' (ngModelChange)="modelChanged()">
                        </div>
                        <div class="form-group">
                            <label for="quoteId">{{'SHARED.FILTER.QuotesFields.expirationDate' | translate}}</label>
                            <div class="section-data datepicker">
                                <div class="input-group" id="expirationFrom">
                                    <input class="form-control datepicker-control" [ngModel]="filterModel.expirationFrom | dateTypecast" name="expirationFrom" (ngModelChange)="modelChanged($event, 'from')" ngbDatepicker #expirationFrom="ngbDatepicker" [footerTemplate]="expirationFromFooter"
                                        container="body">
                                    <span class="input-group-append">
                                            <i class="fa fa-calendar" (click)="expirationFrom.toggle()"></i>
                                        </span>
                                </div>
                                <div class="input-group">
                                    <span class="separator-padding">{{'SHARED.FILTER.to' | translate}}</span>
                                </div>
                                <div class="input-group" id="expirationTo">
                                    <input class="form-control datepicker-control" [ngModel]="filterModel.expirationTo | dateTypecast" name="expirationTo" (ngModelChange)="modelChanged($event, 'to')" ngbDatepicker #expirationTo="ngbDatepicker" [footerTemplate]="expirationToFooter" container="body"
                                        [ngClass]="{ 'is-invalid': model.isExpirationToValid }">
                                    <span class="input-group-append">
                                            <i class="fa fa-calendar" (click)="expirationTo.toggle()"></i>
                                        </span>
                                </div>
                                <div class="error" *ngIf="model.isExpirationToValid">{{'SHARED.FILTER.FormsErrorMessages.toDateValid' | translate}}</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="projectName">{{'SHARED.FILTER.QuotesFields.projectName' | translate}}</label>
                            <input type="text" class="form-control" id="projectName" name="projectName" [(ngModel)]='filterModel.projectName' (ngModelChange)="modelChanged()">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span type="button" class="btn cancelbtn" data-dismiss="modal">{{'SHARED.FILTER.cancelBtn' | translate}}</span>
                        <button type="button" id="btnFilter" class="sbbtn btn btn-success" [disabled]="model.isExpirationToValid" (click)="search(searchBar.value)">{{'SHARED.FILTER.filterBtn' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<ng-template #expirationFromFooter>
    <div class="datepicker-footer">
        <a (click)="filterModel.expirationFrom = model.today; expirationFrom.close()" title="{{model.today}}">{{'SHARED.FILTER.today' | translate}}</a>
    </div>
</ng-template>
<ng-template #expirationToFooter>
    <div class="datepicker-footer">
        <a (click)="filterModel.expirationTo = model.today; expirationTo.close()" title="{{model.today}}">{{'SHARED.FILTER.today' | translate}}</a>
    </div>
</ng-template>