.mz-cart-wrap {
	th {
		padding: 10px 7px;
		text-align: center;
		color: white;
		.gradient(#333, #999 );
	}
	tbody td {
		border-bottom: 1px solid #c5c5c5;
		padding: 20px 7px;
	}
	a[onclick^="deleteItem"], .mz-icon-delete {
		background: #777;
		color: white;
		display: inline-block;
		padding: 2px 4px;
		text-decoration: none;
		font-style: italic;
		.border-radius(2px);
	}
}
.mz-cart-item-image {
	float:left;
	margin-right: 20px;
}
.mz-cart-product-item-info-wrap {
	overflow: hidden;
}
.mz-cart-item-title, .mz-cart-item-code, .mz-cart-item-options {
	display: block;
}
.mz-cart-item-title {
	color: #58ABF4;
	font-weight: 700;
	font-size: 14px;
}
.mz-cart-head-products {
	width: 80%;
}

.mz-cart-price.mz-strikethrough {
	display: block;
	margin-bottom: 5px;
}
.mz-cart-head-delete {
	text-align: center;
}
.mz-btn-checkout {
	.gradient(#22D847, #1A9B34);
	padding: 10px 20px;
	font-size: 16px;
	margin: 15px 0 0 15px;
	height: 44px;
}

.mz-cart-total-label {
	vertical-align: middle;
}

.mz-cart-subtotal, .mz-cart-total {
	font-size: 20px;
}
th.mz-cart-head-products {
	text-align: left;
}

.mz-updated-price {
	color: red;
	font-weight: 700;
}

.mz-cart-quantity {
	text-align: center;
	width: 60px;
}
