.mz-product-images {
	width: 300px;
	margin-right: 40px;
	float:left;
	overflow: hidden;
}
.mz-product-image-main-link, .mz-product-image-thumb-img {
	max-width: 100%;
}
.mz-product-image-thumb-link {
	width: 75px;
	float: left;
	margin-right: 5px 10px;
}
.mz-detail-info-wrap {
	overflow: hidden;
}

/* Price Stack for Product Details Page --------- */
.mz-product-detail-wrap {
	.mz-price-stack-wrap {
		width: 300px;
		margin: 20px 0 30px;
	}
	.mz-product-code {
		margin-top: 20px;
	}
	.mz-price-amt {
		float: none;
		font-size: 16px;
	}
	.mz-price-saleprice {
		font-weight: bold;
	}
	.mz-qty-input {
		width: 50px;
		margin-right: 20px;
	}
	.mz-product-image-main {
		margin-bottom: 20px;
	}

	.mz-option {
		display: block;
		margin: 5px 5px 5px 15px;

		+ .mz-option-name {
			display: inline-block;
			margin-top: 10px;
		}

		&.mz-checkbox {
			display: inline-block;
		}

	}

	.mz-loading-bar {
		height: 20px;
		display: inline-block;
		margin-left: 20px;
	}
}
