
.mz-sr-listing-wrap {
	overflow: hidden;
}

.mz-search-results {
	overflow: hidden;
	.mz-side-rail {
		width: 200px;
		float: left;
		margin-right: 30px;
	}
}
.mz-search-product-listing-wrap {
	overflow: hidden;
	float: left;
}
.mz-search-nav-title {
	margin: 0 0 5px 0;
}
.mz-sc-item {
	
	padding: 5px 0;

	.mz-sc-list {
		padding-left: 15px;
	}

}