/* BORDERS */

@mixin dark-border ($color: $color-neutral-white) {
  border-color: adjust-color($color, $red: -51, $green: -51, $blue: -51);
}

@mixin important-no-border-radius {
  //we need to hard code this so we can declare !important
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -khtml-border-radius: 0 !important;
  border-radius: 0 !important;
}

@mixin border-radius-xbrowser($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* SHADOWS */

@mixin outer-shadow ($strength: 0.3, $radius: 5px, $x: 0, $y: 0) {
  box-shadow: $x $y $radius rgba(0,0,0,$strength);
  -moz-box-shadow: $x $y $radius rgba(0,0,0,$strength);
  -webkit-box-shadow: $x $y $radius rgba(0,0,0,$strength);
  -o-box-shadow: $x $y $radius rgba(0,0,0,$strength);
  -ms-box-shadow: $x $y $radius rgba(0,0,0,$strength);
}

@mixin inner-shadow ($strength: 0.3, $radius: 5px, $x: 0, $y: 0) {
  box-shadow: $x $y $radius rgba(0,0,0,$strength) inset;
  -moz-box-shadow: $x $y $radius rgba(0,0,0,$strength) inset;
  -webkit-box-shadow: $x $y $radius rgba(0,0,0,$strength) inset;
  -o-box-shadow: $x $y $radius rgba(0,0,0,$strength) inset;
  -ms-box-shadow: $x $y $radius rgba(0,0,0,$strength) inset;
}

/* ANIMATIONS */

@mixin facade-transitions ($speed: 0.3s, $easing: ease-in-out) {
  transition: box-shadow $speed $easing, transform $speed $easing, background $speed $easing, border $speed $easing, color $speed $easing, text-shadow $speed $easing;
  -webkit-transition: -webkit-box-shadow $speed $easing, -webkit-transform $speed $easing, background $speed $easing, border $speed $easing, color $speed $easing, text-shadow $speed $easing;
  -moz-transition: -moz-box-shadow $speed $easing, -moz-transform $speed $easing, background $speed $easing, border $speed $easing, color $speed $easing, text-shadow $speed $easing;
  -o-transition: -o-box-shadow $speed $easing, -o-transform $speed $easing, background $speed $easing, border $speed $easing, color $speed $easing, text-shadow $speed $easing;
}

/* FLEXBOX */

@mixin flexbox ($direction: row, $wrap: nowrap, $justify: flex-start, $alignItems: stretch, $alignContent: stretch) {
  $standardFlexboxValues: flex inline-flex flex-start flex-end center space-between space-around baseline stretch;
  $ieFlexboxValues: flexbox inline-flexbox start end center justify distribute baseline stretch;

  display: -ms-flexbox;
  -ms-flex-direction: $direction;
  -ms-flex-wrap: $wrap;
  -ms-flex-pack: nth($ieFlexboxValues, index($standardFlexboxValues, $justify));
  -ms-flex-align: nth($ieFlexboxValues, index($standardFlexboxValues, $alignItems));
  -ms-flex-line-pack: nth($ieFlexboxValues, index($standardFlexboxValues, $alignContent));

  display: -webkit-flex;
  -webkit-flex-direction: $direction;
  -webkit-flex-wrap: $wrap;
  -webkit-justify-content: $justify;
  -webkit-align-items: $alignItems;
  -webkit-align-content: $alignContent;

  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $alignItems;
  align-content: $alignContent;
}

@mixin flex ($grow: 0, $shrink: 1, $basis: auto) {
  -ms-flex: $grow $shrink $basis;
  -webkit-flex: $grow $shrink $basis;
  flex: $grow $shrink $basis;
}

@mixin order ($order) {
  -ms-flex-order: $order;
  -webkit-order: $order;
  order: $order;
}

/* OTHER */

@mixin no-select {
  cursor: default;
  user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

.#{$vprefix}no-select {
  @include no-select;
}

@mixin background-with-border ($background-color, $border-style: solid, $border-width: 1px) {
  background-color: $background-color;
  border-width: $border-width;
  border-style: $border-style;
  border-color: border-for($background-color);
}

@mixin icon-font ($glyph, $size: 16px, $color: rgb(51, 51, 51)) {
  height: $size;
  position: relative;
  width: $size;

  &::after {
    color: $color;
    content: $glyph;
    display: block;
    font-family: mozicons;
    font-size: $size;
    font-weight: normal !important;
    left: 0px;
    line-height: 1.0;
    position: absolute;
    top: 0px;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin clear-fix () {
  &::after {
    clear: both;
    content: '';
    display: block;
    height: 0px;
    visibility: hidden;
  }
}