// optimized at 16px
$glyph-code:                "\EF59";
$glyph-underline:           "\E001";
$glyph-smaller:             "\E002";
$glyph-larger:              "\E003";
$glyph-numberedlist:        "\E004";
$glyph-bulletedlist:        "\E005";
$glyph-link:                "\E006";
$glyph-italic:              "\E007";
$glyph-bold:                "\E008";
$glyph-rightalign:          "\E009";
$glyph-leftalign:           "\E00A";
$glyph-centeralign:         "\E00B";
$glyph-color:               "\E091";
$glyph-highlight:           "\E916";
$glyph-list:                "\E00C";
$glyph-grid:                "\E00D";
$glyph-user:                "\E00E";
$glyph-plus:                "\E90C";
$glyph-add:                 "\E02D";
$glyph-minus:               "\E90A";
$glyph-magnifying-glass:    "\E010";
$glyph-search:              $glyph-magnifying-glass;
$glyph-close:               "\E903";
$glyph-key:                 "\E012";
$glyph-pagecategory:        "\E03A";
$glyph-pagesystem:          "\E013";
$glyph-externallink:        "\E014";
$glyph-blogpost:            "\E015";
$glyph-blog:                "\E016";
$glyph-category:            "\E017";
$glyph-cancel:              "\E023";
$glyph-home:                "\E024";
$glyph-create:              "\EDD5";
$glyph-pencil:              $glyph-create;
$glyph-dna:                 "\E026";
$glyph-testtube:            "\E027";
$glyph-beaker:              "\E028";
$glyph-atom:                "\E029";
$glyph-trash:               "\E02A";
$glyph-checkmark:           "\E02B";
$glyph-calendar:            "\E02C";
$glyph-gear:                "\E02E";
$glyph-warning:             "\E02F";
$glyph-info:                "\E030";
$glyph-info-normal:         "\E906";
$glyph-error:               "\E031";
$glyph-success:             "\E032";
$glyph-arrowup:             "\E033";
$glyph-arrowright:          "\E034";
$glyph-arrowleft:           "\E035";
$glyph-arrow-down:          "\E904";
$glyph-arrowdown:           "\E036";
$glyph-chevrondown:         "\E60B";
$glyph-chevronup:           "\E60C";
$glyph-chevronleft:         "\EA02";
$glyph-chevronright:        "\EA06";
$glyph-undo:                "\E60E";
$glyph-redo:                "\E60D";
$glyph-template:            "\E60F";
$glyph-tree-category:       "\E610";
$glyph-tree-sub-category:   "\E613";
$glyph-folder:              "\E614";
$glyph-tooltip-help:        "\E615";
$glyph-move:                "\E609";
$glyph-settings:            "\E91C";
$glyph-widgets:             "\E902";
$glyph-desktop:             "\E902";
$glyph-tablet:              "\E902";
$glyph-phone:               "\E902";
$glyph-funnel:              "\E600";
$glyph-pencil-large:        "\E025";
$glyph-eye:                 "\E07B";
$glyph-lightning:           "\E07C";
$glyph-dashboard-small:     "\E601";
$glyph-locations-small:     "\E602";
$glyph-publishing-small:    "\E603";
$glyph-sitebuilder-small:   "\E604";
$glyph-marketing-small:     "\E605";
$glyph-orders-small:        "\E606";
$glyph-catalog-small:       "\E607";
$glyph-user-small:          "\E608";
$glyph-tools-small:         "\E611";
$glyph-arrow-left:          "\E908";
$glyph-arrow-right:         "\E90D";
$glyph-arrow-down:          "\E904";
$glyph-arrow-up:            "\E9F6";
$glyph-expand-less:         "\EA0E";
$glyph-expand-more:         "\EA12";
$glyph-arrow-drop-down:     "\E9EA";
$glyph-arrow-drop-up:       "\E9F0";
$glyph-hamburger:           "\E909";
$glyph-more-horiz:          "\EA22";
$glyph-more-vert:           "\E90B";
$glyph-knurling:            $glyph-more-vert;
$glyph-dehaze:              "\EB0B";
$glyph-filter-list:         "\E905";
$glyph-reorder:             "\E915";
$glyph-view-headline:       "\F091";
$glyph-line:                "\E00F";
$glyph-splitter:            "\E90F";
$glyph-whole:               "\E910";
$glyph-half:                "\E911";
$glyph-third:               "\E912";
$glyph-quarter:             "\E913";
$glyph-computer:            "\EBE5";
$glyph-phone:               "\EC1C";
$glyph-tablet:              "\EC37";
$glyph-redirect:            "\E914";
$glyph-plus-circle:         "\E900";
$glyph-tooltip:             "\EFB2";
$glyph-forecolor:           "\E091";
$glyph-content:             "\E919";
$glyph-fulfillment:         "\E922";
$glyph-reporting:           "\E925";
$glyph-system:              "\E91F";
$glyph-tile:                "\E920";
$glyph-schema:              "\E91B";
$glyph-structure:           "\E91D";
$glyph-custom:              "\E918";
$glyph-permission:          "\E91A";
$glyph-tree-closed:         "\E927";
$glyph-tree-folder:         "\E928";
$glyph-tree-layers:         "\E929";
$glyph-tree-open:           "\E92A";
$glyph-tree-page:           "\E92B";
$glyph-tree-template:       "\E92C";

// font set for chorizo -- because these are being compiled using compass, they cannot be encased in ""
// optimized at 16px
$glyph-chorizo-pencil:      "EDD5";
$glyph-chorizo-trash:       "E02A";
$glyph-chorizo-move:        "E609";


// optimized at 32px
$glyph-tools:               "\E60A";
$glyph-sitebuilder:         "\E926";
$glyph-catalog:             "\E91E";
$glyph-publishing:          "\E924";
$glyph-orders:              $glyph-fulfillment;
$glyph-menu:                $glyph-hamburger;
$glyph-marketing:           "\E923";
$glyph-filemanager:         "\E01E";
$glyph-dashboard:           "\E01F";
$glyph-customers:           "\E921";
$glyph-location:            "\EFB1";
$glyph-locations:           $glyph-location;
$glyph-back:                "\E021";
$glyph-mozulogo:            "\E037";
$glyph-settings:            "\E91C";

//optimized at 80px
$glyph-dropimage:           "\E07D";
$glyph-dropvideo:           "\E07E";

@mixin icon-font ($glyph, $size: 16px, $color: rgb(51, 51, 51)) {
    height: $size;
    position: relative;
    width: $size;

    &::after {
        color: $color;
        content: $glyph;
        display: block;
        font-family: mozicons;
        font-size: $size;
        font-weight: normal !important;
        left: 0px;
        line-height: 1.0;
        position: absolute;
        top: 0px;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }
}

@mixin use-glyph ($classname, $glyph) {
    &.#{$prefix}#{$classname} {
        &:after {
            content: $glyph;
        }
    }
}

// function to take string code, and turn into char code for chorizo
@function char-from-code($iso-char) {
    @return unquote('\    "\\#{$iso-char}\"');
}