@mixin tree-state($treeState) {
    img {
        &.#{$prefix}tree-elbow-plus,
        &.#{$prefix}tree-elbow-minus,
        &.#{$prefix}tree-elbow-end-plus,
        &.#{$prefix}tree-elbow-end-minus {
            background-image: none;
            position: relative;
            z-index: 1;
        }

        &.#{$prefix}tree-expander {
            & + img {
                &.#{$prefix}tree-icon {
                    &.#{$prefix}tree-icon-parent {
                        & + span {
                            &.#{$prefix}tree-node-text {
                                &:before {
                                    content: $treeState;
                                    font-family: 'mozicons';
                                    font-size: 13px;
                                    position: absolute;
                                    z-index: 0;
                                    margin-left: -16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}