@mixin taco-catalogassignmentbar {

	.#{$vprefix}catalog-selector-bar {

        background-color: $white-color;
        line-height: initial;
        margin-top: 9px;

        & > div > div > div {
            border-right: 1px solid $nav-element-active-border;

            &:last-child {
                border-right-width: 0px;
            }
        }
	}
}