@mixin taco-checkout {

  .#{$vprefix}standalone-accordion {

    .#{$vprefix}inner-form {
      background-color: $color-neutral-mid-light;
      outline: 12px solid $color-neutral-mid-light;
      margin: 1.8em 12px 0;

      .#{$vprefix}gateway-field:first-child label {
        margin-top: 0;
      }

      p {
        color: $color-neutral-darker;

        strong {
          font-size: 16px;
          line-height: 1.33;
          color: #555;
        }
      }

      .#{$vprefix}inner-form-section {

        & + .#{$vprefix}inner-form-section {
          margin-top: 15px;
          padding-top: 10px;
          border-top: 1px dotted $color-neutral-dark;
        }
      }
    }
  }

  .#{$vprefix}tabs .#{$vprefix}standalone-accordion td {
    padding-top: 5px;
  }


  .#{$vprefix}field-description-text {
    // margin-top: 2.65em;
    padding-left: 25px;
    width: 425px;
  }

}