@mixin taco-contextSwitcher {

    .#{$vprefix}context-switcher-bar {
        background-color: $white-color;
        margin-top: 9px;

        & > div > div > div {
            border-right: 1px solid $nav-element-active-border;

            &:last-child {
                border-right-width: 0px;
            }
        }
    }
}