@mixin taco-fieldgroup {
  
	.#{$vprefix}fieldgroup-container {
		background-color: $color-neutral-light;
		font-size: 16px;
		padding: 20px 20px 0;
		@include border-radius;

		.#{$vprefix}fieldgroup-container-title {
			font-size: 1.1em;
			padding-bottom: 20px;
		}
	}

	.#{$vprefix}fieldgroup {
		border-bottom: 1px dashed $color-neutral-mid;
		padding: 10px 20px 5px;

		.#{$vprefix}fieldgroup-title {
			font-weight: bold;
			padding-bottom: 4px;
			position: relative;

			.#{$vprefix}draghandle {
				left: -36px;
				position: absolute;
				top: -10px;
			}
			em {
				color: $color-neutral-darker;
				font-size: 0.9em;
				font-style: italic;
				margin-left: 6px;

				span {
					text-transform: lowercase;
				}
			}
		}

		.#{$vprefix}option-delete {
			display: block;
			height: 30px;
			left: -1px;
			position: absolute;
			text-indent: -9999px;
			top: 36px;
			width: 30px;

			&:before {
				background-color: $color-neutral-mid;
				content: "";
				display: block;
				height: 12px;
				left: 5px;
				margin: 0;
				position: absolute;
				top: 0px;
				width: 3px;
				@include transform(rotate(45deg));
			}
			&:after {
				background-color: $color-neutral-mid;
				content: "";
				display: block;
				height: 12px;
				left: 5px;
				margin: 0;
				position: absolute;
				top: 0px;
				width: 3px;
				@include transform(rotate(-45deg));
			}
			&:hover {
				&:before {
					background-color: $color-neutral-dark;
				}
				&:after {
					background-color: $color-neutral-dark;
				}
			}
		}

		.#{$prefix}grid-body {
			background-color: transparent;
		}
		.#{$prefix}grid-row .#{$prefix}grid-cell {
			background-color: transparent;
		}
		.#{$prefix}grid-row-selected .#{$prefix}grid-cell {
			background-color: transparent !important;
		}
	}

	.#{$vprefix}fieldgroup-grid-header {
		border-bottom: 1px dashed $color-neutral-mid;

		.#{$prefix}component {
			font-size: 0.7em;
			color: $color-neutral-darker;
			text-shadow: 0 1px 0 rgb(255, 255, 255);

			em {
				color: $color-neutral-darker;
			}
		}
	}

	.#{$vprefix}option-value-title .#{$prefix}grid-cell-inner {
		padding: 4px 24px;
	}

	.#{$vprefix}option-value-price {
		.#{$prefix}grid-cell-inner {
			padding: 4px;
		}
		.#{$prefix}form-text {
			padding: 2px;
			text-align: center;
			width: 60px;
		}
	}
}
