//@import "picker/*.png";

@mixin taco-form {

    /* FIELDS */

    // textfield styles
    .#{$prefix}form-text,
    textarea.#{$prefix}form-field {
        @include border-radius(2px);
        @include single-transition(border-color);

        &:not(.#{$prefix}form-focus):hover {
            border-color: border-for($color-neutral-90);
        }
    }

    .#{$vprefix}override-form {
        margin-top: 30px;
        position: relative;

        .#{$vprefix}override-form-inner {
            border: 1px dashed border-for($color-neutral-white);
            padding: 20px 20px 20px;

            > .#{$prefix}mask {
                background-color: transparent;
                background-image: -webkit-repeating-linear-gradient(-45deg, $white-color 0%, $white-color 25.5%, $dark-color 25.5%, $dark-color 51%, $white-color 51%, $white-color 76.5%,  $dark-color 76.5%,  $white-color 100%);
                background-size: 6px 6px;
                opacity: 0.06;
            }

            .#{$prefix}html-editor-wrap {
                .#{$prefix}mask{
                    opacity:0;
                }
            }
        }

        .#{$vprefix}override-checkbox {
            display: block;
        }
    }

    // textarea styles
    .#{$prefix}webkit {
        textarea.#{$prefix}form-empty-field {
            line-height: normal;
        }
    }

    .#{$prefix}htmleditor-iframe {
        width: 100%;
    }

    .#{$prefix}field .#{$prefix}form-checkbox,
    .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox,
    .#{$prefix}menu .#{$prefix}menu-item-unchecked .#{$prefix}menu-item-icon,
    .#{$prefix}grid-table .#{$prefix}grid-row-checker,
    .#{$prefix}grid-header-ct .#{$prefix}column-header-checkbox .#{$prefix}column-header-text {
        @include icons-sprite(checkbox-unchecked);
        background-size: 100%;
        border: none;
        width: 14px;
        height: 14px;
    }

    .#{$prefix}field .#{$prefix}form-checkbox-focus,
    .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox-focus,
    .#{$prefix}menu .#{$prefix}menu-item-unchecked-focus .#{$prefix}menu-item-icon,
    .#{$prefix}grid-table .#{$prefix}grid-row-checker-focus,
    .#{$prefix}grid-header-ct .#{$prefix}column-header-checkbox-focus .#{$prefix}column-header-text {
        @include icons-sprite(checkbox-unchecked);
    }

    .#{$prefix}form-cb-checked .#{$prefix}form-checkbox,
    .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox-checked,
    .#{$prefix}menu .#{$prefix}menu-item-checked .#{$prefix}menu-item-icon,
    .#{$prefix}grid-table .#{$prefix}grid-row-selected .#{$prefix}grid-row-checker,
    .#{$prefix}grid-header-ct .#{$prefix}grid-hd-checker-on .#{$prefix}column-header-text {
        @include icons-sprite(checkbox-checked);
        background-size: 100%;
        width: 14px;
        height: 14px;
    }

    .#{$prefix}menu {
        .#{$prefix}menu-body {
            padding: 0;
        }
        .#{$prefix}menu-item-checked, .#{$prefix}menu-item-unchecked {
            .#{$prefix}menu-item-icon {
                left: 10px;
                margin-top: 10px;
            }
            .#{$prefix}menu-item-link {
                padding-left: 21px;
                padding-right: 0;
            }
        }
        .#{$prefix}menu-item-checked .#{$prefix}menu-item-text {
            color: $dark-color;
        }
        .#{$prefix}menu-item-unchecked .#{$prefix}menu-item-text {
            color: $gray-text-light;
        }
    }

    .#{$prefix}form-cb-checked .#{$prefix}form-checkbox-focus,
    .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox-checked-focus,
    .#{$prefix}menu .#{$prefix}menu-item-checked-focus .#{$prefix}menu-item-icon,
    .#{$prefix}grid-table .#{$prefix}grid-row-selected .#{$prefix}grid-row-checker-focus {
        @include icons-sprite(checkbox-checked);
    }

    .#{$prefix}grid-cell-inner {
        .#{$prefix}tree-checkbox {
            &.checked {
                @include icons-sprite(checkbox-checked);
            }
        }
    }

    .#{$prefix}form-checkbox-glyph {
    }

    .#{$prefix}form-field.#{$prefix}form-cb {
        border-bottom: none;
    }
    .#{$prefix}field .#{$prefix}form-radio {
        @include icons-sprite(icon-radio);
        background-size: 14px;
    }
    .#{$prefix}form-cb-checked .#{$prefix}form-radio {
        @include icons-sprite(icon-radio-selected);
        background-size: 14px;
    }

    // checkcolumn
    .#{$prefix}grid-checkheader {
        width:17px;
        height:15px;
        background-image: url("images/icons/checkbox.gif" );
    }

    .#{$prefix}grid-checkheader-checked {
        background-position: 0 -15px;
    }

    /* FORMS */

    // form tab panel
    .#{$vprefix}form-tab-bar {
        background-color: $color-neutral-95;
        border: 1px solid border-for($color-neutral-white);
        border-bottom-width: 1px !important;
    }
    .#{$vprefix}form-tab {
        background-color: transparent;
        border-right: 1px solid border-for($color-neutral-white);
        cursor: pointer;
        display: inline-block;
        height: 38px;
        padding: 10px 28px;
        position: relative;
        vertical-align: top;

        &.add {
            padding-left: 0px;
            padding-right: 0px;
            text-indent: -99999px;
            width: 45px;
            @include transition(background-color 0.3s);

            &.active {
                background-color: $color-neutral-75;
            }

            &::before {
                background-color: $color;
                content: "";
                height: 13px;
                left: 21px;
                position: absolute;
                top: 13px;
                width: 3px;
            }
            &::after {
                background-color: $color;
                content: "";
                height: 3px;
                left: 16px;
                position: absolute;
                top: 18px;
                width: 13px;
            }
        }

        &:hover {
            .#{$vprefix}form-tab-close-button {
                display: block;
            }
        }

        .#{$vprefix}override-indicator {
            background-color: $color-theme-support-darker;
            display: none;
            height: 8px;
            left: 10px;
            position: absolute;
            top: 15px;
            width: 8px;
            @include border-radius(8px);
        }

        .#{$vprefix}form-tab-close-button {
            display: none;
            font-size: px-to-rem(12);
            font-weight: bold;
            height: 12px;
            line-height: px-to-rem(12);
            position: absolute;
            right: 11px;
            text-align: right;
            top: 14px;
            width: 12px;
        }

        &.#{$vprefix}has-overrides .#{$vprefix}override-indicator {
            display: block;
        }
    }

    .#{$vprefix}form-tab-active {
        background-color: $color-neutral-white;
    }

    .#{$vprefix}tab-picker {
        background-color: $color-neutral-white;
        border: 1px solid border-for($color-neutral-white);
        padding: px-to-rem(7) px-to-rem(21);
    }


    .#{$vprefix}form-card-nav-body {
        background-color: $color-neutral-95;
        border: 1px solid border-for($color-neutral-95);
        margin-top: -40px;
        padding: 19px 39px;
        width: 180px;

        li {
            font-size: px-to-rem(16);
            line-height: px-to-rem(20);
            margin-top: 20px;
            cursor: pointer;

            &:nth-of-type(1) {
                margin-top: 0px;
            }
        }
    }

    .#{$vprefix}shell-scrolled {
        .#{$vprefix}form-card-nav-body {
            margin-top: 0px;
            left: 30px;
            position: fixed;
            top: 90px;
        }
    }

    .#{$vprefix}form-section {
        background-color: $color-neutral-white;
        border: 1px solid border-for($color-neutral-95);
        margin-top: 20px;
        padding: 39px;

        &> .#{$prefix}panel-header {
            .#{$prefix}panel-header-body {
                border-bottom: 1px solid border-for($color-neutral-95);
                padding-bottom: 20px;
            }
        }
    }

    /* BF */
    .#{$vprefix}option-value-row {
        .remove {
            cursor: pointer;
            margin-left: 5px;
            @include icon-font($glyph-trash);

            &:hover {
                &::after {
                    color: $color-neutral-40;
                }
            }
        }
    }

    // date field styles 
    .#{$vprefix}option-value-input {
        height: 28px; 
        width: 150px; 
        margin-bottom: 5px;
    }

    .#{$vprefix}date-value-input {
        label {
            margin-top: 5px;
        }

        .#{$prefix}form-date-trigger,
        .#{$prefix}form-trigger-click {
            background: none transparent;
            @include icon-font($glyph-calendar);

            &::after {
            
            }
        }
    }

    .#{$vprefix}sublabel-text {
        color: $color;
        font-size: px-to-rem(10);
        font-style: italic;
    }

    .#{$vprefix}tooltip {
        background-color: $color-theme-yellow-light;
        font-size:12px;
        font-family:'SourceSansProRegular', 'helvetica', 'arial', 'verdana', 'sans-serif';
    }

    .#{$vprefix}tooltip-help {
        padding-left: 5px;
        font-family:mozicons;
        font-size: px-to-rem(10);
        font-weight:normal!important;
        line-height:0.3;
        vertical-align:top;

        a {
            text-decoration: none;
        }

        .#{$vprefix}icon-tooltip-help::after {
            content: $glyph-tooltip-help;
            vertical-align:text-top;
        }
    }

    .#{$vprefix}tooltip-help-content {
        font-size:12px;
        font-family:'SourceSansProRegular', 'helvetica', 'arial', 'verdana', 'sans-serif';
        padding: 0px 10px 10px 10px;
        background-color: $color-framework-gray-light;
    }

}