@mixin taco-grid {

    /* CORE GRID STYLES */

    .#{$prefix}grid-cell-row-expander {
        .#{$prefix}grid-cell-inner {
            overflow: initial;
            padding: 8px 0px 6px;
        }
    }

    .#{$prefix}grid-row-expander {
        &:after {
            color: $glyph-icon-color;
            content: $glyph-arrowdown;
            font-family: 'mozicons';
            position: absolute;
        }
    }

    .#{$prefix}grid-row-collapsed {
        .#{$prefix}grid-row-expander {
            &:after {
                color: $glyph-icon-color;
                content: $glyph-arrowright;
                font-family: 'mozicons';
                position: absolute;
            }
        }
    }

    // header trigger
    .#{$prefix}column-header-sort-ASC {
        .#{$prefix}column-header-text {
            background-image: none;

            &:after {
                color: $glyph-icon-color;
                content: $glyph-arrowdown;
                font-family: 'mozicons';
                display: inline-block;
                position: absolute;
                margin-left: 4px;
            }
        }
    }

    .#{$prefix}column-header-sort-DESC {
        .#{$prefix}column-header-text {
            background-image: none;

            &:after {
                color: $glyph-icon-color;
                content: $glyph-arrowup;
                font-family: 'mozicons';
                display: inline-block;
                position: absolute;
                margin-left: 4px;
            }
        }
    }

    .#{$prefix}tree-view-default {
        .#{$vprefix}grid-row-menu-trigger {
            margin-right: 11px;
        }
    }

    .#{$vprefix}grid-row-menu-trigger {
        @include icon-font($glyph-knurling, 16px, $gray-text-light);
        width: 12px;
        height: 20px;
        border-radius: 3px;
        //left: 13px;
        cursor: pointer;

        float: right;
        margin-right: -2px;

        &::after {
            right: 0;
            left: initial;
            line-height: 20px;
            width: 100%;
            height: 100%;
            text-align: center;
            color: $glyph-icon-color-inactive;
        }

        &:hover {
            background-color: $grid-row-hover-bg;

            &::after {
                color: $glyph-icon-color;
            }
        }

        &.#{$vprefix}grid-row-menu-trigger-active {
            box-shadow: $more-menu-active-shadow 0 0 0 1px inset;
            &::after {
                color: $glyph-icon-color;
            }
        }

        .#{$prefix}grid-tree-node-leaf & {
            margin-right: 11px;
        }
    }

    .#{$prefix}grid-cell-treecolumn {
        & + .#{$prefix}grid-cell-last {
            .#{$vprefix}grid-row-menu-trigger {
                margin-right: 11px;
            }
        }
    }

    tr {
        &:hover {
            .#{$prefix}grid-cell {
                background-color: $grid-row-hover-bg;
            }
        }

        &:active {
            .#{$prefix}grid-cell {
                background-color: $dark-bg;
            }
        }
    }

    .#{$prefix}grid-row-focused {
        .#{$prefix}grid-td {
            background-color: $grid-row-hover-bg;
        }
    }

    .#{$prefix}grid-row-active {
        .#{$prefix}grid-td {
            background-color: $dark-bg;
        }
    }

    .#{$prefix}grid-header-ct {
        border-bottom: 1px solid $light-gray-border-color!important;

        .#{$prefix}column-header-first {
            border-top-left-radius: 5px;
        }

        .#{$prefix}column-header-last {
            border-top-right-radius: 5px;
        }

            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        /* PLUGINS, MIXINS, COLUMNS, ETC. */

        .#{$prefix}grid-cell-inner {
            span.overridden {
            background-color: $color-theme-support-darker;
            display: inline-block;
            font-size: 0px;
            height: 8px;
            line-height: 0px;
            overflow: hidden;
            vertical-align: middle;
            width: 8px;
            @include border-radius(8px);
        }
    }

    .#{$prefix}grid-cell-inner-action-col {
        padding-left: 5px;
    }

    // expandercollapser
    .#{$vprefix}expandercollapser {
        color: $color-action-link;
        font-size: px-to-rem(14);
        line-height: px-to-rem(14);

        .#{$vprefix}action {
            display: inline-block;
            padding: 0px 5px;

            &:not(:nth-of-type(1)) {
                border-left: 1px solid $color-action-link;
            }
        }
    }

    // pseudo-actioncolumn styles
    .#{$vprefix}actioncolumn {
        vertical-align: middle;
    }

    .#{$vprefix}actioncolumn-icon-remove {
        cursor: pointer;
        @include icon-font($glyph-close);
    }

    .#{$prefix}grid-data-row {
        .#{$vprefix}actioncolumn {
            .#{$prefix}grid-cell-inner {
                .#{$vprefix}actioncolumn-icon-remove {
                    left: -8px;
                }
            }
        }
    }

    // menucolumn styles
    .#{$vprefix}menu-col-cell {
        .#{$prefix}grid-cell-inner {
            line-height: 0px;
            // padding-bottom: 4px;
            // padding-top: 4px;
        }
    }

    // hide the action menu trigger image when its inside of the row editor. it causes a bunch of padding to be added;
    .#{$prefix}grid-row-editor {
        .#{$vprefix}grid-row-menu-trigger {
            display:none;
            height:0px;
        }
    }


    // over ride of default menu trigger icon to make it a remove icon instead of a gear menu icon
    .#{$vprefix}grid-row-menu-trigger-remove {
        @include icon-font($glyph-close, 16px, $color-action-outline);

        &:hover {
            @include icon-font($glyph-close, 16px, $color-action-foreground);
        }
    }


    .#{$prefix}grid-row-focused {
        .#{$vprefix}grid-row-menu-trigger {
            visibility: visible !important;
        }
    }

    .#{$prefix}panel {
        .#{$prefix}link-paging-toolbar {
            .#{$prefix}tbar-page-link {

                &.#{$prefix}btn {
                    .#{$prefix}btn-inner-center {
                        font-size: $normal-font;
                    }
                }

                &:not(.#{$prefix}tbar-page-link-current):hover {
                    .#{$prefix}btn-inner {
                        color: $dark-color;
                    }
                }

                &:active {
                    background-color: $dark-bg;
                }
            }
        }
    }

    .#{$prefix}refresh-btn {
        @include icon-font($glyph-refresh, 14px, $pagination-arrow-color);
        &::after {
            border-radius: 3px;
            padding: 2px;
            top: -1px;
            padding-left: 7px
        }

        &:hover {
            text-decoration: none;

            &::after {
                color: $refresh-hover-color;
            }
        }

        &:active {
            &::after {
                background-color: $dark-bg;
            }
        }

        &.#{$prefix}btn-default-toolbar-small-over,
        &.#{$prefix}btn-default-toolbar-small-focus {
            border-color: transparent;
            background: none;
        }
    }

    .paginationArrows.#{$prefix}btn-default-toolbar-small {
        &.pagination-arrow-left {
            .#{$prefix}btn-wrap {
                @include icon-font($glyph-arrow-left, 11px, $pagination-arrow-color);
                top: 4px;
                left: 4px;
                &.x-btn-button {
                    &::after {
                        top: 1px;    
                    }
                }
                
            }
        }
        &.pagination-arrow-right {
            .#{$prefix}btn-wrap {
                @include icon-font($glyph-arrow-right, 11px, $pagination-arrow-color);
                top: 4px;
                &.x-btn-button {
                    &::after {
                        top: 1px;    
                    }
                }
                &::after {
                    left: inherit;
                    right: 0px;
                    top: 1px;    
                }
            }
        }
    }

    .#{$prefix}grid-view-default {
        table {
            tbody {
                tr {
                    border-bottom: 1px solid $light-gray-border-color;
                }
            }
        }
    }

    // over ride of default menu trigger focused and over behavior when the grid panel is readonly mode.
    .#{$vprefix}grid-row-menu-trigger-disabled {
        visibility: hidden;
    }

    /* CONTAINERS, TOOLBARS, ETC. */

    // pager styles
    .#{$vprefix}pager {
        background: none transparent;
        border-width: 0px;
        min-width: 300px;
        padding: 10px 0px 0px;

        .#{$vprefix}pager-list {
            margin: 0px 100px;
            overflow: hidden;
            text-align: center;
        }

        .#{$vprefix}pager-item {
            background-color: $color-neutral-95;
            border: 1px solid $color-neutral-75;
            color: $color;
            display: inline-block;
            font-size: 14px;
            height: 25px;
            line-height: 1.0;
            margin: 0px 5px;
            padding: 6px 8px 0px;
            min-width: 25px;
            text-align: center;
            @include border-radius(2px);

            &.active {
                background-color: $color-theme-accent;
                border-color: $color-theme-accent;
                color: $color-neutral-white;
            }
            &.previous {
                left: 0px;
                margin: 0px;
                position: absolute;
                top: 10px;
            }
            &.next {
                margin: 0px;
                position: absolute;
                right: 0px;
                top: 10px;
            }
        }
    }
    .#{$vprefix}basegrid-thumbnail{
        @include icon-font($glyph-category);
        height:auto;
        width:auto;
        min-height: 20px;
        img{
            height: auto;
            position: relative;
            z-index: 2;
        }
    }

    .#{$prefix}toolbar-docked-bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .#{$vprefix}action-on-click {
        .#{$prefix}grid-row, .#{$prefix}column-header { cursor: pointer; }
    }
    .#{$vprefix}empty-cell {
        color: $gray-text-extra-light;
    }

}