@mixin taco-grid {

  /* CORE GRID STYLES */

  .#{$prefix}panel {
    .#{$prefix}grid-body {
      border-top-color: $panel-body-border-color; // defaults to header background-color

      &~ .#{$prefix}docked-bottom {
        border-top-color: $color-neutral-white;
      }
    }
  }

  // grid cells
  .#{$prefix}grid-with-row-lines {
    .#{$prefix}grid-cell-inner {
      line-height: $grid-row-cell-line-height;
      padding: $grid-cell-inner-padding;
    }
  }

  .#{$prefix}grid-cell-selected {
    background-color: $color-selected !important;
  }

  // grid rows
  .#{$prefix}grid-row {
    vertical-align: middle;

    .#{$prefix}grid-cell {
      border-top-color: transparentize($color-neutral-white, 0.9) !important;
    }

    .#{$prefix}grid-cell-special {
      background-color: $grid-row-cell-background;
      background-image: none;
      border-right: 0px none;
    }
  }

  .#{$prefix}grid-rowwrap-div {
    border-top-color: transparentize($color-neutral-white, 0.9) !important;
  }

  .#{$prefix}grid-row-selected {
    .#{$prefix}grid-rowwrap-div {
      border-color: $color-theme-support-dark;
    }
  }

  // even-numbered grid rows
  .#{$prefix}grid-row-alt {
    .#{$prefix}grid-cell-special {
      background-color: $grid-row-cell-alt-background;
    }
  }

  // grid row hover state
  .#{$prefix}grid-row-over {
    .#{$prefix}grid-cell-special {
      background-color: $grid-row-cell-over-background-color;
      border-color: $grid-row-cell-over-border-color;
    }
  }

  // grid row focus state
  .#{$prefix}grid-row-focused {
    .#{$prefix}grid-cell-special {
      background-color: $grid-row-cell-focus-background-color;
      border-color: $grid-row-cell-focus-border-color;
    }
  }

  .#{$prefix}grid-rowwrap-div {
    .#{$prefix}grid-cell-special {
      background-color: transparent;
    }
  }

  // column headers
  .#{$prefix}column-header {
    border: 0px none;
    font-size: $grid-column-header-font-size;
    font-weight: bold;
    line-height: $grid-column-header-line-height;
    text-shadow: none;

    &.#{$prefix}column-header-last {
      .#{$prefix}column-header-inner {
        padding-right: 40px;
      }
      .#{$prefix}column-header-text {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .#{$prefix}column-header-trigger {
        background: none transparent;
        display: block !important;
        right: 12px;
        top: 12px;
        @include icon-font($glyph-plus, 16px, $color-neutral-white);
        position: absolute;
      }
    }
  }

  .#{$prefix}column-header-inner {
    padding-top: 15px !important;
  }

  .#{$prefix}column-header-over {
    .#{$prefix}column-header-trigger {
      display: none; // column menu trigger is not is not easily removed from cell template, so hide it
    }
  }

  /* PLUGINS, MIXINS, COLUMNS, ETC. */

  .#{$prefix}grid-cell-inner {
    span.overridden {
      background-color: $color-theme-support-darker;
      display: inline-block;
      font-size: 0px;
      height: 8px;
      line-height: 0px;
      overflow: hidden;
      //text-indent: -9999px;
      vertical-align: middle;
      width: 8px;
      @include border-radius(8px);
      // @include box-shadow(inset 0px -1px rgba(255, 255, 255, 0.4), inset 0px 1px rgba(0, 0, 0, 0.4));
    }
  }

  // checkbox overrides
  .#{$prefix}column-header-checkbox {
    .#{$prefix}column-header-inner {
      padding-top: 11px !important;
    }
  }

  // expandercollapser
  .#{$vprefix}expandercollapser {
    color: $color-action-link;
    font-size: px-to-rem(14);
    line-height: px-to-rem(14);

    .#{$vprefix}action {
      display: inline-block;
      padding: 0px 5px;

      &:not(:nth-of-type(1)) {
        border-left: 1px solid $color-action-link;
      }
    }
  }

  // rowexpander overrides
  .#{$prefix}grid-row-expander {
    background-image: none;
    border-bottom: 5px solid transparent;
    border-left: 10px solid $color-neutral-dark;
    border-right: 0px none;
    border-top: 5px solid transparent;
    height: 0px;
    margin: 0px;
    width: 0px;
    @include transform(rotate(90deg));
    @include single-transition(transform, 0.1s);

    &.empty {
      visibility: hidden;
    }
  }

  .#{$prefix}grid-row-collapsed {
    .#{$prefix}grid-row-expander {
      background-image: none;
      @include transform(rotate(0deg));
    }
    .#{$prefix}grid-row-body {
      display: none;
    }
  }

  // cellediting overrides
  .#{$prefix}border-box {
    .#{$prefix}grid-editor {
      .#{$prefix}form-item-body {
        padding: 2px;
      }
      .#{$prefix}form-text {
        height: 30px;
        padding-bottom: 5px;
      }
    }
  }

  // pseudo-actioncolumn styles
  .#{$vprefix}actioncolumn-icon-remove {
    @include icon-font($glyph-close);
  }

  // menucolumn styles
  .#{$vprefix}menu-col-cell {
    .#{$prefix}grid-cell-inner {
      line-height: 0px;
      padding-bottom: 1px;
      padding-top: 1px;
    }
  }

  .#{$vprefix}grid-row-menu-trigger {
    cursor: pointer;
    height: 30px;
    visibility: hidden;
    width: 50px;
    @include icons-sprite(icon-rowactions); // icon is an <img>
  }

  // over ride of default menu trigger icon to make it a remove icon instead of a gear menu icon
  .#{$vprefix}grid-row-menu-trigger-remove {    
    @include icons-sprite(icon-remove); // icon is an <img>
  }


  .#{$prefix}grid-row-over {
    .#{$vprefix}grid-row-menu-trigger {
      visibility: visible;
    }
  }
  .#{$prefix}grid-row-focused {
    .#{$vprefix}grid-row-menu-trigger {
      visibility: visible !important;
    }
  }

  // over ride of default menu trigger focused and over behavior when the grid panel is readonly mode.
  .#{$vprefix}grid-row-menu-trigger-disabled {    
    visibility: hidden;
  }

  /* CONTAINERS, TOOLBARS, ETC. */

  // togglegroup styles
  .#{$vprefix}togglegroup {
    margin: 0px !important;

    //$card-map: sprite-map('card/*.png') /* syntax highlighting bug */;
    $gradient-selected: linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 20%);

    .#{$prefix}form-radio-group {
      .#{$prefix}form-radio {
        background-image: none;
        border: 1px solid border-for($color-neutral-95);
        height: 30px;
        width: 40px;
        top: 0px;
      }

      &:nth-of-type(1) {
        .#{$prefix}form-radio {
          //@include background(sprite($card-map, card-gridview));
          background-color: $color-neutral-95;
        }
        .#{$prefix}form-cb-checked {
          .#{$prefix}form-radio {
            // @include background(sprite($card-map, card-gridview-selected), $gradient-selected);
            background-color: border-for($color-neutral-95);
          }
        }
      }
      &:nth-of-type(2) {
        .#{$prefix}form-radio {
          //@include background(sprite($card-map, card-tileview));
          background-color: $color-neutral-95;
        }
        .#{$prefix}form-cb-checked {
          .#{$prefix}form-radio {
            // @include background(sprite($card-map, card-tileview-selected), $gradient-selected);
            background-color: border-for($color-neutral-95);
          }
        }
      }
    }

    .#{$prefix}form-item {
      margin: 0px;
    }
    .#{$prefix}form-checkboxgroup-body,
    .#{$prefix}form-cb-wrap,
    .#{$prefix}form-item-label {
      padding: 0px;
    }
  }

  // pager styles
  .#{$vprefix}pager {
    background: none $color-neutral-95;
    border: 1px solid border-for($color-neutral-95);
    padding: 7px;

    .#{$vprefix}action {
      background-color: $color-neutral-90;
      display: inline-block;
      height: 28px;
      margin: 2px;
      min-width: 28px;
      padding-top: 6px;
      text-align: center;
      @include border-radius(2px);
      
      &.active{
        background-color: $color-theme-accent;
        color: $color-neutral-white;
      }
    }
  }

}
