
@mixin taco-image-drop-zone {
    text-align: center;
    @include background-with-border($color-neutral-95, dashed);
    color: $color-neutral-70;
    font-weight: normal;
    background-repeat: no-repeat;
    padding-top: px-to-rem(30);
    background-image: url(../../resources/images/image-drop.png);

    @include transition(background-color 0.3s ease-in);

    &:hover, &.drag-over {
        @include background-with-border($color-neutral-90, $border-style: dashed);
    }

    &:before {
        opacity: 0;
        content: "";
        display: block;
        position: absolute;
        background-color: transparentize($color-theme-support-darker, 0.8);
        @include transition(opacity 0.3s ease-in);
    }
}

@mixin taco-image-field {

    $thumbnail-size: 150px;

    .#{$vprefix}image-field {
        border: none !important;

        .#{$vprefix}action {
            font-weight: normal;
            font-size: px-to-rem(13);
        }

        .#{$vprefix}image-tiles {
            li {
                display: inline-block;
                padding: 0px px-to-rem(15) px-to-rem(10) 0px;
                vertical-align: top;

                .square {
                    border: 1px solid $color-neutral-75;
                    background-color: $color-neutral-white;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: $thumbnail-size;
                    width: $thumbnail-size;
                }

                &.active {
                    border: 1px solid red;

                    &:before {
                        opacity: 1;
                        content: "";
                        display: block;
                        position: absolute;
                        background-color: rgba(60,120,255,0.4);
                        height: $thumbnail-size;
                        width: $thumbnail-size;
                        
                        @include transition(opacity 0.3s ease-in);
                    }
                }

                &.#{$vprefix}image-drop .square {
                    @include taco-image-drop-zone;
                    padding-top: px-to-rem(30);
                    background-position: center px-to-rem(50);
                    background-size: 68px 70px;

                    &:before {
                        width: $thumbnail-size;
                        height: $thumbnail-size;
                        margin-top: px-to-rem(-30);
                    }
                }

                .toolbar {
                    opacity: 0;
                    padding: 3px 4px;
                    background: transparentize(#000,0.4);
                    color: transparent;
                    @include transition(opacity 0.2s ease-out);
                }

                .drag-handle {
                    cursor: move;
                    display: inline-block;
                    vertical-align: top;
                    width: 3px;
                    height: 15px;
                    margin: 1px 108px 0 0;
                    @include icon-font($glyph-knurling, 16px, $color-neutral-white);
                }

                .alt-text {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    width: 16px;
                    height: 16px;
                    position:absolute;
                    margin:1px -50px;
                    @include icon-font($glyph-pencil, 16px, $color-neutral-white);

                }
                
                .remove {
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    width: 18px;
                    height: 18px;
                    @include icon-font($glyph-trash, 16px, $color-neutral-white);
                    
                    &:before {
                        margin: 5px 0 0 8px;
                        content: '';
                        height: 8px;
                        width: 8px;
                        display: block;
                    }
                }

                &:hover .toolbar, &.selected .toolbar {
                    opacity: 1;
                }

                &.selected .square {
                    border: 1px solid $color-theme-support-darker;
                }
            }
        }

        &.drag-and-drop-active {
            .#{$vprefix}image-drop-zone {
                
                &:before {
                    opacity: 1 !important;
                }
            }

            .#{$vprefix}image-drop .square {
                &:before {
                    opacity: 1 !important;
                }
            }
        }
    }

    .#{$vprefix}image-drop-zone {
        @include taco-image-drop-zone;
        height: 170px;
        font-size: px-to-rem(20);
        background-position: center px-to-rem(62);
        margin-bottom: px-to-rem(10);

        &:before {
            margin-top: px-to-rem(-30);
            height: 170px;
            //width: 159px;
            width: 100%;
        }
    }

    .#{$vprefix}image-field-drop-indicator {

        //@include transition(top 0.1s, left 0.1s);

        .outer-circle {
            width: 7px;
            height: 7px;
            background: $color-theme-support-darker;
            border-radius: 4px;
            padding: 3px;
        }

        .inner-circle {
            width: 1px;
            height: 1px;
            background: $color-neutral-white;
        }

        .bar {
            height: $thumbnail-size;
            width: 3px;
            margin-left: 2px;
            background: $color-theme-support-darker;
        }
    }
}