@mixin taco-mozu-adminui {
    .react-grid-loading-bar {
        background-image: url('./../resources/images/mozu-loader.gif')
    }

    .mozu-c-image-field__base-image {
        background-image: url('./../resources/images/image-field-icon.png')
    }

    .mozu-c-input__check-box-image {
        background-image: url('./../resources/images/icons/checkbox-unchecked.png')
    }

    .mozu-c-input__input:checked ~ .mozu-c-input__check-box-image {
        background-image: url('./../resources/images/icons/checkbox-checked.png')
    }

    .mozu-c-app-header-container__logo--icon {
        background-image: url('./../resources/images/kibo-icon.png');
    }

    @media (min-resolution: 2dppx) {
        .mozu-c-app-header-container__logo--icon {
            background-image: url('./../resources/images/kibo-icon-retina.png');
        }
    }
}