@mixin taco-pagesettings {
    /*.\#{$vprefix}pagesettings-chooser {
        ul {
            padding-left: 7rem;
        }
    }*/
    .#{$vprefix}pagesettings-chooser-item {
        padding: 0 0 0 3rem;
        font-size: 2rem;
		width: 98%;
		list-style-type: none;
        border: 0px;
        border-bottom-width: 1px;
        border-style: solid;
        border-color: lightgray;
		div{
			float: right;
            margin-right: 44px;
		}
        &:before {
            content: "\2023 \0020";
            font-size: 4rem;
            vertical-align: middle;
            line-height: 3rem;
			color: white; 
        }
    } 

    .#{$vprefix}pagesettings .#{$vprefix}pagesettings-form {
        padding: 1rem;
		padding-left: 1.5rem;
    }

    .#{$vprefix}rangeeditform {
        padding: 1rem;
        .#{$prefix}form-item {
            font-weight: normal;
        }
    }

    .#{$vprefix}pagesettings-back-action {
        @include icon-font($glyph-arrowleft);
    }
}