@mixin taco-panel {

  /* TACO UI */
  
  // @include extjs-panel-ui(
  //   $ui-label: 'taco',

  //   //$ui-base-color: $color,
  //   $ui-border-color: border-for($color-neutral-white),
  //   $ui-border-radius: null,
  //   $ui-border-width: 1px,

  //   $ui-header-background-color: transparentize($color-neutral-white, 1),
  //   $ui-header-background-gradient: null,
  //   $ui-header-border-color: border-for($color-neutral-white),
  //   $ui-header-color: $color,
  //   $ui-header-font-size: px-to-rem(24),
  //   $ui-header-font-weight: bold,
  //   $ui-header-line-height: px-to-rem(30),
  //   $ui-header-inner-border-color: null,

  //   $ui-body-background-color: null,
  //   $ui-body-border-color: border-for($color-neutral-white),
  //   $ui-body-border-width: null,
  //   $ui-body-color: $color,
  //   $ui-body-font-size: null
  // );

  /* MENUS */

  .#{$prefix}menu {
    .#{$prefix}panel-header {
      font-size: $font-size;
    }
    .#{$prefix}panel-header-text {
      font-size: $font-size;
      line-height: $font-size;
    }

    .#{$prefix}menu-body {
      border-style: solid;
      border-width: 1px;
    }
  }

  .#{$prefix}menu-item-text {
    font-size: px-to-rem(14);
  }

  .#{$prefix}menu-item {
    .#{$prefix}form-item-label {
      color: inherit;
      font-size: px-to-rem(14);
      margin-bottom: 0px;
      margin-top: px-to-rem(14);
      padding-left: 0px;
    }
  }

  /* TABS */

  .#{$prefix}tab {
    em {
      border-left: 1px solid $tab-base-color; // need to change this border-color for any different tab states
      margin-left: -1px;
      padding-left: 19px;
      padding-right: 19px;
    }

    .#{$prefix}tab-inner {
      height: auto;
      line-height: $tab-line-height - (top($tab-border-width) * 2);
    }

    &.#{$prefix}tab-active {
      em {
        border-left-color: $tab-base-color-active;
      }
    }
    &:nth-of-type(1) {
      @include border-radius(2px 0px 0px 2px);

      em {
        border-left-width: 0px;
        margin-left: 0px;
      }
    }
    &:nth-last-of-type(1) {
      @include border-radius(0px 2px 2px 0px);
    }
  }

  /* SPECIFIC PANELS */

  // itembrowser
  .#{$vprefix}itembrowser {
    .#{$prefix}toolbar-docked-top {
      // min-height: 40px;
      // padding-bottom: 10px;
    }
  }

  // product type attribute panel
  // .#{$vprefix}producttype-attribute-panel {
  //   &> .#{$prefix}panel-header {
  //     .#{$prefix}panel-header-body {
  //       border-bottom: 1px dashed $color-grid-border;
  //       margin-bottom: 10px;
  //     }
  //   }

  //   &> .#{$prefix}panel-body {
  //     background-color: $color-neutral-lightest;
  //   }

  //   .#{$vprefix}draghandle {
  //     display: inline-block;
  //     margin: 0px;
  //     vertical-align: middle;
  //   }
  //   .#{$vprefix}attribute-item-header-text {
  //     display: inline-block;
  //     font-size: px-to-rem(15);
  //     font-weight: bold;
  //     line-height: 1em;
  //     padding-top: 0.5em;
  //     vertical-align: middle;
  //   }
  //   .#{$vprefix}attribute-item-body {
  //     border-top: 1px solid $color-neutral-white;
  //     font-size: px-to-rem(14);
  //     padding: 0.5em 0.5em 0.5em 36px;
  //     @include inner-shadow(0.1, 0px, 0px, 1px);
  //   }
  // }
  .#{$vprefix}attribute-item {
    padding-top: 14px;
  }

  // inventory quantity editing menu
  .#{$vprefix}quantity-edit-menu {

    &>.#{$prefix}panel-body {
      background-color: rgb(102, 102, 102) !important;
      border-width: 0px;
      padding: 10px;
      @include border-radius(6px);
    }

    .#{$vprefix}formform {
      .#{$prefix}form-item,
      .#{$prefix}component {
        color: $color-neutral-white;
      }
    }

    .actions {
      margin: 20px 10px 0px 0px;
      text-align: right;

      .#{$vprefix}action {
        color: $color-neutral-white;
      }
    }
  }
  
}