.#{$vprefix}content-header-publish-state {
    
    .#{$vprefix}tooltip-button {    
        font-size: 13px;
    }

    .#{$prefix}box-layout-ct {
        padding: 1px 1px 0px 1px;
    }

    label {
        font-size: 13px;
    }
}
