.#{$vprefix}content-header-publish-state {
    
    .#{$vprefix}tooltip-button {    
        font-size: 13px;

        .#{$prefix}btn-wrap {
        	.#{$prefix}btn-button {
        		.#{$prefix}btn-glyph {
        			font-size: 12px;
        			margin-top: 1px;
        		}
        	}
        }
    }

    .#{$prefix}box-layout-ct {
        padding: 1px 1px 0px 1px;
    }

    label {
        font-size: 13px;
    }
}