@mixin taco-quickadder {
  .#{$vprefix}quickadder {
    &.#{$prefix}toolbar-docked-top {
      background: none !important;
      border-color: $color-grid-border;
      border-style: solid solid none;
      border-width: 1px 1px 0px;
	}

    .#{$prefix}toolbar-text {
	  color: lighten($color,20%) !important;
      &:hover {
        color: $color !important;
      }
    }

    .#{$vprefix}quickadder-field input {
      border: 1px solid $color;
      &:focus {
        background: #ffeebb;
      }
    }
  }
}