@mixin show-dot {
    &.show-dot {
        &::after {
            background-color: $valid-green;
            content: ' ';
            display: block;
            height: 6px;
            position: absolute;
            right: 5px;
            top: 15px;
            width: 6px;
            @include border-radius(3px);
        }
    }
}

@mixin taco-selectors {

    .#{$prefix}menu-plain,
    .#{$vprefix}checkbox-flyout,
    .#{$vprefix}selector-flyout {
        background-color: $white-color;
        border: 1px solid $dropdown-list-outline;
        @include border-radius-xbrowser($border-radius-small);
        @include outer-shadow(0.09, 6px, 0, 1px);

        .call-to-action {
            background-color: $dark-bg;
            border-bottom: 1px solid $light-border-gray;
            color: $call-to-action-color;
            font-size: $label-link-font;
            line-height: 26px;
            padding: 0 15px;
        }

        .#{$prefix}menu-item-separator {
            display: none;
        }

        .selector,
        .checkbox-item,
        .#{$prefix}menu-item {
            border-bottom: 1px solid $list-item-selector;
            @include border-radius-xbrowser(0);
            border-width: 1px;
            color: $gray-text-light;
            cursor: pointer;
            font-size: $normal-font-link;
            line-height: 24px;
            margin-bottom: 0px;
            padding: 6px 12px;
            position: relative;

            span {
                color: $gray-text-light;
                font-size: $normal-font-link;
            }

            &:hover {
                color: $nav-element-active;

                span {
                    color: $nav-element-active;
                }
            }

            &:active,
            &:focus {
                background-color: $dark-bg;
                color: $nav-element-active;
            }

            [role="checkbox"] {
                margin-left: 6px
            }

            label {
                font-size: $normal-font-link;
            }

            @include show-dot;
        }

        .selector,
        .checkbox-item {
            width: 100%;
        }
    }

    .#{$vprefix}inline-selector {
        color: $gray-text-dark;
        font-size: 12px;

        .inline-label {
            display: inline-block;
            font-size: 8px;
            padding: 0px 12px 0px 16px;
            text-transform: uppercase;

            &::after {
                content: ':'
            }
        }

        .#{$vprefix}inline-selector-item,
        .inline-trigger {
            border-bottom: 2px solid transparent;
            cursor: pointer;
            display: inline-block;
            line-height: 17px;
            padding: 11px 15px 7px;
            position: relative;

            &:hover {
                color: $nav-element-active;
            }

            @include show-dot;
        }

        .inline-trigger {
            @include icon-font($glyph-pencil);

            &::after {
                color: $gray-text-dark;
                left: 10px;
                top: 10px;
            }

            &:hover::after {
                color: $nav-element-active;
            }
        }

        &.highlight .selected {
            border-bottom-color: $valid-green;
            color: $nav-element-active;
        }
    }

    .#{$vprefix}picker-selector {

        border-bottom: 2px solid transparent;
        cursor: pointer;

        .title {
            color: $gray-text-dark;
            font-size: 12px;
            line-height: 17px;
            padding: 11px 13px 7px 17px;
            position: relative;

            @include show-dot;
        }

        &:hover {
            .title {
                color: $nav-element-active;
            }
        }

        &.highlight {
            border-bottom-color: $valid-green;

            .title {
                color: $nav-element-active;
            }
        }

        .trigger {
            color: $gray-text-dark;
            font-size: 12px;
            line-height: 17px;
            padding: 11px 8px 7px 15px;
            text-align: center;
            width: 10px;
        }
    }

    /**
     * More button
     */

    .#{$vprefix}navheader {
        .#{$vprefix}navheader-toolbar {
            .navheader-action-toolbar {
                .#{$prefix}btn.#{$vprefix}more-action-button {
                    background-color: transparent;
                }

                .#{$prefix}btn {
                    .#{$prefix}btn-arrow-right {
                        // &:after {
                        //     display: none;
                        // }
                    }
                }

                .#{$prefix}btn-toolbar {
                    &.#{$prefix}btn.#{$prefix}move-next-previous-arrow {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}