@mixin taco-shim {

  $active-opacity: 1;
  $inactive-opacity: 0;

  @-webkit-keyframes animate-out-actions {
    0% { 
      opacity: $active-opacity;
      display: block;
    }
    99% {
      display: block;
      opacity: $inactive-opacity;
    }
    100% {
      display: none;
      opacity: $inactive-opacity;
    }
  }
  
  @-webkit-keyframes animate-in-actions {
    0% { 
      opacity: $inactive-opacity;
      display: none;
    }
    1% {
      display: block;
      opacity: $inactive-opacity;
    }
    100% {
      display: block;
      opacity: $active-opacity;
    }
  }
  
  .#{$vprefix}site-editor {
	
  	// @include background(
   //    //linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.4)),
   //    image-url('/admin/Scripts/resources/images/legacy/fabric-2.png')
   //  );
  	//@include box-shadow(inset 0 5px 20px rgba(0,0,0,0.5) !important);
  	
  	.#{$vprefix}tab-panels {
  	  // padding: 2em;
  	}
  	
  	.#{$vprefix}shim {
  	  
  	  .#{$vprefix}hint-element {
  		  border: 1px solid transparent;
  		  cursor: pointer;
  		  position: absolute;
  		  //@include transition(border 0.3s ease-out);
  		  
  		  &.#{$vprefix}hint-active {
  		    //border-color: rgb(86,184,195);
          
  		  }
  	  }
  	  
  	  .#{$vprefix}hint-zone {
  	    position: absolute;
  		  border: 1px dashed transparent;
        background: transparentize($color-theme-support-darkest, 1);
        @include transition(border 0.5s, background 1s);
  		  
  		  &.#{$vprefix}hint-active {
          border-color: rgba(255,0,0,1);
        }


  	  }

      &.show-hint-zones .#{$vprefix}hint-zone {
        visibility: visible !important;
        //background: transparentize($color-theme-support-darkest, 0.85);
        background: $color-theme-support;

        &.#{$vprefix}widget-dropzone-hover {
          border: 1px dashed border-for($color-theme-support-dark);
        }
      }
  	}
  	
  	.#{$vprefix}document-frame iframe {
  	  //background: #FFF;
      //height:500px;
  	  //border: 1px solid rgba(0,0,0,0.5);
  	  //@include box-shadow(0 10px 20px rgba(0,0,0,0.5));
  	}
  }

  .#{$vprefix}widget-editor-preview {
    width: 120px;
    height: 120px;
    border: 1px solid $color-neutral-mid;
    color: $color-neutral-dark;
    text-align: center;
    padding-top: 55px;
  }

  .#{$vprefix}hr-widget-container {
    @include flexbox(row, wrap, flex-start);

    .x-form-item-label-top {
      margin:  0 0 0.3em;
    }

    .#{$vprefix}hr-line-style-label {
      width: 102px;
      display: inline-block;
      padding-left: 4px;
    }

    .#{$vprefix}hr-line-style {
      width: 100%;
      display: inline-block;
      border: 2px solid;
      position: relative;
      top: -2px;
    }

    .#{$vprefix}hr-preview {
      padding: 20px 0;
      border: 1px solid $color-neutral-mid;
      margin-bottom: 50px;

      hr {
        border: 0 solid $color-neutral-dark;
        margin: 0 auto;
        width: 85%;
      }
    }
  }

  .#{$vprefix}image-gallery-widget {
    .columns-input {
      text-align: center;
    }
  }



    .#{$vprefix}hints-subcontainer {
      height: 100%;
    }
   

  .#{$vprefix}hint-widget {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    opacity: $inactive-opacity;
    border: 1px solid $color-neutral-darkest;

    .#{$vprefix}hint-actions {
      padding: 5px 8px;
      height: 28px;
      position: absolute;
      top: 0;
      z-index: 102;
      background: transparentize($color-neutral-darkest, 0.1);
    }

    .#{$vprefix}action {
      color: black;
      font-weight: bold;
      font-size: 10px;
      padding: 2px 0;
    }

    &.#{$vprefix}hint-active {
      z-index: 101;
      opacity: $active-opacity;
    }

    &.#{$vprefix}hint-inactive {
      opacity: $inactive-opacity;
    }
  }

  .#{$vprefix}widget-drag {
    cursor: move;
    margin-right: auto;
    @include icon-font($glyph-knurling, 16px, $color-neutral-white);
  }

  .#{$vprefix}widget-edit {
    margin-right: 15px;
   @include icon-font($glyph-pencil, 16px, $color-neutral-white);
  }

  .#{$vprefix}widget-remove {
    @include icon-font($glyph-trash, 16px, $color-neutral-white);
  }
}
