@mixin taco-standaloneAccordion {

  .#{$vprefix}standalone-accordion {

    .#{$vprefix}standalone-accordion-header {
      width: 60%;
      min-width: 300px;
      cursor: pointer;
      padding: 15px 0;
    }

    // .#{$vprefix}standalone-accordion-contents {
    //   padding: 5px;
    //   margin-top: 10px;
    // }

    .#{$vprefix}opened-arrow, .#{$vprefix}closed-arrow {
      display: none;
      padding-right: 20px;
    }

    &.opened {
      .#{$vprefix}opened-arrow {
        display: inline;
      }
    }

    &.closed {
      .#{$vprefix}closed-arrow {
        display: inline;
      }


      // .#{$vprefix}standalone-accordion-contents {
      //   display: none;
      // }
    }

    & + .#{$vprefix}standalone-accordion {

      .#{$vprefix}standalone-accordion-header {
        border-top: 1px dashed $color-neutral-dark;
      }
    }
  }
}