@mixin taco-subnavlink {
    .#{$vprefix}subnavlink {
        display: inline-block;
        margin: 15px 5px;
        text-align: center;

        .subnavlink-container {
            color: $nav-element-active;
            cursor: pointer;
            display: inline-block;
            opacity: .6;
            height: 25px;
            padding: 0px 5px;
            vertical-align: top;
            width: 25px;
            @include border-radius(3px);

            img {
                height: 25px;  
                margin-top: 2px;
                width: 25px;
            }
            
            &:hover {
                border-color: $nav-element-active;
                opacity: 1;
            }

            .text-only {
                border: 1px solid $nav-element-active;
                display: inline-block;
                font-size: 12px;
                height: 25px;
                padding: 2px 3px 2px 3px;
                margin-top: 4px;
                opacity: .8;
                width: 25px;
                @include border-radius(3px);
            }

        }

    }
}