@mixin taco-tabbar {
    .#{$prefix}tab-bar {
        background-color: $white-color;
        border: none;

        .#{$prefix}tab {
            border: 2px solid transparent;
            border-radius: 0;
            background-color: $white-color;

            &:hover {
                background-color: $white-color;

                &:not(:disabled) {
                    box-shadow: none;
                    border-left-color: transparent;
                }
            }

            .#{$prefix}tab-wrap {
                border: none;
            }
        }

        .#{$prefix}tab-active {
            border-bottom: 2px solid $valid-green;
        }
    }

    .#{$prefix}tab-bar-strip-default {
        border: none;
    }
}