@mixin taco-themes {

    $applied-size: 380px;
    $purchased-size: 220px;
    $title-height: 30px;

    .#{$vprefix}theme-selector {
        h2 {
            font-size: 21px;
            font-weight: bold;
        }

        .theme-swatch {
            background-color: $color-neutral-white;
            border: 1px solid $color-neutral-75;
            display: inline-block;
            margin: 0px 20px 20px 0px;
            min-height: 302px;
            min-width: 302px;
            overflow: hidden;
            position: relative;
            vertical-align: top;

            &:hover .menu {
                opacity: 1;
            }
        }

        .title {
            font-size: 17px;
            height: 30px;
            padding: 8px 0px 0px 20px;
        }

        .title-large {
            font-size: 18px;
            height: 30px;
            line-height: 1.0;
            padding: 8px 0px 0px 12px;
        }

        .group {
          margin: 10px 0px 20px;
        }

        .menu {
            background: transparentize($color-neutral-black, 0.15);
            color: $color-neutral-90;
            left: 0px;
            opacity: 0;
            position: absolute;
            top: 0px;
            width: 100%;
            @include transition(opacity 0.3s);
            
            .title {
                a {
                    margin-right: 4px;
                    @include icon-font($glyph-trash, 16px, $color-neutral-white);
                }
            }

            a {
                color: $color-neutral-white;
            }

            li {
                border-bottom: 1px solid $color-neutral-45;
                color: $color-neutral-white;
                
            }

            li:last-child {
                border-bottom-width: 0px;
            }
        }

        .modes {
            font-size: 9px;
            height: 72px;
            line-height: 70px;
            padding: 0px !important;
            width: 100%;

            div {
            display: inline-block;
            vertical-align: middle;
            }
        }

        .icon {
            margin: 0px 0px 22px 20px;
        }

        .text {
            margin-bottom: 24px;
            font-size: 15px;
        }

        .actions {
            padding: 0px !important;

            a {
                display: inline-block;
                font-size: 13px;
                padding: 8px 20px;
                vertical-align: baseline;
            }
        }

        .content {
            padding: 0px !important;
            padding-bottom: 15px !important;

            div {
                margin-top: 15px;
            }

            a {
                font-size: 15px;
                padding: 8px 10px 10px 20px;
                vertical-align: baseline;
            }
        }

        .thumbnail {
            width: 100%;
        }

        .group-applied {
            .theme-swatch {
                width: $applied-size;
            }

            .inactive {
                opacity: 0.25;
            }
        }

        .group-purchased {
            .theme-swatch {
                width: $purchased-size;
            }
        }
    }
}