@mixin taco-tooltip {

	.#{$vprefix}tooltip {

		background-color: $tooltip-background-color;
		color: $white-color;
		font-size: 12px;
		font-weight: initial;
		opacity: 0;
		padding: 3px 8px;
		pointer-events: none;
		position: absolute;
		max-width: 300px;
		transform: translateX(0px) translateY(0px);
		transition-property: opacity, transform;
		transition-delay: .3s;
		top: 0px;
		z-index: 100000000;
		@include border-radius(4px);
		@include facade-transitions;

		.message-wrapper {
			padding: 4px;
		}

		.#{$vprefix}help-link {
			color: $white-color;
			text-decoration: underline;
		}

		&.arrow {

			&::after {
				border: solid transparent;
				border-color: $tooltip-background-color transparent transparent;
				border-width: 6px;
				content: " ";
				height: 0;
				left: 50%;
				margin-left: -6px;
				pointer-events: none;
				position: absolute;
				width: 0;
			}

			&.top {

				&::after {
					border-color: transparent;
					border-bottom-color: $tooltip-background-color;
					bottom: 100%;
				}

				&.shown {
					transform: translateY(7px);
				}
			}

			&.bottom {

				&::after {
					border-color: transparent;
					border-top-color: $tooltip-background-color;
					top: 100%;
				}

				&.shown {
					transform: translateY(-7px);
				}
			}

			&.right {

				&::after {
					border-color: transparent;
					border-left-color: $tooltip-background-color;
					left: 102%;
					right: initial;
					top: 50%;
					transform: translateY(-50%);
				}

				&.shown {
					transform: translateX(7px);
				}
			}

			&.left {

				&::after {
					border-color: transparent;
					border-right-color: $tooltip-background-color;
					right: 100%;
					left: initial;
					top: 50%;
					transform: translateY(-50%);
				}

				&.shown {
					transform: translateX(-7px);
				}
			}
		}

		&.removed {
			top: -1000000px !important;
		}

		&.shown {
			opacity: 1;
		}
	}

	.#{$vprefix}tooltip-icon {
		@include icon-font($glyph-tooltip, 10px, $glyph-icon-color);

		&::after {
			font-style: initial;
			left: 10px;
			top: -2px;
		}
		
		opacity: 0.46;

		&:hover {
			opacity: 1;
		}

		&.active {
			opacity: 1;
		}
	}

}