@mixin taco-tree {

  .#{$vprefix}treelist {
    a {
      color: $color;
      text-decoration: none !important;

      &:hover {
        color: $link-color;
      }
    }
    
    .#{$vprefix}secondary-actions {
      background: none !important;
      border: none !important;
    
      .#{$vprefix}action {
        margin-right: 10px;
      }
    }
  }

  
  // tree grid styles
  // .#{$prefix}tree-arrows {
  //   .#{$prefix}grid-cell-inner {
  //     padding: 2px 0px;
  //   }
  // }

  .#{$prefix}tree-icon {
    display: none;
  }

  // draghandle styles
  .#{$vprefix}tree-knurling, .#{$vprefix}draghandle {
    cursor: move;
    display: block;
    @include icon-font($glyph-knurling);
    margin-top: 3px;
  }

  .#{$prefix}grid-cell-draghandlecolumn {
    vertical-align: middle;

    .#{$prefix}grid-cell-inner {
      padding: 0px;
    }
  }


  .#{$vprefix}foldertree {
    .#{$prefix}panel-body {
      @include border-radius(0px 0px 3px 3px);
    }

    &.#{$prefix}tree-arrows {
      .#{$prefix}grid-cell-inner {
        padding-left: 0;
        vertical-align: bottom;
      }
      .#{$prefix}tree-elbow, .#{$prefix}tree-elbow-end {
        height: 24px;
        width: 34px;
        @include icons-sprite(icon-folder); // icon is an <img>

        &:hover {
          background-color: $color-neutral-dark !important;
          @include border-radius(3px);
        }
      }
      .#{$prefix}tree-elbow-plus, .#{$prefix}tree-elbow-end-plus {
        height: 24px;
        width: 34px;
        @include icons-sprite(icon-folder); // icon is an <img>

        &:hover {
          background-color: $color-neutral-dark !important;
          @include border-radius(3px);
        }
      }
    }
  }

  .#{$vprefix}tree-indentation {
    padding-left: 16px;
  }

  .#{$vprefix}indented-cell {
    .#{$prefix}grid-cell-inner {
      padding: 4px 16px 2px;
      white-space: normal;

      .#{$vprefix}tree-indentation {
        img {
          margin-left: -19px;
        }
        .#{$prefix}tree-icon-empty,
        .#{$prefix}tree-icon-inline {
          margin: 0 2px 0 0;
        }
      }
    }
  }

  .#{$prefix}grid-cell-inner .#{$prefix}tree-checkbox {
    height: 16px;
    margin: 1px 0px 0px;
    width: 16px;
	  top: 0px;
  }
}

