@mixin taco-websitesubheader {

  .#{$vprefix}website-subheader {

    background-color: $dark-bg;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px 0px;

    .#{$vprefix}link-button {
        background-color: $dark-bg;

        .#{$prefix}btn-inner {
            text-decoration: none !important;
            transition-property: color;
            transition-duration: 300ms;
        }

        &:hover {
            .#{$prefix}btn-inner {
                color: $nav-element-active;
            }

        }
    }

    .#{$prefix}panel, .#{$prefix}panel-body {
        background-color: $dark-bg;
    }

    .#{$vprefix}website-resolution-btn {
        border: none;
        background-image: none;
        background-color: transparent;

    	&.desktop {
    		@include icon-font($glyph-computer, 21px);

            &::after { 
                top: 0px;
            }
    	}

    	&.tablet {
    		@include icon-font($glyph-tablet);

            &::after {
                left: 1px;
            }
    	}

    	&.phone {
    		@include icon-font($glyph-phone, 17px);
    	}

        &:hover {
            text-decoration: none;
        }
    }

  }

}