@mixin taco-websitesubheader {

  .#{$vprefix}website-subheader {

    background-color: $color-framework-gray-border;
    height: 30px;

    .#{$vprefix}link-button {

        .#{$prefix}btn-inner {
            text-decoration: none !important;
        }

    }

    .#{$prefix}panel, .#{$prefix}panel-body {
        background-color: $color-framework-gray-border;
    }

    .#{$vprefix}website-resolution-btn {
        border: none;
        background-image: none;
        background-color: transparent;

    	&.desktop {
    		@include icon-font($glyph-computer, 21px);

            &::after { 
                top: 0px;
            }
    	}

    	&.tablet {
    		@include icon-font($glyph-tablet);

            &::after {
                left: 1px;
            }
    	}

    	&.phone {
    		@include icon-font($glyph-phone, 17px);
    	}

        &:hover {
            text-decoration: none;
        }
    }

  }

}