@mixin taco-websitesubheader {

  .#{$vprefix}website-subheader {
    
    background-color: $color-framework-gray-border;
    height: 30px;

    .#{$prefix}btn {
    	border: none;
      	padding: 7px 10px;
      	background-color: $color-framework-gray-border !important;
    }
  }

}