.mz-cart-items {
	th {
		padding: 10px 7px;
		text-align: center;
		text-transform: uppercase;
		font-weight: 100;
	}
	tbody {
		td {
			
			padding: 20px 7px;
			margin: 2px;
			border-right: 2px solid white;
		}
		tr:nth-child(odd){
			background-color: #EEE;
		}
	}
	.mz-product-delete {
		display: inline-block;
		text-indent: -999em;

	}
}
.mz-cart-item-image {
	float:left;
	margin-right: 20px;
}
.mz-cart-product-item-info-wrap {
	overflow: hidden;
}
.mz-cart-item-title, .mz-cart-item-code, .mz-cart-item-options {
	display: block;
}
.mz-cart-item-title {
	color: #000;
	font-weight: 700;
	font-size: 14px;
}
.mz-cart-head-products {
	width: 80%;
}
.mz-cart-head-delete {
	text-align: center;
}
.mz-btn-checkout {
	.gradient(#22D847, #1A9B34);
	padding: 10px 20px;
	font-size: 16px;
	margin: 15px 0 0 15px;
	height: 44px;
}

.mz-cart-total-label {
	vertical-align: middle;
}

.mz-cart-subtotal, .mz-cart-total {
	font-size: 20px;
}
th.mz-cart-head-products {
	text-align: left;
}

.mz-updated-price {
	color: red;
	font-weight: 700;
}

.mz-cart-quantity {
	text-align: center;
	width: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
 
@media only screen and (min-width : 320px) and (max-width : 480px) {
		.mz-cart-items {
			display: block;
			tbody, tr {
				display: block;
			}
			tbody td, th {
				display: inline-block;
				border-right: none;
			}
			.mz-cart-head-products {
				display: none;
			}
		}
		.mz-cart-item-image {
			display: block;
			float: none;
			margin: 0 0 10px 0;
		}
}
