/* WINDOW UI DEFINITIONS */

@include extjs-window-ui(
    $ui: 'dialog',

    $ui-padding: 0px 0px 19px,
    $ui-border-radius: 1px,
    $ui-border-color: $color-neutral-75,
    $ui-border-width: 1px,
    $ui-inner-border-color: $color-neutral-75,
    $ui-inner-border-width: 0px,

    $ui-header-color: $color-neutral-20,
    $ui-header-background-color: $color-neutral-white,
    $ui-header-padding: 19px 19px 13px,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 24px,
    $ui-header-font-weight: normal,
    $ui-header-line-height: 24px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: none,
    $ui-header-border-color: $color-neutral-75,
    $ui-header-border-width: 0px,
    $ui-header-inner-border-color: $color-neutral-75,
    $ui-header-inner-border-width: 0px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-neutral-20,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $window-tool-background-image,

    $ui-body-border-color: $color-neutral-white,
    $ui-body-background-color: $color-neutral-white,
    $ui-body-border-width: 1px 0px,
    $ui-body-border-style: solid,
    $ui-body-color: $color-neutral-20,

    $ui-background-color: $color-neutral-white,

    $ui-force-header-border: false,
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-neutral-75,
    $ui-wrap-border-width: 0px
);

@include extjs-window-ui(
    $ui: 'modal',

    $ui-padding: 0px 0px 20px,
    $ui-border-radius: 1px,
    $ui-border-color: $color-neutral-75,
    $ui-border-width: 0px,
    $ui-inner-border-color: $color-neutral-75,
    $ui-inner-border-width: 0px,

    $ui-header-color: $color-neutral-20,
    $ui-header-background-color: $color-neutral-white,
    $ui-header-padding: 20px 20px 13px,
    $ui-header-font-family: $font-family,
    $ui-header-font-size: 24px,
    $ui-header-font-weight: normal,
    $ui-header-line-height: 24px,
    $ui-header-text-padding: 0px,
    $ui-header-text-transform: none,
    $ui-header-border-color: $color-neutral-75,
    $ui-header-border-width: 0px,
    $ui-header-inner-border-color: $color-neutral-75,
    $ui-header-inner-border-width: 0px,
    $ui-header-icon-width: 16px,
    $ui-header-icon-height: 16px,
    $ui-header-icon-spacing: 16px,
    $ui-header-icon-background-position: 0px 0px,
    $ui-header-glyph-color: $color-neutral-20,
    $ui-header-glyph-opacity: 1,

    $ui-tool-spacing: 16px,
    $ui-tool-background-image: $window-tool-background-image,

    $ui-body-border-color: $color-neutral-white,
    $ui-body-background-color: $color-neutral-white,
    $ui-body-border-width: 1px 0px,
    $ui-body-border-style: solid,
    $ui-body-color: $color-neutral-20,

    $ui-background-color: $color-neutral-white,

    $ui-force-header-border: false,
    $ui-include-border-management-rules: false,
    $ui-wrap-border-color: $color-neutral-75,
    $ui-wrap-border-width: 0px
);

/* WINDOW UI RULES */

.#{$prefix}window-dialog,
.#{$prefix}window-modal {
    @include border-radius(2px);

    .#{$prefix}toolbar {
        background-color: $color-neutral-white;
        padding-left: 19px;
        padding-right: 19px;

        .#{$prefix}toolbar-item {
            margin-left: 10px;

            &:first-child {
                margin-left: 0px;
            }
        }
    }
}
.#{$prefix}window-modal {
    .#{$prefix}toolbar {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.#{$prefix}window-header-dialog-top,
.#{$prefix}window-header-modal-top {
    @include border-radius(2px 2px 0px 0px);
}

.#{$prefix}window-body-dialog,
.#{$prefix}window-body-modal {
    @include transition(border-color 0.2s ease-in-out);

    &.#{$prefix}scrolled {
        border-color: $color-neutral-75;
    }
}
