.#{$vprefix}dashboard-group {
    margin: 0px auto;
    text-align: center;
    width: 1040px;

    .#{$vprefix}dashboard-item {
        display: inline-block;
        min-height: 260px;
        padding-top: 60px;
        vertical-align: top;
        width: 260px;

        a {
            color: $color-standard-text;
            cursor: pointer;
        }

        .#{$vprefix}dashboard-item-header {
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-shadow: 1px 1px 0px transparentize($color-neutral-white, 0.6);
            text-transform: uppercase;
        }

        .#{$vprefix}dashboard-item-item {
            float: left;
            padding: 5px; 
            line-height: 22px;
            font-size: 14px;
            text-align: center;
            border: 0px;
            width: 100%;

            a {
                border-right-width: 1px;
                border-right-style: solid;
                padding-right: 5px;
                margin-right: 5px;

                &:last-child {
                    border-right-width: 0px;
                }
            }
        }

        .#{$vprefix}dashboard-icon {
            display: block;
            height: 60px;
            margin: 0px auto 10px;
            width: 60px;
        }

        .#{$vprefix}icon-customers {
            @include icons-sprite(icon-home-customers);
        }
        .#{$vprefix}icon-catalog {
            @include icons-sprite(icon-home-catalog);
        }
        .#{$vprefix}icon-orders {
            @include icons-sprite(icon-home-orders);
            width: 74px;
        }
        .#{$vprefix}icon-marketing {
            @include icons-sprite(icon-home-marketing);
        }
        .#{$vprefix}icon-sitebuilder {
            @include icons-sprite(icon-home-sitebuilder);
        }
        .#{$vprefix}icon-publishing {
            @include icons-sprite(icon-home-publish);
        }
        .#{$vprefix}icon-locations {
            @include icons-sprite(icon-home-locations);
        }
        .#{$vprefix}icon-reports {
            @include icons-sprite(icon-home-reporting);
        }
    }
}
