
<p-overlayPanel #gridColumnToggle [appendTo]="'body'" [dismissable]="true">
    <div *ngFor="let col of gridColumnHeader">
        <div class="col-sm-12 grid-column-container">
            <div class="input-group input-group-sm">
                <label class="checkbox-inline">
                    <input type="checkbox" class="custom-control-input" value="{{col.header}}"
                        [checked]="col.checked" (change)='toggleGridColumns($event, col)'>
                    {{(col.header)  | translate}}
                    <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                </label>
            </div>
        </div>
    </div>
  </p-overlayPanel>
