<div class="sandbox-wrapper">
    <div role="tab" id="headingTwo" class="sandbox-user">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
            <span>{{ sandBoxModel.tenantName }}</span>
        </a>
    </div>
    <ul id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <li class="sandbox-links">
            <a href="/admin/auth/launchpad" [routerLinkActive]="[]">Launchpad</a>
        </li>
        <div class="rectangle"></div>
    </ul>

</div>