<h5>{{'LOCATIONGROUP.FormLabels.locations' | translate }}</h5>
<div class="locations-list-container">
    <p-table #dt [columns]="model.cols" [value]="model.virtualLocations" [scrollable]="true" 
        [rows]="20" scrollHeight="300px" 
        (onRowSelect)="rowSelected($event)" (onRowUnselect)="rowUnselected($event)"
        (onHeaderCheckboxToggle)="tableHeaderCheckboxToggle($event)"
        [(selection)]="model.selectedLocations" dataKey="code"  
        [globalFilterFields]="['name', 'code']" class="table-striped">
        
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th class="forwidth">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <i class="pi pi-fw pi-fw pi-filter filtericon"></i>
                        <input *ngSwitchCase="'name'" placeholder="Filter" class="table-column-filter" 
                        pInputText type="text" (input)="dt.filterGlobal($event.target.value, col.filterMatchMode)"
                        [value]="dt.filters['name'] ? dt.filters['name'].value : ''">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="forheight" [pSelectableRow]="rowData">
                <td class="forwidth1">
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td class="" *ngFor="let col of columns">
                    <div>{{rowData[col.field]}}</div>
                </td>
                <td class="text-right">               
                    <div class="myposi">
                        {{rowData.code}}
                    </div>
                </td>
                <td class="forwidth2">
                    <i class="pi pi-info-circle" 
                    ngbTooltip="{{rowData.address ? rowData.address.address1 + ', ' + rowData.address.cityOrTown + ', ' + rowData.address.stateOrProvince : ''}}">
                    </i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
            <tr class="forheight">
                <td *ngFor="let col of columns">
                    <div class="loading-text"></div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length">
                    {{'LOCATIONGROUP.GridMessages.emptyMessage' | translate }}
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
