.loading-text {
    display: block;
    background-color: #f1f1f1;
    min-height: 19px;
    animation: pulse 1s infinite ease-in-out;
    text-indent: -99999px;
    overflow: hidden;
}
.pi-info-circle{ cursor: pointer;}
.pi-info-circle + .tooltip{
    position: absolute;
    opacity: 1 !important;
    line-height: 18px;
    height: 25px;
    transform: none !important;
    top: -3px !important;
    }
.tooltip-inner{
    text-align: left;
}
.myposi{
    position: relative;
}

.table-column-filter{
    width: 100%;
}