<h5>Locations</h5>
<!-- <h5>{{selectedLocations ? selectedLocations.length : 0}} Selected</h5> -->
<p-table #dt [columns]="cols" [value]="virtualLocations" [scrollable]="true" 
    [rows]="20" scrollHeight="300px" 
    (onRowSelect)="rowSelected($event)" (onRowUnselect)="rowUnselected($event)"
    (onHeaderCheckboxToggle)="tableHeaderCheckboxToggle($event)"
    [(selection)]="selectedLocations" dataKey="code">
    
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th style="width: 3em">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'name'" class="table-column-filter" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr>
        <!-- <tr>
            <th style="width: 3em"></th>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'name'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
            </th>
        </tr> -->
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height:34px" [pSelectableRow]="rowData">
            <td style="width: 3em">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td class="" *ngFor="let col of columns">
                <div>{{rowData[col.field]}}</div>
            </td>
            <td>               
                <div class="myposi text-right">
                    {{rowData.code}}
                    <i class="pi pi-info-circle" 
                    ngbTooltip="{{rowData.address ? rowData.address.address1 + ', ' + rowData.address.cityOrTown + ', ' + rowData.address.stateOrProvince : ''}}">
                    </i>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody" let-columns="columns">
        <tr style="height:34px">
            <td *ngFor="let col of columns">
                <div class="loading-text"></div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                No records found
            </td>
        </tr>
    </ng-template>
    <!-- <ng-template pTemplate="summary">
            <ul>
                <li *ngFor="let location of selectedLocations" style="text-align: left">
                    {{location.code + ' - ' + location.name }}
                </li>
            </ul>
    </ng-template> -->
</p-table>