// Variables for forms and their subcomponents.

/* FORMS */

/* FIELDS */

$form-field-height: 30px;
$form-field-padding: 5px 10px 3px;

$form-field-color: $color;
$form-field-empty-color: lighten($color, 60%);

$form-field-border-color: border-for($color-neutral-95);
$form-field-focus-border-color: $color-theme-support-darker;
$form-field-invalid-border-color: $color-theme-base;

$form-field-background-color: $color-neutral-white;
$form-field-background-image: null;

$form-field-invalid-background-color: $color-neutral-white;
$form-field-invalid-background-image: null;

// textareas
$form-textarea-padding: 10px;

// labels
$form-label-font-weight: bold;
$form-label-font-size: px-to-rem(14);
$form-label-font-family: $font-family;
$form-label-font: $form-label-font-weight $form-label-font-size $form-label-font-family;

// trigger
$form-trigger-width: 16px;