// Variables for panels and their subcomponents.

/* PANELS */

$panel-body-background-color: $color-neutral-white;
$panel-body-border-color: border-for($panel-body-background-color);
$panel-body-font-size: inherit;
$panel-header-border-width: 0px;
$panel-header-inner-border: false;
$panel-header-padding: 0px;

/* GRIDS */

// $grid-header-background-color: $color-neutral-20;
// $grid-header-background-gradient: null;
// $grid-header-color: $color-neutral-white;
// $grid-header-over-background-color: $color-neutral-30;
// $grid-header-over-background-gradient: null;

// $grid-row-cell-selected-background-color: $color-selected;
// $grid-row-cell-font-size: px-to-rem(14);
// $grid-row-cell-line-height: px-to-rem(19);
// $grid-row-cell-font: normal #{$grid-row-cell-font-size}/#{$grid-row-cell-line-height} $font-family;

// $grid-row-wrap-border-color: border-for($color-neutral-white);
// $grid-row-wrap-border-style: solid none;
// $grid-row-wrap-border-width: 1px 0px;

// $grid-row-cell-background: $color-neutral-white;
// $grid-row-cell-alt-background: darken($grid-row-cell-background, 4%);
// $grid-row-cell-border-style: solid;
// $grid-row-cell-border-width: 1px 0px;

// $grid-row-cell-over-background-color: $color-neutral-95;
// $grid-row-cell-over-border-color: border-for($grid-row-cell-over-background-color);

// $grid-cell-inner-padding-top: 7px;
// $grid-cell-inner-padding-horizontal: 5px;
// $grid-cell-inner-padding-bottom: 5px;

// $grid-header-font-size: px-to-rem(14);
// $grid-header-line-height: $grid-header-font-size;
// $grid-header-padding: 15px 5px 11px;
// $grid-header-trigger-width: 40px;

/* TOOLBARS */

$toolbar-background-color: $base-color;
$toolbar-background-gradient: null;
$toolbar-inner-border-width: 0px;
$toolbar-inner-border-color: border-for($color-neutral-95);
$toolbar-border-color: border-for($color-neutral-95);

$toolbar-horizontal-spacing: 0px;
$toolbar-vertical-spacing: 0px;
$toolbar-footer-horizontal-spacing: 0px;
$toolbar-footer-vertical-spacing: 0px;
$toolbar-spacer-width: 0px;

$toolbar-separator-color: border-for($color-neutral-95);
$toolbar-separator-highlight-color: $color-neutral-white;

$toolbar-font-size: $font-size;
$toolbar-text-font-size: $font-size;
$toolbar-text-color: $color;
$toolbar-text-padding: 0px;
$toolbar-text-line-height: $font-size;

/* MENUS */

$menu-background-color: $color-neutral-white;
$menu-item-active-background-color: $color-selected;

$menu-padding: 7px 0px;
$menu-link-padding: 5px 14px 3px;

$menu-text-color: $color;

/* LAYOUTS */

$border-layout-ct-background: $base-color;
$panel-frame-padding: 0px !default;