/* TABS */

$tabbar-base-color: $color-neutral-90;
$tabbar-background-gradient: null;

$tab-base-color: $color-neutral-95;
$tab-base-color-over: $color-neutral-95;
$tab-base-color-active: $color-neutral-75;
$tab-base-color-disabled: $color-neutral-95;

$tab-background: $tab-base-color;
$tab-background-over: $tab-base-color-over;
$tab-background-active: $tab-base-color-active;
$tab-background-disabled: $tab-base-color-disabled;

$tab-color: $color;
$tab-color-over: $tab-color;
$tab-color-active: $tab-color;
$tab-color-disabled: $tab-color;

$tab-font-size: px-to-rem(16);
$tab-font-size-over: $tab-font-size;
$tab-font-size-active: $tab-font-size;
$tab-font-size-disabled: $tab-font-size;

$tab-font-weight: normal;
$tab-font-weight-over: $tab-font-weight;
$tab-font-weight-active: $tab-font-weight;
$tab-font-weight-disabled: $tab-font-weight;

$tab-background-gradient: null;
$tab-background-gradient-over: null;
$tab-background-gradient-active: null;
$tab-background-gradient-disabled: null;

$tab-inner-border: false;

$tab-top-border-radius: 0px;
$tab-top-border-width: 1px;
$tab-top-inner-border-width: 1px;

$tab-bottom-border-radius: 0px;
$tab-bottom-border-width: 1px;
$tab-bottom-inner-border-width: 1px;

$tab-border-color: border-for($tab-base-color);
$tab-border-color-over: $tab-border-color;
$tab-border-color-active: $tab-border-color;
$tab-border-color-disabled: $tab-border-color;

$tab-inner-border-color: $color-neutral-white;

$tabbar-border-color: border-for($tab-base-color);

$tab-height: 30px;
$tab-spacing: 0px;

$tabbar-top-body-border-width: 1px 1px 0 !default;
$tabbar-top-body-padding: 1px 0 3px !default;
$tabbar-top-plain-body-border-width: 0px;
$tabbar-top-plain-body-padding: 17px 0px 17px;
$tabbar-bottom-body-border-width: 0 1px 1px !default;
$tabbar-bottom-body-padding: 3px 0 1px !default;
$tabbar-bottom-plain-body-border-width: 0px;
$tabbar-bottom-plain-body-padding: 17px 0px 17px;

$tabbar-strip-height: 0px;
$tabbar-strip-border-color: $tab-border-color;
$tabbar-strip-background-color: $tab-border-color;
$tabbar-top-strip-border-width: 0px;
$tabbar-bottom-strip-border-width: 0px;