.#{$vprefix}tileview {
    .#{$vprefix}thumbnail-item {
        display: inline-block;
        height: 250px;
        margin: 0px 20px 20px 0px;
        overflow: hidden;
        vertical-align: top;
        width: 250px;

        img {
            max-height: 230px;
            max-width: 230px;
        }
    }
}