.mz-breadcrumb-wrap {
	color:{{themeSettings.breadcrumbColor}};
	font-size: 11px;
	padding-bottom: 10px;
	width: 660px;
	text-transform: uppercase;
}
.mz-breadcrumb {
	font-size: 11px;
	color: #888;
	text-decoration: none;
	//color:{{themeSettings.breadcrumbColor}};
	&:visited {
		//color:{{themeSettings.breadcrumbColor}};

	color: #888;
	}
	&:hover {
		text-decoration: underline;
	}
}