@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Arbutus Slab'), local('ArbutusSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/arbutusslab/v1/6k3Yp6iS9l4jRIpynA8qM3hCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html {
	background: #F2EAE0 url(/Resources/Images/body_bg.jpg) repeat-x top left;

	height: 100%;

}
body {
	width: 960px;
	height: 100%;
	margin: 0 auto;
	font-family: 'Arbutus Slab', JosefinSans, georgia, times, serif;
}


#mz-layout-right {
	float: right;
}

.mz-column {
	float: left;
	+ .mz-column {
		margin-left: @gutter;
	}
}