

/* Canopy Site Nav ------------------------------- */
.mz-utility-nav-wrap {
	position: absolute;
	right: 10px;
	top: 10px;
}
.mz-utility-nav {	
	color: white;
	font-size: 11px;
}
.mz-utility-nav-item {
	float: left;
	margin: 0;
	padding: 0 10px;
	text-align: right;
}
.mz-utility-nav-item:last-child {
	padding-right: 0;
	text-align:right;
}

/* Main Site Nav ------------------------------- */

.mz-site-nav-wrapper {
	
	a {
		color:#5A533F;
		font-size: 12px;
		font-family: georgia, times, serif;
		text-transform: uppercase;
		position: relative;
		line-height: 110%;
		text-decoration: none;
		display: inline-block;
		&:visited {
		color:#5A533F;
		}
		&:hover {
			text-decoration: underline;

		}
	}
	
	.mz-site-nav {
	display: block;
	text-align: center;
		.mz-site-nav-item {
			display: inline-block;
			padding: 0 10px;
			border-right: 1px solid #999;
		}
		.mz-site-nav-item:last-child {
			border-right: 0;
		}
	}

}
	.mz-site-nav-slideout {
		display:none
	}

// 	.mz-site-nav-sub {
// 		// TODO: complete nav
// 	}
// }


/* SubCategory List -------------- */
.mz-left-nav-wrap {
	width: 180px;
	float: left;
	margin-right: 30px;
}
.mz-category-subhead {
	margin-top: 12px;
}
.mz-category-list-item {
	margin: 0 0 8px 0;
}

.mz-category-list-sub {
	padding-left: 16px;
	margin-top: 5px;
}