
.mz-paging-wrap {
	overflow:hidden;
}
/* Sort By Select --------- */
.mz-paging-sorting {
}
.mz-sort-wrap {
	float: left;
}
.mz-sort-label {
	font-weight: 700;
}
/* Items per page and paging navigation ------- */

.mz-items-per-page-wrap {
	float: right;
	overflow: hidden;
}
.mz-paging-nav-wrap {
	float: left;
}
.mz-items-per-page-select {
	float: left;
	margin-right: 10px;
}
/* For sorting label ------------------ */
.mz-paging-sorting, .mz-paging-pagesize {
	position: relative;
}
.mz-paging-pagesize {
	width: 150px;
}
.mz-product-listing-wrap .mz-paging-sorting:before {
	content: ".....";
	position: absolute;
	width: 50px;
	height: 40px;
	background: blue;
	left:-20px;
}

/* Found Products Text -------- */

.mz-product-count-text {
	clear: both;
	padding: 10px 0;
	font-size: 14px;
}
