.mz-sitefooter-wrap {
	// font: {{themeSettings.siteFooterLinkFont}};

	overflow: hidden;
	// color: {{themeSettings.siteFooterColor}};
	.p1 span {

	color: #5A533F !important;
	}
	margin-top: 20px;
	font-size: 11px;
}
.mz-copyright-wrap {
	padding: 15px 0;
	text-align: center;
	color: #5A533F;
	line-height: 130%;
	font-family: helvetica, arial, sans-serif;
}

