<div class="col-md-12 quote-container">
  <div class="info-section">
      <div class="row">
        <div class="sub-container">
          <quote-summary [QuoteId]=quoteId [Quote]=model></quote-summary>
        </div>
        <div class="sub-container">
          <account-information [UserId]=userId [CustomerAccountId]=customerAccountId></account-information>
        </div>
      </div>
  </div>
</div>
<div class="col-md-12 quote-container">
  <div class="info-section">
      <div class="row">
        <div class="sub-container">
          <quote-items [QuoteId]=quoteId [Quote]=model.items></quote-items>
        </div>
      </div>
    </div>
  </div>