.is-loading {
    input {
        .opacity(.6);
    }
    .mz-button {
        background: #eee url('/resources/images/button-loading.gif') no-repeat 50% 50%;
        border-color: #eee;
        color: transparent;
    }
}