$tip-background-color: $color-neutral-white;
$tip-background-gradient: null;

$tip-border-color: $color-neutral-75;
$tip-border-radius: 1px;
$tip-border-width: 1px;
$tip-body-padding: 9px;

$tip-body-color: $color;
$tip-body-font-size: 14px;
$tip-body-font-weight: normal;
$tip-body-link-color: $color-action-link;

$tip-header-body-padding: 4px;
$tip-header-color: $color;
$tip-header-font-size: 16px;
$tip-header-font-weight: normal;


/* ERROR VARIABLES */

$tip-error-background-color: $color-theme-red;  // $tip-background-color

$tip-error-border-color: $tip-border-color;
$tip-error-border-radius: $tip-border-radius;
$tip-error-border-width: 0px;  // $tip-border-width
$tip-error-inner-border-color: $color-neutral-white;
$tip-error-inner-border-width: 0px;
$tip-error-body-padding: $tip-body-padding;

$tip-error-body-color: $color-neutral-white;  // $tip-body-color
$tip-error-body-font-size: $tip-body-font-size;
$tip-error-body-font-weight: $tip-body-font-weight;
$tip-error-body-link-color: $tip-body-link-color;


/* UNUSED VARIABLES */

// $tip-tool-background-image
// $tip-tool-spacing
