.toolbar-main {
    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 3px 0;
    border-bottom: 1px solid #f5f5f5!important;
    background-color: white;
    line-height: 23px;
    height: 62px;
    width: 100%;
    margin-top: 0px !important;
}

.toolbar-main-dashboard {
    box-shadow: rgba(0, 0, 0, 0.09) 0 1px 3px 0;
    border-bottom: 1px solid #f5f5f5!important;
    background-color: white;
    line-height: 23px;
    height: 62px;
    /* width: 80%; */
    margin-top: 0px !important;
    margin-left: 319px;
}
.toolbar-height0
{
   height: 0;
  
}

@media screen and (max-width: 480px) {
    .toolbar-main {
        height: 52px;
    }
}