$form-label-font-color: $color;
$form-label-font-family: $font-family;
$form-label-font-size: 14px;
$form-label-font-weight: bold;
$form-label-line-height: 14px;

$form-toolbar-label-color: $form-label-font-color;
$form-toolbar-label-font-family: $form-label-font-family;
$form-toolbar-label-font-size: $form-label-font-size;
$form-toolbar-label-font-weight: $form-label-font-weight;
$form-toolbar-label-line-height: $form-label-line-height;

$form-error-msg-color: $color-theme-red;
$form-error-msg-font-size: 14px;
$form-error-msg-font-weight: normal;
$form-error-msg-line-height: 14px;

$form-error-icon-height: 0px;
$form-error-icon-side-margin: 0px;
$form-error-icon-width: 0px;
$form-error-under-padding: 10px 0px 0px 0px;
$form-error-under-icon-spacing: 0px;


/* UNUSED VARIABLES */

// $form-error-msg-font-family
// $form-item-margin-bottom
