

.mz-cms-grid {
    @include box-sizing(border-box !important);

    *, *:after, *:before {
        @include box-sizing(border-box !important);
    }
}


.mz-cms-row {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.mz-cms-block {
    background-color: transparent;
    min-height: 14px;
    min-width: 80px;
    overflow: hidden;
    position: relative;
    padding: 0;
    word-wrap: break-word;
}

.mz-cms-content {
    padding: 5px;
    
    *:first-child {
        margin-top: 0;
    }
    
    .mz-cms-image-cover {
        background-position: center center;
        background-size: cover;
        display: block;
        height: 400px;
        min-height: 40px;
        width: 100%;
    }
}

[class*='mz-cms-col-'] {
    float: left;
    max-height: 99999px;
    overflow: visible;
    position: relative;

    .mz-cms-content {
        padding: 10px;
    }

    .resizer-column {
        cursor: ew-resize;
        height: 100%;
        margin-right: -8px;
        opacity: 0;
        padding: 0 8px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        @include transition(opacity $duration);
        
        div {
            background: $hint-color;
            height: 100%;
            width: 1px;
        }

        &:hover, &.active {
            opacity: 1;
        }
    }
}

.mz-cms-row > [class*='mz-cms-col-']:last-child .resizer-column {
    display: none;
}

.mz-cms-row {
    width: 100%;
    max-width: 1140px;
    min-width: 755px;
    margin: 0 auto;
}

.mz-cms-row:after {
    content: "";
    display: table;
    clear: both;
}

.mz-cms-push-right {
    float: right;
}

.mz-cms-col-1-1, .mz-cms-col-12-12 {
    width: 100%;
}
.mz-cms-col-2-3, .mz-cms-col-8-12 {
    width: 66.66%;
}

.mz-cms-col-1-2, .mz-cms-col-6-12 {
    width: 50%;
}

.mz-cms-col-1-3, .mz-cms-col-4-12 {
    width: 33.33%;
}

.mz-cms-col-1-4, .mz-cms-col-3-12 {
    width: 25%;
}

.mz-cms-col-1-5 {
    width: 20%;
}

.mz-cms-col-1-6, .mz-cms-col-2-12 {
    width: 16.667%;
}

.mz-cms-col-1-7 {
    width: 14.28%;
}

.mz-cms-col-1-8 {
    width: 12.5%;
}

.mz-cms-col-1-9 {
    width: 11.1%;
}

.mz-cms-col-1-10 {
    width: 10%;
}

.mz-cms-col-1-11 {
    width: 9.09%;
}

.mz-cms-col-1-12 {
    width: 8.33%
}

/* Layout Columns */

.mz-cms-col-11-12 {
    width: 91.66%
}

.mz-cms-col-10-12 {
    width: 83.333%;
}

.mz-cms-col-9-12 {
    width: 75%;
}

.mz-cms-col-5-12 {
    width: 41.66%;
}

.mz-cms-col-7-12 {
    width: 58.33%
}

@media handheld, only screen and (max-width: 767px) {
    .mz-cms-row {
        width: 100%;
        min-width: 0;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    [class*='mz-cms-col-'] {
        width: auto;
        float: none;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}