#mz-checkout-loading {
	margin: 0 auto;
	text-align: center;
}

#checkout-form .mz-column {
    width: 435px;
}

#checkout-form {

    select + .mz-validation-message, input[type="text"] + .mz-validation-message, input[type="password"] + .mz-validation-message {
        margin-top: -9px;
    }

    label + .mz-validation-message {
        margin-top: 0px;
    }

    #reviewpanel {
        .mz-panel-wrap {
            min-height: 190px;
        }
    }

    .mz-panel {
        .mz-inner-panel {
            padding: 18px 0 0 15px;

            :first-child {
                margin-top: -2px;
            }

            input[type="text"], input[type="password"] {
				line-height: 1.5em;
				width: 100%;
			}
        }

        .mz-panel-header {
            color: white;
            font-weight: normal;
            padding: 5px 10px;
            margin-bottom: 0;
            background-color: #666;
            font-size: 20px;
            line-height: 24px;

            button {
                float: right;
                height: 21px;
                font-size: 13px;
            }
        }

        h4 {
            color: #666;
            margin: 1em 0 0.5em;
        }

        .mz-desc {
            color: #666;
            margin: 1em 0;
            font-weight: bold;
        }

        table {
            td {
                text-align: right;
                vertical-align: top;

                & + td {
                    text-align: left;
                }

                .half-size {
                    width: 49%;
                }
            }
        }

        label {
            padding-top: 2px;
            display: block;

            .shipping-price {
                margin-left: 10px;
            }

            .required-field {
                color: red;
            }

            &.inline {
                input[type=radio], input[type=checkbox] {
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 0;
                }
            }
        }

        .completed-summary {
            display: none;
            padding: 0 0 20px 20px;

            > span {
                display: block;
            }

            &.inline > span {
                display: inline;
            }
        }

        #same-as-shipping-summary {
            display: block;
        }

        .mz-edit-button {
            display: none;
        }

        .mz-next-step {
            position: relative;
            padding: 10px;
            text-align: right;

            button {
                padding: 5px 50px;
            }

            .mz-loading-bar {
                display: none;
                position: absolute;
                right: 0;
                top: 10px;
            }
        }

        &.stepstatus-complete {
            .mz-edit-button, .completed-summary {
                display: block;
            }

            .mz-form-fields, .mz-next-step {
                display: none;
            }
        }

        &.stepstatus-new {
            .mz-inner-panel {
                height: 1px;
                overflow-y: hidden;
                visibility: hidden;
                margin: 0;
            }
        }

        &.stepstatus-submitting {
            input, button, select {
                .opacity(0.5);
            }

            .mz-next-step {
                margin-right: 40px;

                .mz-loading-bar {
                    display: block;
                }

                button {
                    visibility: hidden;
                }
            }
        }

        #order-summary {
            padding: 10px 15px 0;
            background-color: #ddd;

            > table {
                width: 100%;
            }

            @row-border: 1px solid #999;

            tbody + tbody {
                border-top: @row-border;
            }

            tr[class] {
                td {
                    padding: 10px 0;
                }
            }

            .cost-summary, .total {
                font-size: 16px;
            }

                .cost-summary table td {
                    padding: 5px;
                }

            tr.total {
                font-weight: bold;

                td {
                    padding: 10px 5px;
                }
            }

            th, td {
                text-align: left;
                width: 250px;

                & + th, & + td {
                    text-align: center;
                    width: auto;
                }
            }

                td[colspan] {
                    text-align: right;

                    table {
                        float: right;

                        td {
                            text-align: right;
                        }
                    }
                }

            tr.discounted {
                td {
                    padding-bottom: 3px;
                }

                .item-price {
                    text-decoration: line-through;
                }
            }

            tr.discount {
                td {
                    padding-top: 0;
                    color: darken(#08C,10%);
                    font-weight: bold;

                    .discount-name {
                        font-weight: normal;
                    }
                }

                    td[colspan] {
                        text-align: left;
                    }
            }
        }

        #create-account-fields {
            margin-top: 1em;
            padding-left: 15px;

            input {
                display: block;
				width: 80%;
				margin-top: 5px;
            }
        }
    }

    #panel-order-summary {
        h3 {
            margin-bottom: 0;
        }
    }
    // .panel
    #coupon-code-container {
        margin: 1em auto;
        position: relative;

        input {
            width: 50%;
        }

        button {
            width: 15%;
            vertical-align: top;
            padding: 3px 0;
        }

        .mz-loading-bar {
            display: none;
        }

        &.submitting-coupon {
            button {
                visibility: hidden;
            }

            input {
                .opacity(0.5);
            }

            .mz-loading-bar {
                display: inline-block;
                vertical-align: top;
                height: 10px;
                margin-left: -45px;
            }
        }
    }

    #comments {
        width: 95%;
        height: 100px;
        resize: vertical;
    }

    .mz-column.affix {
        position: fixed;
        margin-left: 455px;
        top: 0;
    }
}